@using Newtouch.Infrastructure;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
    var brzybzType = ((int)EnumZYBZ.Djz).ToString();
}

<div class="rows" style="margin-bottom: 1%;">
    <div class="panel panel-default" style="margin-bottom:0;">
        @*<div class="panel-heading navb-bg">
                住院患者信息
            </div>*@
        <table class="form" style="width:96%;">
            <tbody>
                <tr>
                    <th class="formTitle">住院号：</th>
                    <td class="formValue">
                        <input class="form-control" type="text" id="zyh" value="" style="width:49%;float:left;" />
                        &nbsp;&nbsp; <input type="button" class="btn btn-default btn-md btn-default-color" style="width: 25%;" title="选择住院患者" id="zy_btnsyy" value="查询" onclick="GetPatSerarchView();">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">姓名：</th>
                    <td class="formValue" colspan="7">
                        <label id="xm"></label><label style="width:15%"></label><span>性质:</span> <label id="brxz"></label>
                        <label style="width:15%"></label> <span>性别:</span> <label id="xb"></label>
                        <label style="width:15%"></label><span>入院日期:</span> <label id="ryrq"></label>
                        <label style="width:15%"></label><span>出院日期:</span> <label id="cyrq"></label>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="gridPanel" style="margin-top:1%">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

<script>

    var $gridList = $("#gridList"); 
    $(function () {
        gridListData();

    });

    //病人查询(住院)
    function GetPatSerarchView() {
        $.modalOpen({
            id: "patSearch",
            title: "患者查询",
            url: "/PatientManage/AccountManage/PatSearchView?brzybzType=" + '@(brzybzType)' + "&t=" + Math.random() + "&zyh=" + $("#zyh").val(),
            width: "700px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].PatDbGrid(); //在弹出窗口事件
                //调用查询卡号和住院号
            }//窗口点确定的回调函数
        });
    }

    //选择的病人 callback
    function getPatInfoAjax(selePatInfo) {
        //清一下
        newtouch_event_f4();
        //
        patModel = null;
        jszje = 0.00;
        if (selePatInfo && selePatInfo.zyh) {
            $('#zyh').val(selePatInfo.zyh);
            ajaxLoadDataResult(selePatInfo.zyh);
            GetPatInfo(selePatInfo.zyh);
        }
        else {
            $('#zyh').val('');
        }
    }

    function GetPatInfo(zyh)
    {
        $.ajax({
            type: "POST",
            url: "/OutpatientManage/OutpatCharge/GetQHDjzdjDataInfo",
            data: { zyh: zyh },
            dataType: "json",
            cache: false,
            async: false,
            success: function (payoptype) {
                if (payoptype) {
                    cqPatInfo = payoptype;
                }
            }
        });
    }

    //
    var patModel = null;
    //
    var jszje = 0.00;
    var scbz = false;//true上传全部 false"上传选中

    //根据zyh 病人基本信息、计费信息
    function ajaxLoadDataResult(zyh) {
        $.najax({
            type: "POST",
            url: "/HospitalizationManage/DischargeSettle/GetZybrInfo",
            data: { zyh: zyh,jslx: 'mnjs' },
            dataType: "json",
            success: function (ajaxresp) {
                //住院病人信息
                patModel = ajaxresp.data.InpatientSettPatInfo;

                //isYbjyjz = openYbSett && patModel.brxz != '0' && patModel.CardType == "@((int)Newtouch.Infrastructure.EnumCardType.YBJYK)";

                $('#xm').html(patModel.xm);
                $('#xb').html($.getGender(patModel.xb));
                $('#brxz').html($.getGender(patModel.brxz == '0' ? '自费' : '医保'));
                $('#cybz').val(patModel.zybz);
                $("#nlshow").html(getAgeFromBirthTime({ begin: patModel.csny }).text);
                //$('#ryzd').html(patModel.ryzdmc);
                $('#cyzd').html(patModel.cyzd);
                $('#zyts').html(patModel.zyts);
                $('#csny').html(patModel.csny ? patModel.csny.substring(0, 10) : '');
                $('#ryrq').html(patModel.ryrq ? patModel.ryrq.substring(0, 10) : '');
                $('#cyrq').html(patModel.cyrq ? patModel.cyrq.substring(0, 10) : '');
                if (ajaxresp.data.InpatientSettPatInfo) {
                    //loadJfmxByZyh();
                    bindGridList();
                }
                else {
                    $.modalAlert("尚未产生费用，不能结算", 'warning');
                    return false;
                }
            },
            errorCallback: function (data) {
                newtouch_globalevent_f4();
                $('#zyh').trigger('focus');
            }
        });
    }

    function bindGridList() {
        $gridList.jqGrid('setGridParam', {
            postData: { zyh: patModel.zyh, sczt: "", jssj: $('#jssj').val(), xmmc: $('#xmmc').val(), cybz: $('#cybz').val() },
            url: "http://127.0.0.1:33333/api/YiBao/QueryQltctrlProblem_4104",
        }).trigger('reloadGrid');
    }

    function gridListData() {
        var $gridList = $("#gridList");
        var captionCon = "质控结果";
        $gridList.dataGrid({
            height: $(window).height() - 80,
            caption: captionCon,
            multiselect: true,
            unwritten: false,
            colModel: [
                {
                    label: '定点医药机构编号', name: 'fixmedins_code', align: 'center', width: 50, key: true },
                {label: '定点医药机构名称', name: 'fixmedins_name', align: 'center', width: 50 },
                { label: '结算年月', name: 'setl_ym', align: 'center', width: 150 },
                { label: '结算 ID', name: 'setl_id', align: 'left', width: 60 },
                { label: '人员编号', name: 'psn_no', align: 'left', width: 170 },
                { label: '人员姓名', name: 'psn_name', align: 'center', width: 30 },
                { label: '质控结果', name: 'qltctrl_rslt', align: 'center', width: 50 },
                { label: ' 错误等级', name: 'err_lv', align: 'center', width: 50 },
                { label: '回退标志', name: 'retn_flag', align: 'center', width: 50 },
                { label: '质控版本号', name: 'qltctrl_ver', align: 'center', width: 50},
                { label: '人员证件类型', name: 'psn_cert_type', align: 'center', width: 50 },
                { label: '证件号码', name: 'cert_no', align: 'center', width: 50 },
                //{ label: '质控结算清单结果详情信息', name: 'detailinfo', align: 'center', width: 50 },
               
            ],
            pager: "#gridPager",
            sortname: 'setl_ym',
            viewrecords: true,
            onSelectAll: function (aRowids, status) {
                scbz = status;
            }
        });
    }


    function newtouch_event_f4() {
        $('#xm').html('');
        $('#xb').html('');
        $('#nlshow').html('');
        //$('#ryzd').html('');
        $('#cyzd').html('');
        $('#zyts').html('');
        $('#csny').html('');
        $('#ryrq').html('');
        $('#cyrq').html('');
        patModel = null;
        jszje = 0.00;
        scbz = false;
        $('#yeCon').text('0.00');
        $('#gridList').jqGrid("clearGridData");
    }

</script>