@{
    ViewBag.Title = "SimulateForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="gridPanel" style="margin-top:1%">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
<script>
	var zyh = $.request("zyh");
	var sfxmCode = $.request("sfxmCode");
    $(function () {
        gridInit();
    });

    function gridInit() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
			postData: { zyh: zyh, sfxmCode: sfxmCode },
			url: "/HospitalizationManage/DischargeSettle/GetDetailedQuery",
            height: $(window).height() - 80,
            colModel: [
                { label: '收费大类', name: 'dlmc', align: 'center', width: 60 },
                { label: '属性', name: 'zfxz', align: 'center', width:40 },
                { label: '药品名称', name: 'sfxmmc', align: 'left', width: 150 },
                { label: '规格', name: 'gg', align: 'center', width: 60 },
                { label: '单位', name: 'jfdw', align: 'center', width: 60 },
                {
                    label: '单价', name: 'dj', align: 'center', width: 60,formatter: "number"
                    , formatoptions: { decimalPlaces: 2, defaultValue: '0.0000' } },
                { label: '数量', name: 'sl', align: 'center', width: 30 },
                { label: 'zyh', name: 'zyh', align: 'center', hidden: true, },
                {
                    label: '费用', name: 'je', align: 'center', width: 60, formatter: "number"
                    , formatoptions: { decimalPlaces: 2, defaultValue: '0.0000' }
                },
                { label: '是否自费', name: 'zzfbz', align: 'center', width: 50 },
                { label: '计价日期', name: 'tdrq', align: 'center', width: 100 },
                { label: '是否上传', name: 'tdrq', align: 'center', width: 100 },
			],
            pager: "#gridPager",
            sortname: 'sfxmmc',
            viewrecords: true,
        });
	}
</script>