@using Newtouch.Common.Operator;
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript" src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/SystemManage/SysForCashPay/Form.js",false)"></script>
<link href="@SiteUrl.GetStaticResourceScriptUrl("~/Content/css/Shared/Form.css",false)" rel="stylesheet" />
<form id="form1">
    <div class="container">
        <div class="row">
            <div class="formValue col-xs-6">
                <label>代码</label>
                <input class="form-control" id="xjzffs" name="xjzffs" />
            </div>
            <div class="formValue col-xs-6">
                <label>现金支付方式</label>
                <input class="form-control" id="xjzffsmc" name="xjzffsmc" />
            </div>
        </div>
        <div class="row">
            <div class="formValue col-xs-6">
                <label>有效</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="1"> 是
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="0"> 否
                    </label>
                </div>
            </div>
            <div class="formValue col-xs-6">
                <label>是否账户支付</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="1"> 是
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="0"> 否
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="formValue col-xs-6">
                <label>建档人员</label>
                @*<input class="form-control" id="jdry" name="jdry" value=@Newtouch.Tools.OperatorProvider.GetCurrent().UserCode type="text" readonly="readonly" />*@
                <input class="form-control" id="CreatorCode" name="CreatorCode" value=@OperatorProvider.GetCurrent().UserCode type="text" readonly="readonly" />
            </div>
            <div class="formValue col-xs-6">
                <label>建档日期</label>
                @*<input class="form-control" id="bgbz" name="bgbz" value="0" style="display:none" type="text" />
                    <input class="form-control" id="bgrq" name="bgrq" style="display:none" value=@DateTime.Now type="text" />
                    <input class="form-control" id="jdrq" name="jdrq" value=@DateTime.Now type="text" readonly="readonly" />*@
                <input class="form-control" id="CreateTime" name="CreateTime" value=@DateTime.Now type="text" readonly="readonly" />
            </div>
        </div>
    </div>
</form>
