
@using Newtouch.Herp.Infrastructure.Enum
@{
    ViewBag.Title = "发票验收";
    Layout = "~/Views/Shared/_Form.cshtml";

}

<form id="form1">
    <div class="container" style="padding:0;">
        <div class="tab-content" style="margin-top:10px;padding-right:10px;">
            <div role="tabpanel" class="tab-pane fade in active">
                <table class="form">
                    <tr>
                        <th class="formTitle">发票含税总金额：</th>
                        <td class="formValue" style="width:70px;padding-right:50px;">
                            <input id="FPHSZJE" name="FPHSZJE" type="text" class="form-control" placeholder="" />
                        </td>
                    </tr>
                  
                </table>
            </div>
        </div>
    </div>
</form>


<script lang="javascript">
    var FPID = $.request("FPID");
    var FPDM = $.request("FPDM");
    var FPH = $.request("FPH");
    var QYBM = $.request("QYBM");
    var FPYSJG = $.request("FPYSJG");
    var FPHSZJE = $.request("FPHSZJE");
    $("#FPHSZJE").val(FPHSZJE);

    

    //保存
    function SubmitForm() {
        if (!DataValidate()) {
            return;
        }
        var postData = $("#form1").formSerialize();
        postData.FPID = FPID;
        postData.FPDM = FPDM;
        postData.FPH = FPH;
        postData.QYBM = QYBM;
        postData.FPYSJG = FPYSJG;
        postData.FPHSZJE = $("#FPHSZJE").val();

        $.submitForm({
            url: "/Purchase/BillAccept",
            param: postData,
            success: function () {
                $.modalMsg('验收成功', 'success');
                $.modalClose();
                callback();
            }
        });
    }

    //数据效验
    function DataValidate() {
        if ($("#FPHSZJE").val() === "") {
            $.modalAlert("发票含税总金额必填", 'warning');
            return false;
        }
        return true;
    }
    
    
</script>