
@using Newtouch.Infrastructure
@{
    ViewBag.Title = "耗材按退货单获取退货明细状态";
    Layout = "~/Views/Shared/_Index.cshtml";

}
<script src="~/Content/js/index.js"></script>

<form id="form1">
    <div class="panel panel-default" style="margin-bottom:10px;">
        <div class="panel-heading">耗材按退货单获取退货明细状态</div>
        <table class="form">
            <tr style="float:left">
                <th class="formTitle">退货单编号：</th>
                <td class="formValue">
                    <input id="thdbh" class="form-control" placeholder="退货单编号" />
                </td>
                <th class="formTitle">
                    <input type="button" id="btn_search" class="btn btn-md btn-primary" value="查询" />
                </th>
            </tr>
        </table>
    </div>
    <div id="dv-detail">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</form>

<script type="text/javascript">

    $(function () {
        //gridList();
    });



    function getPostData() {
        return {
            THDBH: $("#thdbh").val(),
            THMXBHCXTJ :'',
        };
    }

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PurchaseManage/Purchase/GetGridJsonYY162",
            height: $(window).height() - 200,
            postData: getPostData(),
            colModel: [
                { label: '退货明细编号', name: 'THMXBH', width: 180, align: 'left' },
                {
                    label: '退货明细状态', name: 'THMXZT', width: 180, align: 'left', formatter: function (val) {
                        return $.enum.getDescByValue("EnumTHMXZT", val);
                    }
                },
                { label: '退货单企业处理说明', name: 'THDQYCLSM', width: 180, align: 'left' },
            ],
            multiselect: false,
            //pager: "#gridPager",
            //sortname: '',
            viewrecords: true,
            ondblClickRow: function (rowid, iRow, iCol, e) {
                //btn_selectrow(rowid);
            }
        });
        $("#btn_search").click(function () {
            $('#gridList').jqGrid("clearGridData");
            $gridList.jqGrid('setGridParam', {
                postData: getPostData(),
            }).trigger('reloadGrid');
        });
    }

    //查询
    $('#btn_search').click(function () {
        if ($("#thdbh").val() == "" || $("#thdbh").val() == null) {
            $.modalAlert("请填写退货单编号", 'warning');
            return ;
        }
        gridList();
    });
</script>


