
@{
    Layout = "~/Views/Shared/_Index.cshtml";
    var reportUrl = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportUrl");
    var reportSystemCode = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportSystemCode");
}

<div class="rows" style="width:95%;margin-left:1%; margin-top:10px">
    <div class="panel panel-default">
        <div class="panel-heading navb-bg">
            <span style="color:red"> 打印备注：打印新纸张下方默认"1"不需要修改,如需在上一页纸张上继续打印，请在下方文本框中输入从纸张上第几行开始的行号</span>
        </div>
        <div>
            <table class="form" style="width:265px;height:65px;">
                <tr>
                    <td class="formTitle">
                        打印类型：
                    </td>
                    <td class="formValue">
                        <label><input type="radio" name="optionsRadios1" class="optionsRadios formClearIgnore" checked value="0" />医保本</label>
                        <label><input type="radio" name="optionsRadios1" class="optionsRadios formClearIgnore"  value="1" />自费本</label>
                    </td>
                </tr>
                <tr>
                  
                    <td class="formTitle">
                        行号：
                    </td>
                    <td class="formValue">
                        <input class="form-control" id="txt_ksxh" style="width:108px;" value="1">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    var mzh = $.request("mzh");
    var orgId = $.request("orgId");

    function ContinuePrint() {
        var row = $("#txt_ksxh").val();
        var dyfs = $('input[name=optionsRadios1]:checked').val();
        if (!row) {
            $.modalAlert('行号不能为空', 'warning');
            return;
        }
        if (row<1)
        {
            $.modalAlert('输入行号不能小于1', 'warning');
            return;
        }
        var tempCode = "1255";//医保本
        if (dyfs == "1") {
            tempCode = "1253";//自费本
        }
        window.open('@Html.Raw(reportUrl)' + "?tempCode=" + tempCode + "&systemCode=" + '@reportSystemCode' + "&mzh=" + mzh + "&orgId=" + orgId + "&row=" + row, "height=500, width=1195,top=100, left=50, toolbar =no, menubar=no, scrollbars=yes, resizable=yes, location=no, status=no");
    }

</script>