<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>


	<!--<add name="NewtouchDbContext" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
	<add name="DefaultDbContext" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
	<add name="DbHelperSQL.DefaultConn" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />-->


	<add name="NewtouchDbContext" connectionString="Server=61.172.179.6,30557;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />
	<add name="DefaultDbContext" connectionString="Server=61.172.179.6,30557;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />
	<add name="DbHelperSQL.DefaultConn" connectionString="Server=61.172.179.6,30557;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />

  

  <!-- 云服务器 -->
	<add name="RedisServer" connectionString="61.172.179.6:32079,connectTimeout=500,password=newtouch" />
  <!--<add name="RedisServer" connectionString="103.36.173.199:6379,connectTimeout=500,password=newtouch" />-->
  <!--<add name="RedisServer" connectionString="6577284E54A4E09779FE839DFB20094675530E5E6295407D1798C689FD21C686D6640A83A7FB3088097764A213FF0757E2ED8DCEDB467C26BCFC4E78AF96EAB4" />-->

</connectionStrings>