<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

	<add name="NewtouchDbContext" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=." providerName="System.Data.SqlClient" />
	<add name="DefaultDbContext" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=." providerName="System.Data.SqlClient" />
	<add name="DbHelperSQL.DefaultConn" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=." providerName="System.Data.SqlClient" />



	<!-- redis -->
	<add name="RedisServer" connectionString="192.168.9.190:6379,connectTimeout=500,password=newtouch" />

</connectionStrings>