
@{
    ViewBag.Title = "切口等级详细信息";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top: 20px; margin-right: 30px;">
        <table class="form">
            <tr>
                <th class="formTitle">代码：</th>
                <td class="formValue">
                    <input id="Code" name="Code" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">名称：</th>
                <td class="formValue">
                    <input id="Name" name="Name" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </div>
</form>

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/Operation/OpNotchGrade/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                success: function (data) {
                    $("#form1").formSerialize(data);
                    getZjm();
                }
            });
        }
    });

    function AcceptClick(callBack) {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();

        $.submitForm({
            url: "/Operation/OpNotchGrade/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                callBack();
                $.modalClose();
            }
        });
    }
    
</script>

