
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="rows" style="width:95%;margin-left:1%;">
    <table class="form" style="width: 100%;height: 100px;border: 1px solid #ddd;margin-bottom: 20px; margin-top:20px;">
        <tr>
            <td class="formTitle">
                <span style="color:red">*</span>出院时间：
            </td>
            <td colspan="4" class="formValue">
                <input id="tzsj" style="width:145px;" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
            </td>
        </tr>
        <tr>
            <td colspan="5" style="padding-left:10px">
                <span style="color: red;">
                    请注意：1. 请您填写正确的出院日期和时间，
                    【确定】后该患者长期医嘱将被全部停止，
                    同时系统将为您自动录入一条【出院】医嘱！<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.出院当天无需用药的患者请个别调整医嘱停止时间为出院前一天（如：静脉用药）
                </span>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var zyh = $.request("zyh");

    function submitForm(callback)
    {
        var data = { zyh: zyh, tzsj: $('#tzsj').val() };
        $.najax({
            url: "@Url.Action("AdviceLeaveHospitalStopSubmit")",
            dataType: "json",
            data: data,
            type: "POST",
            success: function ()
            {
                if (callback) {
                    callback();
                }
            }
        });
    }

</script>