<table class="form" id="oneIconDiv">
    <tr>
        <th class="formTitle"><span class="required">*</span>收费项目：</th>
        <td class="formValue">
            <input id="sfxmmc" type="text" class="form-control form-an" />
            <input id="sfxmCode" type="text" style="display:none;" class="form-control" />
            <input id="gg" type="text" style="display:none;" class="form-control" />
            <!-- 医嘱类型 1药品 2项目 -->
            <input id="yzlx" type="text" style="display:none;" class="form-control" />
            <input id="sfdlCode" type="text" style="display:none;" class="form-control" />
            <input id="dwjls" type="text" style="display:none;" class="form-control" />
            <input id="zfxz" type="text" style="display:none;" class="form-control" />
            <input id="cls" type="text" style="display:none;" class="form-control" />
            <input id="ybdm" type="text" style="display:none;" class="form-control" />
            <input id="yfbmcode" type="text" style="display:none;" class="form-control" />

            <a id="zje" style="display: none">0.00</a>
        </td>
        <th class="formTitle">单价：</th>
        <td class="formValue"><label id='dj'></label></td>
        <th class="formTitle"><span class="required">*</span>数量：</th>
        <td class="formValue">
            <input id="sl" type="text" class="form-control form-an " />
        </td>
        <th class="formTitle">单位：</th>
        <td class="formValue">
            <label id="dw"></label>
        </td>
    </tr>
</table>