<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登录身份状态维持时间（单位：分）-->
  <add key="LoginStatusKeepMinute" value="300" />
  <!-- 多终端互踢 -->
  <add key="EnableMultipleLoginLimit" value="true" />
  <!-- 多终端互踢-同一账号，最大同时在线数 -->
  <add key="MultipleLoginLimit_Count" value="10" />

  <!--启用IP过滤（启用后 启用IP访问限制策略（仅对部分开放 或 部分限制访问）） -->
  <add key="Is_IPFilter" value="false" />



  <!--启用用户药房部门关联（用户登录后要操作的药房部门） -->
  <add key="Is_UserYfbmRelated" value="true" />

  <!-- 菜单的title是否显示Description（只有true'会显示） -->
  <add key="IS_ShowDescToMenuTitle" value="true" />

  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 软件版本 -->
  <add key="Version" value="1.00.00.00" />

  <!-- 关键部分Module Id配置 -->
  <!-- Reids缓存的key前缀 -->
  <add key="Reids_Cache_Prefix" value="$C_Sett$"/>
  <!-- 顶级组织机构Id -->
  <add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>
  <!-- 应用Id -->
  <add key="AppId" value="Sett"/>
  <add key="AppName" value="新致医疗云HIS系统"/>

  <!-- Optima接口加密配置 -->
  <add key="Optima_API_Enhanced" value="false"/>
  <add key="Optima_API_passPhrase" value="JRs5=u?9m4=Nb^83hD7C"/>
  <add key="Optima_API_initVector" value="VsNk2&lt;SNp4-czWFh"/>
  <!-- 测试环境 -->
  <add key="Optima_API_PatientInfo_GetPatientDischargeInfo_Url" value="https://optimaqa.grshs.com/API/DischargePatient.svc/DischargePatient"/>

  <!-- 静态站点的Host-->
 <add key="SiteStaticHost" value="http://192.168.22.5:8014/"/>
  <!-- 日志服务的Url -->
  <add key="His.Log.URL" value="http://61.172.179.30:1708/"/>

  <!-- 报表服务器 Host -->

  <add key="ReportServer.HOST" value="http://61.72.179.30:17039/"/>

  <!-- 单点登录首页url -->
  <add key="SSOHomeHost" value="http://localhost:16314/Home/Index"/>
  <!-- 单点登出url -->
  <add key="SSOOutLogin" value="http://localhost:16314/Login/OutLogin"/>

  <!-- CIS API HOST -->
  <add key="SiteCISAPIHost" value="http://192.168.22.5:7003/"/>
  
  <!-- PDS API HOST -->
  <add key="SitePDSAPIHost" value="http://192.168.22.5:7004/"/>
  <!-- DRG API HOST -->
  <add key="SiteDRGAPIHost" value="http://localhost:7013/"/>

  <!-- 本地文件默认路径 -->
  <add key="LocalFileBaseDir" value=""/>
  <!-- 本地文件默认网络访问路径Host -->
  <add key="LocalFileBaseNetUrl" value="http://localhost:19571/"/>

  <!-- 页面domain（嵌套其他域页面，并执行js 要设置成同一域）-->
  <add key="Document_Domain" value="192.168.22.5"/>

  <!-- API地址-统一授权用户身份换取 -->
  <add key="UAUserInfoGetAPI" value="http://192.168.22.5:7002/api/UA/GetUserInfo"/>

  <!-- CIS地址配置（统一授权登录配置）（CISWeb外网地址） -->
  <add key="CIS_UALoginAddress" value="http://192.168.22.5:8003/Login/UALogin"/>

  <!-- 手术室系统地址配置（统一授权登录配置）（ORWeb外网地址） -->
  <add key="OR_UALoginAddress" value="http://192.168.22.5:8006/Login/UALogin"/>

  <!-- 访问地址域名限制（类似百度http会自动重定向到https）-->
  <!--<add key="AccessDomain" value="http://localhost:19751/"/>-->

  <add key="vs:EnableBrowserLink" value="false"/>
  <!--机构收支管理，附件最大限制 单位兆-->
  <add key="jgzsMaxSize" value="20"/>
  <add key="legalFileUploadExt" value=".jpg.rar.png.zip.doc.xlsx.docx.pdf.xls"/>

  <!-- AlipayConstants配置 start -->
  <!-- 秘钥资源路径-文件夹名称 -->
  <add key="AlipayConstants_KeyFolderName" value="Resources" />
  <add key="AlipayConstants_APPID" value="2016050301359091" />
  <!--<add key="AlipayConstants_KeyFolderName" value="ResourcesYfyFWC" />
    <add key="AlipayConstants_APPID" value="2014071700007077" />-->
  <!-- 支付宝API - 文件保存路径 （目前：统一收单线下交易预创建 生成的二维码） -->
  <add key="AlipayConstants_FileSaveBasePath" value="D:\YfyMobile\" />

  <!-- AlipayConstants配置 end -->

  <!-- 新农合 start -->

  <add key="xnhLogAddress" value="C:\\HISLog\\log_xinnonghe_guigan"></add>
  <!-- 新农合 end -->

  
  <!-- active报表 -->
  <add key="ReportUrl" value="http://192.168.22.5:8010/"/>
</appSettings>