
@{

    Layout = null;
}



<div style="padding-left:10px;">
    <table id="gridzdList"></table>
    <div id="gridzdPager"></div>
</div>




<script>
    $(function () {

        ZdListGrid();

    })

    function ZdListGrid() {
        var $gridList = $("#gridzdList");
        $gridList.dataGrid({
            postData: {

                //zyh: $("#zyh").text(),
                //zyh: $("#zyh").val(),
                zyh: "00027",
            },
            url: "/PatientManage/PatientCenter/GetZdGridList",
            autowidth: true,
            height: $(window).height() - 120,
            colModel: [
                { label: "Id", name: "Id", hidden: true },
                //{
                //    label: "操作", name: "编辑", width: 60, align: 'center', formatter: function (row, option, data) {
                //        debugger
                //        return '<input type="button" onclick="btn_edit(' + option.rowid + ')" />';
                //    }
                //},
                //{ label: "病案号", name: "BAH", width: 60, align: 'center', editor: "text" },
                { label: "住院号", name: "ZYH", width: 60, align: 'center', editor: "text" },
                { label: "出院诊断", name: "JBMC", width: 180, align: 'center', editor: "text" },
                { label: "疾病编码", name: "JBDM", width: 100, align: 'center', editor: "text" },
                { label: "RYBQ", name: "RYBQ", hidden: true },
                { label: "入院病情", name: "RYBQMS", width: 80, align: 'center', editor: "text" },
                { label: "CYQK", name: "CYQK", hidden: true },
                { label: "出院情况", name: "CYQKMS", width: 60, align: 'center', editor: "text" },
                { label: "ZDOrder", name: "ZDOrder", hidden: true },
                {
                    label: "诊断类型", name: "Zdlx", width: 80, align: 'left', editor: "text", formatter: function (row, option, data) {
                        if (data.ZDOrder == 1) {
                            return "主要诊断";
                        }
                        else
                            return "其他诊断";
                    }
                },
                { label: "zt", name: "zt", hidden: true },
                {
                    label: "状态", name: "ztsm", width: 80, align: 'center', editor: "text", formatter: function (row, option, data) {
                        if (data.zt == "0") {
                            return "作废";
                        }
                        else {
                            return "正常";
                        }
                    }
                }
            ],
            sortname: "ZDOrder asc",
            rowNum: 15,
            pager: "#gridzdPager",
            viewrecords: false

        });
        jQuery("#gridzdList").jqGrid('sortableRows');

    }


</script>

