<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Newtouch.HIS.DomainServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="YsxtMainServiceImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
                binding="basicHttpBinding" bindingConfiguration="YsxtMainServiceImplServiceSoapBinding"
                contract="PurchaseWebService.YsxtMainService" name="YsxtMainServiceImplPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Newtouch.HIS.DomainServices.Properties.Settings>
            <setting name="Newtouch_HIS_DomainServices_WebReference_YsxtMainServiceImplService"
                serializeAs="String">
                <value>http://192.168.20.110/ysxt-ws/service/mainservice</value>
            </setting>
        </Newtouch.HIS.DomainServices.Properties.Settings>
    </applicationSettings>
</configuration>