@{
    ViewBag.Title = "PatBasic";
}
 
<form id="formPat1">
    <div class="panel panel-default" style="margin-bottom:0;">
        <div class="panel-heading navb-bg">
            病人基本信息
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form">
                <tr>
                    <th class="formTitle"><span class="required">*</span>住院号：</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="zyh" name="zyh" value="">
                    </td>
                    <th class="formTitle"><span class="required">*</span>卡号：</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="kh" name="kh" value="">
                    </td>
                    <th class="formTitle"><span class="required">*</span>病历号：</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="blh" name="blh" value="">
                    </td> 
                    <th class="formTitle">性别：</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly"  disabled id="xb" name="xb" value=""> 
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">姓名：</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly"  disabled id="xm" name="xm" value="">
                    </td>
                    <th class="formTitle">年龄：</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" disabled id="nl" name="nl" value="">
                    </td>
                    <th class="formTitle">病区：</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly"  disabled id="bq" name="bq" value="">
                    </td>
                    <th class="formTitle">入院日期</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly"  id="ryrq" name="ryrq" value="">
                        <input type="text" hidden value="" id="patid" name="patid" />
                        <input type="text" hidden value="" id="zhbh" name="zhbh" />
                        <input type="text" hidden value="" id="zh" name="zh" />
                        <input type="text" hidden value="" id="zhxz" name="zhxz" />
                        <input type="text" hidden id="zhye" name="zhye" value="">
                    </td> 
                </tr>
                @*<tr>
                    <th class="formTitle">账户余额</th>
    <td class="formValue">
        <input type="text" class="form-control" readonly="readonly" disabled id="zhye" name="zhye" value="">
    </td>
    <th class="formTitle">账户性质</th>
    <td class="formValue">
        <input type="text" class="form-control" readonly="readonly" disabled id="zhxzMC" name="zhxzMC" value="">
    </td>
    <th class="formTitle">账户所有人</th>
    <td class="formValue">
        <input type="text" class="form-control" readonly="readonly" disabled id="zhsyr" name="zhsyr" value="">
    </td>

    <th class="formTitle">建档人员</th>
    <td class="formValue">
        <input type="text" class="form-control" readonly="readonly" disabled id="CreatorUserCode" name="CreatorUserCode" value="">
    </td>
    <th class="formTitle">建档日期</th>
    <td class="formValue">
        <input type="text" class="form-control" readonly="readonly" disabled id="CreateTime" name="CreateTime" value="">
       
                    </td>
                </tr>*@
                <!--隐藏数据-->

            </table>
        </div>
    </div>
</form>


