@using Newtouch.Infrastructure;
@{
    ViewBag.Title = "cfFrom";
    Layout = "~/Views/Shared/_Index.cshtml";
    var curOpr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
}
<form>

    <div class="gridPanel" >
        <table id="gridList"></table>
    </div>
    <div class="gridPanel" >
        <table id="gridListcfmx"></table>
    </div>
    <div class="gridPanel" >
        <table id="gridListjz"></table>
    </div>
    <div class="gridPanel" >
        <table id="gridListzd"></table>
    </div>
</form>
<script>
    var colModel;
    var hisId = $.request("hisId");
    var cfh = $.request("cfh");
    var $gridList = $("#gridList");
    var $gridListcfmx = $("#gridListcfmx");
    var $gridListjz = $("#gridListjz");
    var $gridListzd = $("#gridListzd");
    $(function () {

        gridListData();

        gridListDatacfmx();

        gridListDatajz();

        gridListDatazd();

        bindGridList();
    });
    function bindGridList() {
        $('#gridList').jqGrid("clearGridData");
        $('#gridListcfmx').jqGrid("clearGridData");
        $('#gridListjz').jqGrid("clearGridData");
        $('#gridListzd').jqGrid("clearGridData");

        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:33333/api/YiBao/ElectronicPrescription_D005",
            data: { hisId: hisId, cfh: cfh, operatorId: '@curOpr.UserCode', operatorName: '@curOpr.UserName' },
            dataType: "json",
            async: false,
            success: function (data) {
                var tfReturn = eval('(' + data + ')');
                if (tfReturn) {
                    if (tfReturn.infcode == 0 || tfReturn.infcode == "0") {
                        var data1 = eval('(' + tfReturn.output + ')');
                        if (data1.code == 0 || data1.code == "0") {
                            var data2 = eval('(' + data1.encData + ')');
                            $gridList.newtouchLocalDataGrid({
                                autowidth: false,
                                unwritten: false,
                                caption: "处方信息",

                            }, eval('(' + data1.encData + ')'));
                            $gridListcfmx.newtouchLocalDataGrid({
                                autowidth: false,
                                unwritten: false,
                                caption: "处方明细信息",

                            }, eval('(' + data1.encData + ')').rxDetlList);
                            $gridListjz.newtouchLocalDataGrid({
                                autowidth: false,
                                unwritten: false,
                                caption: "就诊信息",

                            }, eval('(' + data1.encData + ')').rxOtpinfo);
                            $gridListzd.newtouchLocalDataGrid({
                                autowidth: false,
                                unwritten: false,
                                caption: "诊断信息",

                            }, eval('(' + data1.encData + ')').rxDiseList);
                        }
                        else {
                            $.modalAlert("电子处方信息查询失败：" + data1.message, 'error');
                            return;
                        }
                        
                    }
                    else {
                        $.modalAlert("电子处方信息查询失败：" + tfReturn.err_msg, 'error');
                        return;
                    }
                }
            },
            error: function (request, error, ex) {
                $.loading(false);
                $.modalAlert('医保服务【电子处方查询】不可访问：' + ex, 'error');
            }
        });

    }

    
    function gridListData() {
        var $gridList = $("#gridList");
        var captionCon = "处方信息";
        $gridList.dataGrid({
            height: $(window).height()/4 - 100,
            caption: captionCon,
            multiselect: false,
            unwritten: false,
            colModel: [
                { label: '医保处方编号', name: 'hiRxno', width: 80, align: 'left' },
                { label: '定点医疗机构编号', name: 'fixmedinsCode', width: 80, align: 'left' },
                { label: '定点医疗机构名称', name: 'fixmedinsName', width: 80, align: 'left' },
                {label: '医保处方状态编码', name: 'rxStasCodg', width: 80, align: 'left'},
                { label: '医保处方状态名称', name: 'rxStasName', width: 80, align: 'left' },
                { label: '医保处方使用状态编码', name: 'rxUsedStasCodg', width: 80, align: 'left' },
                { label: '医保处方使用状态名称', name: 'rxUsedStasName', width: 80, align: 'left' },
                { label: '开方时间', name: 'prscTime', width: 80, align: 'left' },
                { label: '药品数量（剂数）', name: 'rxDrugCnt', width: 80, align: 'left' },
                { label: '处方整剂用法 编号', name: 'rxUsedWayCodg', width: 80, align: 'left' },
                { label: '处方整剂用法 名称', name: 'rxUsedWayName', width: 80, align: 'left' },
                { label: '处方整剂频次 编号', name: 'rxFrquCodg', width: 80, align: 'left' },
                { label: '处方整剂频次名称', name: 'rxFrquName', width: 80, align: 'left' },
                { label: '处方整剂剂量单位', name: 'rxDosunt', width: 80, align: 'left' },
                { label: '处方整剂单次剂量数', name: 'rxDoscnt', width: 80, align: 'left' },
                { label: '处方整剂医嘱说明', name: 'rxDrordDscr', width: 80, align: 'left' },
                { label: '处方有效天数', name: 'valiDays', width: 80, align: 'left' },
                { label: '有效截止时间', name: 'valiEndTime', width: 80, align: 'left' },
                { label: '复用（多次）使用标志', name: 'reptFlag', width: 80, align: 'left' },
                { label: '最大复用次数', name: 'maxReptCnt', width: 80, align: 'left' },
                { label: '已复用次数', name: 'reptdCnt', width: 80, align: 'left' },
                { label: '使用最小间隔（天数）', name: 'minInrvDays', width: 80, align: 'left' },
                { label: '处方类别编号', name: 'rxTypeCode', width: 80, align: 'left' },
                { label: '处方类别名称', name: 'rxTypeName', width: 80, align: 'left' },
                { label: '长期处方标志', name: 'longRxFlag', width: 80, align: 'left' },
                { label: '业务类型代码', name: 'bizTypeCode', width: 80, align: 'left' },
                { label: '业务类型名称', name: 'bizTypeName', width: 80, align: 'left' },
                { label: '处方附加属性代码', name: 'rxExraAttrCode', width: 80, align: 'left' },
                { label: '处方附加属性名称', name: 'rxExraAttrName', width: 80, align: 'left' },
            ],
            //pager: "#gridPager",
            viewrecords: true
        });
    }

    function gridListDatacfmx() {
        var $gridListcfmx = $("#gridListcfmx");
        var captionCon = "处方明细信息";
        $gridListcfmx.dataGrid({
            height: $(window).height() / 4 - 60,
            caption: captionCon,
            multiselect: false,
            unwritten: false,
            colModel: [
                { label: '医疗目录编码', name: 'medListCodg', align: 'center', width: 100, key: true },
                { label: '定点医药机构目录编号', name: 'fixmedinsHilistId', align: 'center', width: 100 },
                { label: '院内制剂标志', name: 'hospPrepFlag', align: 'center', width: 100 },
                { label: '处方项目分类代码', name: 'rxItemTypeCode', align: 'center', width: 100 },
                { label: '处方项目分类名称', name: 'rxItemTypeName', align: 'center', width: 100 },
                { label: '中药类别名称', name: 'tcmdrugTypeName', align: 'left', width: 100 },
                { label: '中药类别代码', name: 'tcmdrugTypeCode', align: 'left', width: 100 },
                { label: '草药脚注', name: 'tcmherbFoote', align: 'left', width: 100 },
                { label: '药物类型代码', name: 'mednTypeCode', align: 'left', width: 100 },
                { label: '药物类型', name: 'mednTypeName', align: 'left', width: 100 },
                { label: '主要用药标志', name: 'mainMedcFlag', align: 'left', width: 100 },
                { label: '加急标志', name: 'urgtFlag', align: 'left', width: 100 },
                { label: '基本药物标志', name: 'basMednFlag', align: 'left', width: 100 },
                { label: '是否进口药品', name: 'impDrugFlag', align: 'left', width: 100 },
                { label: '药品商品名', name: 'drugProdname', align: 'left', width: 100 },
                { label: '药品通用名', name: 'drugGenname', align: 'left', width: 100 },
                { label: '药品剂型', name: 'drugDosform', align: 'left', width: 100 },
                { label: '药品规格', name: 'drugSpec', align: 'left', width: 100 },
                { label: '生厂厂家', name: 'prdrName', align: 'left', width: 100 },
                { label: '用药途径代码', name: 'medcWayCodg', align: 'left', width: 100 },
                { label: '用药途径描述', name: 'medcWayDscr', width: 80, align: 'left' },
                { label: '用药开始时间', name: 'medcBegntime', width: 80, align: 'left' },
                { label: '用药结束时间', name: 'medcEndtime', width: 80, align: 'left' },
                { label: '用药天数', name: 'medcDays', width: 80, align: 'left' },
                { label: '药品总用药量', name: 'drugCnt', width: 80, align: 'left' },
                { label: '药品总用药量单位', name: 'drugDosunt', width: 80, align: 'left' },
                { label: '单次用量', name: 'sinDoscnt', width: 80, align: 'left' },
                { label: '单次剂量单位', name: 'sinDosunt', width: 80, align: 'left' },
                { label: '使用频次编码', name: 'usedFrquCodg', width: 80, align: 'left' },
                { label: '使用频次名称', name: 'usedFrquName', width: 80, align: 'left' },
                { label: '医院审批标志', name: 'hospApprFlag', width: 80, align: 'left' },
                { label: '取药标志位', name: 'takeDrugFlag', width: 80, align: 'left' },
                { label: '是否 OTC 药品', name: 'otcFlag', width: 80, align: 'left' },
                { label: '自费原因类型', name: 'selfPayRea', width: 80, align: 'left' },
                { label: '自费原因描述', name: 'realDscr', width: 80, align: 'left' },
                { label: '所需药品库存数量', name: 'drugTotlcnt', width: 80, align: 'left' },
                { label: '所需药品库存单位', name: 'drugTotlcntEmp', width: 80, align: 'left' },


            ],
            //pager: "#gridPagercfmx",
            viewrecords: true
        });
    }
    
    function gridListDatajz() {
        var $gridListjz = $("#gridListjz");
        var captionCon = "就诊信息";
        $gridListjz.dataGrid({
            height: $(window).height() / 4 - 80,
            caption: captionCon,
            multiselect: false,
            unwritten: false,
            colModel: [
                {
                    label: '医疗类别', name: 'medType', width: 80, align: 'left', formatter: function (val) {
                        return $.enum.getDescByValue("Enummed_type", val);
                    }
                },
                { label: '门诊/住院号', name: 'iptOtpNo', width: 80, align: 'left' },
                { label: '门诊住院标志', name: 'otpIptFlag', width: 80, align: 'left' },
                { label: '患者姓名', name: 'patnName', width: 80, align: 'left' },
                { label: '年龄', name: 'patnAge', width: 80, align: 'left' },
                { label: '患者身高', name: 'patnHgt', width: 80, align: 'left' },
                { label: '患者体重', name: 'patnWt', width: 80, align: 'left' },
                { label: '性别', name: 'gend', width: 80, align: 'left' },
                { label: '妊娠(孕周)', name: 'gesoVal', width: 80, align: 'left' },
                { label: '新生儿标志', name: 'nwbFlag', width: 80, align: 'left' },
                { label: '新生儿日、月龄', name: 'nwbAge', width: 80, align: 'left' },
                { label: '哺乳期标志', name: 'suckPrdFlag', width: 80, align: 'left' },
                { label: '过敏史', name: 'algsHis', width: 80, align: 'left' },
                { label: '险种类型', name: 'insutype', width: 80, align: 'left' },
                { label: '开方科室名称', name: 'prscDeptName', width: 80, align: 'left' },
                { label: '开方医师姓名', name: 'prscDrName', width: 80, align: 'left' },
                { label: '药师姓名', name: 'pharName', width: 80, align: 'left' },
                { label: '医疗机构药师审方时间', name: 'pharChkTime', width: 80, align: 'left' },
                { label: '就诊时间', name: 'mdtrtTime', width: 80, align: 'left' },
                { label: '病种编码', name: 'diseCodg', width: 80, align: 'left' },
                { label: '病种名称', name: 'diseName', width: 80, align: 'left' },
                { label: '是否特殊病种', name: 'spDiseFlag', width: 80, align: 'left' },
                { label: '主诊断代码', name: 'maindiagCode', width: 80, align: 'left' },
                { label: '主诊断名称', name: 'maindiagName', width: 80, align: 'left' },
                { label: '疾病病情描述', name: 'diseCondDscr', width: 80, align: 'left' },
                { label: '是否初诊', name: 'fstdiagFlag', width: 80, align: 'left' },

            ],
            //pager: "#gridPagerjz",
            viewrecords: true
        });
    }
    
    function gridListDatazd() {
        var $gridListzd = $("#gridListzd");
        var captionCon = "诊断信息";
        $gridListzd.dataGrid({
            height: $(window).height() / 4 - 80,
            caption: captionCon,
            multiselect: false,
            unwritten: false,
            colModel: [
                { label: '诊断类别', name: 'diagType', width: 80, align: 'left' },
                { label: '主诊断标志', name: 'maindiagFlag', width: 80, align: 'left' },
                { label: '诊断排序号', name: 'diagSrtNo', width: 80, align: 'left' },
                { label: '诊断代码', name: 'diagCode', width: 80, align: 'left' },
                { label: '诊断名称', name: 'diagName', width: 80, align: 'left' },
                { label: '诊断科室', name: 'diagDept', width: 80, align: 'left' },
                { label: '诊断科室代码', name: 'diagDeptCode', width: 80, align: 'left' },
                { label: '诊断医生编码', name: 'diagDrNo', width: 80, align: 'left' },
                { label: '诊断医生姓名', name: 'diagDrName', width: 80, align: 'left' },
                { label: '诊断时间', name: 'diagTime', width: 80, align: 'left' },
                { label: '中医病名代码', name: 'tcmDiseCode', width: 80, align: 'left' },
                { label: '中医病名名称', name: 'tcmDiseName', width: 80, align: 'left' },
                { label: '中医症候代码', name: 'tcmsympCode', width: 80, align: 'left' },
                { label: '中医症候', name: 'tcmsymp', width: 80, align: 'left' },
            ],
            //pager: "#gridPagerzd",
            viewrecords: true
        });
    }
</script>