@*<link href="~/Content/richtext/bootstrap.css" rel="stylesheet" />*@


<style>
    ul li {
        height: 30px;
    }

        ul li a {
            height: 30px;
        }
</style>

<ul class="nav nav-tabs" id="myTab">

    <li class="active"><a href="#Edit">编辑</a></li>
    <li><a href="#Insert">插入</a></li>
    <li><a href="#messages">其他</a></li>
    @*<li><a href="#settings">设置</a></li>*@

</ul>
<div class="tab-content" style="height:60px;">
    <div class="tab-pane active" id="Edit">
        <table>
            <tr>
                <td><a href="#" class="easyui-linkbutton" title="居左对齐" data-options="iconCls:'icon-align-left',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('justifyleft', false, null);">居左</a></td>
                <td><a href="#" class="easyui-linkbutton" title="居右对齐" data-options="iconCls:'icon-align-right',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('justifyright', false, null);">居右</a></td>
                <td><a href="#" class="easyui-linkbutton" title="居中对齐" data-options="iconCls:'icon-align-center',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('justifycenter', false, null);">居中</a></td>
                <td rowspan="2" style="border-right:2px dashed #808080;width:5px;"></td>
                <td><a href="#" class="easyui-linkbutton" title="大写" data-options="iconCls:'icon-uppercase-font',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('ToupperCase', false, null);">大写</a></td>
                <td><a href="#" class="easyui-linkbutton" title="小写" data-options="iconCls:'icon-lowercase-font',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('TolowerCase', false, null);">小写</a></td>
                <td><a href="#" class="easyui-linkbutton" title="斜体" data-options="iconCls:'icon-italic',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Italic', true, null);">斜体</a></td>
                <td rowspan="2" style="border-right:2px dashed #808080;width:5px;"></td>
                <td><a href="#" class="easyui-linkbutton" title="段前距" id="rowspacingup" data-options="iconCls:'icon-dqj',plain:true">段前距</a></td>
                <td><a href="#" class="easyui-linkbutton" title="段后距" id="rowspacingdown" data-options="iconCls:'icon-dhj',plain:true">段后距</a></td>
                <td><a href="#" class="easyui-linkbutton" title="行间距" id="lineheight" data-options="iconCls:'icon-hjj',plain:true">行间距</a></td>
                <td rowspan="2" style="border-right:2px dashed #808080;width:5px;"></td>
                <td><a href="#" class="easyui-linkbutton" title="字体颜色" data-options="iconCls:'icon-fontf',plain:true" id="fontcolor">字体颜色</a>
                    <div class="panel combo-p" id="fcolor" style="display: none;">
                        <div class="combo-panel panel-body panel-body-noheader" title="" style="width: 72px;">
                            <div id="color1" class="combobox-item fontcolor" style="background-color: black;"></div>
                            <div id="color2" class="combobox-item fontcolor" style="background-color: red;"></div>
                            <div id="color3" class="combobox-item fontcolor" style="background-color: green;"></div>
                            <div id="color4" class="combobox-item fontcolor" style="background-color: yellow;"></div>
                            <div id="color5" class="combobox-item fontcolor" style="background-color: blue;"></div>
                            <div id="color6" class="combobox-item fontcolor" style="background-color: #dedb78;"></div>
                            <div id="color7" class="combobox-item fontcolor" style="background-color: #ddb3b3;"></div>
                            <div id="color8" class="combobox-item fontcolor" style="background-color: #1588bb;"></div>
                        </div>
                    </div></td>
                <td><a href="#" class="easyui-linkbutton" title="字符边框" data-options="iconCls:'icon-zfbk',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Fontborder', true, null);">字符边框</a></td>
                <td><a href="#" title="撤回" class="easyui-linkbutton l-btn l-btn-small l-btn-plain" onclick="document.getElementById('myWriterControl'); ctl.Undo();" data-options="iconCls:'icon-undo-font',plain:true" group="" id=""><span class="l-btn-left"><span>撤回</span></span></a></td>
            </tr>
            <tr>
                <td><a href="#" class="easyui-linkbutton" title="上标" data-options="iconCls:'icon-superscript',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Superscript', true, null);">上标</a></td>
                <td><a href="#" class="easyui-linkbutton" title="下标" data-options="iconCls:'icon-subscript',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Subscript', true, null);">下标</a></td>
                <td><a href="#" class="easyui-linkbutton" title="加粗" data-options="iconCls:'icon-bold',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('bold', true, null);">加粗</a></td>

                <td colspan="3">
                    <a href="#" title="右合并单元格" class="easyui-linkbutton" data-options="iconCls:'icon-hebing',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('mergeright', true, null);">右合并单元格</a>
                    <a href="#" title="下合并单元格" class="easyui-linkbutton" data-options="iconCls:'icon-hebing',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('mergedown', true, null);">下合并单元格</a>
                </td>


                <td><a href="#" class="easyui-linkbutton" title="下划线" data-options="iconCls:'icon-underline',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Underline', false, null);">下划线</a></td>
                <td><a href="#" class="easyui-linkbutton" title="背景色" data-options="iconCls:'icon-fontbg',plain:true" id="backcolor">背景色</a>
                    <div class="panel combo-p" id="bcolor" style="display: none;">
                        <div class="combo-panel panel-body panel-body-noheader" title="" style="width: 72px;">
                            <div id="bcolor1" class="combobox-item fontcolor" style="background-color: black;"></div>
                            <div id="bcolor9" class="combobox-item fontcolor" style="background-color: white;"></div>
                            <div id="bcolor2" class="combobox-item fontcolor" style="background-color: red;"></div>
                            <div id="bcolor3" class="combobox-item fontcolor" style="background-color: green;"></div>
                            <div id="bcolor4" class="combobox-item fontcolor" style="background-color: yellow;"></div>
                            <div id="bcolor5" class="combobox-item fontcolor" style="background-color: blue;"></div>
                            <div id="bcolor6" class="combobox-item fontcolor" style="background-color: #dedb78;"></div>
                            <div id="bcolor7" class="combobox-item fontcolor" style="background-color: #ddb3b3;"></div>
                            <div id="bcolor8" class="combobox-item fontcolor" style="background-color: #1588bb;"></div>
                        </div>
                    </div></td>
                <td>
                    <a href="#" class="easyui-linkbutton" title="字体" data-options="iconCls:'icon-fontfa',plain:true" id="fontfa">字体</a>
                    <div class="panel combo-p" id="fontf" style="display: none;">
                        <div class="combo-panel panel-body panel-body-noheader" title="" style="width: 114px;">
                            <div id="fontfh" class="combobox-item" style="font-size: 10px; cursor: pointer; font-family: 黑体;">黑体</div>
                            <div id="fontfs" class="combobox-item" style="font-size: 12px; cursor: pointer; font-family: 宋体;">宋体</div>
                            <div id="fontfw" class="combobox-item" style="font-size: 14px; cursor: pointer; font-family: 微软雅黑;">微软雅黑</div>
                            <div id="fontfk" class="combobox-item" style="font-size: 14px; cursor: pointer; font-family: 楷体;">楷体</div>
                        </div>
                    </div>
                </td>
                <td><a href="#" class="easyui-linkbutton" title="字体大小" id="fontsize" data-options="iconCls:'icon-fontsize',plain:true">字体大小</a>
                    </td>
                <td><a href="#" class="easyui-linkbutton" title="清除字号" data-options="iconCls:'icon-eraser-font',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('removefontsize', true, 'inherit');">清除字号</a></td>
                <td><a href="#" class="easyui-linkbutton" title="清除字体" data-options="iconCls:'icon-eraser-font',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('removeformat', true, 'inherit');">清除字体</a></td>
            </tr>
        </table>



    </div>
    <div class="tab-pane" id="Insert">
        <table>
            <tr>
                <td><a href="#" class="easyui-linkbutton" title="插入表格" id="insert_table" data-options="iconCls:'icon-table-large'" style="border: 0; ">插入表格</a></td>
                <td><a href="#" class="easyui-linkbutton" title="插入日期" data-options="iconCls:'icon-data-large'" style="border: 0; " onclick="document.getElementById('myWriterControl').DCExecuteCommand('Date', false, null);">插入日期</a></td>
                <td><a href="#" class="easyui-linkbutton" title="插入时间" data-options="iconCls:'icon-time-large'" style="border: 0; " onclick="document.getElementById('myWriterControl').DCExecuteCommand('Time', false, null);">插入时间</a></td>
                <td rowspan="2" style="border-right:2px dashed #808080;width:5px;"></td>
                <td><a href="#" title="删除行" class="easyui-linkbutton" style="margin-top: 5px;" data-options="iconCls:'icon-delh',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Table_deleterow', true, null);">删除行</a></td>
                <td><a href="#" title="删除列" class="easyui-linkbutton" data-options="iconCls:'icon-dell',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Table_deletecolumn', true, null);">删除列</a></td>
                <td><a href="#" class="easyui-linkbutton" title="删除线" data-options="iconCls:'icon-strikethrough',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Strikethrough', false, null);">删除线</a></td>
                <td rowspan="2" style="border-right:2px dashed #808080;width:5px;"></td>
                <td><a href="#" class="easyui-linkbutton" title="有序列表" data-options="iconCls:'icon-numbers',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('insertorderedlist', true, null);">有序列表</a></td>
                <td><a href="#" class="easyui-linkbutton" title="无序列表" data-options="iconCls:'icon-bullets',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('insertunorderedlist', true, null);">无序列表</a></td>
                <td><a href="#" class="easyui-linkbutton" title="首行缩进" data-options="iconCls:'icon-inde',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Indent', true, null);">首行缩进</a></td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="#" class="easyui-linkbutton l-btn l-btn-large" title="插入图片" data-options="iconCls:'icon-picture-large' " style="border: 0; " onclick="document.getElementById('myWriterControl').DCExecuteCommand('DCInsertImage', true, null);">插入图片</a>
                    <a href="#" class="easyui-linkbutton" title="删除表格" data-options="iconCls:'icon-tabledel-large'" style="border: 0;" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Table_deletetable', true, null);">删除表格</a>
                </td>
                <td colspan="3">
                    <a href="#" class="easyui-linkbutton" title="插入行" data-options="iconCls:'icon-inserth',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Table_insertrowup', true, null);">插入行</a>
                    <a href="#" class="easyui-linkbutton" title="插入列" data-options="iconCls:'icon-insertl',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('Table_insertcolumnleft', true, null);">插入列</a>
                </td>

                <td colspan="3">
                    <a href="#" title="拆分成行" class="easyui-linkbutton" data-options="iconCls:'icon-chaifen',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('splittorows', true, null);">拆分成行</a>
                    <a href="#" title="拆分成列" class="easyui-linkbutton" data-options="iconCls:'icon-chaifen',plain:true" onclick="document.getElementById('myWriterControl').DCExecuteCommand('splittocols', true, null);">拆分成列</a>
                </td>
            </tr>
        </table>




    </div>
    <div class="tab-pane" id="messages" style="padding-top:5px;">
        <table>
            <tr>
                <td><button type="button" id="BL_yznr" name="BL_yznr" class="btn btn-default">医嘱内容</button></td>
                <td style="width:10px;"></td>
                <td><button type="button" class="btn btn-default" id="TBHZXX" name="TBHZXX">同步患者信息</button></td>
                <td style="width:10px;"></td>
                <td><button type="button" id="BL_load" name="BL_load" class="btn btn-default" onclick="loadLocalStorage();">加载本地缓存</button></td>
            </tr>
            <tr style="height:20px;"></tr>
        </table>
        
        
    </div>
    @*<div class="tab-pane" id="settings">.设置内容..</div>*@
</div>





<script>
    $(function () {
        $('#myTab a:first').tab('show');
    })
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>

<style>
    .edtBtn {
        border: none;
        background-color: #f1f4f6;
    }
</style>
<div class="panel combo-p" id="table" style="display: none;">
    <div class="combo-panel panel-body panel-body-noheader" title="" style="width: 78px; border: 0;">
        <input type="text" id="row" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
               onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}" placeholder="行" autocomplete="off" style="float: left; width: 20px; margin-right: 10px;" />
        *
        <input type="text" id="column" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
               onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}" placeholder="列" autocomplete="off" style="width: 20px; margin-left: 10px;" />
        <input type="button" id="qd" style="width: 78px;" value="确定" />
    </div>
</div>



<div class="panel combo-p" id="rowspacingup1" style="display: none;">
    <div class="combo-panel panel-body panel-body-noheader" title="" style="width: 114px;">
        <div id="up5" class="combobox-item" style="cursor: pointer;">5px</div>
        <div id="up10" class="combobox-item" style="cursor: pointer;">10px</div>
        <div id="up15" class="combobox-item" style="cursor: pointer;">15px</div>
        <div id="up20" class="combobox-item" style="cursor: pointer;">20px</div>
        <div id="up25" class="combobox-item" style="cursor: pointer;">25px</div>
    </div>
</div>

<div class="panel combo-p" id="rowspacingdown1" style="display: none;">
    <div class="combo-panel panel-body panel-body-noheader" title="" style="width: 114px;">
        <div id="down5" class="combobox-item" style="cursor: pointer;">5px</div>
        <div id="down10" class="combobox-item" style="cursor: pointer;">10px</div>
        <div id="down15" class="combobox-item" style="cursor: pointer;">15px</div>
        <div id="down20" class="combobox-item" style="cursor: pointer;">20px</div>
        <div id="down25" class="combobox-item" style="cursor: pointer;">25px</div>
    </div>
</div>

<div class="panel combo-p" id="lineheight1" style="display: none;">
    <div class="combo-panel panel-body panel-body-noheader" title="" style="width: 114px;">
        <div id="li1" class="combobox-item" style="cursor: pointer;">1</div>
        <div id="li15" class="combobox-item" style="cursor: pointer;">1.5</div>
        <div id="li175" class="combobox-item" style="cursor: pointer;">1.75</div>
        <div id="li2" class="combobox-item" style="cursor: pointer;">2</div>
        <div id="li3" class="combobox-item" style="cursor: pointer;">3</div>
        <div id="li4" class="combobox-item" style="cursor: pointer;">4</div>
        <div id="li5" class="combobox-item" style="cursor: pointer;">5</div>
    </div>
</div>


<div class="panel combo-p" id="fontsizeli" style="display: none;">
    <div class="combo-panel panel-body panel-body-noheader" title="" style="width: 114px;">
        <div id="font10" class="combobox-item" style="font-size: 10px; cursor: pointer;">10px</div>
        <div id="font12" class="combobox-item" style="font-size: 12px; cursor: pointer;">12px</div>
        <div id="font14" class="combobox-item" style="font-size: 14px; cursor: pointer;">14px</div>
        <div id="font16" class="combobox-item" style="font-size: 16px; cursor: pointer;">16px</div>
        <div id="font18" class="combobox-item" style="font-size: 18px; cursor: pointer;">18px</div>
        <div id="font19" class="combobox-item" style="font-size: 19px; cursor: pointer;">19px</div>
        <div id="font20" class="combobox-item" style="font-size: 20px; cursor: pointer;">20px</div>
        <div id="font22" class="combobox-item" style="font-size: 22px; cursor: pointer;">22px</div>
        <div id="font26" class="combobox-item" style="font-size: 26px; cursor: pointer;">26px</div>
        <div id="font30" class="combobox-item" style="font-size: 30px; cursor: pointer;">30px</div>
        <div id="font32" class="combobox-item" style="font-size: 32px; cursor: pointer;">32px</div>
    </div>
</div>
















