
@{
	ViewBag.Title = "dzcfcxForm";
	Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
	<div style="padding-top: 20px; margin-right: 55px;">
		<table class="form">
			
			<tr>
				<th class="formTitle"><span class="required">*</span>作废原因：</th>
				<td class="formValue">
					<input type="text" id="zfyy" class="form-control required" placeholder="" />
				</td>
			</tr>
		</table>
	</div>
</form>

<script>

	var valOptions = {
		errorPlacement: function (error, element) {
			element.parents('.formValue').addClass('has-error');
		}
	};
	function submitForm() {
		if (!$('#form1').formValid(valOptions)) {
			$.modalAlert("必填信息未完善", 'warning');
			return;
		}
		var obj = new Object();
		obj.zfyy = $('#zfyy').val();
		return obj;
	}
</script>

