@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="topPanel">
    @Html.Partial("_OrganizeIdDDLToolbarSearchView")
    <div class="toolbar">
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary" onclick="btn_add()"><i class="fa fa-plus"></i>新建</a>
        </div>
        <div class="btn-group">
            <a id="NF-edit" class="btn btn-primary" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改</a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="名称/编码/首拼" style="width: 180px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

<script>
    $(function () {
        initControl();
        gridList()
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            postData: { keyword: $("#txt_keyword").val(), organizeId: $("#OrganizeId").val() },
            url: "/SysDiagnosis/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "zdId", hidden: true },
                { label: '国临版诊断名称', name: 'zdmc', width: 150, align: 'left' },
                { label: "国临版诊断编码", name: "zdCode", width: 100, align: 'left' },
                { label: "诊断类型", name: "zdlx", width: 100, align: 'left' },
                { label: 'ICD10', name: 'icd10', width: 100, align: 'left' },
                { label: '医保版编码', name: 'zdCode_yb', width: 80, align: 'left'},
                { label: 'ICD10附加码', name: 'icd10fjm', width: 100, align: 'left' },
                { label: '医保版诊断', name: 'zdmc_yb', width: 150, align: 'left'},
                { label: '国家码', name: 'gjybdm', width: 80, align: 'left' },
                { label: '首拼', name: 'py', width: 80, align: 'left' },
                { label: '五笔', name: 'wb', width: 60, align: 'left', hidden: true },
                {
                    label: "允许编辑", name: "AllowEdit", width: 60, align: "left",
                    formatter: function (cellvalue, a, rowData) {
                        return !(!!!rowData.OrganizeId || rowData.OrganizeId === '*') ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: "有效", name: "zt", width: 60, align: "left", formatter: function (cellvalue) { return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: '创建人', name: 'CreatorCode', width: 60, align: 'left' },
                { label: '创建时间', name: 'CreateTime', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '最后修改', name: 'LastModifierCode', width: 60, align: 'left' },
                { label: '最后修改时间', name: 'LastModifyTime', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '排序', name: 'px', width: 40, align: 'left', hidden: true }
            ],
            pager: "#gridPager",
            sortname: 'CreateTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $("#gridList").jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), organizeId: $("#OrganizeId").val() },
            }).trigger('reloadGrid');
        });
    }

    //回车事件
    $('#txt_keyword').keydownEnterEvent(function () {
        $('#btn_search').trigger('click');
    })

    function initControl() {

    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增诊断",
            url: "/SysDiagnosis/Form?orgId=" + $('#OrganizeId').val(),
            width: "550px",
            height: "570px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_edit() {
        debugger
        var seleRowid = jQuery("#gridList").jqGrid("getGridParam", "selrow");
        if (!(seleRowid)) {
            $.modalAlert("请选中一条信息", 'warning');
            return;
        }
        var AllowEdit = $("#gridList").jqGridRowValue().AllowEdit;
        if (AllowEdit.indexOf('fa-toggle-off') >= 0) {
            return;
        }
        var keyValue = $("#gridList").jqGridRowValue().zdId;
        $.modalOpen({
            id: "Form",
            title: "修改诊断",
            url: "/SysDiagnosis/Form?keyValue=" + keyValue,
            width: "550px",
            height: "570px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

</script>
