.ui-nfs-container li {
    list-style-type: none;
    border: solid 1px #ddd;
    /*width: 32px;
    text-align: center;*/
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}
.ui-nfs-container ul {
    padding: 2px;
}
.ui-nfs-container li:hover {
background-color:rgb(151, 245, 195);
}
.ui-nfs-container li.active {
background-color:rgb(151, 245, 195);
}

.ui-pc-container li {
    list-style-type: none;
    border: solid 1px #ddd;
    width: 32px;
    text-align: center;
    display: inline-block;
    padding: 5px 5px;
    margin: 5px;
}
/*add by sunny 20180807 频次每行对齐*/
.ui-pc-container ul {
    padding: 2px;
}

.ui-pc-container li:hover {
    background-color: rgb(151, 245, 195);
}

.ui-pc-container li.active {
    background-color: rgb(151, 245, 195);
}

