@{
    ViewBag.Title = "表单页";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .tipSpan {
        color: red;
        padding-right: 8px;
    }
</style>
<form id="form1">
    @*1<input id="YsId" name="YsId" class="form-control" type="text" />*@
    <input id="Id" name="Id" class="form-control" type="hidden" />
    <input id="Table_Name" name="Table_Name" class="form-control" type="hidden" />
    <input id="Element_Type" name="Element_Type" class="form-control" type="hidden" />
    <input id="Element_ID" name="Element_ID" class="form-control" type="hidden" />
    <input id="ElementId" name="ElementId" class="form-control" type="hidden" />
    <input id="AreValue" name="AreValue" class="form-control" type="hidden" />
    <input id="ysmxId" name="ysmxId" class="form-control" type="hidden" />
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: 1px;">
            <table class="form">
                <tr>
                    <th class="formTitle"><span class="tipSpan">*</span>字段：</th>
                    <td class="formValue">
                        <input id="Table_Column_Code" name="Table_Column_Code" type="text" autocomplete="off" class="form-control required" />
                    </td>
                    <th class="formTitle"><span class="tipSpan">*</span>字段名称：</th>
                    <td class="formValue">
                        <input id="Table_Colunn_Name" name="Table_Colunn_Name" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle"><span class="tipSpan">*</span>字段类型：</th>
                    <td class="formValue">
                        <input id="Table_Column_Type" name="Table_Column_Type" type="text" class="form-control required" />
                        @*<select id="Table_Column_Type" name="Table_Column_Type" class="form-control required">
                                <option value="varchar" selected>字符串（Varchar）</option>
                                <option value="numeric">数字(Numeric)</option>
                                <option value="datetime">时间(Datetime)</option>
                            </select>*@
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">字段排序：</th>
                    <td class="formValue">
                        <input id="Table_Column_No" name="Table_Column_No" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle"><span class="tipSpan">*</span>元素名称：</th>
                    <td class="formValue">
                        <input id="Element_Name" name="Element_Name" type="text" autocomplete="off" class="form-control required" />
                    </td>
                    <th class="formTitle"><span class="tipSpan">*</span>使用标志：</th>
                    <td class="formValue">
                        <select id="Sybz" name="Sybz" class="form-control required">
                            <option value="1" selected>是</option>
                            <option value="0">否</option>
                        </select>

                    </td>
                </tr>
                <tr>

                    <th class="formTitle">值：</th>
                    <td class="formValue">
                        <input id="AreValuemc" name="AreValuemc" type="text" autocomplete="off" class="form-control" />
                    </td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                </tr>
                @*<tr>
                        <th class="formTitle"><span class="tipSpan">*</span>元素ID：</th>
                        <td class="formValue">
                            <input id="Element_ID" name="Element_ID" type="text" class="form-control required" />
                        </td>
                        <th class="formTitle"><span class="tipSpan">*</span>元素类型：</th>
                        <td class="formValue">
                            <select id="Element_Type" name="Element_Type" class="form-control required">
                                <option value="0">文本（text）</option>
                                <option value="1">下拉</option>
                                <option value="2">下拉多选</option>
                                <option value="3">日期(yyyy-MM-dd)</option>
                                <option value="4">时间(HH:mm)</option>
                                <option value="5">日期时间(yyyy-MM-dd HH:mm)</option>
                                <option value="6">数值</option>
                            </select>
                        </td>
                        <th class="formTitle">元素序号：</th>
                        <td class="formValue">
                            <input id="Px" name="Px" type="text" class="form-control required" />
                        </td>
                    </tr>*@
            </table>
            <div style="float:right;margin-top:0px">
                <a class="btn btn-primary" onclick="btn_edit()" id="saveoredit">新增</a>
                <a class="btn btn-primary" onclick="btn_ColumnDelete()" id="delete">删除</a>
                <a class="btn btn-primary" onclick="btn_clear()" id="cz">重置</a>
            </div>
        </div>
    </div>
</form>
<script>
   


</script>

