
@{
    ViewBag.Title = "病案首页";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/validate/jquery.validate.min.js")"></script>
<div id="dv_main">
    <div id="dv_left" style="border:1px;height:100%;">
        @Html.Partial("MainEdit")
    </div>
    @*<div id="dv_right" style="width:53%;float:right;border:1px dashed;height:100%;">
            @Html.Partial("MainPreView")
        </div>*@
</div>