
@{
    Layout = null;
}
<style>
    #dv_zyinfo input {
        border-top: none;
        border-left: none;
        border-right: none;
        text-wrap: normal;
        border-bottom-color: #74e8b5;
    }

    .spanleft {
        float: left;
        padding-top: 5px;
    }
    .spanright {
        float: right;
        padding-top: 5px;
    }

    /*td span[role=combobox]
    {
        border:none;
    }*/
</style>
<div id="dv_zyinfo">
    <div>
        <table class="form">
            <tr>
                <th class="formTitle">血型</th>
                <td class="formValue">
                    <select id="XX" name="XX" class="form-control" data-enumtype="EnumBloodType"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle">RH</th>
                <td class="formValue">
                    <select id="RH" name="RH" class="form-control" data-enumtype="EnumBloodTypeRH"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle">药物过敏</th>
                <td class="formValue">
                    <select id="YWGM" name="YWGM" class="form-control" data-enumtype="EnumHorN"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle">过敏药物</th>
                <td class="formValue" colspan="3"><input id="GMYW" name="GMYW" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">病理诊断</th>
                <td class="formValue" colspan="5"><input id="BLZD" name="BLZD" attr-zddm="" attr-ICD10="" class="form-control" /></td>
                <th class="formTitle">疾病编码</th>
                <td class="formValue"><input id="BLZDDM" name="BLZDDM" attr-zddm="" attr-ICD10="" class="form-control" /></td>
                <th class="formTitle">病理号</th>
                <td class="formValue"><input id="BLH" name="BLH" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">损伤、中毒<br />的外部原因</th>
                <td class="formValue" colspan="5"><input id="WBYY" name="WBYY" class="form-control" /></td>
                <th class="formTitle">疾病编码</th>
                <td class="formValue"><input id="H23" name="H23" class="form-control" /></td>
                <th class="formTitle">死亡患者尸检</th>
                <td class="formValue">
                    <select id="SWHZSJ" name="SWHZSJ" class="form-control" data-enumtype="EnumYorN"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">离院方式</th>
                <td class="formValue">
                    <select id="LYFS" name="LYFS" class="form-control" data-enumtype="EnumLyfs"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle" colspan="2">医嘱转院拟接收医疗机构名称</th>
                <td class="formValue" colspan="2"><input id="YZZY_YLJG" name="YZZY_YLJG" class="form-control" /></td>
                <th class="formTitle" colspan="2">医嘱转社区卫生服务机构/乡镇卫生院<br />拟接收医疗机构名称</th>
                <td class="formValue" colspan="2"><input id="WSY_YLJG" name="WSY_YLJG" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle" colspan="2">是否有出院31天内再住院计划</th>
                <td class="formValue">
                    <select id="SFZZYJH" name="SFZZYJH" class="form-control" data-enumtype="EnumHorN"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle">目的</th>
                <td class="formValue" colspan="2"><input id="MD" name="MD" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle" colspan="2">颅脑损伤患者昏迷时间&nbsp;&nbsp;</th>
                <td class="formValue" colspan="7">
                    <span class="spanleft">入院前</span><input id="RYQ_T" name="RYQ_T" class="form-control" style="width:10%;float:left;" /><span class="spanleft">天</span>
                    <input id="RYQ_XS" name="RYQ_XS" class="form-control" style="width:10%;float:left;" /><span class="spanleft">小时</span>
                    <input id="RYQ_F" name="RYQ_F" class="form-control" style="width:10%;float:left;" /><span class="spanleft">分钟</span>
                    <span class="spanleft" style="padding-left:20px;">入院后</span><input id="RYH_T" name="RYH_T" class="form-control" style="width:10%;float:left;" /><span class="spanleft">天</span>
                    <input id="RYH_XS" name="RYH_XS" class="form-control" style="width:10%;float:left;" /><span class="spanleft">小时</span>
                    <input id="RYH_F" name="RYH_F" class="form-control" style="width:10%;float:left;" /><span class="spanleft">分钟</span>
                </td>
            </tr>
            <tr>
                <th class="formTitle">病情分型</th>
                <td class="formValue">
                    <select id="BQFX" name="BQFX" class="form-control" data-enumtype="EnumBqfx"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle"></th>
                <td class="formValue" colspan="3"></td>
                <th class="formTitle">临床路径管理</th>
                <td class="formValue">
                    <select id="SSLCLJ" name="SSLCLJ" class="form-control" data-enumtype="EnumHorN"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">科主任</th>
                <td class="formValue"><input id="KZR" name="KZR" class="form-control" /></td>
                <th class="formTitle">(副)主任医师</th>
                <td class="formValue"><input id="ZRYS" name="ZRYS" class="form-control" /></td>
                <th class="formTitle">主治医师</th>
                <td class="formValue"><input id="ZZYS" name="ZZYS" class="form-control" /></td>
                <th class="formTitle">住院医师</th>
                <td class="formValue"><input id="ZYYS" name="ZYYS" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">责任护士</th>
                <td class="formValue"><input id="ZRHS" name="ZRHS" class="form-control" /></td>
                <th class="formTitle">进修医师</th>
                <td class="formValue"><input id="JXYS" name="JXYS" class="form-control" /></td>
                <th class="formTitle">实习医师</th>
                <td class="formValue"><input id="SXYS" name="SXYS" class="form-control" /></td>
                <th class="formTitle">编码员</th>
                <td class="formValue"><input id="BMY" name="BMY" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">病案质量</th>
                <td class="formValue">
                    <select id="BAZL" name="BAZL" class="form-control" style="border:none;" data-enumtype="EnumBazl"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle">质控医师</th>
                <td class="formValue"><input id="ZKYS" name="ZKYS" class="form-control" /></td>
                <th class="formTitle">质控护士</th>
                <td class="formValue"><input id="ZKHS" name="ZKHS" class="form-control" /></td>
                <th class="formTitle">质控日期</th>
                <td class="formValue">
                    <input id="ZKRQ" type="text" class="form-control input-wdatepicker formClearIgnore" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                </td>
            </tr>
        </table>
        <hr />
    </div>

</div>
<script>
    //诊断
    $("#BLZD").zdFloatingSelector({
        zdlx: "WM",
        width: 600,
        itemdbclickhandler: function ($this) {
            $("#BLZD").val($this.attr('data-zdmc')).attr("attr-zddm", $this.attr('data-code')).attr("attr-ICD10", $this.attr('data-icd10'));
            $("#BLZDDM").val($this.attr('data-icd10'));
        }
    });

    $("#H23").zdFloatingSelector({
        zdlx: "WM",
        width: 600,
        itemdbclickhandler: function ($this) {
            $("#H23").val($this.attr('data-icd10'));
        }
    });

    $("#KZR").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#ZRYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#ZZYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#ZYYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#JXYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#SXYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#ZKYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#ZRHS").dutyStaffFloatingSelector({
        dutyCode: 'Nurse'
    });
    $("#ZKHS").dutyStaffFloatingSelector({
        dutyCode: 'Nurse'
    });
    $("#BMY").dutyStaffFloatingSelector({
        dutyCode: ''
    });
</script>