@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <iframe class="ui-layout-center" id="iframerightiframerightiframeright" name="iframerightiframerightiframeright"></iframe>
</div>

<script type="text/javascript">
    (function ($) {
        $('#layout').layout();
        $("#itemTree").treeview({
            url: "/SystemManage/Module/GetModuleTreeJsonByName?name=" + encodeURIComponent('系统参数设置'),
            onnodeclick: function (item) {
                if (item.hasChildren === true) {
                    return;
                }
                if (item.value) { 
                    $("#iframerightiframerightiframeright").attr("src", item.value);
                }
            }
        });
    })(jQuery);

</script>