<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDbContext" connectionString="Server=.;Initial Catalog=NewtouchHIS_Base;User ID=.;Password=." providerName="System.Data.SqlClient" />
  
  <!-- Redis -->
  <!--local-->
  <!--<add name="RedisServer" connectionString="127.0.0.1:6379,connectTimeout=500,password=newtouch" />-->
  <add name="RedisServer" connectionString="D4A0810795BFABD5DF6D3B4D3A7FF0F03AD6996F3A909BF54748AFF78429F89697C20DDD02726669205CBC798E4C1EB7C73A01D4435A9AA3" />
</connectionStrings>