@{
    ViewBag.Title = "查询已关联项目";

    Layout = "~/Views/Shared/_Index.cshtml";
}

<style type="text/css">
    .span-radio {
        float: left;
        margin-right: 10px;
    }

        .span-radio input {
            margin-left: 5px;
        }
</style>

<div class="topPanel" id="topSearch">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group" onclick="ShowRelationalItem()">
            <a id="NF-add" class="btn btn-primary dropdown-text"><i class="fa fa-plus"></i>新建关联</a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="span-radio">
                            <input type="radio" name="sourceFrom" value="His" checked="checked"/>His
                            <input type="radio" name="sourceFrom" value="Optima"/>Optima
                            <input type="radio" name="sourceFrom" value="Optima"/>关联名称
                        </span>
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn" style="margin-left: 10px; display: inline-block;">
                            <button id="btn_search" type="button" class="btn  btn-primary" onclick="Search()"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="padding: 2px; width:100%; height:400px;">
    <table id="relationalItemGridList"></table>
    <div id="relationalItemGridListPager"></div>
</div>

<script type="text/javascript" src="~/Content/js/RehabiliationItemManage/RelationalItem.js"></script>
