<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!-- 数据库 -->
  <add name="DefaultDbContext" connectionString="Server=59.80.30.157,13433;Initial Catalog=Newtouch_CIS;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />

  <!-- Redis -->
  <add name="RedisServer" connectionString="127.0.0.1:6379,connectTimeout=500,password=newtouch" />

</connectionStrings>