@{
    ViewBag.Title = "XzyyForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form name="form1">
    <div class="gridPanel">
        <table class="form" style="margin-top:10px; margin-left: 20px;">
            <tr>
                <td id="xzyysm" colspan="3" class="formValue"></td>
            </tr>
            <tr>
                <td class="formValue" colspan="3"><span class="required">*</span>请选择是否可报？</td>
            </tr>
            <tr>
                <td class="formValue"  colspan="3" style="width:18%;">
                    <div class="panelposition">
                        <label style="font-weight:bold;"><input type="radio" name="optionsRadios" class="optionsRadios formClearIgnore" checked value="1" /><span>不可报销</span></label>
                        <label style="font-weight:bold; padding-left:20px"><input type="radio" id="radioTreating" name="optionsRadios" class="optionsRadios formClearIgnore" value="2"/><span>可报销</span></label>
                    </div>
                </td>
            </tr>
          
        </table>
        </div>
        @*<input type="button" id="closeForm" onclick="closeForms()" class="btn btn-primary btn-md" value="关闭" style="float: right;margin-top: 10px;margin-right: 20px;" />
        <input type="button" id="noCheck" onclick="AcceptClick(sfkb.no)" class="btn btn-danger btn-md" value="&nbsp否&nbsp" style="float: right;margin-top: 10px;margin-right:20px;" />
        <input type="button" id="yesCheck" onclick="AcceptClick(sfkb.yes)" class="btn btn-primary btn-md" value="&nbsp是&nbsp" style="float: right;margin-top: 10px;margin-right: 20px;" />*@
</form>


<script type="text/javascript">
    var xzyysm = $.request("keyValue");
    //var tdobj = document.getElementById('xzyysm');
    $(function () {
        if (!!xzyysm) {
            document.getElementById('xzyysm').innerText = "该药品为限制用药，限制原因为【" + xzyysm+ "】";
        }
        $("input[name='optionsRadios']:checked").next().css('color', 'red');
        $(":radio").click(function () {
            $("input[type='radio']").each(function () {
                if (this.checked) {
                    $(this).next().css('color', 'red');
                } else {
                    $(this).next().css('color', '');
                }
            });
        });
        })
    function submitForm(){
        var sfkbRadio = $("input[name='optionsRadios']:checked").val();
        return sfkbRadio;
    }
</script>

