
@{
    ViewBag.Title = "手术通知单";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>

<script type="text/javascript">

	var reportServerHOST = '@(ViewBag.ReportServerHOST)';
    var orgId = '@(ViewBag.OrgId)';
    var zyh = '@(ViewBag.zyh)';
    var applyno ='@(ViewBag.applyno)';
	$(function(){
        var url = reportServerHOST + 'Pages/ReportViewer.aspx?%2fNewtouch.Report.OR%2f%E6%89%8B%E6%9C%AF%E9%80%9A%E7%9F%A5%E5%8D%95&rs:Command=Render&orgId=' + orgId + "&zyh=" + zyh + "&applyno=" + applyno;
        setTimeout("$.loading(true, '正在请求报表页面...');", 10);
        window.location.href = url;
	});



	$("#iframerightiframerightiframerightttt").load(function () {
		$.loading(false);
	});

	$(function () {
		var h = $(window).height() - 155
		$('#layout iframe').css('height', h);

	});

	//刷新列表
	function refReport() {
		$("#btn_search").trigger('click');
	}


</script>
