<div class="toolbar">
    <div class="btn-group">
        <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
    </div>
</div>
<div class="search">
    <table>
        <tr>
            <td>
                <div class="input-group" style="width:200px;">
                    <select id="OrganizeId" name="OrganizeId" class="form-control selectpicker"></select>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function(){
        $.najax({
            async: false,
            url: "/SysManage/Common/GetOrgTreeSelectJson",
            dataType: "json",
            type: "POST",
            success: function (data) {
                $('#OrganizeId').select2({
                    data: data,
                });
            }
        });
    });


    //$("#OrganizeId").bindSelect({
    //    url: "/SysManage/Common/GetOrgTreeSelectJson",        
    //});
    $("#OrganizeId").change(function () {
        tableRefresh();
    });
</script>