@using Newtouch.Common.Operator;
@{
    ViewBag.Title = "电子处方药品管理";
    Layout = "~/Views/Shared/_Index.cshtml";

    var opr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
}

<form>
    <div class="panel panel-default">
        <div class="panel-heading">
            筛选信息
        </div>
        <div>
            <table class="form">
                <tr>

                    <th class="formTitle">药品名：</th>
                    <td class="formValue" colspan="2">
                        <input id="genname" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">国家医保编码：</th>
                    <td class="formValue" colspan="2">
                        <input id="medListCodg" type="text" class="form-control" />
                    </td>
                    <td class="formTitle">药品类型：</td>
                    <td class="formValue">
                        <select class="form-control" id="listType">
                            <option value="">全部</option>
                            <option value="101">西药中成药</option>
                            <option value="102">中药饮片</option>
                        </select>
                    </td>
                    <td class="formTitle">有效标志：</td>
                    <td class="formValue">
                        <select class="form-control" id="zt">
                            <option value="">全部</option>
                            <option value="0">无效</option>
                            <option value="1">有效</option>
                        </select>
                    </td>
                    <td class="formValue title">
                        <input type="button" id="btn_search" class="btn btn-primary" style="margin-left: 10%;" value="查询" />
                        <input type="button" id="btn_sync" class="btn btn-primary" style="margin-left: 10%;" value="同步" />
                    </td>

                </tr>

            </table>
        </div>
            
    </div>
    <div class="gridPanel">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</form>

<script>
    $(function () {
        gridList();
    })


    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SysMedicineElectronicPrescription/GetGridJson",
            height: $(window).height() - 160,
            postData: { genname: $("#genname").val(), medListCodg: $("#medListCodg").val(), listType: $("#listType").val(), zt: $("#zt").val() },
            colModel: [
                { label: '医疗目录编码', name: 'medListCodg', width: 180, align: 'left' },
                { label: '国家药品编号', name: 'natDrugNo', width: 120, align: 'left' },
                { label: '通用名', name: 'genname', width: 150, align: 'left' },
                { label: '商品名', name: 'prodname', width: 150, align: 'left' },
                { label: '注册名', name: 'regName', width: 150, align: 'left' },
                { label: '目录类别', name: 'listType', width: 80, align: 'left' },
                {
                    label: '目录类别名称', name: 'listTypeName', width: 120, align: 'left', formatter: function (cellVallue) {
                        return cellVallue == "" ? "中药饮片" : cellVallue;
                    }
                },
                { label: '规格名称', name: 'specName', width: 100, align: 'left' },
                { label: '生厂厂家', name: 'prdrName', width: 150, align: 'left' },
                { label: '批准文号', name: 'aprvno', width: 150, align: 'left' },
                { label: '剂型名称', name: 'dosformName', width: 100, align: 'left' },
                { label: '最小包装单位', name: 'minPacunt', width: 80, align: 'left' },
                { label: '最小包装数量', name: 'minPacCnt', width: 80, align: 'left' },
                { label: '最小制剂单位', name: 'minPrepunt', width: 80, align: 'left' },
                { label: '统筹区编号', name: 'poolareaNo', width: 80, align: 'left' },
                { label: '统筹区名称', name: 'poolareaName', width: 80, align: 'left' },
                { label: '是否双通道标志', name: 'dualchnlFlag', width: 80, align: 'left' },
                { label: '是否门诊统筹标志', name: 'oppoolFlag', hidden: true, width: 80, align: 'left' },
                { label: '开始时间', name: 'begntime', width: 80, align: 'left' },
                { label: '结束时间', name: 'endtime', width: 80, align: 'left' },
            ],
            multiselect: false,
            pager: "#gridPager",
            sortname: 'medListCodg',
            viewrecords: true,
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: {
                    genname: $("#genname").val(), medListCodg: $("#medListCodg").val(),
                    listType: $("#listType").val(), zt: $("#zt").val()
                },
            }).trigger('reloadGrid');
        });
    }

    //回车事件
    $('#genname').keydownEnterEvent(function () {
        $('#btn_search').trigger('click');
    })
    $('#medListCodg').keydownEnterEvent(function () {
        $('#btn_search').trigger('click');
    })
    $('#listType').change(function () {
        $('#btn_search').trigger('click');
    })
    $('#zt').change(function () {
        $('#btn_search').trigger('click');
    })
    //同步
    $('#btn_sync').click(function () {
        $.ajax({
            url: "http://127.0.0.1:33333/api/YiBao/ElectronicPrescription_D008",
            dataType: "json",
            data: { "hisId": "", "operatorId": "@opr.rygh", "operatorName": "@opr.UserName", "insuplc_admdvs": "" },
            type: "POST",
            async: true,
            success: function (ajaxdata) {
                $('#btn_search').trigger('click');
            }
        })
    });
</script>
