
@{
    ViewBag.title = "Inputresults";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    
    <table class="form" style="width:95%;margin-top:20px;margin-left:40px;">
        <tbody>
           
            <tr>
                <th class="formTitle">请选择录入结果：</th>
                <td class="formValue">
                    <select id="first" name="first" class="form-control "style="width:150px;">
                        <option value="0"> 阴性 </option>
                        <option value="1"> 阳性 </option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</form>


<script>
    var id = $.request("yz");
    $(function () {

    })
    function AcceptClick(callBack) {
        var options = $("#first option:selected");
        a = options.val();
        callBack(a);
        $.modalClose();
    }
    

</script>


