
@{
    ViewBag.Title = "皮试信息";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div class="gridPanel">
        <table id="gridList"></table>
    </div>
</form>

<script lang="javascript">

    var zyh = $.request("zyh");

    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/NurseManage/OrderAudit/GetSkinTestInfoGridJson",
            height: $(window).height() - 60,
            postData: { zyh: zyh },
            colModel: [
                { label: '项目编码', name: 'xmCode', width: 100, align: 'left' },
                { label: '项目名称', name: 'xmmc', width: 200, align: 'left' },
                { label: '皮试结果', name: 'remark', width: 60, align: 'left' }
            ],

            //multiselect: true,
            pager: "#gridPager",
            sortname: 'xmCode',
            viewrecords: true,
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { ypmc: $("#ypmc").val() },
            }).trigger('reloadGrid');
        });
    }

</script>