
@{
    ViewBag.Title = "AddMedicalInsurance";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    span {
        color: red;
    }
</style>
<form id="form1" style="width:95%;">
    <table class="form">
        <tr>
            <td class="formTitle">名称:<span>*</span></td>
            <td class="formValue"><input type="text" class="form-control" name="sfxmmc" id="sfxmmc" /></td>
            <td class="formTitle">拼音:<span>*</span></td>
            <td class="formValue"><input type="text" class="form-control" name="py" id="py" /></td>
        </tr>
        <tr>
            <td class="formTitle">代码:</td>
            <td class="formValue"><input type="text" class="form-control newtouch_Readonly" name="sfxm" id="sfxm" /></td>
            <td class="formTitle">icd10:<span>*</span></td>
            <td class="formValue">
                <input type="text" class="form-control" name="sfxm" id="sfxm" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">治疗项目:<span>*</span></td>
            <td class="formValue"><input type="text" class="form-control" name="sfxmmc" id="sfxmmc" /></td>
            <td class="formTitle">最大次数:<span>*</span></td>
            <td class="formValue"><input type="text" class="form-control" name="py" id="py" /></td>
        </tr>
    </table>
</form>

