<div class="widget-body">
    <div id="bllxTree"></div>
</div>
<script>

    //$(function () {
    //    bllxTreeView();
    //});
    function bllxTreeView(id, ck,bz) {
        $("#bllxTree").treeview({
            height: $(window).height() - 100,
            slimscroll: false,
            url: "/SystemManage/Common/GetBllxTreeList?selector=" + ck+"&mzbz="+bz,
            //param: { keyValue: keyValue},
            onnodeclick: function (item) {
                if (item.value != 'parent') {
                }
            },
            onnodedbclick: function (item) {
                //机动处理 双击操作
                treeProcess(item.value);
            }
        });

        if (!!ck) {
            $("#bllxTree").setNodeChecked(ck);

        }
    }
</script>