@{
    ViewBag.Title = "Selector";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var from = $.request("from");
    var organizeId = $.request("organizeId");
    var keyValue = $.request("keyValue");
    var isExpand = $.request("isExpand");
    var callbackType = $.request("callbackType");
    var single = $.request("single");
    var isShowEmpty = $.request("isShowEmpty");
    var initIdSelected = $.request("initIdSelected");
    var isContansChildOrg = $.request("isContansChildOrg");
    var dutyCode = $.request("dutyCode");
    $(function () {
        initControl();
    })

    function initControl() {
        $("#staffTree").treeview({
            height: 440,
            slimscroll: false,
            showcheck: true,
            url: "/SystemManage/SysStaff/GetStaffSelecotrTree",
            param: { from: from, organizeId: organizeId, keyValue: keyValue, isExpand: isExpand, initIdSelected: initIdSelected, isContansChildOrg: isContansChildOrg, dutyCode: dutyCode, isShowEmpty: isShowEmpty },
            oncheckboxclick: function (a, ck) {
                window.treeaid = a.id;
                if (single == 'true' && ck == 1 && !a.hasChildren) {
                    //让其他的都不选中，但不包括其父级的
                    $.each($('img.bbit-tree-node-cb'), function () {
                        if ($(this).attr('id').indexOf(window.treeaid) == -1
                            && $(this).attr('src').indexOf('checkbox_1') != -1) {
                            $(this).trigger('click');
                        }
                    });
                }
            }
        });

    }

    function AcceptClick(callBack) {
        var treeSeleData;
        if (callbackType == 'json') {
            treeSeleData = $("#staffTree").getCheckedNodeObjArray();
            if (single == 'true' && treeSeleData.length > 1) {
                $.modalAlert('最多选中一条', 'warning');
                return;
            }
        }
        else {
            treeSeleData = $("#staffTree").getCheckedNodes();
            if (single == 'true' && treeSeleData.length > 1) {
                $.modalAlert('最多选中一条', 'warning');
                return;
            }
            treeSeleData = String(treeSeleData);
        }

        callBack(treeSeleData);
        $.modalClose();
    }
</script>
<div>
    <div id="staffTree"></div>
</div>


