/* newtouchFloatingSelector默认样式 */
.ui-nfs {background:#fff;border: 1px solid #00a0ea;border-radius: 3px;overflow-y:auto;}
.ui-nfs-caption {
    background: #fff;
    padding: 5px;
    color: #323232;
font-size:18px;
font-weight:600;
}
.ui-nfs table{width:100%;table-layout:fixed;    color: #929292; }
    .ui-nfs table thead {
        display:block;
    }
.ui-nfs table thead tr{
    display:block;background:#f5f5f5;font-size:16px;line-height: 32px;
}
.ui-nfs table thead tr th{text-align:center;display:inline-block;}
.ui-nfs table thead tr th:not(.isthelasttd){
    /*border-right: 1px solid red;*/

}

    .ui-nfs table tbody {display:block;overflow:auto;}
.ui-nfs table tbody tr{display:block;border-bottom: 1px solid  #dcdcdc;}
.ui-nfs table tbody tr.active{border-bottom: 1px solid  #dcdcdc;background: #97f5c3;}
.ui-nfs table tbody tr:hover{background:#97f5c3;}
.ui-nfs table tbody tr td{word-wrap:break-word;text-align:center;line-height:26px;font-size:14px;display:inline-block;
                           /*padding: 0 5px;*/

}


.dialogText {font-size:1.5em;border-width:2px;}
.dialogText {font-size:1.5em;border-width:2px;}
.dialogText {font-size:1.5em;border-width:2px;}

.errorDiv {margin:10px;}
.errorDiv span {color:#ff0000;padding-left:25px;}

.panel hr {margin:2px;}
.toolbarfloat {float:right;margin:10px;}

#panelZje .formTitle{position: relative;
    left: 0px;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
    width: 90px;
    padding-right: 15px; 
}

#panelZje .formValue {
    position: relative;
    padding: 5px;
    width: auto;
}
/*刷新icon居中，覆盖bootstrap样式*/
.glyphicon {
    top:2px;
}

/*修改Default快捷菜单*/
.h6, h6 {
   margin-left: 63%;
   margin-top: 4px;
   color:#274b6d;
    width: 38px;
}
