/* IE下复选框 的 位置定位 */
.jqgrow .ckbox input[type="checkbox"]:checked + label::after{
    top: 0!important;
}

/* IE下拉框 的 样式修改 */
.jqgrow select{
    width:98% !important;
    padding:2px 3px !important;
}