<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!-- 数据库 -->
	<add name="DefaultDbContext" connectionString="Server=.;Initial Catalog=NewtouchHIS_herp;User ID=sa;Password=#" providerName="System.Data.SqlClient" />

  <!-- Redis -->
	<add name="RedisServer" connectionString=".,connectTimeout=500,password=newtouch" />

</connectionStrings>