
@{
    ViewBag.Title = "收入统计对比";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/highcharts/highcharts.js")"></script>
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/highcharts/modules/exporting.js")"></script>
<script>
    $(function () {
        loadChart();
        //gridList();
    });

    function loadChart() {
        var OutpatientList = [];
        var InpatientList = [];
        $.ajax({
            url: "/HighchartsManage/Common/GetSalaryNumCompared?r=" + Math.random(),
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.data) {
                    OutpatientList = data.data.OutpatientList;
                    InpatientList = data.data.InpatientList
                } else {
                    for (var i = 0; i < 12; i++) {
                        OutpatientList.push([0]);
                        InpatientList.push([0]);
                    }
                }
            }
        })
        $('#salarychart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '收入统计对比'
            },
            xAxis: {
                categories: [
                    '一月',
                    '二月',
                    '三月',
                    '四月',
                    '五月',
                    '六月',
                    '七月',
                    '八月',
                    '九月',
                    '十月',
                    '十一月',
                    '十二月'
                ]
            },
            yAxis: {
                title: {
                    text: '单位 (元)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.2f} 元</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: "门诊",
                data: [
                        OutpatientList[0].num, OutpatientList[1].num, OutpatientList[2].num, OutpatientList[3].num, OutpatientList[4].num, OutpatientList[5].num, OutpatientList[6].num, OutpatientList[7].num, OutpatientList[8].num, OutpatientList[9].num, OutpatientList[10].num, OutpatientList[11].num
                ]
            }, {
                name: "住院",
                data: [
                           InpatientList[0].num, InpatientList[1].num, InpatientList[2].num, InpatientList[3].num, InpatientList[4].num, InpatientList[5].num, InpatientList[6].num, InpatientList[7].num, InpatientList[8].num, InpatientList[9].num, InpatientList[10].num, InpatientList[11].num
                ]
            }]
        });
    }
</script>
<div id="salarychart" style="height: 460px; width: 100%;"></div>

