@using Newtouch.Infrastructure;
@{
    ViewBag.Title = "SettlementListResultFrom";
    Layout = "~/Views/Shared/_Index.cshtml";
    var brzybzType = ((int)EnumZYBZ.Djz).ToString();
    var opr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
}
<form>
    <div class="gridPanel" style="margin-top:1%">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</form>
<script>
    var colModel;
    var zyh = $.request('zyh');
    var $gridList = $("#gridList");
    $(function () {
        gridListData();
        bindGridList();
    });
    function bindGridList() {
        colModel = [
            {
                label: '机构编号', name: 'fixmedins_code', align: 'center', width: 90, key: true
            },
            { label: '机构名称', name: 'fixmedins_name', align: 'center', width: 120 },
            { label: '结算年月', name: 'setl_ym', align: 'center', width: 50 },
            { label: '结算 ID', name: 'setl_id', align: 'left', width: 60 },
            { label: '人员编号', name: 'psn_no', align: 'left', width: 130 },
            { label: '人员姓名', name: 'psn_name', align: 'center', width: 50 },
            { label: '质控结果', name: 'qltctrl_rslt', align: 'center', width: 60 },
            { label: ' 错误等级', name: 'err_lv', align: 'center', width: 50 },
            { label: '回退标志', name: 'retn_flag', align: 'center', width: 50 },
            { label: '质控版本号', name: 'qltctrl_ver', align: 'center', width: 50 },
            { label: '人员证件类型', name: 'psn_cert_type', align: 'center', width: 80 },
            { label: '证件号码', name: 'cert_no', align: 'center', width: 100 },

        ];
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:33333/api/YiBao/QueryNumMedicalSettlement_4104",
            data: { hisId: zyh , operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)'},
            dataType: "json",
            async: false,
            success: function (data) {
                var tfReturn = eval('(' + data + ')');
                if (tfReturn) {
                    if (tfReturn.infcode == 0 || tfReturn.infcode == "0") {
                        $gridList.newtouchLocalDataGrid({
                            autowidth: false,
                            unwritten: false,
                            caption: "结算清单质控查询",
                            colModel: colModel,
                        }, tfReturn.output.data);                    }
                    else {
                        $.modalAlert("结算清单质控查询失败：" + tfReturn.err_msg, 'error');
                        return;
                    }
                }
            }, error: function () {
                $.loading(false);
                $.modalAlert("服务异常：", 'error');
                return;
            }
        });

    }
    function gridListData() {
        var $gridList = $("#gridList");
        var captionCon = "质控结果";
        $gridList.dataGrid({
            height: $(window).height() - 80,
            caption: captionCon,
            multiselect: false,
            unwritten: false,
            colModel: [
                {
                    label: '机构编号', name: 'fixmedins_code', align: 'center', width: 90, key: true
                },
                { label: '机构名称', name: 'fixmedins_name', align: 'center', width: 120 },
                { label: '结算年月', name: 'setl_ym', align: 'center', width: 50 },
                { label: '结算 ID', name: 'setl_id', align: 'left', width: 60 },
                { label: '人员编号', name: 'psn_no', align: 'left', width: 130 },
                { label: '人员姓名', name: 'psn_name', align: 'center', width: 50 },
                { label: '质控结果', name: 'qltctrl_rslt', align: 'center', width: 60 },
                { label: ' 错误等级', name: 'err_lv', align: 'center', width: 50 },
                { label: '回退标志', name: 'retn_flag', align: 'center', width: 50 },
                { label: '质控版本号', name: 'qltctrl_ver', align: 'center', width: 50 },
                { label: '人员证件类型', name: 'psn_cert_type', align: 'center', width: 80 },
                { label: '证件号码', name: 'cert_no', align: 'center', width: 100 },

            ],
            pager: "#gridPager",
            viewrecords: true
        });
    }
</script>