@using Newtouch.Common.Operator;
@{
    var opr = OperatorProvider.GetCurrent();
    var loginFromFlag = ViewBag.loginFromFlag;
}
<div class="nav-no-collapse pull-right" id="header-nav">
    <ul class="nav navbar-nav pull-right">
        @*<li class="mobile-search">
                <a class="btn">
                    <i class="fa fa-search"></i>
                </a>
                <div class="drowdown-search">
                    <form role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="search...">
                            <i class="fa fa-search nav-search-icon"></i>
                        </div>
                    </form>
                </div>
            </li>
            <li class="dropdown hidden-xs">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-tasks"></i>
                    <span class="count">5</span>
                </a>
            </li>
            <li class="dropdown hidden-xs">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell"></i>
                    <span class="count">8</span>
                </a>
            </li>
            <li class="dropdown hidden-xs">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                    <span class="count">16</span>
                </a>
            </li>*@
        <li class="dropdown profile-dropdown">
            <a href="#" class="dropdown" data-toggle="dropdown">
                <i class="fa fa-user" style="float: left; margin-right: 5px; width: 25px; font-size: x-large; padding-top: 5px;"></i>
                <span class="hidden-xs">@opr.UserCode</span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a class="menuItem" data-id="userInfo" href="/SystemManage/SysUser/PersonalInfo"><i class="fa fa-user"></i>个人信息</a></li>
                @*<li><a href="javascript:void();"><i class="fa fa-inbox"></i>我的信箱</a></li>*@
                <li><a href="javascript:void();" onclick="layer.msg('浏览器缓存清除成功');"><i class="fa fa-trash-o"></i>清空缓存</a></li>
                <li>
                    <a href="javascript:void();"><i class="fa fa-paint-brush"></i>皮肤设置</a>
                    <div class="tab-pane" id="control-sidebar-home-tab">
                    </div>
                </li>
                <li><a href="~/Login/OutLogin"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
            </ul>
        </li>
    </ul>
</div>