@{
    ViewBag.Title = "DrugSubtotal";
    Layout = "~/Views/Shared/_Form.cshtml";
    //报表链接
    //var reportUrl = SysConfigReader.OrgReportLink();
    var reportUrl = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportUrl");
}

<div class="rows">
    <div class="panel panel-default">
        <table class="form">
            <tr>
                <th class="formTitle">统计年月：</th>
                <td class="formValue">
                    <input id="kssj" type="text" class="form-control input-wdatepicker form-an" style="width: 140px;"
                           onclick="WdatePicker({ dateFmt: 'yyyy-MM'})" value="@(DateTime.Now.ToString("yyyy-MM"))" />
                </td>
                <th class="formTitle"></th>
                <td class="formValue" style="padding-left:20px;">
                    <input type="button" id="btn_search" onclick="submit();" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                </td>
            </tr>
        </table>
    </div>
    <input type="text" id="zxys" hidden="hidden" />
</div>

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>

<script type="text/javascript">
    function submit() {
        if ($('#kssj').val().length == 0) {
            $.modalAlert("缺少开始时间", "error");
            return;
        }
     
        var url = getUrl();
        setTimeout("$.loading(true, '正在请求报表页面...');", 10);
        $("#iframerightiframerightiframerightttt").attr('src', url);
    }

    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });
    function mGetDate(year, month) {
        var d = new Date(year, month, 0);
        return d.getDate();
    }
    $(function () {
        var h = $(window).height() - 55
        $('#layout iframe').css('height', h);
   
    });

    //刷新列表
    function refReport() {
        $("#btn_search").trigger('click');
    }

    function getUrl() {

        var kssj = $('#kssj').val() + "-01 00:00:00";
        var jssj = $('#kssj').val() + "-" + mGetDate($('#kssj').val().substring(0, 4), $('#kssj').val().substring(5, 7)) + " 23:59:59";
        var head = kssj.substring(5, 7) + "月";
        var yfcode = "@Newtouch.Infrastructure.Constants.CurrentYfbm.yfbmCode";
        var dlcode = "";
		if (yfcode.indexOf('mzyf002')!=-1) {//西药房
            dlcode ="00000001,02"
		} else if (yfcode.indexOf('cyyf001') != -1){//中药房
			dlcode = "03"
		} else {
            dlcode = "00000001,02,03"
        }
        var orgId = "@ViewBag.OrgId"
        var reportServerHOST = '@reportUrl' + "?tempCode=1005" + "&kssj=" + kssj + "&jssj=" + jssj + "&orgId=" + orgId +  "&czydm=wadmin";
     
        console.log(reportServerHOST)
        return reportServerHOST;
    }

</script>
