<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="E32D98E631790A28B95E3898384E1BFE3729D0223D995D4A0712E87D6624C3352F68D8449A5E76394A5B5A5DC59B3579B03EE69D7A4AC4FBC9B8A29C60311F5D3B2F709A76F5B0EF3BB76F41681D907121CB0A010C17F9186CA8E568A6EDEA6591A0A8A5F3F45C5F5BD9A0BE703F7CE8" providerName="System.Data.SqlClient"/>
    <add name="SQLConnectionStringWQYZ" connectionString="E32D98E631790A28B95E3898384E1BFEDADCD76908BF913F06E38E08DE704CDAB3A8D50EB0EE3AB9CB22BC6142241A962094F5000AF0504223540698B7FABD81C4FADFEDE64E7857940E1CD276A643C795B12E7A2A7AACC6FF6D312C7265552A07F5E1CDF690E4028AA2AD772200EAC4" providerName="System.Data.SqlClient"/>
    <add name="SQLConnectionStringWQRZ" connectionString="E32D98E631790A28B95E3898384E1BFE3729D0223D995D4A0712E87D6624C3352F68D8449A5E7639B116FD9DBCD8604AFCBBED92D92B6A8153AE9DB72FB42B24D9B61D7C01B4281EA9AF32847EC3E5A9280B7AF00E55B184546CD2F3FC3A3AD4E09C4B4B143A57082A4188862C0FFF4B" providerName="System.Data.SqlClient"/>
    <!--<add name="SQLConnectionStringWQEMR" connectionString="E32D98E631790A2883EEDB7FED4B9B841AF45447DCFE662CB5FEA68439C6A7D1598C87BE0A937B8314E0F0B6D8AD9E8DDBCC1BB95EA860660CD6A5B51BEE5E853FAEBDA5B3D7A6072A97037D2918978F7EB00F34501D85F9C7F880A67968D49B7D934EFDC60C41B56107EB869E392AD0" providerName="System.Data.SqlClient" />-->
    <add name="SQLConnectionStringWQEMR" connectionString="E32D98E631790A28B3809F41FCC54B7E8CFD61624CF5A58F9D600EB2F371AF6EDC1B4C611000918F06A1591F31A6ABD85717FD10629AD2F17E6EC46C3B262FE1746D97609EED63DA0CF3FC672CDB0391E7D0951FD9AE123B656C8857930B994F2E36CF76D980A92FF021B07332B6D552DC45A69059AFF5B926F336207AEBD4899258E437EF88AB2D3BFC5226BEA52C12" providerName="System.Data.SqlClient"/>
    <add name="SQLConnectionStringWQSERVER" connectionString="E32D98E631790A28B95E3898384E1BFEDADCD76908BF913F06E38E08DE704CDAB3A8D50EB0EE3AB9CB22BC6142241A962FB70F36BF040A6D1F3D9841FEA6D3CF54E444C329C78B49032275619711E0B981F07887932BE44EB457018EF41EBE10E11862CA81ECD76EB4819175B04223D1B4FFD4E51DD7E3B4" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SqlTimeOut" value="100000"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NoneSecurity" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="wqsj_PlatForm_DAS.PlatFormServiceBehavior" name="wqsj_PlatForm_DAS.PlatFormServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoneSecurity" contract="wqsj_PlatForm_DAS.IPlatFormService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/wqsj_PlatForm_DAS/PlatFormService.svc"/>
          </baseAddresses>
          <timeouts closeTimeout="00:10:10" openTimeout="00:10:00"/>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wqsj_PlatForm_DAS.PlatFormServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="100000000"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>