{
  "ConnectionStrings": {

    "KyTemplateConnection": "Data Source={{ .DatabaseHost }};Initial Catalog=NewtouchHIS_Base;User ID={{ .DatabaseUser }};Password={{ .DatabasePassword }};MultipleActiveResultSets=true;"
  }
}



