
@{
    ViewBag.Title = "Selector";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var from = $.request("from");
    var organizeId = $.request("organizeId");
    var keyValue = $.request("keyValue");
    var isShowEmpty = $.request("isShowEmpty");
    var isExpand = $.request("isExpand");
    var callbackType = $.request("callbackType");
    var single = $.request("single");
    var fromDialog = $.request("fromDialog");
    var initIdSelected = $.request("initIdSelected");
    $(function () {
        initControl();
    })
    function initControl() {
        $("#staffTree").treeview({
            height: 400,
            slimscroll: false,
            showcheck: true,
            url: "/Staff/GetStaffSelecotrTree",
            param: { from: from, organizeId: organizeId, keyValue: keyValue, isShowEmpty: isShowEmpty, isExpand: isExpand, initIdSelected: initIdSelected }
        });
    }
    function submitForm() {
        var treeSeleData;
        if (callbackType == 'json') {
            treeSeleData = $("#staffTree").getCheckedNodeObjArray();
            if (single == 'true' && treeSeleData.length != 1) {
                $.modalAlert('最多选中一条', 'warning');
                return;
            }
        }
        else {
            treeSeleData = $("#staffTree").getCheckedNodes();
            if (single == 'true' && treeSeleData.length != 1) {
                $.modalAlert('最多选中一条', 'warning');
                return;
            }
            treeSeleData = String(treeSeleData);
        }

        if (false) {

        }
        else if (fromDialog) {
            //默认行为，callback上一Dialog的方法
            top.top.window.frames[fromDialog].staffTreeCallback(treeSeleData);
        }
        else {
            //默认行为，callback上一页面的方法
            $.currentWindow().window.staffTreeCallback(treeSeleData);
        }
    }
</script>
<div>
    <div id="staffTree"></div>
</div>


