
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="kb_main_top">
    <h2 style="font-size: large;font-weight: bold;padding-left:10px">
        续打
    </h2>
</div>
<div id="panelposition" style="margin-left:40px">
    <label><input type="radio" name="optionsRadios" class="optionsRadios formClearIgnore" checked value="长期医嘱" />长期医嘱</label>
    <label><input type="radio" id="radioTreating" name="optionsRadios" class="optionsRadios formClearIgnore" value="有效医嘱" />有效医嘱</label>
</div>
<div class="rows" style="width:95%;margin-left:1%; margin-top:10px">
    <div class="panel panel-default">
        <div class="panel-heading navb-bg">
            打印方式
        </div>
        <div>
            <table class="form" style="width:265px;height:65px;">
                <tr >
                    <td style="width:61px;padding-left:10px">
                        <label><input type="radio" name="optionsRadios1" class="optionsRadios formClearIgnore" checked value="直接续打" />直接续打</label>
                    </td>
                </tr>
                <tr >
                    <td style="padding-left:10px">
                        <label><input type="radio" name="optionsRadios1" class="optionsRadios formClearIgnore" value="续打" />续打</label>
                    </td>
                    <td class="formTitle">
                        开始页号
                    </td>
                    <td class="formValue">
                        <input class="form-control" id="txt_EndHour" style="width:28px;" value="">
                    </td>
                    <td class="formTitle">
                        开始行号
                    </td>
                    <td class="formValue">
                        <input class="form-control" id="txt_EndHour" style="width:28px;" value="">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>