<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="listen_urls" value="http://127.0.0.1:33333/"/>
    <add key="mdtrtarea_admvs" value="130371"/>
    <!-- 就医地地区编码 -->
    <add key="recer_sys_code" value="MBS_LOCAL"/>
    <!-- recer_sys_code 接收方系统代码 字符型 10  Y普通交易传 YBXT,与人相关的交易时离休人员业务传 LXXT,工伤人员业务传 GSXT： -->
    <add key="infver" value="V1.0"/>
    <!-- 接口版本号  字符型  6  Y例如：“V1.0” -->
    <add key="opter_type" value="1"/>
    <!--  opter_type经办人类别  3  Y  Y1-经办人；2-自助终端；3-移动终端： -->
    <add key="fixmedins_code" value="H13037100495"/>
    <add key="setl_optins" value="130371"/>
    <!-- fixmedins_code定点医药机构编号字符型 30  Y ： -->
    <add key="fixmedins_name" value="秦皇岛经济技术开发区泰盛健瑞仕社区卫生服务中心"/>
    <!--  fixmedins_name定点医药机构名称字符型 200  Y  -->
    <add key="dev_no" value=""/>
    <!--  dev_no  设备编号  字符型 100  -->
    <add key="dev_safe_info" value=""/>
    <!--  dev_safe_info  设备安全信息 字符型 2000   -->
    <add key="signtype" value="MOCK"/>
    <!--  9  signtype  签名类型  RFID	电子凭证密码
PRCSSC	医保卡密码
MOCK	不验密（只在测试环境生效）   -->
    <add key="czydm" value="HIS1"/>
    <add key="czyxm" value="管理员"/>
    <!--<add key="serv_code" value="HH00032"/> --><!--服务商代码--><!--
    <add key="serv_sign" value="D1359628E056650BAD"/>--><!--服务商识别码-->
    <add key="DownloadFilePath" value="D:\YBDownload\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
