
@{
    ViewBag.Title = "AddCommercialInsurance";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <table class="form">
        <tr>
            <th class="formTitle">代码: </th>
            <td class="formValue">
                <input type="text" id="txtCODE" class="form-control newtouch_Readonly" />
            </td>
            <th class="formTitle">公司名称: <span class="required">*</span></th>
            <td class="formValue">
                <input type="text" class="form-control" id="txtCOMPANY" />
            </td>
            <th></th>
        </tr>
        <tr>
            <th class="formTitle">拼音: </th>
            <td class="formValue">
                <input type="text" class="form-control" id="txtPY" />
            </td>
            <th class="formTitle">英文：<span class="required">*</span></th>
            <td class="formValue">
                <input type="text" class="form-control" id="txtENFLISHNAME" />
            </td>
            <th></th>
        </tr>
        <tr>
            <th class="formTitle">折扣：<span class="required">*</span></th>
            <td class="formValue">
                <input type="text" class="form-control" id="txtDISCOUNT" />
            </td>
            <th class="formTitle">有效期：<span class="required">*</span></th>
            <td class="formValue">
                <input id="txtYXQ" type="text" class="form-control input-wdatepicker " style="width:149px;" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
            </td>
            <th></th>
        </tr>
        <tr>
            <th class="formTitle">备注：</th>
            <td class="formValue">
                <input type="text" class="form-control" id="txtMARK" />
            </td>
            <th class="formTitle"></th>
            <td class="formValue"></td>
            <th></th>
        </tr>
    </table>
</form>


