
@{
    ViewBag.Title = "MedicalInsurance";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $(function () {
        gridList();
        $('.menuItem').on('click', window.parent.$.Newtouchtab.addTab);
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.newtouchLocalDataGrid({
            height: $(window).height() - 185,
            datatype: "local",
            unwritten: false,
            colModel: [
                { label: "主键", name: "sfxmbh", hidden: true, key: true },
                { label: "代码", name: "dm", width: 80, align: 'left' },
                { label: '名称', name: 'mc', width: 100, align: 'left' },
                { label: '拼音', name: 'py', width: 100, align: 'left' },
                { label: 'icd10', name: 'idc10', width: 80, align: 'left' },
                { label: '治疗项目', name: 'zlxm', width: 80, align: 'left' },
                { label: '次数', name: 'cs', width: 100, align: 'left' }
                //,
                //{ label: '有效期', name: 'yxq', width: 100, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'desc',
            rowNum: '10',
            viewrecords: true
        });

        var mydata = [
            { id: "1", dm: "1001", mc: "霍乱", py: "hl", idc10: "A00.101", zlxm: "运动", cs: "10", yxq: "2020-10-10" },
            { id: "1", dm: "1002", mc: "伤寒和副伤寒", py: "shhfsh", idc10: "A01", zlxm: "理疗", cs: "20", yxq: "2020-10-10" },
            { id: "1", dm: "1003", mc: "伤寒性肝炎", py: "shxgy", idc10: "A01.004", zlxm: "运动", cs: "5", yxq: "2020-10-10" }
        ];
        for (var i = 0; i <= mydata.length; i++) {
            $gridList.jqGrid('addRowData', i + 1, mydata[i]);
        }
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "收费项目维护",
            url: "/KnowledgeBaseManagement/AddMedicalInsurance",
            width: "500px",
            height: "250px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().sfxmbh;
        $.modalOpen({
            id: "Form",
            title: "修改信息",
            url: "",//"/SystemManage/SysChargeItem/Form?keyValue=" + keyValue,
            width: "700px",
            height: "520px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "",//"/SystemManage/SysChargeItem/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().sfxmbh },
            success: function () {
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().sfxmbh;
        $.modalOpen({
            id: "Details",
            title: "查看机构",
            url: "",//"/SystemManage/SysChargeItem/Form?keyValue=" + keyValue,
            width: "700px",
            height: "560px",
            btn: null,
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "",//"/SystemManage/SysChargeItem/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
                $.loading(false);
            }
        })
    }
</script>
<form id="form1">
    <div class="panel panel-default" style="margin-top:5px;">
        <div class="panel-heading">
            筛选条件
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form">
                <tr>
                    <td class="formTitle">开始时间</td>
                    <td class="formValue">
                        <input id="Kssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-01")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                    <td class="formTitle">结束时间</td>
                    <td class="formValue">
                        <input id="Jssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                    <td class="formTitle">名称</td>
                    <td class="formValue">
                        <input type="text" id="txtINPUTCODE" class="form-control" placeholder="名称" />
                    </td>
                    <td colspan="2">
                        <div style="margin-left:40px">
                            <input type="button" id="btn_search" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                            <a class="menuItem btn btn-primary" onclick="btn_add()">新增项目</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

