@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<!DOCTYPE html>
<script>
    $(function () {
        gridList();
    });

    function gridList() {
        var $gridList = $("#HisgridList");
        $gridList.newtouchLocalDataGrid({
            //url: "/PatientManage/HospiterRes/GetGridJson",
            shrinkToFit: true,
            unwritten: false,
            height: $(window).height() - 185,
            datatype: "local",
            colModel: [
                { label: "主键", name: "id", hidden: true, key: true },
                { label: '患者姓名', name: 'xm', width: 50, align: 'left' },
                { label: '病人方位', name: 'CardNo', width: 80, align: 'left' },
                { label: '大类', name: 'bm', width: 50, align: 'left' },
                { label: '治疗师姓名', name: 'zlsxm', width: 80, align: 'left' },
                { label: '开始时间', name: 'kssj', width: 130, align: 'left' },
                { label: '时长(分)', name: 'jssj', width: 50, align: 'left' },
                { label: '治疗项目', name: 'zlxm', width: 130, align: 'left' },
                { label: '替代项目', name: 'tdxm', width: 130, align: 'left' },
                { label: '数量', name: 'sl', width: 50, align: 'left' },
                { label: '备注', name: 'note', align: 'left' },
                //{
                //    label: '', name: '', width: 80, align: 'center', formatter: function (cellvalue, options, rowObject) {
                //        return "<input type=\"button\" class=\"btn btn-default btn-md\" value=\"更多\" onclick=\"moreInfo('" + arguments[1].rowId + "');\" style=\"margin-left:3px;\" />";
                //    }
                //},
            ],
            pager: "#gridPager",
            sortname: 'desc',
            rowNum: '10',
            viewrecords: true
        });

        var mydata = [
               { id: "1", CardNo: "4A-10", brxzmc: "自费", bm: "PT", xm: "张三", zlsxm: "李慧Coco", kssj: "2017-03-13 08:00:00", jssj: "20m", zlxm: "红外线治疗", tdxm: "构音障碍训练", sl: "2次", note: "手法+理疗" },
               { id: "2", CardNo: "2A-35", brxzmc: "自费", bm: "PT", xm: "李四", zlsxm: "李慧Coco", kssj: "2017-03-13 09:00:00", jssj: "60m", zlxm: "有氧训练", tdxm: "", sl: "1次", note: "手法" },
               { id: "3", CardNo: "3G-35", brxzmc: "医保", bm: "PT", xm: "王五", zlsxm: "蒋朝凤Joanna", kssj: "2017-12-01 13:00:00", jssj: "", zlxm: "运动疗法", tdxm: "磁疗", sl: "2次", note: "代替运动" },
        ];
        for (var i = 0; i <= mydata.length; i++) {
            $gridList.jqGrid('addRowData', i + 1, mydata[i]);
        }
        $gridList.closest(".ui-jqgrid-bdiv").css({ 'overflow-x': 'hidden' });
    }

    function moreInfo(rowId) {
        $.modalOpen({
            id: "Form",
            title: "更多信息",
            url: "/TherapeutistCompleteList/moreInfo",
            width: "900px",
            height: "430px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().patid;
        $.modalOpen({
            id: "Details",
            title: "查看基本信息",
            url: "/PatientManage/HospiterRes/Register?keyValue=" + keyValue,
            width: "1000px",
            height: "700px",
            btn: null,
        });
    }
</script>
<form id="form1">
    <div class="panel panel-default" style="margin-top:5px;">
        <div class="panel-heading">
            筛选条件
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form">
                <tr>
                    <td class="formTitle">开始时间</td>
                    <td class="formValue">
                        <input id="Kssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                    <td class="formTitle">结束时间</td>
                    <td class="formValue">
                        <input id="Jssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                    <td class="formTitle">关键字</td>
                    <td class="formValue">
                        <input type="text" id="txtINPUTCODE" class="form-control" placeholder="患者姓名 治疗师姓名" />
                    </td>
                    <td class="formTitle">大类</td>
                    <td class="formValue">
                        <select id="Cl" class="form-control">
                            <option value="-1">全部</option>
                            <option value="PT">PT</option>
                            <option value="OT">OT</option>
                            <option value="ST">ST</option>
                        </select>
                    </td>
                    <td>
                        <input type="button" id="btn_search" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div class="gridPanel">
    <table id="HisgridList"></table>
    <div id="gridPager"></div>
</div>

