
@{
    ViewBag.Title = "SettSuccessDialog";
    //Layout = null;
    Layout = "~/Views/Shared/_Form.cshtml";
}

<style type="text/css">
    table {
        width: 95%;
        line-height: 35px;
        font-weight: bold;
        margin-top: 15px;
    }

        table th {
            text-align: right;
            width: 50%;
        }

        table td {
            text-align: left;
            width: 50%;
        }
</style>

<table>
    <tbody>
        <tr>
            <th>应收款：</th>
            <td>@ViewBag.yingshoukuan</td>
        </tr>
        <tr>
            <th>实收款：</th>
            <td>@ViewBag.ssk</td>
        </tr>
        <tr>
            <th>舍入差额：</th>
            <td>@ViewBag.srce</td>
        </tr>
        <tr>
            <th>找零：</th>
            <td style="color:red;">@ViewBag.zhaoling</td>
        </tr>
    </tbody>
</table>

