
@{
	ViewBag.Title = "SimulateFormShyb2023";
	Layout = "~/Views/Shared/_Form.cshtml";
}
@Html.Partial("_YibaoCommonView")

<!-- 上海医保展示 -->
<div id="divCQYbFee" class="panel panel-default" style="margin-top:10px;margin-left:10px;margin-right: 10px;">
	<div class="panel-heading navb-bg" style="height:13px;">
		费用信息
	</div>
	<div style="height:auto;">
        <table class="form">
            <tr>
                <th class="formTitle">总费用：</th><!--使用-->
                <td class="formValue">￥<label id="ZFY">0.00</label></td>
                <th class="formTitle">现金支付合计：</th>
                <td class="formValue">￥<label id="XJZF">0.00</label></td>
                <th class="formTitle">医保现金计费：</th><!--使用-->
                <td class="formValue">￥<label id="YBJF">0.00</label></td>

            </tr>
            <tr>
                <th class="formTitle">非医保现金计费：</th><!--无医保代码金额-->
                <td class="formValue">￥<label id="ZFJF">0.00</label></td>
                <th class="formTitle">当年帐户支付数：</th>
                <td class="formValue">￥<label id="curaccountpay">0.00</label></td>
                <th class="formTitle">历年帐户支付数：</th>
                <td class="formValue">￥<label id="hisaccountpay">0.00</label></td>
            </tr>
            <tr>
                <th class="formTitle">自负段现金支付数：</th>
                <td class="formValue">￥<label id="zfdxjzfs">0.00</label></td>
                <th class="formTitle">自负段历年支付数：</th>
                <td class="formValue">￥<label id="zfdlnzhzfs">0.00</label></td>

                <th class="formTitle">统筹段帐户支付数：</th>
                <td class="formValue">￥<label id="tcdzhzfs">0.00</label></td>
            </tr>
            <tr>
                <th class="formTitle">统筹段现金支付数：</th>
                <td class="formValue">￥<label id="tcdxjzfs">0.00</label></td>
                <th class="formTitle">统筹支付数：</th>
                <td class="formValue">￥<label id="tczfs">0.00</label></td>
                <th class="formTitle">附加段帐户支付数：</th>
                <td class="formValue">￥<label id="fjdzhzfs">0.00</label></td>
            </tr>
            <tr>
                <th class="formTitle">附加段现金支付数：</th>
                <td class="formValue">￥<label id="fjdxjzfs">0.00</label></td>
                <th class="formTitle">附加支付数：</th>
                <td class="formValue">￥<label id="fjzfs">0.00</label></td>
                <th class="formTitle">当年帐户余额：</th>
                <td class="formValue">￥<label id="curaccountamt">0.00</label></td>
            </tr>
            <tr>
                <th class="formTitle">历年帐户余额：</th>
                <td class="formValue">￥<label id="hisaccountamt">0.00</label></td>
                <th class="formTitle">附加段共济账户支付：</th>
                <td class="formValue">￥<label id="fjdgjzhzfs">0.00</label></td>
                <th class="formTitle">起付段共济账户支付：</th>
                <td class="formValue">￥<label id="qfdgjzhzfs">0.00</label></td>
                @*
                <th class="formTitle">医保结算范围总额：</th>
                <td class="formValue">￥<label id="ybjsfwfyze">0.00</label></td>
                <th class="formTitle">非医保结算范围总额：</th>
                <td class="formValue">￥<label id="fybjsfwfyze">0.00</label></td>*@

            </tr>
            <tr>
                <th class="formTitle">统筹段共济账户支付：</th>
                <td class="formValue">￥<label id="tcdgjzhzfs">0.00</label></td>
                <th class="formTitle">预结算账户余额：</th>
                <td class="formValue">￥<label id="yjs">0.00</label></td>
                @*
                <th class="formTitle">自费段共济账户支付：</th>
                <td class="formValue">￥<label id="zfdgjzhzfs">0.00</label></td>*@

            </tr>
        </table>
	</div>
</div>
@Html.Partial("_YibaoCommonView")



<script type="text/javascript">
    var ybjyFeeReturn;
    var hisfyze = $.request("hisfyze");
    var zhye = $.request("zhye");
	$(function () {
		init();
	});

    function init() {
        debugger; 
        ybjyFeeReturn = JSON.parse(sessionStorage.getItem('ybjyPreFeeReturn'));
        ybjyFeeReturn = ybjyFeeReturn.xxnr;
		if (!!ybjyFeeReturn) {
		    var xjzfje = 0.000;//医保的现金支付金额
		    var zfxjzf = 0.000;//非医保现金支付金额
		    var yjs = 0.000;//预交金后账户余额
		    //医保的现金支付金额
		    xjzfje = ovpraseFloat(ybjyFeeReturn.qfdxjzfs) + ovpraseFloat(ybjyFeeReturn.tcdxjzfs)
                + ovpraseFloat(ybjyFeeReturn.fjdxjzfs);
		    //非医保现金金额
		    zfxjzf = ovpraseFloat(hisfyze) -
				ovpraseFloat(ybjyFeeReturn.ybjsfwfyze);
		    //计算现金支付
		    var calc_xjzf = ovpraseFloat(zfxjzf) +
				ovpraseFloat(xjzfje) ;
		    ybjyFeeReturn.calc_xjzf = calc_xjzf;

		    orglxjzfys = ovpraseFloat(ybjyFeeReturn.calc_xjzf);
		    xjzfys = orglxjzfys;    //有折扣时会不等

		    yjs = calc_xjzf - zhye;//计算预交金后账户余额

		    !!hisfyze && $('#ZFY').html(ovpraseFloat(hisfyze).toFixed(2));
		    !!ybjyFeeReturn.calc_xjzf && $('#XJZF').html(ovpraseFloat(ybjyFeeReturn.calc_xjzf).toFixed(2));//总现金支付
		    !!zfxjzf && $('#ZFJF').html(zfxjzf.toFixed(2));//非医保现金支付
		    !!xjzfje && $('#YBJF').html(xjzfje.toFixed(2));//医保现金支付

		    !!ybjyFeeReturn.curaccountpay && $('#curaccountpay').html(ovpraseFloat(ybjyFeeReturn.curaccountpay).toFixed(2));
		    !!ybjyFeeReturn.hisaccountpay && $('#hisaccountpay').html(ovpraseFloat(ybjyFeeReturn.hisaccountpay).toFixed(2));
		    !!ybjyFeeReturn.zfdxjzfs && $('#zfdxjzfs').html(ovpraseFloat(ybjyFeeReturn.zfdxjzfs).toFixed(2));
		    !!ybjyFeeReturn.zfdlnzhzfs && $('#zfdlnzhzfs').html(ovpraseFloat(ybjyFeeReturn.zfdlnzhzfs).toFixed(2));

		    !!ybjyFeeReturn.tcdzhzfs && $('#tcdzhzfs').html(ovpraseFloat(ybjyFeeReturn.tcdzhzfs).toFixed(2));
		    !!ybjyFeeReturn.tcdxjzfs && $('#tcdxjzfs').html((ovpraseFloat(ybjyFeeReturn.tcdxjzfs)));
		    !!ybjyFeeReturn.tczfs && $('#tczfs').html(ovpraseFloat(ybjyFeeReturn.tczfs).toFixed(2));
		    !!ybjyFeeReturn.fjdzhzfs && $('#fjdzhzfs').html(ovpraseFloat(ybjyFeeReturn.fjdzhzfs).toFixed(2));
		    !!ybjyFeeReturn.fjdxjzfs && $('#fjdxjzfs').html(ovpraseFloat(ybjyFeeReturn.fjdxjzfs).toFixed(2));

		    !!ybjyFeeReturn.fjzfs && $('#fjzfs').html(ovpraseFloat(ybjyFeeReturn.fjzfs).toFixed(2));

		    !!ybjyFeeReturn.curaccountamt && $('#curaccountamt').html(ovpraseFloat(ybjyFeeReturn.curaccountamt).toFixed(2));
		    !!ybjyFeeReturn.hisaccountamt && $('#hisaccountamt').html(ovpraseFloat(ybjyFeeReturn.hisaccountamt).toFixed(2));
		    !!ybjyFeeReturn.ybjsfwfyze && $('#ybjsfwfyze').html(ovpraseFloat(ybjyFeeReturn.ybjsfwfyze).toFixed(2));
		    !!ybjyFeeReturn.fybjsfwfyze && $('#fybjsfwfyze').html(ovpraseFloat(ybjyFeeReturn.fybjsfwfyze).toFixed(2));
		    //共济账户
		    !!ybjyFeeReturn.fjdgjzhzfs && $('#fjdgjzhzfs').html(ovpraseFloat(ybjyFeeReturn.fjdgjzhzfs).toFixed(2));
		    //!!ybjyFeeReturn.zfdgjzhzfs && $('#zfdgjzhzfs').html(ovpraseFloat(ybjyFeeReturn.zfdgjzhzfs).toFixed(2));
		    !!ybjyFeeReturn.qfdgjzhzfs && $('#qfdgjzhzfs').html(ovpraseFloat(ybjyFeeReturn.qfdgjzhzfs).toFixed(2));
		    !!ybjyFeeReturn.tcdgjzhzfs && $('#tcdgjzhzfs').html(ovpraseFloat(ybjyFeeReturn.tcdgjzhzfs).toFixed(2));
		}
		else {
			$.modalAlert("预结算结果显示异常，请重试", "error");
		}
	}
	function ovpraseFloat(val) {
		if (!val) {
			val = 0;
		}
		return parseFloat(val);
	}
</script>
