@using Newtouch.Common.Operator;
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    span {
        color: red;
    }
</style>
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/SystemManage/SysCIRemindContent/Form.js",false)" type="text/javascript"></script>
<form id="form1">
    <table class="form">
        <tr>
            <td class="formTitle">有效<span>*</span></td>
            <td class="formValue">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="1" class="form-control"> 是
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="0" class="form-control"> 否
                    </label>
                </div>
            </td>
            <td class="formTitle">收费项目</td>
            <td class="formValue">
                <input class="form-control" id="sfxmmc" name="sfxmmc" type="text" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">门诊警示级别<span>*</span></td>
            <td class="formValue">
                <select class="form-control" name="mzjsjb" id="mzjsjb">
                    <option value="">==请选择==</option>
                    <option value="0">不提示</option>
                    <option value="1">普通提示</option>
                    <option value="2">警示</option>
                    <option value="3">禁止使用</option>
                </select>
            </td>
            <td class="formTitle">住院警示级别<span>*</span></td>
            <td class="formValue">
                <select class="form-control" name="zyjsjb" id="zyjsjb">
                    <option value="">==请选择==</option>
                    <option value="0">不提示</option>
                    <option value="1">普通提示</option>
                    <option value="2">警示</option>
                    <option value="3">禁止使用</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="formTitle">门诊警示内容<span>*</span></td>
            <td class="formValue"><input class="form-control" id="mzjsnr" name="mzjsnr" type="text" /></td>
            <td class="formTitle">住院警示内容<span>*</span></td>
            <td class="formValue"><input class="form-control" id="zyjsnr" name="zyjsnr" type="text" /></td>
        <tr>
            <td class="formTitle">建档人员</td>
            <td class="formValue">
                <input class="form-control newtouch_Readonly" id="CreatorCode" name="CreatorCode" value=@OperatorProvider.GetCurrent().UserCode type="text" readonly="readonly" />
            </td>
            <td class="formTitle">建档日期</td>
            <td class="formValue"><input class="form-control newtouch_Readonly" id="CreateTime" name="CreateTime" value=@DateTime.Now type="text" readonly="readonly" /></td>
        </tr>
    </table>
</form>
