@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top: 20px; margin-right: 30px;">
        <table class="form">
            <tr>
                <th class="formTitle"><span class="required">*</span>名称：</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="Name" name="Name" />
                </td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>编码：</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="Code" name="Code" />
                </td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>首拼：</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="py" name="py" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">有效：</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="zt" name="zt" type="checkbox" checked="checked"><label for="zt"></label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>

<script>
    var sfflId = $.request("sfflId");
    $(function () {
        if (!!sfflId) {
            $.najax({
                url: "/RehabChargeClassification/GetFormJson?r=" + Math.random(),
                data: { sfflId: sfflId },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    })

    //首拼
    $('#Name').keyup(function () {
        $('#py').val($(this).toShouPin());
    })

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var params = $("#form1").formSerialize();
        $.submitForm({
            url: "/RehabChargeClassification/SubmitForm?sfflId=" + sfflId,
            param: params,
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }


</script>


