@{
	Layout = null;
}
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/jqgrid/jqgrid.min.js")"></script>
<link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/jqgrid/jqgrid.css")" rel="stylesheet" />
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/jqgrid/grid.locale-cn.js")"></script>
<style>
	#tsfhDiv {
		position: fixed;
		top: 59%;
		right: 30px;
	}

	.dv-right2 {
		width: 200px;
		float: right;
	}

	/*.dv-right-tree2 {
		overflow-y: auto;
		border-radius: 4px;
		background: white;
	}*/

	/*.dv-right-title2 {
		padding: 6px 10px;
		border-bottom: 1px solid transparent;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-color: #ddd;
		background-color: white;
	}*/

	#toolbar2 {
		float: left;
		width: 38px;
		background-color: #00a0ea;
	}

	#biaoqian2 {
		float: left;
		padding: 10px;
		color: white;
		height: 90px;
	}
</style>



<div class="dv-body" id="tsfhDiv">
	<span id="toolbar2">
		<a class="btn  " id="biaoqian2" >医<br />学<br />符<br />号</a>

	</span>

	<div class="dv-right2">
		<div class="gridPanel" id="BqTreeList2">
			<table id="gridPatientList" style="width:100%;"></table>
		</div>
	</div>

</div>

<script type="text/javascript">
	$(function () {

		$(".dv-right2").toggle();

		$("#biaoqian2").click(function () {
			$(".dv-right2").toggle();
			getBqTreeList2();
		});
	});
	function getBqTreeList2() {
		var $gridPatientList = $("#gridPatientList");
		$gridPatientList.dataGrid({
			url: "/MedicalRecordManage/Blctgl/Getyxfhlist",
			postData: { ls: 5 },
			height: 230,
			rownumbers: false,
			//caption: "医学符号",
			colModel: [
				{ label: '类别', name: 'ctmc', width: 30, align: 'left', hidden: true },
				{ label: 'zf0', name: 'zf0', width: 40, align: 'left' },
				{ label: 'zf1', name: 'zf1', width: 40, align: 'left' },
				{ label: 'zf2', name: 'zf2', width: 40, align: 'left' },
				{ label: 'zf3', name: 'zf3', width: 40, align: 'left' },
				{ label: 'zf4', name: 'zf4', width: 40, align: 'left' },
			],
			//rowNum: 150,
			viewrecords: true,
			//pager: "#gridPatPager",
			//onSelectRow: function (rowid) {

			//},
			ondblClickRow: function (rowid, iRow, iCol) {
				var taxval = $("#gridPatientList").jqGrid('getCell', rowid, iCol);
				if (taxval != null && taxval != undefined) {
					document.getElementById('myWriterControl').DCExecuteCommand('Spechars', true, taxval);


				}
			},
		});

	}
</script>
