
@{
    ViewBag.Title = "医生";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<!DOCTYPE html>

<form id="form1"></form>

<script>
    var keyValue = $.request("keyValue");
    alert(keyValue);
</script>

