
@{
    ViewBag.Title = "病案首页";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>
<script type="text/javascript">
    var reportServerHOST = '@(ViewBag.ReportServerHOST)';
    var orgId = '@(ViewBag.OrgId)';
    var thisorgId = '@(ViewBag.OrgId)';
    var curUsergh = '@(ViewBag.curUsergh)';
    var zyh = $.request('zyh');
    var bah = $.request('bah');
    $(function(){
        submit();
    });

    function submit() {
        var url = reportServerHOST + 'Pages/ReportViewer.aspx?%2fNewtouch.EMR.Report%2f%E8%A5%BF%E5%8C%BB%E7%97%85%E6%A1%88%E9%A6%96%E9%A1%B5&rs:Command=Render&orgId=' + orgId;
        url += "&zyh=" + zyh;// + "&bah=" + bah;
        location.href = url;

        //setTimeout("$.loading(true, '正在请求报表页面...');", 10);
        //$("#iframerightiframerightiframerightttt").attr('src', url);
    }

    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });

    //$(function () {
    //    var h = $(window).height() - 55
    //    $('#layout iframe').css('height', h);

    //});

    //刷新列表
    function refReport() {
        $("#btn_search").trigger('click');
    }

</script>