<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="listen_urls" value="http://127.0.0.1:33333/" />
    <add key="mdtrtarea_admvs" value="500103" />
    <!-- 就医地地区编码 -->
    <add key="recer_sys_code" value="YBXT" />
    <!-- recer_sys_code 接收方系统代码 字符型 10  Y普通交易传 YBXT,与人相关的交易时离休人员业务传 LXXT,工伤人员业务传 GSXT： -->
    <add key="infver" value="V1.08" />
    <!-- 接口版本号  字符型  6  Y例如：“V1.0” -->
    <add key="opter_type" value="1" />
    <!--  opter_type经办人类别  3  Y  Y1-经办人；2-自助终端；3-移动终端： -->
    <add key="fixmedins_code" value="H50010302473" />
    <!-- fixmedins_code定点医药机构编号字符型 30  Y ： -->
    <add key="fixmedins_name" value="重庆重医附二院宽仁康复医院" />
    <!--  fixmedins_name定点医药机构名称字符型 200  Y  -->
    <add key="dev_no" value="" />
    <!--  dev_no  设备编号  字符型 100  -->
    <add key="dev_safe_info" value="" />
    <!--  dev_safe_info  设备安全信息 字符型 2000   -->
    <add key="signtype" value="" />
    <!--  9  signtype  签名类型  字符型 10  建议使用 SM2、SM3   -->
    <add key="setl_optins" value="65840" />
    <add key="orgId" value="6d5752a7-234a-403e-aa1c-df8b45d3469f" />
    <add key="serv_code" value="HH00032" />
    <!--服务商代码-->
    <add key="serv_sign" value="D1359628E056650BAD" />
    <!--服务商识别码-->
    <!--is_test 1本地模拟医保 0正式医保调用-->
    <add key="is_test" value="0" />

    <add key="appId" value="4DA0DDE57AA6438990484E5FAA7AE2BA" />
    <add key="appSecret" value="4CD3941AE2784466A978D9404701BDD3" />
    <add key="privateKey" value="AISlJCbr/OqheSNvj7/qvHq1YqmjqlESP5YrRqcE0qE+" />
    <add key="publicKey" value="BO9UZ0x6UtkM4bDQfQ6usWv/HpVHK/f9zrUsgJUfGQsql7vHa6/n1SFdOHHVEi/QrVkJwfILrSjAlVvpy8o9BYU=" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>












