
@{
    ViewBag.Title = "RehabilitationDetail";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    .list tr td {
        border-color: rgb(164,218,234);
        border-style: solid;
        border-width: 1px;
        text-align: center;
    }

    .list tr {
        height: 33px;
    }

    .add-up {
        background-color: rgb(220,242,240);
    }

    .total {
        background-color: rgb(184,227,236);
    }
</style>
<form id="form1" style="height:70px">
    <div class="panel panel-default" style="margin-top:5px;">
        <div class="panel-heading">
            筛选条件
        </div>
        <div style="padding: 2px;">
            <table class="form">
                <tr>
                    <td class="formTitle">开始时间</td>
                    <td class="formValue">
                        <input id="Kssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                    <td class="formTitle">结束时间</td>

                    <td class="formValue">
                        <input id="Kssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                    <td class="formTitle">患者姓名</td>
                    <td class="formValue">
                        <input type="text" id="txtINPUTCODE" class="form-control" placeholder="姓名" />
                    </td>
                    <td class="formTitle">治疗师</td>
                    <td class="formValue">
                        <select id="Cl" class="form-control">
                            <option value="-1">全部</option>
                            <option value="PT">咪咪</option>
                            <option value="OT">李慧同</option>
                            <option value="ST">王立群</option>
                        </select>
                    </td>
                    <td colspan="2">
                        <div style="margin-left:80px">
                            <input type="button" id="btn_search" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div style="overflow-y:scroll; width:100%;height:400px; ">
    <table class="list" style="width:120%;margin-top:10px">
        <tr style="background-color:rgb(79,173,194);color:rgb(255,255,255);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234); text-align:center;  ">
            <td rowspan="2">类别</td>
            <td rowspan="2">科室</td>
            <td rowspan="2">住院号</td>
            <td rowspan="2">床号-姓名</td>
            <td rowspan="2">治疗师</td>
            <td rowspan="2">备注</td>
            <td rowspan="2">项目</td>
            <td rowspan="2">时间</td>
            <td rowspan="2"> 单价</td>
            <td>星期一</td>
            <td>星期二</td>
            <td>星期三</td>
            <td>星期四</td>
            <td>星期五</td>
            <td>星期六</td>
        </tr>
        <tr style="background-color:rgb(79,173,194);font-family:Microsoft YaHei UI;color:rgb(255,255,255);">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>PT+OT</td>
            <td>内一科</td>
            <td>164193</td>
            <td>2俞月甫</td>
            <td>李慧同咪咪</td>
            <td>理疗代替运动</td>
            <td>电针</td>
            <td>20</td>
            <td>80</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>PT+OT</td>
            <td>内一科</td>
            <td>164193</td>
            <td>2俞月甫</td>
            <td>李慧同咪咪</td>
            <td>理疗代替运动</td>
            <td>电刺激</td>
            <td>20</td>
            <td>24</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>PT+OT</td>
            <td>内一科</td>
            <td>164193</td>
            <td>2俞月甫</td>
            <td>李慧同咪咪</td>
            <td>理疗代替运动</td>
            <td>小脑电</td>
            <td>20</td>
            <td>20</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr style="height:10px">

            <td colspan="12" style="border:none"></td>
        </tr>
        <tr>
            <td>PT+OT</td>
            <td>康复科</td>
            <td>164199</td>
            <td>38蔡国长</td>
            <td>李晓珊王立群</td>
            <td></td>
            <td>运动</td>
            <td>30</td>
            <td>50</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>PT+OT</td>
            <td>康复科</td>
            <td>164199</td>
            <td>38蔡国长</td>
            <td>李晓珊王立群</td>
            <td></td>
            <td>松动</td>
            <td>20</td>
            <td>30</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>PT+OT</td>
            <td>康复科</td>
            <td>164199</td>
            <td>38蔡国长</td>
            <td>李晓珊王立群</td>
            <td></td>
            <td>电刺激</td>
            <td>20</td>
            <td>24</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr style="height:10px">
            <td colspan="12" style="border:none"></td>
        </tr>
        <tr>
            <td colspan="13" rowspan="4" style="background-color:rgb(241,254,255);">Total：</td>
            <td class="add-up">李慧同</td>
            <td class="add-up">30</td>
        </tr>
        <tr>
            <td class="add-up">咪咪</td>
            <td class="add-up">30</td>
        </tr>
        <tr>
            <td class="add-up">李晓珊</td>
            <td class="add-up">35</td>
        </tr>
        <tr>
            <td class="add-up">王立群</td>
            <td class="add-up">35</td>
        </tr>
    </table>
</div>
@Html.Partial("_BottomButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel
{
    ShowKeyList = new int[] { 9 },
    F9Text = "导出"
})




