
@{
    ViewBag.Title = "TreatmentStatistics";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>条形图</title>
    @*<link href="~/Content/css/framework-theme.css" rel="stylesheet" />
        <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>*@
    <script src="~/Content/js/highcharts/highcharts.js"></script>
    <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '就诊统计'
                },
                subtitle: {
                    text: '就诊人数的变化趋势'
                },
                xAxis: {
                    categories: ['1月', '2月', '3月', '4月', '5月'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '人数(个)',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' 个'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: '#FFFFFF',
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: '门诊病人',
                    data: [107, 31, 635, 203, 20]
                }, {
                    name: '住院病人',
                    data: [133, 156, 947, 408, 60]
                }]
            });
        });

    </script>
</head>
<body>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
</html>

