
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="kb_main_top">
        <h2 style="font-size: large;font-weight: bold;padding-left:10px">
            当前医嘱内容：
        </h2>
    </div>
<div class="rows" style="width:95%;margin-left:1%;">
        <table class="form"  style="width: 100%;height: 60px;border: 1px solid #ddd;margin-bottom: 20px;">
            <tr>
                <th width="45%" style="padding-left:10px">
                    <label id="labMedName"></label>
                </th>
                <th width="10%">
                    <label id="labStandard"></label>
                </th>
                <th width="15%">
                    <label id="labDose">
                    </label>
                </th>
            </tr>
            <tr>
                <td width="20%"  style="padding-left:10px">
                    <label id="labStartDate"></label>
                </td>
                <td width="10%">
                    <label id="labStartTime"></label>
                </td>
                <td width="70%">
                    <label id="labDays"></label>
                </td>
            </tr>
        </table>
</div>
<div class="rows" style="width:95%;margin-left:1%;">
    <div class="panel panel-default">
        <div class="panel-heading navb-bg">
            停止医嘱
        </div>
        <div>
            <table class="form" style="width:229px;height:40px;">
                <tr>
                    <td class="formTitle">
                        停止时间：
                    </td>
                    <td colspan="2" class="formValue">
                        <input id="txt_EndDate" style="width:145px;" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var yzId = $.request("yzId");
    var yznr = $.request("yznr");
    var kssj = $.request("kssj");
    var tznr = $.request("tznr");

    $(function () {
        $('#labMedName').text(yznr);
        $('#labStartDate').text(kssj);
        $('#labDays').text(tznr);
    });
   

    function submitForm(callback)
    {
        var data = { yzId: yzId, tzsj: $('#txt_EndDate').val() };
        $.najax({
            url: "@Url.Action("StopSubmitForm")",
            dataType: "json",
            data: data,
            type: "POST",
            success: function ()
            {
                if (callback) {
                    callback();
                }
            }
        });
    }

</script>
