@{
    ViewBag.Title = "展示所有凭证";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form name="form1">
    <div class="panel panel-default">
        <div style="padding: 2px; overflow-y: auto;">
            <table id="VoucherListGrid"></table>
            <div id="PageVoucherListGrid"></div>
        </div>
    </div>
</form>
<script src="~/Content/js/ChargeItem/ShowChargeItem.js"></script>