@using Newtouch.Infrastructure;
@{
    ViewBag.Title = "调拨申请";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .inline {
        width: 80%;
        display: inline;
    }

    .PriceInline {
        width: 70%;
        display: inline;
    }

    #dv-detail table th {
        border: solid 1px #ddd;
        padding: 0;
        vertical-align: middle;
    }

    #dv-detail .ui-jqgrid-labels, #dv-detail .jqgrow .ui-row-ltr {
        height: 30px;
        vertical-align: middle;
    }

    #dv-detail table td {
        border: solid 1px #ddd;
        padding: 0;
        vertical-align: middle;
    }

    #dv-detail input[role=textbox] {
        padding: 2px 2px;
    }

    .input-wdatepicker-native {
        height: auto;
        width: 90px;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        padding: 6px 6px;
        text-align: left;
    }

    #gridList .ckbox label {
        margin-top: 24px;
    }
</style>
<form id="form1">
    <div class="panel panel-default" style="margin-bottom:10px;">
        <div class="panel-heading">调拨申请信息</div>
        <table class="form">
            <tr>
                <th class="formTitle">调拨申请单号：</th>
                <td class="formValue">
                    <input type="text" id="sldh" name="sldh" class="form-control newtouch_Readonly" />
                </td>
                <th class="formTitle"><span class="required">*</span>发药药房：</th>
                <td class="formValue">
                    <input type="text" id="fybmmc" name="fybmmc" class="form-control" placeholder="请选择发药药房" autocomplete="off" />
                    <input type="hidden" id="fybm" />
                </td>
                <th class="formTitle">
                    <input type="button" id="btn_add" class="btn btn-md btn-primary" value="添加" />
                </th>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
    <div id="dv-detail">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</form>
@Html.Partial("_BottomButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel
{
    ShowKeyList = new int[] { 7, 8 },
    F7Text = "重置",
    F8Text = "提交"
})
<script type="text/javascript">

    $(function () {
        $(window).resize(function () {
            window.initLayout("MyTabGrid");
        });
        init();
        $("#btn_add").click(function () {
            $("#gridList").jqGrid("addRowData", undefined, { operate: GetOperatehtml() }, "last");
        });
        InitBackspaceKey("fybmmc");
    });

    //初始化
    function init() {
        getSldh();
        initFybm();
        InitJqGrid();
        $("#gridList").jqGrid("addRowData", undefined, { operate: GetOperatehtml() }, "last");
    }

    //生成单据号
    function getSldh() {
        $.najax({
            type: "POST",
            url: "GenerateNewDjh",
            dataType: "text",
            success: function (data) {
                if (data !== "") {
                    $("#sldh").val(data);
                }
                else {
                    $.modalAlert("生成调拨申请单号失败，请联系管理员", 'error');
                }
            }
        });
    }

    //初始化发药部门
    function initFybm() {
        $("#fybmmc").newtouchBatchFloatingSelector({
            clickautotrigger: true,
            height: 200,
            width: 400,
            url: "GetYfbmList",
            ajaxmethod: 'Get',
            ajaxreqdata: function () {
                var reqData = {};
                reqData.keyword = $.trim($("#fybmmc").val());
                return reqData;
            },
            colModel: [
                { label: '部门代码', name: 'yfbmCode', widthratio: 40 },
                { label: '部门名称', name: 'yfbmmc', widthratio: 60 }
            ],
            itemdbclickhandler: function ($thistr) {
                $("#fybmmc").val($thistr.attr('data-yfbmmc'));
                $("#fybm").val($thistr.attr('data-yfbmCode'));
                return;
            }
        });
    }

    //初始化输入码
    function InitSrm(id, rowid) {
        $("#" + id).newtouchBatchFloatingSelector({
            clickautotrigger: true,
            height: 350,
            width: 1080,
            url: "DrugStockSearch",
            ajaxmethod: 'Get',
            inputtextcheck: function () {
                if ($("#fybm").val() === "" || $("#fybmmc").val() === "") {
                    $.modalMsg("请在浮层中选择发药部门", "error", 1000);
                    return false;
                }
                return true;
            },
            ajaxreqdata: function () {
                return {
                    keyword : $.trim($("#" + id).val()),
                    yfbmCode: $.trim($("#fybm").val())
                };
            },
            colModel: [
                { label: '类别', name: 'dlmc', width: 60 },
                { label: '代码', name: 'ypdm', width: 100 },
                { label: '名称', name: 'ypmc', width: 200, align: 'left' },
                { label: '规格', name: 'gg', width: 110, align: 'left' },
                { label: '库存', name: 'slStr', width: 90, align: 'center' },
                { label: '零售单价', name: 'lsjdjdw', width: 120, align: 'center' },//部门单位零售价
                { label: '批准文号', name: 'pzwh', width: 150, align: 'center' },
                { label: '厂家', name: 'sccj', width: 200, align: 'left' },
                { label: 'pfj', name: 'pfj', hidden: true },//部门单位批发价
                { label: 'lsj', name: 'lsj', hidden: true },//部门单位零售价
                { label: 'ykpfj', name: 'ykpfj', hidden: true },
                { label: 'yklsj', name: 'yklsj', hidden: true },
                { label: 'bzs', name: 'bzs', hidden: true },
                { label: 'bzdw', name: 'bzdw', hidden: true },
                { label: 'dw', name: 'dw', hidden: true },//部门单位
                { label: 'zhyz', name: 'zhyz', hidden: true },
                { label: 'zxdw', name: 'zxdw', hidden: true },
                { label: 'zxdwlsj', name: 'zxdwlsj', hidden: true },
                { label: 'zxdwjj', name: 'zxdwjj', hidden: true },
                { label: 'bzdwjj', name: 'bzdwjj', hidden: true },
                { label: 'kykc', name: 'kykc', hidden: true }
            ],
            itemdbclickhandler: function ($thistr) {
                if ($thistr.attr('data-kykc')<=0) {
                    $.modalMsg("该批次药品可用库存数不足，请选择其他批次", "error", 1000);
                    return false;
                }

                $("#" + rowid + "_slStr").val($thistr.attr('data-slStr'));
                $("#" + rowid + "_dlmc").val($thistr.attr('data-dlmc'));
                $("#" + rowid + "_ypdm").val($thistr.attr('data-ypdm'));
                $("#" + rowid + "_ypmc").val($thistr.attr('data-ypmc'));
                $("#" + rowid + "_gg").val($thistr.attr('data-gg'));
                $("#" + rowid + "_sccj").val($thistr.attr('data-sccj'));
                $("#" + rowid + "_lsj").val($thistr.attr('data-lsj'));
                $("#" + rowid + "_lsjdjdw").val($thistr.attr('data-lsjdjdw'));
                $("#" + rowid + "_pfj").val($thistr.attr('data-pfj'));
                $("#" + rowid + "_yklsj").val($thistr.attr('data-yklsj'));
                $("#" + rowid + "_ykpfj").val($thistr.attr('data-ykpfj'));
                $("#" + rowid + "_zhyz").val($thistr.attr('data-zhyz'));
                $("#" + rowid + "_bzs").val($thistr.attr('data-bzs'));
                $("#" + rowid + "_zxdwlsj").val($thistr.attr('data-zxdwlsj'));
                $("#" + rowid + "_kykc").val($thistr.attr('data-kykc'));
                $("#" + rowid + "_jj").val($thistr.attr('data-bzdwjj'));
                $("#" + rowid + "_zxdwjj").val($thistr.attr('data-zxdwjj'));
                initDw($thistr, rowid);
                $("#" + rowid + "_sl").val("");
                $("#" + rowid + "_lsze").val("");
                $("#sel_dw_" + rowid).trigger("change");
                InitKcCheck(rowid);
                ChangeDw(rowid);
            }
        });
    }

    //按backspace键清楚所有
    function InitBackspaceKey(id) {
        $("#" + id).keydown(function (e) {
            e = window.event ? window.event : e;
            var keyCode = e.which ? e.which : e.keyCode;
            if (keyCode === 8) {//tab
                $("#" + id).val("");
                $("#fybm").val("");
            }
        });
    }

    //初始化出库明细
    function InitJqGrid() {
        var $gridList = $("#gridList")
        $gridList.newtouchLocalDataGrid({
            data: [],
            height: $(window).height() - document.getElementById('gridList').offsetTop - 85,
            rownumbers: true,  //是否显示序号
            multiselect: true,
            editurl: "clientArray",  //行编辑不向服务器提交数据
            unwritten: false,
            colModel: [
                { label: '操作', name: 'operate', width: 50, align: 'center' },
                { label: '<span class="required">*</span>药品名称', name: 'ypmc', width: 130, align: 'center', editable: true, editwidth: "100%"},
                { label: "药品类别", name: "dlmc", width: 80, align: 'center', editable: true, editwidth: "100%" },
                { label: '<span class="required">*</span>数量', name: 'sl', width: 50, align: 'center', editable: true, editwidth: "100%" },
                {
                    label: '单位', name: 'dw', width: 50, align: 'center',
                    formatter: function (cellvalue, options) {
                        return "<select name=\"dw\" id=\"sel_dw_" + options.rowId + "\" rowid=" + options.rowId + " class=\"editable inline-edit-cell form-control\" style=\"padding:0; border-radius: 0px; border: 0px;\" ></select>";
                    }
                },
                { label: '当前库存', name: 'slStr', width: 100, align: 'center', editable: true, editwidth: "100%" },
                { label: '规格', name: 'gg', width: 100, align: 'center', editable: true, editwidth: "100%" },
                { label: '生产厂家', name: 'sccj', width: 150, align: 'center', editable: true, editwidth: "100%" },
                { label: '零售单价', name: 'lsjdjdw', width: 90, align: 'center', editable: true, editwidth: "100%" },
                { label: '零售总额', name: 'lsze', width: 100, align: 'center', editable: true, editwidth: "100%" },
                { label: '包装数', name: 'bzs', hidden: true, editable: true },
                { label: '可用库存', name: 'kykc', hidden: true, editable: true },//出库部门最小单位库存
                { label: '药品代码', name: 'ypdm', hidden: true, editable: true },
                { label: 'pfj', name: 'pfj', hidden: true, editable: true },
                { label: 'lsj', name: 'lsj', hidden: true, editable: true },
                { label: '药库单位进价', name: 'jj', hidden: true, editable: true },//药库单位进价（bzs）
                { label: '最小单位零售价', name: 'zxdwlsj', hidden: true, editable: true },
                { label: '药库批发价', name: 'ykpfj', hidden: true, editable: true },
                { label: '药库零售价', name: 'yklsj', hidden: true, editable: true },
                { label: '最小单位进价', name: 'zxdwjj', hidden: true, editable: true },
                { label: '出库转化因子', name: 'zhyz', hidden: true, editable: true }
            ],
            editinputwidthborder: false,    //是否需要边框 默认为true
            editinputborderradius: false,   //是否需要边框圆角 默认true（有圆角）
            gridComplete: function () {
                var ids = $("#gridList").getDataIDs();
                var lastRowoid = ids[ids.length - 1];
                EnableInlineEditBox(lastRowoid);
            }
        });
    }

    //启用行内编辑
    function EnableInlineEditBox(rowid) {
        if (rowid != null && rowid !== "") {
            $("#gridList").jqGrid('editRow', rowid, false, initInlineFunc);//打开编辑模式
            $("#jqg_gridList_" + rowid).trigger("click");
        }
        else {
            var ids = $("#gridList").getDataIDs();
            $.each(ids, function () {
                //打开编辑模式
                $("#gridList").jqGrid('editRow', String(this), false, initInlineFunc);
            });
        }
    }

    //初始化 浮层
    function initInlineFunc(rowid) {
        //部分列只读
        $("#" + rowid + "_ypmc").attr('autocomplete', 'off');
        $("#" + rowid + "_dlmc").css('background-color', '#f6f7fb').attr('readonly', 'true');
        $("#" + rowid + "_slStr").css('background-color', '#f6f7fb').attr('readonly', 'true');
        $("#" + rowid + "_gg").css('background-color', '#f6f7fb').attr('readonly', 'true');
        $("#" + rowid + "_sccj").css('background-color', '#f6f7fb').attr('readonly', 'true');
        $("#" + rowid + "_lsj").css('background-color', '#f6f7fb').attr('readonly', 'true');
        $("#" + rowid + "_lsjdjdw").css('background-color', '#f6f7fb').attr('readonly', 'true');
        $("#" + rowid + "_lsze").css('background-color', '#f6f7fb').attr('readonly', 'true');
        InitSrm(rowid + "_ypmc", rowid);//药品浮层
        InitTabKey("sel_dw_"+ rowid, rowid);//开票日期输入处tab跳转
    }

    //添加明细
    function addItem(obj) {
        var ids = $("#gridList").getDataIDs();
        var lastRowoid = ids[ids.length - 1];
        var dataRow = {
            operate: GetOperatehtml()
        };
        $("#gridList").jqGrid("addRowData", undefined, dataRow, "after", lastRowoid);
    }

    //删除明细
    function deleteItem(obj) {
        var selRowId = $(obj).parent().parent().attr("id");
        if (!!selRowId) {
            $("#gridList").jqGrid("delRowData", selRowId);
        }
    }

    //获取操作按钮html
    function GetOperatehtml() {
        return "<i class='fa fa-plus-square-o' style='font-size: large; color: #09a3ea;vertical-align: middle;' onclick='addItem(this);'></i>&nbsp;&nbsp;&nbsp;<i class='fa fa-minus-square-o' style='font-size: large; color: #09a3ea;vertical-align: middle;' onclick='deleteItem(this);'></i>";
    }

    //提交
    function newtouch_event_f8() {
        var list = [];
        var validationFailedArr = [];
        $.each($("#gridList").find("input[type=checkbox]:checked"), function () {
            var rowid = $(this).parent().parent().parent().attr("id");
            $("#gridList").saveRow(rowid, null, null, null, function (callbackRowId) { }, null, null);
            var rowData = $("#gridList").jqGrid('getRowData', rowid);
            if (!Validately(rowData, rowid)) {
                validationFailedArr.push(rowid);
                return;
            }
            list.push(AssembleData(rowData, rowid));
        });
        if (validationFailedArr.length > 0) {
            for (var i = 0; i < validationFailedArr.length; i++) {
                $("#gridList").jqGrid('editRow', validationFailedArr[i], false, initInlineFunc);//打开编辑模式
            }
            return;
        }
        if (list.length === 0) {
            $.modalMsg("请勾选编辑数据！", 'warning', 1000);
            return;
        }
        var par = new Object();
        par["mx"] = list;
        par["djh"] = $("#sldh").val();
        par["rkbm"] = '@Constants.CurrentYfbm.yfbmCode';
        par["ckbm"] = $("#fybm").val();
        $.najax({
            type: "POST",
            url: "SubmitApply",
            data: par,
            dataType: "json",
            success: function (res) {
                if (res.state === "success") {
                    newtouch_event_f7();
                    $.modalMsg('申请成功', 'success', 1000);
                } else {
                    $.modalAlert(res.message, 'error');
                }
            }
        });
    }

    //组装提交数据
    function AssembleData(rowData, rowid) {
        var zxdwjj = parseFloat(rowData.zxdwjj);
        var ykpfj = Number(rowData.ykpfj);
        var yklsj = Number(rowData.yklsj);
        var zhyz = Number($("#sel_dw_" + rowid).find("option:selected").attr("data-zhyz"));
        //var sl = Number(rowData.sl)
        var bzs = Number(rowData.bzs);
        var pfj = parseFloat(ykpfj / bzs * zhyz);
        var lsj = parseFloat(yklsj / bzs * zhyz);
        return {
            ypdm: rowData.ypdm,
            pfj: isNaN(pfj) ? 0 : pfj.toFixed(4),
            lsj: isNaN(lsj) ? 0 : lsj.toFixed(4),
            jj: rowData.jj,
            zxdwjj: zxdwjj,
            ykpfj: rowData.ykpfj,
            yklsj: rowData.yklsj,
            zje: rowData.jjze,
            sl: rowData.sl,
            rkzhyz: zhyz,
            ckbmkc: rowData.kykc,
            ckzhyz: rowData.zhyz,
            sccj: rowData.sccj
        };
    }

    //单位切换
    function ChangeDw(rowid) {
        $("#sel_dw_" + rowid).change(function () {
            CalculationLsze(rowid);
        });
    }

    //初始化输入库存检查事件
    function InitKcCheck(rowid) {
        $("#" + rowid + "_sl").blur(function () {
            if (CheckKc(rowid)) {
                CalculationLsze(rowid);
            }
        });
    }

    //库存检查事件
    function CheckKc(rowid) {
        var reg = /^[1-9]\d*$/;//大于0的整数
        if (!reg.test($("#" + rowid + "_sl").val())) {
            $.modalMsg("数量必须为大于0的整数！", "warning", 1500);
            $("#" + rowid + "_sl").val("");
            return false;
        }
        var zhyz = Number($("#sel_dw_" + rowid).find("option:selected").attr("data-zhyz"));
        var sl = Number($("#" + rowid + "_sl").val());
        var maxsl = Number($("#" + rowid + "_kykc").val());
        if (zhyz * sl > maxsl) {
            $.modalMsg("发药数不得超过库存总量", "error", 1000);
            $("#" + rowid + "_sl").val("");
            return false;
        }
        return true;
    }

    //计算零售总额
    function CalculationLsze(rowid) {
        var zhyz = Number($("#sel_dw_" + rowid).find("option:selected").attr("data-zhyz"));
        var sl = Number($("#" + rowid + "_sl").val());
        var zxdwlsj = Number($("#" + rowid + "_zxdwlsj").val());
        $("#" + rowid + "_lsze").val((zhyz * sl * zxdwlsj).toFixed(2));
    }



    //发票处再按tab键
    function InitTabKey(id, rowid) {
        $("#" + id).keydown(function (e) {
            e = window.event ? window.event : e;
            var keyCode = e.which ? e.which : e.keyCode;
            if (keyCode === 9) {//tab
                $(this).parent().parent().find(".fa-plus-square-o").trigger("click");
            }
        });
    }

    //初始化单位
    function initDw($thistr, rowid) {
        $("#sel_dw_" + rowid).empty();
        $("#sel_dw_" + rowid).append('<option value="bzdw" data-zhyz="' + $thistr.attr('data-bzs') + '" selected>' + $thistr.attr('data-bzdw') + '</option>');
        if ($thistr.attr('data-dw') !== $thistr.attr('data-bzdw')) {
            $("#sel_dw_" + rowid).append('<option value="bmdw" data-zhyz="' + $thistr.attr('data-zhyz') + '" selected>' + $thistr.attr('data-dw') + '</option>');
        }
        if ($thistr.attr('data-zxdw') !== $thistr.attr('data-bzdw') && $thistr.attr('data-dw') !== $thistr.attr('data-zxdw')) {
            $("#sel_dw_" + rowid).append('<option value="zxdw" data-zhyz="1" selected>' + $thistr.attr('data-zxdw') + '</option>');
        }
    }

    //新申领单
    function newtouch_event_f7() {
        $("#gridList").clearGridData();
        init();
        $("#fybm").val("");
        $("#fybmmc").val("");
    }

    //数值验证
    function Validately(rowData, rowid) {
        if ($("#fybm").val() === "" || $("#fybmmc").val() === "") {
            $.modalMsg("请选择发药部门", "error", 1000);
            return false;
        }
        if (rowData.ypmc === "") {
            $.modalMsg('药品必选', 'error', 1000);
            return false;
        }
        var reg = /^[1-9]\d*$/;//大于0的整数
        if (!reg.test(rowData.sl)) {
            $.modalMsg("数量必须为大于0的整数！", "warning", 1500);
            return false;
        }
        return true;
    }
</script>
