#beveltabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#beveltabs li {
  float: left;    
  width: 33.33%;
}
#beveltabs a {
  float: left;
  position: relative;
  padding: 0 10px;
  height: 0; 
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-bottom: 25px solid #3D3D3D;
  border-bottom-color: #777\9;
  opacity: .3;
  width: 66%;
  text-align:center
}
#beveltabs a:hover,#beveltabs a:focus {
  border-bottom-color: #2ac7e1;
  opacity: 1;
  filter: alpha(opacity=100);
}
#beveltabs a:focus {
  outline: 0;
}
#beveltabs #current {
  border-bottom-color: #2ac7e1;
  opacity: 1;
  filter: alpha(opacity=100);  
}