
    #linkjc .ui-jqgrid .ui-jqgrid-caption {
        text-align: center;
    }
    /*内容td分隔线*/
    #divGridjc .ui-jqgrid .ui-jqgrid-bdiv table.table-bordered td {
        border: solid 1px #ddd;
    }

    /*内容td分隔线防止移位*/
    #divGridjc .table > tbody > tr > td, #divGridjc .table > thead > tr > th {
        padding: 0px;
    }

    #divGridjc .ui-jqgrid-labels {
        height: 30px;
    }