
* {margin:0;padding:0;}
html, body {
    font-size: 10px;
    -webkit-print-color-adjust: exact;
}
.drawingboard {position:relative;height:0;width:0;overflow-x: auto;}

.line {height:0px;border-top:1px solid #999;}
.vline {width:0px;border-right:1px solid #999;}
.dotline {height:0px;border-top:1px dashed red;}

.dot {border: 3px solid #999;border-radius:3px;
      -moz-border-radius:3px; /* 老的 Firefox */}
.round {
	border: 1px solid #999;
	border-radius: 50%;
	background-color: #ffffff;
	width: 5px;
	height: 5px;
}
.linebold {height:0px;border-top:2px solid #999;}
.vlinebold {width:0px;border-right:2px solid #999;}

.c333 {border-color:#333;}
.c666 {border-color:#666;}
.c999 {border-color:#999;}
.cred {border-color:red;}
.cblue {border-color:blue;}
.cgreen {border-color:green;}
.climegreen {border-color:limegreen;}
.cdarkorange {border-color:darkorange;}
.corange {border-color:orange;}
.cmediumvioletred {border-color:mediumvioletred;}
.cblack {border-color:black;}

.bottomtbl {position:absolute;top:0;left:0;display:none;text-align: center; border-collapse: collapse;}

.circleX {
    width: 7px;
    height: 7px;
    /*margin: 100px auto;*/
    border-radius: 50%;
    border: 1px solid red;
    position: relative;
    background:#ffffff;
}

    .circleX::before {
        content: "";
        display: block;
        width: 6px;
        height: 1.5px;
        background: blue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .circleX::after {
        content: "";
        display: block;
        width: 6px;
        height: 1.5px;
        background: blue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }


.memoStu {
    color: red !important;
    text-align: center;
}