@{
    ViewBag.Title = "体温单";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/dialog/dialog.js")"></script>

@Html.Partial("_TemperatureChart")

<div id="loadingPage" style="display: none;">
    <div class="loading-shade"></div>
    <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
</div>

<div style="position:fixed;top:10px;left:250px;cursor:pointer;">
    <img id="print" src="@SiteUrl.GetStaticResourceScriptUrl("~/img/print.png")" title="打印" alt="打印" />
</div>
<script>
    $(function () {
        initControl();

        var kssj = $.request('kssj');
        var jssj = $.request('jssj');
        var zyh = $.request('zyh');
        search(kssj, jssj, zyh);
    });

    function initControl() {
        $('#print').click(function () {
            $('#print').hide();
            window.print();
        });

        $(document).click(function () {
            $('#print:hidden').show();
        });
    }

</script>