<style>
    form input {
        border: none;
        background: none;
        padding: 5px 5px;
    }
    .cellContentlabel {
        font-size: 12px;
        padding-top: 5px;
        text-align: right;
    }

    .cellContent {
        text-align: left;
        font-size: 12px;
        padding-top: 5px;
        border-bottom: 1px solid #808080;
        width: 95%;
    }

    .celllabel {
        padding-top: 10px;
        text-align: center;
        width: 80%;
    }

</style>
<div class="card row">
    <form id="formpat" class="form-horizontal patcard" role="form">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3">
                <input class="title" id="xm" type="text" value="患者姓名" disabled>
            </div>
            <div class="col-xs-6 col-sm-2">
                <h5><span class="label label-warning"><input id="sex" class="celllabel" type="text" value="性别" disabled></span></h5>
            </div>
            <div class="col-xs-6 col-sm-2">
                <h5><span class="label label-info"><input id="nl" class="celllabel" type="text" value="年龄" disabled></span></h5>
            </div>
            <div class="col-xs-6 col-sm-2">
                <h5><span class="label label-default"><input id="brxzmc" class="celllabel" type="text" value="自费" disabled></span></h5>
            </div>
            <div class="col-sm-2">
                <a id="btn_opapply" class='btn btn-success fa fa-plus' style='float:right;font-size:16px;margin-top:15px;padding:8px 15px;' onclick="showOpApply();"> 申请手术</a>
            </div>

        </div>
        <div class="form-group">
            <label for="zyh" class="col-sm-1 cellContentlabel">
                住院号
            </label>
            <div class="col-sm-2">
                <input id="zyh" class="cellContent" type="text" value="" disabled>
            </div>
            <label for="WardName" class="col-sm-1 cellContentlabel">
                病区
            </label>
            <div class="col-sm-3">
                <input id="WardName" class="cellContent" type="text" value="" disabled>
            </div>
            <label for="ryrq" class="col-sm-1 cellContentlabel input-wrap">
                入院日期
            </label>
            <div class="col-sm-4">
                <input id="ryrq" class="cellContent" type="text" value="" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="cwmc" class="col-sm-1 cellContentlabel">
                床号
            </label>
            <div class="col-sm-2">
                <input id="cwmc" class="cellContent" type="text" value="" disabled>
            </div>
            
            <label for="zdmc" class="col-sm-1 cellContentlabel">
                诊断
            </label>
            <div class="col-sm-8">
                <input id="zdmc" class="cellContent" type="text" value="" disabled>
            </div>
        </div>
    </form>
</div>
<script>
    function PatInit(zyh) {
        $.ajax({
            url: "/Operation/OpApply/GetPatInfo",
            type: "post",
            data: { zyh: zyh },
            dataType: "json",
            success: function (data) {
                $("#formpat").formSerialize(data);
                $("#sex").val(data.sex == 1 ? "男" : "女");
                $("#ryrq").val(data.ryrq.replace("T", " "));
                patchangeRefresh();
            }
        });
    }
</script>
