@{
    ViewBag.Title = "RelateItem";

    Layout = "~/Views/Shared/_Index.cshtml";
}

<form id="form1">
<div class="panel panel-default" style="margin-top:5px;">
    <div style="padding: 2px;padding-right:20px;">
        <table class="form" style="width:98%">
            <tr>
                <td class="formTitle">康复项目：</td>
                <td class="formValue">
                    <input type="text" class="form-control " id="txtSourceItem" name="txtSourceItem" value="" />
                </td>
                <td class="formTitle">康复代码：</td>
                <td class="formValue">
                    <input type="text" class="form-control " id="txtSourcexmdm" name="txtxmdm" value="" />
                </td>
                <td class="formTitle">单次时长：</td>
                <td class="formValue">
                    <input type="text" class="form-control " id="txtSourcedcsc" name="txtdcsc" value="" />
                </td>
                <td class="formTitle">单价：</td>
                <td class="formValue">
                    <input type="text" class="form-control " id="txtSourcedj" name="txtdj" value="" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">His项目：</td>
                <td class="formValue">
                    <input type="text" class="form-control " id="txtTagetItem" name="txtTagetItem" value="" />
                </td>
                <td class="formTitle">His项目代码：</td>
                <td class="formValue">
                    <input type="text" class="form-control " id="txtTagetxmdm" name="txtTagetxmdm" value="" />
                </td>
                <td class="formTitle">单次时长：</td>
                <td class="formValue">
                    <input type="text" class="form-control " id="txtTagetdcsc" name="txtTagetdcsc" value="" />
                </td>
                <td class="formTitle">单价：</td>
                <td class="formValue">
                    <input type="text" class="form-control " id="txtTagetdj" name="txtTagetdj" value="" />
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
