<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
    <add key="DCWriterCode" value="04E7783C53ABB3DF7AB70C574B5918FB2AE256671CC0C58B203263807AB34D1BD94D7A58D89D3558D030B6DE3AA14DF69BF7FEEF8223D8CD1B9C5485A34702880C97D7F8F9A7939E82FCA28C3A90598C073E26A529E74E47CE8BADE5F17F89D37B" />
    <add key="DCTimeLineCode" value="" />
    <add key="SpecifyOrigine" value="" />
    <add key="SpecifyWebCommandBlackList" value="dcaboutcontrol" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="2097152000" executionTimeout="90" />
    <compilation targetFramework="4.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
<!--ProjectGuid: 261FCEEF-3BC2-4536-9C18-A0313CD582E3-->