<div id="nav-col">
    <div id="col-left-inner" class="col-left-nano-content">
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
                @*<li class="nav-header hidden-sm hidden-xs">
                常用菜单
                <i class="fa fa-gear" style="color: #868b98; font-size: 12px; margin-top: -6px; position: absolute; right: 23px; top: 50%; cursor: pointer;"></i>
                </li>
                <li class="common">
                <a href="#">
                <i class="fa fa-star-o"></i>
                <span>联系人</span>
                </a>
                </li>
                <li class="common">
                <a href="#">
                <i class="fa fa-star-o"></i>
                <span>合同</span>
                </a>
                </li>
                <li class="common">
                <a href="maps.html">
                <i class="fa fa-star-o"></i>
                <span>产品</span>
                </a>
                </li>
                <li class="common">
                <a href="#">
                <i class="fa fa-star-o"></i>
                <span>客户</span>
                </a>
                </li>*@
            </ul>
        </div>
    </div>
</div>
