@using NewtouchHIS.Lib.Base.Model;
@using NewtouchHIS.Lib.Framework.Operator;
@inject IHttpContextAccessor _httpContextAccessor;
@{
    var opr = OperatorProvider.GetCurrent();
    var loginFromFlag = ViewBag.loginFromFlag;
}
<div class="nav-no-collapse pull-right" id="header-nav">
    <ul class="nav navbar-nav pull-right">
@*        <li class="mobile-search">
            <a class="btn">
                <i class="fa fa-search"></i>
            </a>
            <div class="drowdown-search">
                <form role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search...">
                        <i class="fa fa-search nav-search-icon"></i>
                    </div>
                </form>
            </div>
        </li>
        <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-tasks"></i>
                <span class="count">5</span>
            </a>
        </li>*@
        <li class="dropdown hidden-xs">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell"></i>
                @*<span class="count">8</span>*@
            </a>
            <ul class="dropdown-menu list-group">
@*                <li class="list-group-item">
                    <span class="label label-success">质控</span>
                </li>*@
                <li class="list-group-item">
                    <a class="menuItem" data-id="noticeInfo" href="/SysManage/Notice/Index">
                        <i class="fa fa-angle-double-right"></i>消息中心
                    </a>
                </li>
            </ul>
        </li>
        @*        <li class="dropdown hidden-xs">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="count">16</span>
            </a>
        </li>
        <li class="dropdown hidden-xs">
            @if (_httpContextAccessor.HttpContext?.Request.Path.Value?.Contains("SSOIndex") ?? true)
            {
                <a title="切换旧版视图" href="/Home/Index">
                    <i class="fa fa-exchange"></i>
                </a>
            }
            else
            {
                <a title="切换新版视图" href="/Home/SSOIndex">
                    <i class="fa fa-exchange"></i>
                </a>
            }

        </li>*@
        <li class="dropdown profile-dropdown">
            <a href="#" class="dropdown" data-toggle="dropdown">
                <i class="fa fa-user" style="float: left; margin-right: 5px; width: 25px; font-size: x-large; padding-top: 5px;"></i>
                <span class="hidden-xs" style="width:120px;">@opr.UserName【@opr.UserCode】</span>
            </a>

            <ul class="dropdown-menu pull-right">
                @* <li><a class="menuItem" data-id="userInfo" href="/SystemManage/User/PersonalInfo"><i class="fa fa-user"></i>个人信息</a></li> *@
                @*<li><a href="javascript:void(0);" onclick="layer.msg('浏览器缓存清除成功');"><i class="fa fa-trash-o"></i>清空缓存</a></li>*@
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-paint-brush"></i>皮肤设置</a>
                    <div class="tab-pane" id="control-sidebar-home-tab">
                    </div>
                </li>
                @{
                    if (loginFromFlag == "SSO")
                    {
                        <li class="divider" style="margin: 0px 0;"></li>
                        <li><a href="~/Login/ReturnSSOHome"><i class="fa fa-undo"></i>返回首页</a></li>
                        <li class="divider" style="margin: 0px 0;"></li>
                    }
                    else
                    {
                        <li class="divider"></li>
                    }
                }
                <li><a href="~/Login/OutLogin"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
            </ul>
        </li>
    </ul>
</div>