<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDbContext" connectionString="Server=61.172.179.6,30557;Initial Catalog=NewtouchHIS_Base;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />
  <add name="DbHelperSQL.DefaultConn" connectionString="Server=61.172.179.6,30557;Initial Catalog=NewtouchHIS_Base;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />
  
  <!-- Redis -->
  <add name="RedisServer" connectionString="61.172.179.6:32079,connectTimeout=500,password=newtouch" />
</connectionStrings>