<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登录身份维持时间（单位：分）-->
  <add key="LoginStatusKeepMinute" value="3000" />
  <!-- 多终端互踢 -->
  <add key="EnableMultipleLoginLimit" value="true" />
  <!-- 多终端互踢-同一账号，最大同时在线数 -->
  <add key="MultipleLoginLimit_Count" value="10" />

  <!--启用IP过滤（启用后 启用IP访问限制策略（仅对部分开放 或 部分限制访问）） -->
  <add key="Is_IPFilter" value="false" />
  
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 软件版本 -->
  <add key="Version" value="1.00.00.0" />

  <add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>
  <!-- Reids缓存的key前缀 Cache Basic HOSP -->
  <add key="Reids_Cache_Prefix" value="$C_Base_H$"/>
  <!-- 登录用户默认密码 -->
  <add key="LoginUser_Default_Password" value="123456"/>
  <!-- 应用Id -->
  <add key="AppId" value="newtouch.base.web"/>

  <!-- 静态站点的Host -->
  <add key="SiteStaticHost" value="http://localhost:8014/"/>
  <add key="NoticeCorsDomain" value="http://localhost:28341/"/>
  <!--<add key="SiteStaticHost" value="http://localhost:20103/"/>-->
  
  <!-- 日志服务的Url -->
  <add key="His.Log.URL" value="http://116.63.143.14:7008/"/>
  
  <add key="vs:EnableBrowserLink" value="false"/>

	<!-- 单点登录url -->
	<add key="SSOLoginHost" value="http://127.0.0.1:8005/Login/Index"/>
	<!-- 单点登录首页url -->
	<add key="SSOHomeHost" value="http://127.0.0.1:8005/Home/AuthorizedIndex"/>
	<!-- 单点登出url -->
	<add key="SSOOutLogin" value="http://127.0.0.1:8005/Login/OutLogin"/>

  <!-- 药房药库api URL -->
  <add key="SitePdsAPIHost" value="http://oh-pds-api:80/"/>
  <add key="ReportUrl" value="http://localhost:8000/"/>
</appSettings>