<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- ================== 1：开发系统相关配置 ================== -->
	<!-- 登录身份维持时间（单位：分）-->
	<add key="LoginStatusKeepMinute" value="30" />
	<!-- 多终端互踢 -->
	<add key="EnableMultipleLoginLimit" value="true" />
	<!-- 多终端互踢-同一账号，最大同时在线数 -->
	<add key="MultipleLoginLimit_Count" value="10" />

	<!--启用IP过滤（启用后 启用IP访问限制策略（仅对部分开放 或 部分限制访问）） -->
	<add key="Is_IPFilter" value="false" />

	<!-- ================== 2：系统软件参数配置 ================== -->
	<!-- 软件版本 -->
	<add key="Version" value="1.00.00.0" />

	<!-- （顶级）组织机构Id -->
	<add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>

	<!-- Reids缓存的key前缀 Cache Basic HOSP -->
	<add key="Reids_Cache_Prefix" value="$C_Base_H$"/>
	<!-- 登录用户默认密码 -->
	<add key="LoginUser_Default_Password" value="123456"/>
	<!-- 应用Id -->
	<add key="AppId" value="newtouch.base.web"/>
	<!-- 页面domain（嵌套其他域页面，并执行js 要设置成同一域）-->
	<add key="Document_Domain" value="1.183.188.77"/>

	<!-- SETTAPI地址-统一授权用户身份换取 -->
	<add key="UAUserInfoGetAPI" value="http://192.168.22.5:7022/api/UA/GetUserInfo"/>


	<!-- 静态站点的Host -->
  <add key="SiteStaticHost" value="http://1.183.188.77:8011/"/>

	<!-- 日志服务的Url --><!--
	<add key="His.Log.URL" value="http://61.172.179.30:1703/"/>-->

	<add key="vs:EnableBrowserLink" value="false"/>

	<!-- 单点登录url --><!--
	<add key="SSOLoginHost" value="http://192.168.22.5:16314/Login/Index"/>
	--><!-- 单点登录首页url --><!--
	<add key="SSOHomeHost" value="http://192.168.22.5:16314/Home/AuthorizedIndex"/>
	--><!-- 单点登出url --><!--
	<add key="SSOOutLogin" value="http://192.168.22.5:16314/Login/OutLogin"/>-->

	<!-- 药房药库api URL -->
	<add key="SitePdsAPIHost" value="http://192.168.22.5:7004/"/>

	<add key="ReportUrl" value="http://192.168.22.5:8010/"/>
</appSettings>