
@{
    Layout = null;
}
<style>
    #dv_zyinfo input {
        border-top: none;
        border-left: none;
        border-right: none;
        text-wrap: normal;
        border-bottom-color: #74e8b5;
    }

    .spanleft {
        float: left;
        padding-top: 5px;
    }

    .spanright {
        float: right;
        padding-top: 5px;
    }

    /*td span[role=combobox]
    {
        border:none;
    }*/
</style>
<div id="dv_zyinfo">
    <div>
        <table class="form" style="table-layout:fixed;">
            @*<tr>
            <th class="formTitle">病情分型</th>
            <td class="formValue" colspan="3">
                <div style="width:100px; float:left;">
                    <select id="BQFX" name="BQFX" class="form-control" data-enumtype="EnumRybq"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </div>
                <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">
                    1.有&nbsp;&nbsp;2.临床未确定&nbsp;&nbsp;3.情况不明&nbsp;&nbsp;4.无
                </span>
            </td>
        </tr>*@
            <tr>
                <th class="formTitle" style="width:120px">损伤、中毒的外部原因</th>
                <td class="formValue" colspan="5"><input id="WBYY" name="WBYY" attr-zddm="" attr-ICD10="" class="form-control" /></td>
                <th class="formTitle">疾病编码</th>
                <td class="formValue"><input id="H23" name="H23" attr-zddm="" attr-ICD10="" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">病理诊断</th>
                <td class="formValue" colspan="3"><input id="BLZD" name="BLZD" attr-zddm="" attr-ICD10="" class="form-control" /></td>
                <th class="formTitle">疾病编码</th>
                <td class="formValue"><input id="BLZDDM" name="BLZDDM" attr-zddm="" attr-ICD10="" class="form-control" /></td>
                <th class="formTitle">病理号</th>
                <td class="formValue"><input id="BLH" name="BLH" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>药物过敏</th>
                <td class="formValue" colspan="2">
                    <div style="white-space:normal;overflow:hidden; ">
                        <div style="width:50px; margin:0 auto;float: left;">
                            <select id="YWGM" name="YWGM" class="form-control" data-enumtype="EnumHorN"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <span class="formValue" style=" height:25px; line-height:25px; float:left;margin-left:0px; margin-left:5px;" align="left">1.无&nbsp;&nbsp;2.有</span>
                    </div>
                </td>
                <th class="formTitle">过敏药物</th>
                <td class="formValue" colspan="3"><input id="GMYW" name="GMYW" class="form-control" /></td>
                <th class="formTitle">死亡患者尸检</th>
                <td class="formValue" colspan="2">
                    <div style="width:60px; float:left;">
                        <select id="SWHZSJ" name="SWHZSJ" class="form-control" data-enumtype="EnumSwhzsj">
                            <option>-</option>
                        </select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">1.是&nbsp;&nbsp;2.否</span>
                </td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>血型</th>
                <td class="formValue" colspan="10">
                    <div style="width:60px; float:left;">
                        <select id="XX" name="XX" class="form-control" data-enumtype="EnumBloodType"></select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">
                        1.A&nbsp;&nbsp;2.B&nbsp;&nbsp;3.O&nbsp;&nbsp;4.AB&nbsp;&nbsp;5.不详&nbsp;&nbsp;6.未查
                    </span>
                    <span class="formTitle" style="float:left; height:35px; line-height:35px;"><span class="required">*</span>RH</span>
                    <div style="width:60px; float:left;">
                        <select id="RH" name="RH" class="form-control" data-enumtype="EnumBloodTypeRH"></select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">
                        1.阴&nbsp;&nbsp;2.阳&nbsp;&nbsp;3.不详&nbsp;&nbsp;4.未查
                    </span>
                </td>
            </tr>
            <tr>
                <th class="formTitle">输血品种</th>
                <td colspan="10">
                    <div style="width:130px;margin-right:15px;float:left;padding-left:0px;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">1.红细胞</span>
                        <input id="HXB" name="HXB" class="form-control" style="width:50px;float:left;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                        <span style="float:left;padding-right:10px;padding-top: 5px;">U</span>
                    </div>
                    <div style="width:160px;margin-right:10px;float:left;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">2.血小板</span>
                        <input id="XXB" name="XXB" class="form-control" style="width:50px;float:left;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                        <span style="float:left;padding-right:10px;padding-top: 5px;">治疗量</span>
                    </div>
                    <div style="width:125px;margin-right:10px;float:left;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">3.血浆</span>
                        <input id="XJ" name="XJ" class="form-control" style="width:50px;float:left;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                        <span style="float:left;padding-right:10px;padding-top: 5px;">ml</span>
                    </div>
                    <div style="width:125px;margin-right:10px;float:left;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">4.全血</span>
                        <input id="QX" name="QX" class="form-control" style="width:50px;float:left;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                        <span style="float:left;padding-right:10px;padding-top: 5px;">ml</span>
                    </div>
                    <div style="width:160px;margin-right:10px;float:left;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">5.自体血回输</span>
                        <input id="ZTXHS" name="ZTXHS" class="form-control" style="width:50px;float:left;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                        <span style="float:left;padding-right:10px;padding-top: 5px;">ml</span>
                    </div>
                    <div style="width:130px;margin-right:10px;float:left;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">6.白蛋白</span>
                        <input id="BDB" name="BDB" class="form-control" style="width:50px;float:left;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                        <span style="float:left;padding-right:10px;padding-top: 5px;">g</span>
                    </div>
                    <div style="width:130px;margin-right:10px;float:left;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">7.冷沉淀</span>
                        <input id="LCD" name="LCD" class="form-control" style="width:50px;float:left;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                        <span style="float:left;padding-right:10px;padding-top: 5px;">U</span>
                    </div>
                    <div style="width:130px; margin-right:10px; float:left;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">8.其他</span>
                        <input id="QT" name="QT" class="form-control" style="width:80px;float:left;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                    </div>
                    <div style="width:255px;float:left;" class="formValue">
                        <span style="float:left;padding-right:10px;padding-top: 5px;">输血反应</span>
                        <div style="width:60px; float:left; padding:0px;">
                            <select id="SXFY" name="SXFY" data-enumtype="EnumSXFY" class="form-control"></select>
                            <input style="height:0px;border-width:1px; width:60px;" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" />
                        </div>
                        <span class="formValue" style="height:25px; line-height:25px; width:100px; float:left;margin-left:20px;">1.是&nbsp;&nbsp;2.否&nbsp;&nbsp;3.未输</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">随诊</th>
                <td colspan="9">
                    <div style="width:60px; float:left; padding:0px; margin-left:5px;" class="formValue">
                        <select id="SZ" name="SZ" data-enumtype="EnumNewYorN" class="form-control">
                            <option>-</option>
                        </select>
                        <input style="height:0px;border-width:1px; width:60px;" class="form-control" />
                    </div>
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">1.是&nbsp;&nbsp;2.否</span>
                    <div style="width:410px; float:left; margin-left:40px;" class="formValue">
                        <span style="float:left;padding-right:20px;padding-top: 5px;" class="formTitle">随诊期限</span>
                        <input id="SZQXZ" name="SZQXZ" class="form-control" style="width:20%;float:left;text-align:center;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">周</span>
                        <input id="SZQXY" name="SZQXY" class="form-control" style="width:20%;float:left;text-align:center;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">月</span>
                        <input id="SZQXN" name="SZQXN" class="form-control" style="width:20%;float:left;text-align:center;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">年</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>科主任</th>
                <td class="formValue"><input id="KZR" name="KZR" class="form-control" /></td>
                <th class="formTitle"><span class="required">*</span>主任（副主任）医师</th>
                <td class="formValue"><input id="ZRYS" name="ZRYS" class="form-control" /></td>
                <th class="formTitle"><span class="required">*</span>主诊医师</th>
                <td class="formValue"><input id="ZZYS" name="ZZYS" class="form-control" /></td>
                <th class="formTitle"><span class="required">*</span>主治医师</th>
                <td class="formValue"><input id="ZZYS1" name="ZZYS1" class="form-control" /></td>
                <th class="formTitle"><span class="required">*</span>住院医师</th>
                <td class="formValue"><input id="ZYYS" name="ZYYS" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>责任护士</th>
                <td class="formValue"><input id="ZRHS" name="ZRHS" class="form-control" /></td>
                <th class="formTitle">进修医师</th>
                <td class="formValue"><input id="JXYS" name="JXYS" class="form-control" /></td>
                <th class="formTitle">实习医师</th>
                <td class="formValue"><input id="SXYS" name="SXYS" class="form-control" /></td>
                <th class="formTitle"><span class="required">*</span>编码员</th>
                <td class="formValue"><input id="BMY" name="BMY" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">病案质量</th>
                <td class="formValue">
                    <select id="BAZL" name="BAZL" class="form-control" style="border:none;" data-enumtype="EnumBazl"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle">质控医师</th>
                <td class="formValue"><input id="ZKYS" name="ZKYS" class="form-control" /></td>
                <th class="formTitle">质控护士</th>
                <td class="formValue"><input id="ZKHS" name="ZKHS" class="form-control" /></td>
                <th class="formTitle">质控日期</th>
                <td class="formValue">
                    <input id="ZKRQ" type="text" class="form-control input-wdatepicker formClearIgnore" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <div style="width:100%">
                        <div style="width:270px;float:left;height:30px;line-height:30px" class="formValue">Ⅰ类手术切口预防性应用抗菌药物使用持续时间：</div>
                        <div style="float:left;width:5%;" class="formValue">
                            <input id="SYCXSJ" name="SYCXSJ" class="form-control" style="float:left;width:60px;" onkeyup="value=value.replace(/[^\d.]/g,'')" />
                        </div>
                        <div style="float:left;" class="formValue">
                            <span style="float:left;height:30px;line-height:30px;">小时</span>
                        </div>
                        <span style="float:left;height:30px;line-height:30px;" class="formValue">联合用药</span>
                        <div style="width:65px; float:left;" class="formValue">
                            <select id="LHYY" name="LHYY" data-enumtype="EnumYorN" class="form-control">
                                <option style="display :none">
                            </select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <span style="float:left;margin-left:20px;height:30px;line-height:30px;" class="formValue">1.是&nbsp;&nbsp;2.否</span>
                    </div>
                </td>
            </tr>
            <tr>
                @*<th class="formTitle"></th>
            <td class="formValue" colspan="3"></td>
            <th class="formTitle">是否实施临床路径管理</th>
            <td class="formValue">
                <select id="SSLCLJ" name="SSLCLJ" class="form-control" data-enumtype="EnumHorN"></select>
                <input style="height:0px;border-width:1px;" class="form-control" />
            </td>*@
                <th class="formTitle">是否实施临<br />床路径管理</th>
                <td class="formValue" colspan="10">
                    <div style="overflow:hidden;white-space:normal;width:50%;float:left;">
                        <div style="width:60px; float:left;">
                            <select id="SSLCLJ" name="SSLCLJ" class="form-control" data-enumtype="EnumNewYorN"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">1.是&nbsp;&nbsp;2.否</span>

                        <span style="float:left;padding-right:5px;line-height:30px; margin-left:40px;" class="formTitle">是否完成临床路径</span>
                        <div style="width:60px; float:left;">
                            <select id="WCLCLJ" name="WCLCLJ" class="form-control" data-enumtype="EnumNewYorN">
                                <option>-</option>
                            </select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">1.是&nbsp;&nbsp;2.否，退出原因：</span>
                        <input id="TCYY" name="TCYY" class="form-control" style="width:15.4%;height:30px;float:left;" />
                    </div>

                    <div style="overflow:hidden;white-space:normal;width:47%;float:left;">
                        <div style="float:left;line-height:30px; margin-left:30px;">是否变异</div>
                        <div style="width:60px; float:left;">
                            <select id="SFBY" name="SFBY" class="form-control" data-enumtype="EnumNewYorN">
                                <option>-</option>
                            </select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">
                            1.是&nbsp;&nbsp;2.否，变异原因：
                        </div>
                        <div style="width:80px; float:left;">
                            <select id="BYYY" name="BYYY" class="form-control" data-enumtype="EnumBYYY">
                                <option>-</option>
                            </select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div class="formValue" style="width:170px; height:25px; line-height:25px; float:left;margin-left:20px;">

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>离院方式</th>
                <td class="formValue">
                    <select id="LYFS" name="LYFS" class="form-control" data-enumtype="EnumLyfs"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <th class="formTitle" colspan="2">医嘱转院拟接收医疗机构名称</th>
                <td class="formValue" colspan="2"><input id="YZZY_YLJG" name="YZZY_YLJG" class="form-control" /></td>
                <th class="formTitle">医嘱转社区卫生服务机构/乡镇卫生院,拟接收医疗机构名称</th>
                <td class="formValue" style="width:170px; height:25px; line-height:25px; float:left;margin-left:200px;"><input id="WSY_YLJG" name="WSY_YLJG" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">检查情况</th>
                <td class="formValue" colspan="10" style="width:200px">
                    <div style="float:left" class="formValue">
                        <div style="float:left;line-height:30px;">CT</div>
                        <div style="width:55px; float:left;">
                            <select id="CT" name="CT" class="form-control" data-enumtype="EnumJCQK"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div style="float:left;line-height:30px; margin-left:25px;">PETCT</div>
                        <div style="width:55px; float:left;">
                            <select id="PETCT" name="PETCT" class="form-control" data-enumtype="EnumJCQK"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div style="float:left;line-height:30px; margin-left:25px;">双源CT</div>
                        <div style="width:55px; float:left;">
                            <select id="SYCT" name="SYCT" class="form-control" data-enumtype="EnumJCQK"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div style="float:left;line-height:30px; margin-left:25px;">B超</div>
                        <div style="width:55px; float:left;">
                            <select id="BC" name="BC" class="form-control" data-enumtype="EnumJCQK"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div style="float:left;line-height:30px; margin-left:25px;">X片</div>
                        <div style="width:55px; float:left;">
                            <select id="XP" name="XP" class="form-control" data-enumtype="EnumJCQK"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div style="float:left;line-height:30px; margin-left:25px;">超声心动图</div>
                        <div style="width:55px; float:left;">
                            <select id="CSXDT" name="CSXDT" class="form-control" data-enumtype="EnumJCQK"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div style="float:left;line-height:30px; margin-left:25px;">MRI</div>
                        <div style="width:55px; float:left;">
                            <select id="MRI" name="MRI" class="form-control" data-enumtype="EnumJCQK"></select>
                            <input style="height:0px;border-width:1px;" class="form-control" />
                        </div>
                        <div style="float:left;line-height:30px; margin-left:25px;">同位素检查</div>
                        <div style="width:55px; float:left;">
                            <select id="TWSJC" name="TWSJC" class="form-control" data-enumtype="EnumJCQK"></select>
                            <input style="height:0px; border-width:1px;" class="form-control" />
                        </div>
                        <span class="formValue" style=" float:left;margin-left:5px; ">1.阳性&nbsp;&nbsp;2.阴性&nbsp;&nbsp;3.未做</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" colspan="1"><span class="required">*</span>是否有出院31天内<br />再住院计划</th>
                <td class="formValue">
                    <div style="width:60px; float:left;">
                        <select id="SFZZYJH" name="SFZZYJH" class="form-control" data-enumtype="EnumHorN">
                            <option style="display :none">
                        </select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:20px;">1.无&nbsp;&nbsp;2.有</span>
                </td>
                <th class="formTitle">目的</th>
                <td class="formValue" colspan="2"><input id="MD" name="MD" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle" colspan="1"><span class="required">*</span>颅脑损伤患者昏迷时间</th>
                <td class="formValue" colspan="7">
                    <span class="spanleft"><span class="required">*</span>入院前</span>
                    <input id="RYQ_T" name="RYQ_T" class="form-control" style="width:10%;float:left;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">天</span>
                    <input id="RYQ_XS" name="RYQ_XS" class="form-control" style="width:10%;float:left;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">小时</span>
                    <input id="RYQ_F" name="RYQ_F" class="form-control" style="width:10%;float:left;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">分钟</span>
                    <span class="spanleft" style="padding-left:20px;"><span class="required">*</span>入院后</span>
                    <input id="RYH_T" name="RYH_T" class="form-control" style="width:10%;float:left;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">天</span>
                    <input id="RYH_XS" name="RYH_XS" class="form-control" style="width:10%;float:left;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">小时</span>
                    <input id="RYH_F" name="RYH_F" class="form-control" style="width:10%;float:left;" onkeyup="this.value=this.value.replace(/\D/g,'')" /><span class="spanleft">分钟</span>
                </td>
            </tr>

        </table>
        <hr />
    </div>

</div>
<script>
    //诊断
    $("#BLZD").zdFloatingSelector({
        zdlx: "病理诊断",
        width: 600,
        itemdbclickhandler: function ($this) {
            $("#BLZD").val($this.attr('data-zdmc')).attr("attr-zddm", $this.attr('data-code')).attr("attr-ICD10", $this.attr('data-icd10'));
            $("#BLZDDM").val($this.attr('data-icd10'));
        }
    });

    $("#BLZDDM").zdFloatingSelector({
        zdlx: "病理诊断",
        width: 600,
        itemdbclickhandler: function ($this) {
            $("#BLZD").val($this.attr('data-zdmc')).attr("attr-zddm", $this.attr('data-code')).attr("attr-ICD10", $this.attr('data-icd10'));
            $("#BLZDDM").val($this.attr('data-icd10'));
        }
    });

    $("#WBYY").zdFloatingSelector({
        zdlx: "损伤中毒原因",
        width: 600,
        itemdbclickhandler: function ($this) {
            $("#WBYY").val($this.attr('data-zdmc')).attr("attr-zddm", $this.attr('data-code')).attr("attr-ICD10", $this.attr('data-icd10'));
            $("#H23").val($this.attr('data-icd10'));
        }
    });

    $("#H23").zdFloatingSelector({
        zdlx: "损伤中毒原因",
        width: 600,
        itemdbclickhandler: function ($this) {
            $("#WBYY").val($this.attr('data-zdmc')).attr("attr-zddm", $this.attr('data-code')).attr("attr-ICD10", $this.attr('data-icd10'));
            $("#H23").val($this.attr('data-icd10'));
        }
    });
    
    $("#KZR").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#ZRYS").dutyStaffFloatingSelector({
		dutyCode: 'fzrys'
    });
    $("#ZZYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
	});
	$("#ZZYS").dutyStaffFloatingSelector({
		dutyCode: 'Doctor'
	});
	$("#ZZYS1").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#JXYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#SXYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#ZKYS").dutyStaffFloatingSelector({
        dutyCode: 'Doctor'
    });
    $("#ZRHS").dutyStaffFloatingSelector({
        dutyCode: 'Nurse'
    });
    $("#ZKHS").dutyStaffFloatingSelector({
        dutyCode: 'Nurse'
    });
    $("#BMY").dutyStaffFloatingSelector({
        dutyCode: ''
    });

    //$('#XX option').filter(function () { return $(this).text() == "未查"; }).attr("selected", true); 
    //$("#select2-XX-container option:contains('未查')").attr('title', '未查');
    //$('#select2-XX-results').attr('aria-selected', 'true');
    /*设置默认值 */
    function myOnload() {
        $(document).ready(function () {
            //离院方式
            $('#select2-LYFS-container').each(function () {
                var myvalue = '医嘱离院';
                $(this).html(myvalue);
            });
            $('#select2-LYFS-container').attr('title', '医嘱离院');
            $('#LYFS option').filter(function () { return $(this).text() == '医嘱离院'; }).attr('selected', true);

            //血型
            $('#select2-XX-container').each(function () {
                var myvalue = '未查';
                $(this).html(myvalue);
            });
            $('#select2-XX-container').attr('title', '未查');
            $('#XX option').filter(function () { return $(this).text() == '未查'; }).attr('selected', true); 

            //RH
            $('#select2-RH-container').each(function () {
                var myvalue = '未查';
                $(this).html(myvalue);
            });
            $('#select2-RH-container').attr('title', '未查');
            $('#RH option').filter(function () { return $(this).text() == '未查'; }).attr('selected', true); 

            //输血反应
            $('#select2-SXFY-container').each(function () {
                var myvalue = '未输';
                $(this).html(myvalue);
            });
            $('#select2-SXFY-container').attr('title', '未输');
            $('#SXFY option').filter(function () { return $(this).text() == '未输'; }).attr('selected', true);
            

            //病案质量
            $('#select2-BAZL-container').each(function () {
                var myvalue = '';
                $(this).html(myvalue);
            });
            $('#select2-BAZL-container').attr('title', '');

            //过敏药物
            $('#GMYW').val('无');

            //死亡患者尸检
            $('#select2-SWHZSJ-container').each(function () {
                var myvalue = '-';
                $(this).html(myvalue);
            });
            $('#select2-SWHZSJ-container').attr('title', '');
            $('#SWHZSJ option').filter(function () { return $(this).text() == '-'; }).attr('selected', true); 
            $('#SWHZSJ option').filter(function () { return $(this).text() == '-'; }).attr('value', '');

            //实施临床路径
            $('#select2-SSLCLJ-container').each(function () {
                var myvalue = '否';
                $(this).html(myvalue);
            });
            $('#select2-SSLCLJ-container').attr('title', '否');
            $('#SSLCLJ option').filter(function () { return $(this).text() == '否'; }).attr('selected', true);

            //ct
            $('#select2-CT-container').each(function () {
                var myvalue = '未做';
                $(this).html(myvalue);
            });
            $('#select2-CT-container').attr('title', '未做');
            $('#CT option').filter(function () { return $(this).text() == '未做'; }).attr('selected', true);

            //PETCT
            $('#select2-PETCT-container').each(function () {
                var myvalue = '未做';
                $(this).html(myvalue);
            });
            $('#select2-PETCT-container').attr('title', '未做');
            $('#PETCT option').filter(function () { return $(this).text() == '未做'; }).attr('selected', true);

            //SYCT 
            $('#select2-SYCT-container').each(function () {
                var myvalue = '未做';
                $(this).html(myvalue);
            });
            $('#select2-SYCT-container').attr('title', '未做');
            $('#SYCT option').filter(function () { return $(this).text() == '未做'; }).attr('selected', true);

            //BC 
            $('#select2-BC-container').each(function () {
                var myvalue = '未做';
                $(this).html(myvalue);
            });
            $('#select2-BC-container').attr('title', '未做');
            $('#BC option').filter(function () { return $(this).text() == '未做'; }).attr('selected', true);

            //XP 
            $('#select2-XP-container').each(function () {
                var myvalue = '未做';
                $(this).html(myvalue);
            });
            $('#select2-XP-container').attr('title', '未做');
            $('#XP option').filter(function () { return $(this).text() == '未做'; }).attr('selected', true);

            //CSXDT
            $('#select2-CSXDT-container').each(function () {
                var myvalue = '未做';
                $(this).html(myvalue);
            });
            $('#select2-CSXDT-container').attr('title', '未做');
            $('#CSXDT option').filter(function () { return $(this).text() == '未做'; }).attr('selected', true);

            //MRI 
            $('#select2-MRI-container').each(function () {
                var myvalue = '未做';
                $(this).html(myvalue);
            });
            $('#select2-MRI-container').attr('title', '未做');
            $('#MRI option').filter(function () { return $(this).text() == '未做'; }).attr('selected', true);

            //TWSJC 
            $('#select2-TWSJC-container').each(function () {
                var myvalue = '未做';
                $(this).html(myvalue);
            });
            $('#select2-TWSJC-container').attr('title', '未做');
            $('#TWSJC option').filter(function () { return $(this).text() == '未做'; }).attr('selected', true);
        });
    }

    myOnload();
</script>