
@{
    ViewBag.Title = "DzrCheck";
    Layout = "~/Views/Shared/_Form.cshtml";
    var opr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
    var reportUrl = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportUrl");
}
<div class="rows">
    <div class="panel panel-default">
        <table class="form">
            <tr>
                <th class="formTitle" id="thCZRQ">日期：</th>
                <td class="formValue" colspan="2">
                    <input id="txtCreateTimestart" type="text" class="form-control input-wdatepicker formClearIgnore" style="width:20%; float:left;" value="@DateTime.Now.ToString("yyyy-MM-01")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                    <span style="margin-left:2%;float:left;">—</span>
                    <input id="txtCreateTimeEnd" type="text" class="form-control input-wdatepicker formClearIgnore" style="width :20%;float:left;margin-left:2%;" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />

                    <input type="button" id="btn_search_tj" class="btn btn-primary btn-md" style="margin-left:10px;width:70px;" onclick="search()" value="本地明细查询" />
                    @*<input type="button" id="btn_search_dzz" class="btn btn-primary btn-md" style="margin-left:10px;width:50px;" value="对帐" />*@
                </td>
                <td class="formValue"></td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridJSList"></table>
    <div id="gridPager"></div>
</div>
<script>
    $(function () {
        var h = $(window).height() - 55;
        $('#layout iframe').css('height', h);
        gridJSListData();
    });
    function gridJSListData() {
        var gridSort = 'CreateTime asc';
        var $gridJsList = $("#gridJSList");
        $gridJsList.dataGrid({
            postData: { ksrq: $("#txtCreateTimestart").val(), jsrq: $("#txtCreateTimeEnd").val() },
            height: 400,
            caption: '本地明细数据',
            url: "/DaySettleManage/DaySettle/GetHistoryCheckList",
            colModel: [
                { label: '中心流水号', name: 'lsh', width: 50, align: 'left' },
                { label: '卡号', name: 'cardid', width: 100, align: 'left' },
                { label: '交易时间', name: 'jysj', width: 120, align: 'left' },
                { label: '类型', name: 'lx', width: 50, align: 'left' },
                { label: '当年', name: 'dn', width: 50, align: 'left' },
                { label: '历年', name: 'ln', width: 50, align: 'left' },
                { label: '现金', name: 'xj', width: 50, align: 'left' },
                { label: '统筹', name: 'tc', width: 50, align: 'left' },
                { label: '地方', name: 'df', width: 50, align: 'left' },
                { label: '分类自负', name: 'flzf', width: 50, align: 'left' },
                { label: '个人自费', name: 'grzf', width: 50, align: 'left' },
                { label: '姓名', name: 'xm', width: 100, align: 'left' },
                { label: '门诊编号', name: 'mzbh', width: 50, align: 'left' },
                { label: '号码', name: 'hm', width: 50, align: 'left' },
                { label: '终端', name: 'zd', width: 50, align: 'left' },
                { label: '标志', name: 'bz', width: 50, align: 'left' }

            ],
            pager: "#gridPager",
            sortname: gridSort,
            viewrecords: true,
            onSelectRow_page: function (rowid) {
                //console.log(rowid);
            },
            gridComplete: function (gridJszbList) {
                jszbList = null;
                if (gridJszbList && gridJszbList.rows) {
                    jszbList = gridJszbList.rows;
                    console.log(jszbList);
                }
            }
        });

        //查询事件
        $("#btn_search_tj").click(function () {
            $gridJsList.jqGrid('setGridParam', {
                postData: { ksrq: $("#txtCreateTimestart").val(), jsrq: $("#txtCreateTimeEnd").val() },
                url: '/DaySettleManage/DaySettle/GetHistoryCheckList',
                //page: 1,
            }).trigger('reloadGrid');
        });
    }
    @*function search() {
        if ($('#txtCreateTimestart').val().length == 0) {
            $.modalAlert("缺少开始时间", "error");
            return;
        }
        if ($('#txtCreateTimeEnd').val().length == 0) {
            $.modalAlert("缺少结束时间", "error");
            return;
        }
        if ($('#txtCreateTimestart').val() > $('#txtCreateTimeEnd').val()) {
            $.modalAlert("开始时间不能大于结束时间", "error");
            return;
        }

        var url = getUrl();
        var orgId = '@opr.OrganizeId';
        url += "&orgId=" + orgId;
        url += "&kssj=" + $('#txtCreateTimestart').val();
        url += "&jssj=" + $('#txtCreateTimeEnd').val();
        setTimeout("$.loading(true, '正在请求报表页面...');", 10);
        $("#iframerightiframerightiframerightttt").attr('src', url);
    }
     function getUrl() {
        var srcUrl = '@Html.Raw(reportUrl)';
         srcUrl += "?tempCode=1260";
        return srcUrl;
    }
    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });*@
    function AcceptClick(callBack) {
        $.modalClose();
    }
</script>
