
@{
    ViewBag.Title = "ChargeItemTemplate";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        gridList();
        chlidgridlist();
    })
    function gridList() {
        var $gridList = $("#parentgridList");
        $gridList.newtouchLocalDataGrid({
            treeGrid: true,
            //url: "/HospitalizationManage/BookkeepInHos/GetChargeItemData?ks=" + keyValue,
            height: 150,
            colModel: [
                { label: "主键", name: "sfmbbh", hidden: true, key: true },
                { label: "模板代码", name: "sfmb", width: 80, align: 'left' },
                { label: '模板名称', name: 'sfmbmc', width: 100, align: 'left' },
                { label: '执行科室', name: 'ksmc', width: 50, align: 'left' },
            ]
        });
    }

    function chlidgridlist() {
        $("#ChildgridList").newtouchLocalDataGrid({
            //url: "/HospitalizationManage/BookkeepInHos/loadData?sfxmbh=" + sfxmbh,
            height: 200,
            colModel: [
                { label: "主键", name: "sfmbbh", hidden: true, key: true },
                { label: '数量', name: 'sl', width: 50, align: 'left' },
                { label: '项目代码', name: 'py', width: 50, align: 'left' },
                { label: '名称', name: 'sfxmmc', width: 50, align: 'left' },
                { label: '单位', name: 'dw', width: 50, align: 'left' },
                { label: '单价', name: 'dj', width: 50, align: 'left' },
                { label: '医保代码', name: 'ybdm', width: 100, align: 'left' },
                { label: '费用类别', name: 'dlmc', width: 50, align: 'left' },
                { label: '规格', name: 'gg', width: 50, align: 'left' },
                { label: '剂量', name: 'jl', width: 50, align: 'left' },
                { label: '用法', name: 'yf', width: 50, align: 'left' },
                { label: '频率', name: 'pl', width: 50, align: 'left' },
                { label: '剂型', name: 'jx', width: 50, align: 'left' },
                { label: 'dlmc', name: 'dlmc', hidden: true },
                { label: 'dl', name: 'dl', hidden: true },
                { label: 'sfxm', name: 'sfxm', hidden: true },
                { label: 'zfxz', name: 'zfxz', hidden: true },
                { label: 'zfbl', name: 'zfbl', hidden: true },
            ],
            multiselect: true
        });
    }
</script>
<div class="gridPanel">
    <table id="parentgridList"></table>
    <table id="ChildgridList"></table>
</div>

