
@{
    ViewBag.Title = "HospiterResister";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<!DOCTYPE html>
<style type="text/css">
    span {
        color: red;
    }

    .btn-group label input {
        width: 25%;
        margin: 0;
    }

    #basicInfo table td, #InHospitalInfo table td {
        border: 0;
    }

    .active {
        background: rgb(238, 238, 238) !important;
    }
</style>
<script type="text/javascript" src="~/Content/js/HospiterRes/Register.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form id="form1">
        <div class="rows" style="margin-bottom: 1%;" id="basicInfo">
            <div class="panel panel-default" style="margin-bottom:0;">
                <div class="panel-heading navb-bg">
                    病人基本信息
                </div>
                <table class="form" style="width:98%;border:0">
                    <tr>
                        <th class="formTitle">卡号<span>*</span></th>
                        <td class="formValue">
                            <input type="text" id="kh" name="kh" class="form-control" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" id="noCardRes" value="免卡登记" onclick="btn_NocardRes()">
                                免卡登记
                            </button>
                        </td>
                        <td class="formTitle">
                            住院号<span>*</span>
                        </td>
                        <td class="formValue"> <input type="text" id="zyh" class="form-control  newtouch_Readonly" /></td>
                        <td class="formTitle">
                            姓名
                        </td>
                        <td class="formValue">  <input type="text" id="xm" class="form-control newtouch_Readonly" /></td>
                        <td class="formTitle">

                            <label id="zjlx">身份证号<span>*</span></label>
                        </td>
                        <td class="formValue">
                            <input type="text" id="zjh" class="form-control newtouch_Readonly" />
                        </td>
                    <tr>
                        <td class="formTitle">
                            出生年月
                        </td>
                        <td class="formValue">
                            @*onfocus="WdatePicker()"*@
                            <input id="csny" type="text" class="form-control newtouch_Readonly" />
                        </td>
                        <td></td>
                        <td class="formTitle">性别<span>*</span></td>
                        <td>
                            <div class="btn-group formValue" data-toggle="buttons">
                                <label class="btn btn-default" disabled>
                                    <input type="radio" id="xb" value="1" name="xb" class="form-control" />男
                                </label>
                                <label class="btn btn-default" disabled>
                                    <input type="radio" id="xb" value="0" name="xb" class="form-control" />女
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">年龄<span>*</span></td>
                        <td class="formValue">
                            <input type="text" id="nl" class="form-control newtouch_Readonly" />
                        </td>
                        <td class="formTitle">
                            病历号
                        </td>
                        <td class="formValue">
                            <input type="text" readonly="readonly" id="blh" class="form-control newtouch_Readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">电话</td>
                        <td class="formValue"><input type="text" id="dh" class="form-control newtouch_Readonly" /></td>
                        <td></td>
                        <td class="formTitle">地域</td>
                        <td class="formValue">
                            <select id="dy" class="form-control newtouch_Readonly">
                                <option value="">==请选择==</option>
                                <option value="0">本地</option>
                                <option value="1">外地</option>
                            </select>
                        </td>
                        <td class="formTitle">婚姻<span>*</span></td>
                        <td class="formValue">
                            <select id="hf" class="form-control newtouch_Readonly">
                                <option value="">==请选择==</option>
                                <option value="0">未婚</option>
                                <option value="1">已婚</option>
                            </select>
                        </td>
                        <td class="formValue"><input type="hidden" id="patid" /></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="InHospitalInfo" class="rows" style="margin-bottom: 1%;">
            <div class="panel panel-default" style="margin-bottom:0;">
                <div class="panel-heading navb-bg">住院基本信息</div>
                <table class="form" style="width:98%;border:0">
                    <tr>
                        <td class="formTitle">住院号<span>*</span></td>
                        <td class="formValue"><input type="text" id="zyh2" class="form-control newtouch_Readonly" readonly="readonly" /></td>
                        <td class="formTitle">健康教练</td>
                        <td class="formValue"><input type="text" id="jkjlmc" class="form-control" /></td>
                        <td class="formTitle">医生</td>
                        <td class="formValue"><input type="text" id="doctormc" class="form-control" /></td>
                        <td class="formTitle">床位</td>
                        <td class="formValue"><input type="text" id="cw" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">报销政策<span>*</span></td>
                        <td class="formValue">  <input type="text" id="brxzmc" name="brxzmc" class="form-control" /></td>
                        <td class="formTitle">入院诊断一</td>
                        <td class="formValue"><input type="text" id="zdmc1" class="form-control" /></td>
                        <td class="formTitle">入院诊断二</td>
                        <td class="formValue"> <input type="text" id="zdmc2" class="form-control" /></td>
                        <td class="formTitle">入院诊断三</td>
                        <td class="formValue"> <input type="text" id="zdmc3" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">入院日期<span>*</span></td>
                        <td class="formValue">
                            @*<input size="16" type="text" id="ryrq" class="form_datetime form-control">*@
                            <input id="ryrq" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                        </td>
                        <td class="formTitle">科室<span>*</span></td>
                        <td class="formValue">   <input type="text" id="ksmc" name="ksmc" class="form-control" /></td>
                        <td class="formTitle">病区<span>*</span></td>
                        <td class="formValue"> <input type="text" id="bqmc" name="bqmc" class="form-control" /></td>
                        <td class="formTitle">过敏史</td>
                        <td class="formValue"> <input type="text" id="gms" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">入院病情</td>
                        <td>
                            <div class="btn-group formValue" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" id="rybq" value="0" name="rybq" class="form-control" />一般
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" id="rybq" value="1" name="rybq" class="form-control" />危急
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">入院途径</td>
                        <td class="formValue">
                            <select class="form-control" id="rytj">
                                <option value="">==请选择==</option>
                                <option value="0">门诊</option>
                                <option value="1">急诊</option>
                                <option value="2">其他医疗机构转入</option>
                                <option value="3">120</option>
                            </select>
                        </td>
                        <td class="formTitle">职业<span>*</span></td>
                        <td class="formValue">
                            <select class="form-control" id="zy" name="zy">
                                <option value="">==请选择==</option>
                                <option value="0">其他</option>
                                <option value="1">工人</option>
                                <option value="2">退休工人</option>
                                <option value="3">干部</option>
                                <option value="4">军人</option>
                                <option value="5">教师</option>
                                <option value="6">农民</option>
                            </select>
                        </td>
                        <td class="formTitle">饮食</td>
                        <td class="formValue"> <input type="text" id="ys" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">出生地</td>
                        <td class="formValue">
                            <input type="text" id="cs_sheng" class="form-control" style="width:90px; float:left" />
                            <p style="float:right">省(区，市)</p>
                        </td>
                        @*<td class="formTitle">省(区，市)</td>*@
                        <td></td>
                        <td class="formValue">
                            <input type="text" id="cs_shi" class="form-control" style="width:125px; float:left" />
                            <p style="float:right">市</p>
                        </td>
                        @*<td class="formTitle">市</td>*@
                        <td></td>
                        <td class="formValue">
                            <input type="text" id="cs_xian" class="form-control" style="width:125px; float:left" />
                            <p style="float:right">县</p>
                        </td>
                        @*<td class="formTitle">县</td>*@
                    </tr>
                    <tr>
                        <td class="formTitle">现地址</td>
                        <td class="formValue"><input type="text" id="xian_sheng" class="form-control" style="width:90px; float:left" /><p style="float:right">省(区，市)</p></td>
                        @*<td class="formTitle">省(区，市)</td>*@
                        <td></td>
                        <td class="formValue"> <input type="text" id="xian_shi" class="form-control" style="width:125px; float:left" /><p style="float:right">市</p></td>
                        @*<td class="formTitle">市</td>*@
                        <td></td>
                        <td class="formValue"> <input type="text" id="xian_xian" class="form-control" style="width:125px; float:left" /><p style="float:right">县</p></td>
                        @*<td class="formTitle">县</td>*@
                        <td class="formTitle">地址</td>
                        <td class="formValue"><input type="text" id="xian_dz" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">户口地址</td>
                        <td class="formValue"><input type="text" id="hu_sheng" class="form-control" style="width:90px; float:left" /><p style="float:right">省(区，市)</p></td>
                        @*<td class="formTitle">省(区，市)</td>*@
                        <td></td>
                        <td class="formValue"> <input type="text" id="hu_shi" class="form-control" style="width:125px; float:left" /><p style="float:right">市</p></td>
                        @*<td class="formTitle">市</td>*@
                        <td></td>
                        <td class="formValue"> <input type="text" id="hu_xian" class="form-control" style="width:125px; float:left" /><p style="float:right">县</p></td>
                        @*<td class="formTitle">县</td>*@
                        <td class="formTitle">地址</td>
                        <td class="formValue"><input type="text" id="hu_dz" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">民族<span>*</span></td>
                        <td class="formValue"> <input type="text" id="mzmc" name="mzmc" class="form-control" /></td>
                        <td class="formTitle">国籍<span>*</span></td>
                        <td class="formValue"> <input type="text" id="gjmc" name="gjmc" class="form-control" /></td>
                        <td class="formTitle">婚姻<span>*</span></td>
                        <td class="formValue">
                            <select class="form-control" id="hy">
                                <option value="">==请选择==</option>
                                <option value="0">未婚</option>
                                <option value="1">已婚</option>
                            </select>
                        </td>
                        <td class="formTitle">报警额<span>*</span></td>
                        <td class="formValue"> <input type="text" id="bje" name="bje" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">紧急联系人<span>*</span></td>
                        <td class="formValue"> <input type="text" id="lxr" name="lxr" class="form-control" /></td>
                        <td class="formTitle">紧急联系人关系<span>*</span></td>
                        <td class="formValue">
                            <select id="lxrgx" name="lxrgx" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="1">夫妻</option>
                                <option value="2">父子</option>
                                <option value="3">母子</option>
                                <option value="4">父女</option>
                                <option value="5">兄弟</option>
                                <option value="6">姐弟</option>
                                <option value="0">其他</option>
                            </select>
                        </td>
                        <td class="formTitle">紧急移动电话<span>*</span></td>
                        <td class="formValue"><input type="text" id="lxrdh" name="lxrdh" class="form-control" /></td>
                        <td class="formTitle">紧急家庭电话</td>
                        <td class="formValue"> <input type="text" id="lxrjtdh" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">紧急联系人微信</td>
                        <td class="formValue">  <input type="text" id="lxrWebchat" class="form-control" /></td>
                        <td class="formTitle">紧急联系人邮箱</td>
                        <td class="formValue"><input type="text" id='lxrEmail' class="form-control" /></td>
                        <td class="formTitle">紧急联系人地址<span>*</span></td>
                        <td colspan="3" class="formValue">
                            <input type="text" id="lxrdz" name="lxrdz" class="form-control" style="width:101%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">第二联系人</td>
                        <td class="formValue"> <input type="text" id="lxr2" class="form-control" /></td>
                        <td class="formTitle">第二联系人关系</td>
                        <td class="formValue">
                            <select id="lxrgx2" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="0">其他</option>
                                <option value="1">夫妻</option>
                                <option value="2">父子</option>
                                <option value="3">母子</option>
                                <option value="4">父女</option>
                                <option value="5">兄弟</option>
                                <option value="6">姐弟</option>
                            </select>
                        </td>
                        <td class="formTitle">第二移动电话</td>
                        <td class="formValue"> <input type="text" id="lxryddh2" class="form-control" /></td>
                        <td class="formTitle">第二家庭电话</td>
                        <td class="formValue"> <input type="text" id="lxrjtdh2" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="formTitle">第二联系人微信</td>
                        <td class="formValue">  <input type="text" id="lxrWebchat2" class="form-control" /></td>
                        <td class="formTitle">第二联系人邮箱</td>
                        <td class="formValue"> <input type="text" id="lxrEmail2" class="form-control" /></td>
                        <td class="formTitle">第二联系人地址</td>
                        <td colspan="3" class="formValue">
                            <input type="text" id="lxrdz2" class="form-control" style="width:101%" />
                            @*<textarea id="lxrdz2" cols="20" class="form-control" rows="1"></textarea>*@
                        </td>
                    </tr>
                </table>
                @Html.Partial("_BottomButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel
           {
               ShowKeyList = new int[] { 4, 6, 7, 8, 9 },
               F6Text = "腕带",
               F7Text = "住院信息打印",
               F9Text = "取消入院"

           })
    </form>
</body>
</html>

