
@{
    ViewBag.Title = "PerformAccount";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<!DOCTYPE html>
<script>
    $(function () {
        gridList();
    });

    function gridList() {
        var $gridList = $("#HisgridList");
        $gridList.newtouchLocalDataGrid({
            //url: "/PatientManage/HospiterRes/GetGridJson",
            shrinkToFit: true,
            unwritten: false,
            height: $(window).height() - 215,
            datatype: "local",
            colModel: [
                { label: "主键", name: "id", hidden: true, key: true },
                { label: '患者姓名', name: 'xm', width: 80, align: 'left' },
                { label: '床位代码', name: 'cw', width: 100, align: 'left' },
                { label: '治疗项目', name: 'zlxm', width: 100, align: 'left' },
                //{ label: '替代项目', name: 'tdxm', width: 100, align: 'left' },
                { label: '长期/临时', name: 'sfcq', width: 100, align: 'left' },
                { label: '状态', name: 'zt', width: 50, align: 'left' },
                { label: '频次', name: 'pc', width: 50, align: 'left' },
                //{ label: '单价', name: 'dj', width: 80, align: 'left' },
                //{ label: '数量', name: 'sl', width: 50, align: 'left' },
                { label: '总价', name: 'zj', width: 80, align: 'left' },
                { label: '时长(分)', name: 'sc', width: 80, align: 'left' },
                { label: '治疗师', name: 'zls', width: 130, align: 'left' },
                // { label: '录入者', name: 'lrr', width: 100, align: 'left' },
                //{ label: '录入时间', name: 'lrsj', width: 150, align: 'left' },
                   { label: '开始时间', name: 'kssj', width: 150, align: 'left' },
                   { label: '结束时间', name: 'jssj', width: 150, align: 'left' },
                //    { label: '执行者', name: 'zxr', width: 100, align: 'left' },
                //{ label: '执行时间', name: 'zxsj', width: 150, align: 'left' },



            ],
            pager: "#gridPager",
            sortname: 'desc',
            rowNum: '10',
            viewrecords: true
        });

        var mydata = [
               { id: "1", cw: "4", zlxm: "静脉注射", dj: "￥185.00", xm: "张三", zls: "李慧Coco", kssj: "2017-03-13 08:00:00", jssj: "2017-03-19 08:00:00", sc: "20m", zlxm: "红外线治疗", tdxm: "构音障碍训练", sl: "2次", sfcq: "长期", zj: "￥185.00", zt: "有效", lrsj: "2017-03-13 08:00:00", zxsj: "2017-03-19 08:00:00", lrr: "admin", zxr: "李慧Coco" },
               { id: "2", cw: "2", dj: "￥215.00", bm: "PT", xm: "李四", zls: "李慧Coco", kssj: "2017-03-13 09:00:00", sc: "60m", zlxm: "有氧训练", tdxm: "", sl: "1次", sfcq: "长期", zj: "￥185.00", zt: "有效", jssj: "2017-03-19 08:00:00", lrsj: "2017-03-13 08:00:00", zxsj: "2017-03-19 08:00:00", lrr: "admin", zxr: "李慧Coco" },
               { id: "3", cw: "3", brxzmc: "医保", bm: "PT", xm: "王五", zls: "蒋朝凤Joanna", kssj: "2017-12-01 13:00:00", sc: "12m", zlxm: "运动疗法", tdxm: "磁疗", sl: "2次", sfcq: "长期", zj: "￥185.00", zt: "停止", jssj: "2017-03-19 08:00:00", lrsj: "2017-03-13 08:00:00", zxsj: "2017-03-19 08:00:00", lrr: "admin", zxr: "蒋朝凤Joanna" },
        ];
        for (var i = 0; i <= mydata.length; i++) {
            $gridList.jqGrid('addRowData', i + 1, mydata[i]);
        }
        //$gridList.closest(".ui-jqgrid-bdiv").css({ 'overflow-x': 'hidden' });
    }

    function moreInfo(rowId) {
        $.modalOpen({
            id: "Form",
            title: "更多信息",
            url: "/TherapeutistCompleteList/moreInfo",
            width: "900px",
            height: "430px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().patid;
        $.modalOpen({
            id: "Details",
            title: "查看基本信息",
            url: "/PatientManage/HospiterRes/Register?keyValue=" + keyValue,
            width: "1000px",
            height: "700px",
            btn: null,
        });
    }
</script>
<form id="form1">
    <div class="panel panel-default" style="margin-top:5px;">
        <div class="panel-heading">
            筛选条件
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form" style="width:80%">
                <tr>
                    <td class="formTitle">开始时间</td>
                    <td class="formValue">
                        <input id="Kssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd hh:mm:ss'})" />
                    </td>
                    <td class="formTitle">结束时间</td>
                    <td class="formValue">
                        <input id="Jssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd hh:mm:ss' })" />
                    </td>
                    <td class="formTitle">患者姓名</td>
                    <td class="formValue">
                        <input type="text" class="form-control" placeholder="姓名" />
                    </td>
                    <td style="padding-left:10px">
                        <input type="button" id="btn_search" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div class="gridPanel">
    <table id="HisgridList"></table>
    <div id="gridPager"></div>
</div>

@Html.Partial("_BottomButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel
{
    ShowKeyList = new[] { 6, 7, 8, 9 },
    F6Text = "审核",
    F7Text = "单条执行",
    F8Text = "全部执行",
    F9Text = "停止"
})
