<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

	<!-- 数据库 -->
	<add name="DefaultDbContext" connectionString="Server=1.183.188.77;Initial Catalog=Newtouch_EMR;User ID=sa;Password=a1b2c3d4*" providerName="System.Data.SqlClient" />

	<!-- Redis -->
	<!--<add name="RedisServer" connectionString="192.168.9.190:6379,connectTimeout=500,password=newtouch" />-->
  <add name="RedisServer" connectionString="D4A0810795BFABD5DF6D3B4D3A7FF0F03AD6996F3A909BF54748AFF78429F89697C20DDD02726669205CBC798E4C1EB7C73A01D4435A9AA3" />

</connectionStrings>