<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- ================== 1：系统软件参数配置 ================== -->
	<!-- 软件版本 -->
	<add key="Version" value="1.00.00.0" />

	<!-- ================== 2：开发系统相关配置 ================== -->
	<!-- 登录身份状态维持时间（单位：分）-->
	<add key="LoginStatusKeepMinute" value="30" />
	<!-- 多终端互踢 -->
	<add key="EnableMultipleLoginLimit" value="false" />
	<!-- 多终端互踢-同一账号，最大同时在线数 -->
	<add key="MultipleLoginLimit_Count" value="10" />
	<!-- Reids缓存的key前缀（为了多应用使用同一个数据库时，防止缓存错乱） -->
	<add key="Reids_Cache_Prefix" value="$emr$"/>
	<!-- 应用Id -->
	<add key="AppId" value="EMR"/>
	<add key="AppName" value="新致电子病历系统"/>

	<!-- API地址-统一授权用户身份换取 -->
	<add key="UAUserInfoGetAPI" value="http://localhost:8022/api/UA/GetUserInfo/"/>
	<!-- 页面domain（嵌套其他域页面，并执行js 要设置成同一域）-->
	<add key="Document_Domain" value="1.183.188.77"/>

	<!-- 顶级组织机构Id 157-->
	<add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>
	<!-- 顶级组织机构Id 160-->
	<!-- 创建新用户 时 默认关联角色 -->
	<add key="CreateUser_Default_RoleCode" value="DefaultRole"/>
	<!-- 静态站点的Host -->
  <add key="SiteStaticHost" value="http://localhost:8011/"/>

	<add key="SiteCISAPIHost" value="http://localhost:8023/"/>
	<!-- 日志服务的Url -->
	<add key="His.Log.URL" value="http://222.212.90.137:16007  /"/>
	<!-- 开关-是否加载左侧菜单树（默认加载） -->
	<add key="Is_LoadNavTree" value="true"/>
	<!-- 开关-是否开启菜单页面监控（左侧菜单树，点击，右边页面加载的时间） -->
	<add key="Is_NavPageLoadMoniter" value="true"/>
	<!-- 老报表服务,废弃字段 -->
	<add key="ReportServer.HOST" value="http://59.80.30.184:16015/ReportServer/"/>

	<add key="MRUploadURL" value="http://127.0.0.1:33333/"/>

	<!-- ================== 3：业务相关配置 ================== -->
	<!-- 病历文件保存路径 -->
	<add key="BlFilePath" value="~/File/住院病历/"/>
	<!-- 病历备份文件保存路径 -->
	<add key="BlBackupFilePath" value="~/File/BackupsBL/"/>
	<!-- 保留历史天数 1 为当天-->
	<add key="KeepBackupFileDays" value="1"/>
	<!-- 病历文件删除备份路径 -->
	<add key="BlFileDelPath" value="~/File/Del/"/>
	<!-- 病历模板保存路径 -->
	<add key="BlTemplatePath" value="~/File/Template/"/>
	<!-- 病历模板删除备份路径 -->
	<add key="BlTemplateDelPath" value="~/File/Template/Del/"/>
	<!-- 编辑器注册码(旗舰版) -->
	<add key="EditorRegCode" value="047A8882B1EFB8C62B7EAD3D6D8704C0D6324A16D3069057A45714D46C649C6732B3D69EB30B5AE4C43C263D91BC40E82E3DCD1DEBE7BAFF15C19C3E2C807BBA432A7A52E6A76FFECE00883CD3DE9724A4" />
	<!-- 是否启用病案首页分离 -->
	<add key="EnableWebHomePage" value="true"/>
	<!-- 是否连接手术系统 -->
	<add key="EnableLinkToOR" value="true"/>
	<!-- 是否连接病案系统 -->
	<add key="EnableLinkToMRMS" value="true"/>
	<!-- ================== 其他 ================== -->
	<add key="vs:EnableBrowserLink" value="false"/>
	<!-- 定点医疗机构代码 -->
	<add key="YBOrgCode" value="3011679"/>

	<!--  ActiveReports 服务地址-->
	<add key="ReportUrl"  value="http://localhost:8012/"/>
	<add key="ReportSystemCode"  value="EMR"/>
	<!-- 接口中心配置  -->
	<add key="Token_ApiManage" value="API.Manage"/>
	<add key="SiteAuthCenterHost" value="http://localhost:8026/"/>
	<add key="SiteApiManageHost" value="http://localhost:8025/"/>
</appSettings>