@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form id="form1">
    <div class="panel panel-default">
        <div class="panel-bodys" style="width: 95%;padding-left:15px;">
            <table class="form">
                <tr>
                    <th class="formTitle"><span class="required">*</span>组织机构：</th>
                    <td class="formValue formDdlSelectorTd">
                        <select id="OrganizeId" name="OrganizeId" class="form-control required">
                            <option value="">==请选择==</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle"><span class="required">*</span>诊疗组合名称：</th>
                    <td class="formValue">
                        <input id="zhmc" name="zhmc" type="text" class="form-control required" placeholder="请输入诊疗组合名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle"><span class="required">*</span>诊疗组合编码：</th>
                    <td class="formValue">
                        <input id="zhcode" name="zhcode" type="text" class="form-control" placeholder="请输入诊疗组合编码" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">明细项目排序：</th>
                    <td class="formValue">
                        <input id="ord" name="ord" type="text" class="form-control" placeholder="请输入明细项目排序" />
                    </td>
                </tr>
                <tr hidden>
                    <th class="formTitle">诊疗明细项目：</th>
                    <td class="formValue">
                        <input id="zlxm" name="zlxm" type="text" class="form-control" placeholder="请输入诊疗明细项目" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">诊疗明细项目名称：</th>
                    <td class="formValue">
                        <input id="zlxmmc" name="zlxmmc" type="text" class="form-control" placeholder="请输入诊疗明细项目名称" style="width:78%;float:left" />
                        <input type="button" id="tjmx" value="添加明细" onclick="tianjiamx()" class="btn btn-default" style="width:60px;height:20px;float:left" />
                    </td>
                </tr>
                <tr hidden>
                    <th class="formTitle">诊疗明细项目单价：</th>
                    <td class="formValue">
                        <input id="price" name="price" type="text" class="form-control" placeholder="请输入诊疗明细项目单价" />
                    </td>
                </tr>
                <tr hidden>
                    <th class="formTitle">诊疗明细项目拼音：</th>
                    <td class="formValue">
                        <input id="zlxmpy" name="zlxmpy" type="text" class="form-control" placeholder="请输入诊疗明细项目拼音" />
                    </td>
                </tr>
                <tr hidden>
                    <th class="formTitle">组合金额：</th>
                    <td class="formValue">
                        <input id="zhje" name="zhje" type="text" class="form-control" placeholder="请输入组合金额" />
                    </td>
                </tr>
            </table>
            <div id="divMXTable">
                <table id="MXTable"></table>
            </div>
            <p>
                <input type="button" id="addmx" value="保存" onclick="addMX()" class="btn btn-default" style="float:right;width:40px;height:20px;margin-top:5px;" />
                <input type="button" id="addmx" value="删除" onclick="deleteMX()" class="btn btn-default" style="float:right;margin-right:20px;width:40px;height:20px;margin-top:5px;" />
            </p>
        </div>
    </div>
</form>

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl(); debugger;
        if (!!keyValue) {
            $('#zhmc').attr("readonly", "readonly");
            $('#zhcode').attr("readonly", "readonly");
            $.ajax({
                url: "/Treatment/Codecx",  //请求的url地址
                dataType: "json",   //返回格式为json
                async: false,
                data: { zhcode: keyValue },  //参数值
                type: "POST",   //请求方式
                traditional: true,
                success: function (data) {
                    $("#form1").formSerialize(data[0]);
                    for (var i = 0; i < data.length; i++) {
                        $("#MXTable").addRowData(i, data[i], "last");
                    }
                    //请求成功时处理
                },
                error: function () {
                    //请求出错处理
                }
            });
            $("#OrganizeId").prop("disabled", true);
        }
    })
    function initControl() {
        //组织机构下拉框
        $("#OrganizeId").bindSelect({
            url: "/Organize/GetChildTreeSelectJson",
            selectedValue: $.request('orgId'),
        });
    }

    $("#zlxmmc").click(function () {
        $("#zlxmmc").val('');
    });

    var sfxmmc = "";//收费项目名称
    var sfxmdm = "";//收费项目代码
    var price = ""; //价格

    var zlxmpy = "";//拼音
    var sfdl = ""; //收费大类
    var sfdlcode = ""; //收费大类代码

    $('#zlxmmc').newtouchFloatingSelector({
        width: 600,
        height: 220,
        caption: "收费项目",
        clickautotrigger: true,
        url: '/SystemManage/BaseData/SelectSfxmYp',
        ajaxparameters: function () {
            return "keyword=" + $.trim($('#zlxmmc').val()) + "&mzzybz=1&dllb=2&sfdllx=OutpatientReg";
        },
        itemdbclickhandler: function ($thistr) {
            $('#zlxmmc').attr('data-ghlx', $thistr.attr('data-sfxmCode'))
                .attr('data-sfxmmc', $thistr.attr('data-sfxmmc'))
                .val($thistr.attr('data-sfxmmc'));
            $('#price').attr('data-ghlx', $thistr.attr('data-sfxmCode'))
                .attr('data-sfxmmc', $thistr.attr('data-sfxmmc'))
                .val($thistr.attr('data-dj'));
            $('#zlxmpy').attr('data-ghlx', $thistr.attr('data-sfxmCode'))
                .attr('data-sfxmmc', $thistr.attr('data-sfxmmc'))
                .val($thistr.attr('data-py'));

            sfxmmc = $thistr.attr('data-sfxmmc');
            sfxmdm = $thistr.attr('data-sfxmCode');
            price = $thistr.attr('data-dj');
            zlxmpy = $thistr.attr('data-py');

            sfdl = $thistr.attr('data-sfdlmc');
            sfdlcode = $thistr.attr('data-sfdlCode');
        },
        colModel: [{ label: '编码', name: 'sfxmCode', widthratio: 15 },
        { label: '名称', name: 'sfxmmc', widthratio: 25 },
        { label: '拼音', name: 'py', widthratio: 15 },
        { label: '单位', name: 'dw', widthratio: 8 },
        { label: '单价', name: 'dj', widthratio: 10 },
        { label: '收费大类', name: 'sfdlmc', widthratio: 15 },
        { label: '收费大类code', name: 'sfdlCode', widthratio: 15,hidden:true },
        ]
    });




    function tianjiamx() {
        debugger;
        var zlxmmcnull = $("#zlxmmc").val();
        if (!zlxmmcnull) {
            $.modalAlert("名称不能为空", 'warning');
        }
        else {
            if (!keyValue)
            {
                var btcode = $("#zhcode").val();
                var btzhmc = $("#zhmc").val();
                if (!btcode || !btzhmc) {
                    $.modalAlert("名称和编码为必填项！", 'warning');
                    return;
                }
                //判断文本框中的编码和明细表中的编码是否一致
                var jjzhcode = $("#MXTable").getCol("zhcode", false);

                var jjzhcodelie = $("#zhcode").val();
                var inzhcode = $.inArray(jjzhcode, chkzhcode)

                var zhmc = $("#zhmc").val();
                var zhcode = $("#zhcode").val();
                var ord = $("#ord").val();
                var datamx = [{ "zhmc": zhmc, "zhcode": zhcode, "ord": ord, "zlxm": sfxmdm, "zlxmmc": sfxmmc, "price": price, "zlxmpy": zlxmpy, "sfdl": sfdl, "sfdlcode": sfdlcode }];
                var rowid = 0;
                var zhcodetj = $("#zhcode").val();
                //获取某列数据
                var chkzhcode = $("#MXTable").getCol("zhcode", false);
                var inzhcode = $.inArray(zhcodetj, chkzhcode);
                var chkzlxmmc = $("#MXTable").getCol("zlxmmc", false);
                var inzlxmmc = $.inArray(sfxmmc, chkzlxmmc);

                if (inzhcode = -1 && inzlxmmc == -1) {
                    $.ajax({
                        url: "/Treatment/Tjchaxun",  //请求的url地址
                        dataType: "json",   //返回格式为json
                        async: false,
                        data: { zhcodetj: zhcodetj, sfxmmc: sfxmmc, orgId: $.request('orgId') },  //参数值
                        type: "POST",   //请求方式
                        traditional: true,
                        success: function (data) {

                            if (data = "0") {
                                $("#MXTable").addRowData(rowid, datamx, "last");
                            }
                            else {
                                $.modalAlert("诊疗项目组合已存在,请修改诊疗组合名称/编码",'success')
                            }
                        },
                        error: function () {
                            //请求出错处理
                        }
                    });
                }
                else {
                    $.modalAlert("列表已经存在此项目", 'success');
                }
            }
            else {

                $('#zhmc').attr("readonly", "readonly");
                $('#zhcode').attr("readonly", "readonly");

                var zhmc = $("#zhmc").val();
                var zhcode = $("#zhcode").val();
                var ord = $("#ord").val();
                //var zlxm = $("#zlxm").val();
                var datamx = [{ "zhmc": zhmc, "zhcode": zhcode, "ord": ord, "zlxm": sfxmdm, "zlxmmc": sfxmmc, "price": price, "zlxmpy": zlxmpy, "sfdl": sfdl, "sfdlcode": sfdlcode }];
                var rowid = 0;

                var zhcodetj = $("#zhcode").val();

                //获取某列数据
                var chkzhcode = $("#MXTable").getCol("zhcode", false);
                var inzhcode = $.inArray(zhcodetj, chkzhcode);
                var chkzlxmmc = $("#MXTable").getCol("zlxmmc", false);
                var inzlxmmc = $.inArray(sfxmmc, chkzlxmmc);

                if (inzhcode = -1 && inzlxmmc == -1) {
                    $.ajax({
                        url: "/Treatment/Tjchaxun",  //请求的url地址
                        dataType: "json",   //返回格式为json
                        async: true,
                        data: { zhcodetj: zhcodetj, sfxmmc: sfxmmc,orgId: $.request('orgId')  },  //参数值
                        type: "POST",   //请求方式
                        traditional: true,
                        success: function (data2) {

                            if (data2 = "0") {
                                $("#MXTable").addRowData(rowid, datamx, "last");
                            }
                            else {
                                $.modalAlert("诊疗项目组合已存在,请修改诊疗组合名称/编码", 'success')
                            }

                            // $("#MXTable").addRowData(rowid, data, "last");
                            //请求成功时处理
                        },
                        error: function () {
                            //请求出错处理
                        }
                    });
                }
                else {

                    $.modalAlert("列表已经存在此项目", 'success')
                }
            }
        }

        $("#zlxmmc").val('');

    }

    function deleteMX() {
        var keyValue = $.request("keyValue");
        if (!keyValue) {
            var rowKey = $("#MXTable").jqGrid('getGridParam', "selrow");
            var rowid = $("#MXTable").getGridParam("selrow");
            $("#MXTable").delRowData(rowid);
        }
        else {
            var keyValue = $("#MXTable").jqGridRowValue().zlxmmc;
            var zhcodemc = $("#zhcode").val();
            console.info("这是获取的ID" + keyValue);
            if (!!!keyValue) {
                $.modalAlert("请选中一条信息", 'warning');
                return;
            }
            $.deleteForm({
                url: "/Treatment/deletemc",
                param: { keyValue: keyValue, zhcodemc: zhcodemc, orgId: $.request('orgId') },
                success: function () {
                    var rowid = $("#MXTable").getGridParam("selrow");
                    $("#MXTable").delRowData(rowid);
                    $.currentWindow().$("#MXTable").trigger("reloadGrid");
                }
            })
        }

    }

    function addMX() {

        var rowData = $('#MXTable').jqGrid('getRowData');

        //var needRefundData = $("#gridList").jqGrid('getRowData_AllLine', true);
        //处理少一行bug
        var allOrgId = $('#MXTable').jqGrid('getDataIDs'); //这里获取所有行 主键id 是全的
        rowData.push($('#MXTable').jqGrid('getRowData', allOrgId[allOrgId.length - 1]));

        var dataset = JSON.stringify(rowData);

        var lastdata = $("#MXTable").jqGrid('getRowData_AllLine');
        $.najax({
            url: "/Treatment/rowdata",
            dataType: "json",
            data: { dataset: dataset, orgId: $.request('orgId') },
            traditional: true,
            type: "POST",
            success: function (data) {
                $.modalAlert("保存成功", 'success');
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
                $.modalClose();

            }
        });
    }

    $("#MXTable").dataGrid({
        colModel: [
            //{ label: "主键", name: "Id", hidden: true, key: true },
            { label: '编码', name: 'zhcode', width: 80, align: 'left', hidden: true },
            { label: '项目名称', name: 'zlxmmc', width: 110, align: 'left' },
            { label: '排序', name: 'ord', width: 40, align: 'left' },
            { label: '明细项目', name: 'zlxm', width: 84, align: 'left' },
            { label: '项目单价', name: 'price', width: 90, align: 'left', formatter: 'number', formatoptions: { thousandsSeparator: "", decimalPlaces: 2 } },
            { label: '项目拼音', name: 'zlxmpy', width: 100, align: 'left' },
            { label: '组合名称', name: 'zhmc', width: 80, align: 'left', hidden: true },
            //{ label: '组合金额', name: 'zhje', width: 100, align: 'left' },
            { label: '收费大类', name: 'sfdl', width: 100, align: 'left', hidden: true },
            { label: '收费大类code', name: 'sfdlcode', width: 100, align: 'left', hidden: true },
        ],
        width: "510",
        height: "150",
        pager: "#gridPager",
        rowNum: '10',
        unwritten: false,
    });

</script>
