
@{
    ViewBag.Title = "MorePatientInfo";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1" class="form">
    <div class="rows" style="margin-bottom: 1%; margin-top:5px;" id="HosBasicInfo">
        <div class="panel panel-default">
            <div class="panel-heading">
                病人信息
            </div>
            <table>
                <tr>
                    <td class="formTitle">
                        卡号:
                    </td>
                    <td class="formValue">
                        <input type="text" id="kh" class="form-control newtouch_Readonly" value="C1221" />
                    </td>
                    <td class="formTitle">
                        住院号:
                    </td>
                    <td class="formValue">
                        <input type="text" id="zyh" class="form-control newtouch_Readonly" value="164193" />
                    </td>
                    <td class="formTitle">
                        病人性质:
                    </td>
                    <td class="formValue">
                        <input type="text" id="brxzmc" class="form-control newtouch_Readonly" value="自费" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">
                        状态:
                    </td>
                    <td class="formValue">
                        <input type="text" id="zybz" class="form-control newtouch_Readonly" value="出院" />
                    </td>
                    <td class="formTitle">姓名:</td>
                    <td class="formValue">
                        <input type="text" id="xm" class="form-control newtouch_Readonly" value="张三" />
                    </td>
                    <td class="formTitle">性别:</td>
                    <td>
                        <div class="btn-group formValue" data-toggle="buttons">
                            <label class="btn btn-default" disabled>
                                <input type="radio" checked="checked" id="xb" value="1" name="xb" class="form-control" />男
                            </label>
                            <label class="btn btn-default" disabled>
                                <input type="radio" id="xb" value="0" name="xb" class="form-control" />女
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">出生日期:</td>
                    <td class="formValue">
                        <input class="form-control newtouch_Readonly" disabled readonly="readonly" type="text" value="1993-05-02" id="csny" />
                    </td>
                    <td class="formTitle">当前科室:</td>
                    <td class="formValue">
                        <input type="text" id="ksmc" class="form-control newtouch_Readonly" disabled="disabled" value="内一科" />
                    </td>
                    <td class="formTitle">床位号:</td>
                    <td class="formValue">
                        <input type="text" id="cw" class="form-control newtouch_Readonly" disabled="disabled" value="34" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

