@{
    ViewBag.Title = "病人基本信息";
}
<style>
    .MorePatientDetail {
        display: none;
    }

    .th_Required {
        position: relative;
    }

        .th_Required span {
            position: absolute;
            top: 11px;
            margin-left: 2px;
            color: red;
        }

        .th_Required input {
            float: left;
            width: 90%;
        }

        .th_Required select {
            float: left;
            width: 90%;
        }
</style>

<form name="form" style="margin:2px;">
    <table class="form MorePatientDetail" style="border-top: solid #DDDDDD 1px;">
        <tr>
            <th class="formTitle">姓名：</th>
            <td class="formValue th_Required">
                <input type="text" id="txtxm" name="txtxm" class="form-control" value="张三" />
                <span>*</span>
            </td>
            <th class="formTitle">性别：</th>
            <td class="formValue th_Required">
                <div class="btn-group formValue" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" value="1" name="radio_xb" checked class="form-control " />男
                    </label>
                    <label class="btn btn-default" disabled>
                        <input type="radio" value="0" name="radio_xb" class="form-control " />女
                    </label>
                </div>
                <span>*</span>
            </td>
            <th class="formTitle">出生日期：</th>
            <td class="formValue">
                <input id="txtcsny" type="text" class="form-control input-wdatepicker " onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" value="1988-08-12" />
            </td>
            <th class="formTitle">年龄：</th>
            <td class="formValue">
                <input id="txtnl" type="text" class="form-control input-wdatepicker " onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
            </td>
            <th class="formTitle">病人性质：</th>
            <td class="formValue th_Required">
                <input type="text" id="brxz" name="brxz" class="form-control" value="自费">
                <span>*</span>
            </td>
        </tr>
        <tr>
            <th class="formTitle">证件类型：</th>
            <td class="formValue">
                <select id="zjlx" class="form-control">
                    <option value="">==请选择==</option>
                    <option value="0" selected="selected">身份证</option>
                    <option value="1">护照</option>
                    <option value="2">军官证</option>
                </select>
            </td>
            <th class="formTitle">证件号：</th>
            <td class="formValue th_Required">
                <input type="text" id="zjh" name="zjh" class="form-control" value="362232198808120844">
                <span>*</span>
            </td>
            <th class="formTitle">状态：</th>
            <td class="formValue th_Required">
                <input type="text" id="txtzt" name="txtzt" class="form-control" value="在院">
                <span>*</span>
            </td>
            <th class="formTitle">诊断：</th>
            <td class="formValue">
                <input type="text" class="form-control " id="txtbingz" name="txtbingz" />
            </td>
            <th class="formTitle">有效期：</th>
            <td class="formValue">
                <input type="text" id="txtyxq" class="form-control input-wdatepicker newtouch_Readonly" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">地域：</th>
            <td class="formValue">
                <select class="form-control" id="dy">
                    <option value="">==请选择==</option>
                    <option value="0">本地</option>
                    <option value="1">外地</option>
                </select>
            </td>
            <th class="formTitle">联系方式：</th>
            <td class="formValue">
                <select id="zjlxfs" class="form-control">
                    <option value="">==请选择==</option>
                    <option value="0">无</option>
                    <option value="1">电话</option>
                    <option value="2">手机</option>
                    <option value="3">微信</option>
                    <option value="4">邮箱</option>
                </select>
            </td>
            <th class="formTitle">婚否：</th>
            <td class="formValue th_Required">
                <select id="hf" name="hf" class="form-control">
                    <option value="">==请选择==</option>
                    <option value="0">未婚</option>
                    <option value="1">已婚</option>
                </select>
                <span>*</span>
            </td>
        </tr>
    </table>
    <div style="background-color:#fcfcfc; color:#00a0ea; height:15px; width:100%; text-align: center;"><i id="imoretag" tag="s" class="fa fa-angle-double-down" style="color:rgb(0, 160, 233);cursor:pointer; "></i></div>
</form>
<script src="~/Content/js/PatientManage/ShowPatientInfo.js"></script>
<script>
    $(function () {

        BindItemData();
    });

</script>