
@{
    ViewBag.Title = "就诊项目录入";
}
<style>
    .form .formTitle {
        padding-left: 0px;
        padding-right: 0px;
        width: 70px;
    }

    /*.form .formValue input.form-control {
        padding-left: 0px;
        padding-right: 0px;
        width: 70px;
    }
    .form .formValue {

    }*/
    .form .mini {
        width: 30px;
    }
</style>
<div class="panel panel-default" style="margin-top:10px;" id="dvJZXM">
    <div class="panel-heading">
        记账项目<span id="sp_remainderTimesRemind" style="margin-left:10px; color: red;"></span>
    </div>
    <div>
        <table class="form">
            <tr>
                <th class="formTitle col-xs-1">记账方式：</th>
                <td class="formValue" style="width:85px;">
                    <div class="btn-group" id="sfcq">
                        <div class="btn-group formValue" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" value="长期" id="jzfs" class="form-control" />长期
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" value="临时" id="jzfs" class="form-control" />临时
                            </label>
                        </div>
                    </div>
                </td>
                <td style="width:30px">频次</td>
                <td style="width:30px" class="formValue"><input type="text" id="pc" class="form-control" /></td>
                @*<th class="formTitle">
                        频次
                    </th>
                    <td class="formValue">
                        <input type="text" class="form-control" />
                    </td>*@
                <th class="formTitle col-xs-1">开始时间：</th>
                <td class="formValue "><input type="text" class="form-control input-wdatepicker formAutoNextIgnore" id="txtkssj" name="txtkssj" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" /></td>
                <th class="formTitle col-xs-1">结束时间：</th>
                <td class="formValue "><input type="text" class="form-control input-wdatepicker formAutoNextIgnore" id="txtjssj" name="txtjssj" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" /></td>
                <th class="formTitle col-xs-1">治疗师：</th>
                <td class="formValue"><input type="text" class="form-control" id="txtzls" name="txtzls" /></td>

            </tr>

            <tr>
                <th class="formTitle col-xs-1">治疗项目：</th>
                <td class="formValue" style="min-width:120px;" colspan="3">
                    <select id="ddlzlxm" class="form-control">
                        <option value="">===请选择===</option>
                        <option value="0">红外线治疗</option>
                        <option value="1">超声药物透入治疗</option>
                        <option value="2">普通针刺（体针）</option>
                    </select>
                </td>
                <th class="formTitle col-xs-1">收费标准：</th>
                <td class="formValue"><input type="text" class="form-control newtouch_Readonly" id="txtsfbz" name="txtsfbz" /></td>
                <th class="formTitle col-xs-1">数量：</th>
                <td class="formValue"><input type="text" class="form-control" id="txtsl" name="txtsl" value="1" /></td>


                <th class="formTitle col-xs-1">总费用：</th>
                <td class="formValue"><input type="text" class="form-control newtouch_Readonly" id="txtzfy" name="txtzfy" /></td>
                <th class="formTitle col-xs-1">治疗时长：</th>
                <td class="formValue mini"><input type="text" class="form-control " id="txtzlsc" name="txtzlsc" placeholder="分钟" /></td>
                @*<th class="formTitle">单价：</th>
                        <td class="formValue"><input type="text" class="form-control " id="txtdj" name="txtdj" /></td>
                        <th class="formTitle">单位：</th>
                        <td class="formValue"><input type="text" class="form-control " id="txtdw" name="txttddj" /></td>
                    </tr>
                    <tr>*@
                @*<th class="formTitle">需复诊：</th>
                    <td class="formValue">
                        <div class="btn-group formValue" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="radio_fz" class="form-control" value="1" />是
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="radio_fz" class="form-control" checked value="0" />否
                            </label>
                        </div>
                    </td>*@
                <th class="formTitle col-xs-1">替代项目：</th>
                <td class="formValue">
                    <div class="switch col-xs-10">
                        <input type="checkbox" checked name="radio_srif" id="radio_srif" />
                    </div>
                </td>
            </tr>
        </table>
        <table id="tabReplaceItems" class="container"></table>
    </div>
    <div style="background-color: #fcfcfc; color: #00a0ea; height: 15px; width: 100%; text-align: center; display: none;" id="dvMoreReplaceItems" onclick="MoreReplaceItem()">
        <i tag="s" class="fa fa-angle-double-down" style="color: rgb(0, 160, 233); cursor: pointer;"></i>
    </div>
</div>
<div style="text-align:right; line-height:15px; margin-right:10px">
    <input type="button" class="btn btn-primary btn-md" value="添加" id="btnAdd" onclick="SaveItem()" />
    <input type="button" class="btn btn-primary btn-md" value="修改" style="margin-left: 15px;" onclick="ModifyItem()" />
    <input type="button" class="btn btn-primary btn-md" value="删除" id="btnSubmit" style="margin-left: 15px;" onclick="DeleteItem()" />
</div>
<div class="panel panel-default" style="margin-top: 5px;">
    <div class="panel-heading">
        已选治疗项目
    </div>
    <div style="padding: 2px; overflow-y: auto;" id="dvGL">
        <table id="SelectedListgrid"></table>
        @*<div id="pSelectedListgrid"></div>*@
    </div>
    @Html.Partial("_BottomButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel
{
    ShowKeyList = new[] { 4, 8 },
    F8Text = "提交已选项目"
})

</div>
<script src="~/Content/js/ChargeItem/ChargeItem.js"></script>

<script>
    $(function () {
        $("#dvGL").height(document.documentElement.clientHeight - $("#dvJZXM").offset().top - $("#dvJZXM").height() - 135);
        $("#ddlzlxm").change(function () {
            var val = this.value;
            switch (val) {
                case "0":
                    $("#txtsfbz").val("5元/部位");
                    $("#txtzfy").val("5");
                    $("#txtzlsc").val("20m");
                    break;
                case "1":
                    $("#txtsfbz").val("60/次");
                    $("#txtzfy").val("60");
                    $("#txtzlsc").val("");
                    break;
                case "2":
                    $("#txtsfbz").val("3/穴");
                    $("#txtzfy").val("3");
                    $("#txtzlsc").val("5m");
                    break;
                default:
                    $("#txtsfbz").val("");
                    $("#txtzfy").val("");
                    $("#txtzlsc").val("");
                    break;
            }
            BuildRemainderTimesMsg(val);
        });
    });
</script>
