<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- 应用Id -->
    <add key="AppId" value="CIS"/>
    <add key="AppName" value="新致医疗云医护协同工作站"/>
    <!-- 日志服务的Url -->
    <add key="His.Log.URL" value="http://59.80.30.157:20106/"/>


    <!--中医远程医疗平台  start-->
    <add key="GuiAnTelemedicinePlatform_his_01" value="http://cas.sinosoft.com.cn:30002/services/TCM_HIS_01" />
    <!--中医远程医疗平台  end-->
  </appSettings>
</configuration>