
<div class="toolbar">
    <div class="btn-group">
        <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
    </div>
</div>
<div class="search">
    <table>
        <tr>
            <td>
                <div class="input-group" style="width:200px;">
                    <select id="OrganizeId" name="OrganizeId" class="form-control"></select>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $("#OrganizeId").bindSelect({
        url: "/Organize/GetChildTreeSelectJson",
    });
    $("#OrganizeId").change(function () {
        if ($("table#gridList").length > 0) {
            //清空选中行
            $("#gridList").resetSelection();
        }
        $("#btn_search").trigger('click');
    });
</script>