@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.login .login-head {
    width: 1160px;
    margin: 10px auto;
    height: 50px;
}

    .login .login-head .login-head-a {
        text-align: center;
        float: left;
        width: 55px;
    }

        .login .login-head .login-head-a img {
        }

        .login .login-head .login-head-a p {
            font-size: 20px;
            margin: 0;
        }

    .login .login-head .login-head-b {
        border-left: 1px solid #666666;
        float: left;
        height: 75px;
        line-height: 75px;
        margin-left: 20px;
        padding-left: 30px;
        width: 200px;
        font-size: 25px;
    }

.login .login-con {
    text-align: center;
    background-color: #fff;
    height: 686px;
}

    .login .login-con .login-a {
        background: url(../img/bj-01.jpg)no-repeat center;
        text-align: left;
        padding-top: 0px;
        min-height: 600px;
        position: relative;
    }

        .login .login-con .login-a form {
        }

        .login .login-con .login-a .login-b {
            float: right;
            width: 280px;
            height: 300px;
            margin-right: 100px;
            margin-top: 100px;
            background: #fff;
            border-radius: 5px;
            padding: 0 40px;
        }

            .login .login-con .login-a .login-b .login-b-a {
                height: 46px;
                line-height: 46px;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                width: 100%;
                border-bottom: 2px solid #eee;
                position: relative;
            }

.tips_msg {
    color: red;
    font-size: 15px;
}

.lo_mod {
    display: block;
    width: 119px;
    margin: 10px auto 0;
    height: 46px;
    border-bottom: 2px solid #00a0e9;
}

.login .login-con .login-a .login-b .login-b-b {
    padding-top: 20px;
    height: 255px;
}

    .login .login-con .login-a .login-b .login-b-b ul li {
        height: 50px;
        _height: 50px;
        list-style-type: none;
        font-family: "微软雅黑","宋体",Arial;
        font-size: 14px;
    }

.ui-label {
    width: 39px;
    height: 38px;
    display: block;
    float: left;
    cursor: pointer;
}

    .ui-label .ui-icon {
        width: 39px;
        height: 32px;
        display: block;
        overflow: hidden;
        background: url(../img/man.png) no-repeat center #eeeeee;
        text-align: center;
        line-height: 38px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #d3d3d3;
    }

    .ui-label .ui-icon-ysh {
        width: 39px;
        height: 32px;
        display: block;
        overflow: hidden;
        background: url(../img/yaoshi.png) no-repeat center #eeeeee;
        text-align: center;
        line-height: 38px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #d3d3d3;
    }

.yanzheng {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}


.login .login-con .login-a .login-b .login-b-b ul li input {
    padding-left: 10px;
    width: 226px;
    color: rgb(153, 153, 153);
    height: 34px;
    line-height: 34px;
    border: 1px solid #d3d3d3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
}

.login .login-con .login-a .login-b .login-b-b ul li #txt_code {
    border-radius: 5px;
}

#login_button {
    width: 96%;
    float: left;
    border: none;
    height: 37px;
    line-height: 37px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #3b9df0;
    border-radius: 5px;
}

.login .login-con .login-a .login-b .login-b-b ul li h1 {
    font-weight: normal;
    color: #ff0000;
    background: url(../img/icon.png)no-repeat 95px -28px;
    font-size: 12px;
    padding-left: 120px;
    padding-top: 6px;
    margin: 3px 0px 0px -30px;
}

.login .login-con .login-a .login-b .login-b-b ul li #checkCode {
    height: 32px;
    line-height: 32px;
    width: 60px;
    border-radius: 0;
}

.login .login-con .login-a .login-b .login-b-b ul li img {
    vertical-align: middle;
    width: 76px;
    height: 33px;
}

.login .login-con .login-a .login-b .login-b-b ul li a {
    color: #447bd6;
    font-family: "微软雅黑","宋体",Arial;
    font-size: 12px;
}

.login .login-con .login-a .login-b .login-b-b ul .login-x {
    padding-top: 0px;
    height: 50px;
}

    .login .login-con .login-a .login-b .login-b-b ul .login-x .login-x-a {
        width: 100%;
        height: 50px;
        float: left;
    }

        .login .login-con .login-a .login-b .login-b-b ul .login-x .login-x-a .x {
            background-position: right -208px;
            background-image: url(../img/btn-type2.png);
            background-repeat: no-repeat;
            height: 37px;
            float: left;
            width: 3px;
        }

        .login .login-con .login-a .login-b .login-b-b ul .login-x .login-x-a input {
            width: 100%;
            float: left;
            border: none;
            height: 37px;
            line-height: 37px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            background-color: #3b9df0;
            border-radius: 5px;
        }

    .login .login-con .login-a .login-b .login-b-b ul .login-x .login-x-b {
    }

.login .login-con .login-a .login-b .login-b-c {
    text-align: right;
    padding-top: 10px;
    border-top: solid 1px #f0f0f0;
}

    .login .login-con .login-a .login-b .login-b-c a {
        color: #447bd6;
        font-family: "微软雅黑","宋体",Arial;
        font-size: 12px;
    }

        .login .login-con .login-a .login-b .login-b-c a:hover {
            color: #f3ab3a;
        }

.login .login-foot {
    font-size: 14px;
    color: #cccccc;
    position: absolute;
    left: 10%;
    bottom: 10px;
}

.code {
    background-image: url(w1.jpg);
    font-family: Arial;
    font-style: italic;
    color: Red;
    border: 0;
    padding: 2px 3px;
    letter-spacing: 3px;
    font-weight: bolder;
}

#input1 {
    width: 100px;
}
