<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="Configs\database.config" />
  <!--<appSettings configSource="Configs\system.config" />-->
  <appSettings>
    <add key="orgId" value="6d5752a7-234a-403e-aa1c-df8b45d3469f"/>
    <add key="operatorId" value="qhdyy"/>
    <add key="operatorName" value="qhdyy"/>
    <add key="uploadCount" value="100"/>
    <add key="yibaoUrl" value="http://127.0.0.1:33333/" />
    <add key="SqlTimeOut" value="100000"/>
    <!--卫健上传配置-->
    <add key="WSJGDM" value="77370296031011519A5132"/> <!--卫生机构（组织）代码-->
    <add key="YLJGDM" value="77370296000"/> <!--医疗机构代码-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>