
@{
    ViewBag.Title = "From";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div id="table" class="panel panel-default" style="margin-top:2px;margin-left:10px;margin-right: 10px;">
    <div class="panel-heading navb-bg" style="height:15px; color:black;font-weight:bold; ">
        医嘱明细展示
    </div>
    <div class="gridPanel" style="height:auto; width:100%;">
        <table id="scmxgridList"></table>
    </div>
</div>

<script>
    var zyh = $.request("zyh");
    var types = $.request("types");
    $(function () {
        if (!!zyh && zyh != null) {
            var colmodel = [{ label: "开单医生", name: "kdys", width: 60, align: "left" },
            { label: "开单科室", name: "kdks", width: 80, align: "left" },
            { label: "医嘱内容", name: "xmmc", width: 450, align: "left" },
            { label: "开单日期", name: "kdrq", width: 120, align: "left" },
            ];
            if (types == "4402") {
                colmodel = [{ label: "开单医生", name: "kdys", width: 60, align: "left" },
                { label: "开单科室", name: "kdks", width: 80, align: "left" },
                { label: "医嘱内容", name: "xmmc", width: 450, align: "left" },
                { label: "开单日期", name: "kdrq", width: 120, align: "left" },
                ];
            } else if (types == "4501") {
                colmodel = [{ label: "开单医生", name: "kdys", width: 60, align: "left" },
                { label: "开单科室", name: "kdks", width: 80, align: "left" },
                { label: "检查组套", name: "xmmc", width: 160, align: "left" },
                { label: "检查临床印象", name: "lcyx", width: 400, align: "left" },
                { label: "开单日期", name: "kdrq", width: 120, align: "left" },
                ];
            } else if (types == "4502") {
                colmodel = [{ label: "检验项目", name: "xmmc", width: 120, align: "left" },
                { label: "检验项目英文", name: "xmywmc", width: 100, align: "left" },
                { label: "危急值", name: "wjz", width: 40, align: "left" },
                { label: "项目单位", name: "xmdw", width: 100, align: "left" },
                { label: "参考值", name: "ckz", width: 100, align: "left" },
                { label: "检验结果", name: "jyjg", width: 70, align: "left" },
                ];
            }
            var $cbxxgridList = $("#scmxgridList");
            $cbxxgridList.dataGrid({
                url: "/DRGManage/DRGTradUpload/GetGridyzList",
                height: 350,
                postData: { zyh: zyh, types: types },
                colModel: colmodel
            });
        }
    });

</script>