@using Newtouch.Infrastructure;
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .required {
        color: red;
    }
</style>
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/SystemManage/SysPatiChargeLogic/Form.js",false)" type="text/javascript"></script>
<form id="form1">
    <table class="form">
        <tr>
            <td class="formTitle"><span class="required">*</span>组织机构：</td>
            <td class="formValue">
                <select id="OrganizeId" name="OrganizeId" class="form-control required">
                    <option value="">==请选择==</option>
                </select>
            </td>
            <td class="formTitle">
                <span class="required">*</span>病人性质：
            </td>
            <td class="formValue">
                <input type="text" id="brxzmc" name="brxzmc" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                大类：
            </td>
            <td class="formValue">
                <input type="text" id="dlmc" name="dlmc" class="form-control">
            </td>
            <td class="formTitle">收费项目：</td>
            <td class="formValue ">
                <input type="text" id="sfxmmc" name="sfxmmc" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="formTitle"><span class="required">*</span>适用范围：</td>
            <td class="formValue">
               @*@Html.DropDownList("mzzybz", Enummzzybz.mzzybz0.ToDescSelectList(), "==请选择==", new { @class = "form-control" })*@
                @*<select class="form-control" id="mzzybz" name="mzzybz">
                    <option value="0">通用</option>
                    <option value="1">门诊</option>
                    <option value="2">部门</option>
                    <option value="3">住院</option>
                </select>*@
            </td>
            <td class="formTitle"><span class="required">*</span>算法级别：</td>
            <td class="formValue">
                <select class="form-control" id="sfjb" name="sfjb">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="formTitle"><span class="required">*</span>费用范围：</td>
            <td class="formValue">
                <select class="form-control" id="fyfw" name="fyfw">
                    <option value="0">可报</option>
                    <option value="1">可报+分类自付</option>
                    <option value="2">可报+分类自付+自费</option>
                    <option value="3">可报+分类自付+自费+绝对自费</option>
                </select>
            </td>
            <td class="formTitle"><span class="required">*</span>自付比例：</td>
            <td class="formValue">
                <input type="text" class="form-control" id="zfbl" name="zfbl" />
            </td>
        </tr>
        <tr>
            <td class="formTitle"><span class="required">*</span>自付性质：</td>
            <td class="formValue">

                <select class="form-control" id="zfxz" name="zfxz">
                    <option value="0">自付</option>
                    <option value="1">自费</option>
                </select>
            </td>
            <td class="formTitle"><span class="required">*</span>费用上限：</td>
            <td class="formValue">
                <input type="text" class="form-control" id="fysx" name="fysx" />
            </td>
        </tr>
    </table>
    @*<div class="container">
            <div class="formValue col-xs-6">
                <label>算法级别</label>
                <select class="form-control" id="sfjb" name="sfjb">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="formValue col-xs-6">
                <label>费用范围</label>
                <select class="form-control" id="fyfw" name="fyfw">
                    <option value="0">可报</option>
                    <option value="1">可报+分类自付</option>
                    <option value="2">可报+分类自付+自费</option>
                    <option value="3">可报+分类自付+自费+绝对自费</option>
                </select>
            </div>
            <div class="formValue col-xs-6">
                <label>自付比例</label>
                <input type="text" class="form-control" id="zfbl" name="zfbl" />
            </div>
            <div class="formValue col-xs-6">
                <label>自付性质</label>
                <select class="form-control" id="zfxz" name="zfxz">
                    <option value="0">自付</option>
                    <option value="1">自费</option>
                </select>
            </div>
            <div class="formValue col-xs-6">
                <label>费用上限</label>
                <input type="text" class="form-control" id="fysx" name="fysx" />
            </div>
            <div class="formValue col-xs-6">
                <label>有效</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="1"> 是
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="0"> 否
                    </label>
                </div>
            </div>
            <div class="formValue col-xs-6" style="float:right">
                <label>建档人员</label>
                @*<input class="form-control" id="jdry" name="jdry" value=@Newtouch.Tools.OperatorProvider.GetCurrent().UserCode type="text" readonly="readonly" />
        <input class="form-control" id="CreatorCode" name="CreatorCode" value=@OperatorProvider.GetCurrent().UserCode type="text" readonly="readonly" />
        </div>
        <div class="formValue col-xs-6">
            <label>建档日期</label>
            @*<input class="form-control" id="bgbz" name="bgbz" value="0" style="display:none" type="text" />
                <input class="form-control" id="bgrq" name="bgrq" style="display:none" value=@DateTime.Now type="text" />
                <input class="form-control" id="jdrq" name="jdrq" value=@DateTime.Now type="text" readonly="readonly" />
            <input class="form-control" id="CreateTime" name="CreateTime" value=@DateTime.Now type="text" readonly="readonly" />
        </div>
        </div>*@
</form>