@model Newtouch.HIS.Web.Core.Models.BottomButtonViewModel
@{
    /**/

    Array.Sort(Model.ShowKeyList);

    var wappStyle = "float:right;width:65%;margin:10px 30px 12px;text-align:right;";
    if (!string.IsNullOrWhiteSpace(Model.WapperInlineStyle))
    {
        wappStyle = Model.WapperInlineStyle;
    }
}
<style>
</style>
<div class="toolbar" style="@(wappStyle)">
    @{
        foreach (var i in Model.ShowKeyList)
        {
            @Html.Raw(string.Format("<a class=\"btn btn-primary\" style=\"margin-left:4px;{1}{2}\" id=\"btn_bottombutton_f{0}\" onclick=\"newtouch_globalevent_f{0}()\">", i
                , (Model.GetIndexHidden(i) ? "display:none;" : "")
                , Model.GetIndexExtInlineStyle(i) ?? ""
                ))
            @Html.Raw(string.Format("F{0}：{1}", i, Model.GetIndexText(i)))
            @Html.Raw("</a>")
        }
    }
</div>