USE [NewtouchHIS_Base]
GO
IF OBJECT_ID('dbo.InsertIntoYpTables') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[InsertIntoYpTables]
END
GO
/****** Object:  StoredProcedure [dbo].[InsertIntoYpTables]    Script Date: 2025/1/17 17:41:02 ******/
CREATE PROCEDURE [dbo].[InsertIntoYpTables]
AS
BEGIN
WITH MaxValues AS (
    SELECT 
        COALESCE(MAX(ypid), 0) AS MaxYpid,  -- 获取现有 ypid 的最大值
        COALESCE(MAX(CAST(ypCode AS INT)), 900000) AS MaxYpCode  -- 获取现有 ypCode 数字部分的最大值
    FROM xt_yp_base
)
    -- 插入数据到 xt_yp_base
    INSERT INTO xt_yp_base (
        ypid, [ypCode], [ypmc], [OrganizeId], [ypqz], [yphz], [spm], [py], [cfl], [cfdw], 
        [jl], [jldw], [bzs], [bzdw], [mzcls], [mzcldw], [zycls], [zycldw], [zxdw], [djdw], 
        [lsj], [pfj], [zfbl], [zfxz], [dlCode], [jx], [ycmc], [medid], [medextid], [ypbzdm], 
        [nbdl], [mzzybz], [CreatorCode], [CreateTime], [LastModifyTime], [LastModifierCode], 
        [zt], [px], [lsbz], [mjzbz], [yfCode], [isKss], [kssId], [jybz], [bz], [cxjje], 
        [tsypbz], [VER]
    )
    SELECT 
       (SELECT MaxYpid FROM MaxValues) + ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS ypid,
       CAST((SELECT MaxYpCode FROM MaxValues) + ROW_NUMBER() OVER (ORDER BY REG_NAME) AS VARCHAR) AS ypCode,
        REG_NAME [ypmc], 
        '*' [OrganizeId],
        '' [ypqz], 
        '' [yphz], 
        '' [spm],
        [dbo].[f_GetPy](REG_NAME) [py], 
        NULL [cfl], 
        '' [cfdw],
        1.00 [jl],
        MIN_PREPUNT [jldw], 
        convert(numeric(19, 2), isnull(MIN_PAC_CNT, 0.0)) [bzs],
        MIN_PACUNT [bzdw], 
        convert(numeric(19, 4), MIN_PAC_CNT) [mzcls], 
        MIN_PACUNT [mzcldw], 
        1.00 [zycls],
        MIN_PACUNT [zycldw], 
        MIN_PREPUNT [zxdw], 
        MIN_PACUNT [djdw], 
        0.00 [lsj],
        0.00 [pfj], 
        0.00 [zfbl], 
        '4' [zfxz], 
        '01' [dlCode],
        cast(jxid AS varchar) [jx], 
        REG_NAME [ycmc], 
        0 [medid], 
        0 [medextid], 
        '' [ypbzdm], 
        '' [nbdl], 
        '1' [mzzybz],
        'admin1' [CreatorCode], 
        GETDATE() [CreateTime], 
        NULL [LastModifyTime], 
        NULL [LastModifierCode], 
        '1' [zt], 
        NULL [px], 
        NULL [lsbz], 
        NULL [mjzbz], 
        NULL [yfCode], 
        '0' [isKss],
        NULL [kssId],
        '3' [jybz], 
        NULL [bz], 
        NULL [cxjje], 
        NULL [tsypbz], 
        VER [VER]
    FROM 
        [dbo].G_yb_wm_tcmpat_info_b b WITH (NOLOCK)
        LEFT JOIN xt_ypjx d ON d.jxmc = b.DRUG_DOSFORM
    WHERE 
        NOT EXISTS (
            SELECT 1 
            FROM xt_yp_base 
            WHERE xt_yp_base.VER = b.VER
        );
WITH MaxYpid AS (
    SELECT 
        COALESCE(MAX(ypId), 0) AS MaxYpid ,
		COALESCE(MAX(CAST(ypCode AS INT)), 900000) AS MaxYpCode-- 获取 xt_ypsx_base 表中最大的 ypId
    FROM xt_ypsx_base
)
    -- 插入数据到 xt_ypsx_base
    INSERT INTO xt_ypsx_base (
        [ypId], [OrganizeId], [ypCode], [shbz], [tsbz], [jsbz], [gzy], [mzy], [yljsy], 
        [zbbz], [zlff], [sjap], [yl], [yldw], [ypgg], [ybdm], [syts], [dczdjl], [dczdsl], 
        [ljzdjl], [ljzdsl], [pzwh], [yptssx], [ypflCode], [jzlx], [mrbzq], [zjtzsj], 
        [xglx], [ghdw], [ypcd], [CreatorCode], [CreateTime], [LastModifyTime], [LastModifierCode], 
        [zt], [px], [xzyy], [xzyysm], [LastYBUploadTime], [mrjl], [mrpc], [ybbz], [xnhybdm], 
        [gjybdm], [ybmlscrq], [gjybmc], [xjbs], [dcxl], [mbxl], [mryf], [ybgg], [ypzsm],[VER]
    )
    SELECT   
       (SELECT MaxYpid FROM MaxYpid) + ROW_NUMBER() OVER (ORDER BY (SELECT NULL))  AS ypid,
        '*' [OrganizeId],
       CAST((SELECT MaxYpCode FROM MaxYpid) + ROW_NUMBER() OVER (ORDER BY REG_NAME) AS VARCHAR) AS ypCode,
        NULL [shbz], 
        NULL [tsbz],
        NULL [jsbz],
        NULL [gzy],
        NULL [mzy],
        NULL [yljsy],
        NULL [zbbz],
        NULL [zlff],
        NULL [sjap],
        NULL [yl],
        NULL [yldw],
        DRUG_SPEC [ypgg],
        MED_LIST_CODG [ybdm],
        NULL [syts],
        NULL [dczdjl],
        NULL [dczdsl],
        NULL [ljzdjl],
        NULL [ljzdsl], 
        NULL [pzwh],
        NULL [yptssx], 
        NULL [ypflCode],
        '1' [jzlx], 
        '0' [mrbzq],
        NULL [zjtzsj],
        NULL [xglx],
        NULL [ghdw],
        '0' [ypcd], 
        'admin1' [CreatorCode], 
        GETDATE() [CreateTime], 
        NULL [LastModifyTime], 
        NULL [LastModifierCode], 
        '1' [zt],
        NULL [px],
        NULL [xzyy],
        NULL [xzyysm], 
        NULL [LastYBUploadTime],
        NULL [mrjl], 
        NULL [mrpc],
        '1' [ybbz],
        NULL [xnhybdm],
        MED_LIST_CODG [gjybdm], 
        NULL [ybmlscrq], 
        REG_NAME [gjybmc],
        NULL [xjbs], 
        NULL [dcxl],
        NULL [mbxl],
        NULL [mryf],
        NULL [ybgg],
        REPLACE(APRVNO, '国药准字', '') [ypzsm],
		VER [VER]
    FROM 
        [dbo].G_yb_wm_tcmpat_info_b b WITH (NOLOCK)
        LEFT JOIN xt_ypjx d ON d.jxmc = b.DRUG_DOSFORM
	WHERE
		  NOT EXISTS (
            SELECT 1 
            FROM xt_ypsx_base 
            WHERE xt_ypsx_base.VER = b.VER
        );
END;
