@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<form id="form1">
    <div class="container" style="margin-top: 1px; margin-left: -4%; ">
        <ul class="nav nav-tabs" role="tablist" id="myTab" style="margin-left: 4%;">
            <li role="presentation"><a href="#basicInfo" role="tab" data-toggle="tab">基本信息</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" style="margin-top: 6px; margin-left: 48px; margin-right: 105px;" id="basicInfo">
                <table class="form">
                    <tr>
                        <th class="formTitle"><span class="required">*</span>名字：</th>
                        <td class="formValue"><input type="text" class="form-control required" id="Name" name="Name" placeholder="请输入名称" /></td>
                    </tr>
                 </table>
             </div>
        </div>
    </div>
</form>