
@{
    ViewBag.Title = "SettleAccounts";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    .SearchTitle {
        background-color: #f6f6f6;
        height: 35px;
        font-size: 14px;
    }

        .SearchTitle td {
            text-align: center;
            padding: 2px 0 2px 0px;
        }

    .SettlementList {
        padding: 0;
        margin-top: 10px;
    }

        .SettlementList li {
            border: 1px solid #F6F6F6;
            list-style: none;
            margin-bottom: 5px;
        }

            .SettlementList li a {
                color: #0066cc;
                outline: none;
            }


            .SettlementList li h5 {
                padding: 2px;
                background-color: #F6F6F6;
                padding-left: 10px;
                padding-top: 6px;
                height: 24px;
                margin: 0;
            }

            .SettlementList li span {
                margin-left: 5px;
            }

            .SettlementList li table {
                width: 100%;
                height: 50px;
            }

                .SettlementList li table td {
                    text-align: center;
                }
</style>

<form name="form1">
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            结算查询
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form">
                <tr>
                    <th class="formTitle">结算号：</th>
                    <td class="formValue">
                        <input type="text" class="form-control" id="txtjsh" name="txtjsh" />
                    </td>
                    <th class="formTitle">患者：</th>
                    <td class="formValue">
                        <input type="text" id="txtpatient" class="form-control" placeholder="姓名 拼音 编号" />
                    </td>
                    <th class="formTitle">记录日期：</th>
                    <td class="formValue" colspan="2">
                        <div style="display:inline-block;line-height:15px; width:100%;">
                            <input id="ksrq" type="text" class="form-control input-wdatepicker formAutoNextIgnore" style="width:40%; float: left; margin-left:3px;" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                            -
                            <input id="jsrq" type="text" class="form-control input-wdatepicker formAutoNextIgnore" style="width:40%; display: inline-block;" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                        </div>
                    </td>
                    <th class="formTitle">治疗师：</th>
                    <td class="formValue">
                        <input type="text" id="txtpatient" class="form-control" placeholder="姓名 拼音 编号" />
                    </td>
                    <th class="formTitle"><input type="button" class="btn btn-primary btn-md" value="查询" onclick="Search()" /></th>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            结算列表
        </div>
        <div style="padding: 5px; overflow-y: auto;position: relative;" id="dvSettle">
            <table class="form SearchTitle">
                <tr>
                    <td style="width:30%; text-align: left;"><input type="checkbox" id="chkall" checked style="margin-left:10px;" /></td>
                    <td style="width:10%;">
                        <select id="selItemType" style="width:80%;">
                            <option value="" selected>类型</option>
                            <option value="1">PT</option>
                            <option value="2">OT</option>
                            <option value="3">TCM</option>
                        </select>
                    </td>
                    <td style="width:15%;">患者</td>
                    <td style="width:10%;">治疗日期</td>
                    <td style="width:10%;">录入日期</td>
                    <td style="width:10%;">总金额</td>
                    <td style="width:15%;">操作</td>
                </tr>
            </table>
            <ul class="SettlementList">
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h5>
                        <label>
                            <input type="checkbox" checked rid="12334562" />
                        </label>
                        <span>结算号：<a href="javascript:return void(0);">12334562</a></span>
                        <span>结算日期：2017-04-01</span>
                    </h5>
                    <table>
                        <tr>
                            <td style="width:30%; text-align: left;">
                                <a href="javascript:return void(0);" style="margin-left:5px;">电针（普通电针）（≤20个穴位）</a>
                            </td>
                            <td style="width:10%;">
                                PT
                            </td>
                            <td style="width:15%;">
                                张三
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%;">
                                2017-04-24
                            </td>
                            <td style="width:10%; color:red;font-size:large;">
                                ￥320
                            </td>
                            <td style="border-left: 1px solid #bed3ee; width: 15%;">
                                <a href="/Settlement/SettlementDetail">查看详情</a>
                                <a href="/ChargeItem/Index" style="margin-left:10px;">修改</a>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <nav aria-label="Page navigation">
                <ul class="pagination" style="margin:0px;padding-left:40%; ">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div style="display: inline-block; line-height: 45px;">
        <span style="font-size: 16px;">合计：</span>
        <span id="spTotal" style="color: red; font-size: 22px;">￥1024</span>
    </div>
</form>
<script>
    $(function () {
        $("#dvSettle").height(document.documentElement.clientHeight - 220);
    });

    //查询
    function Search() {

    }
</script>
