
@{
    ViewBag.Title = "PrescriptionDetailFrom";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="gridPanel" style="margin-top:10px;">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
<script>
    var cfh = $.request("cfh");
    var zxrq = $.request("zxrq");
    var yzxz = $.request("yzxz");
    $(function () {
        gridInit();
    });
    function gridInit() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            postData: { yzh: cfh, zxrq: zxrq ,yzxz:yzxz},
            url: '/HospitalizationPharmacy/GetZycfGridDetailJson',
            height: $(window).height() - 100,
            colModel: [
                { label: '住院号', name: 'zyh', align: 'center', width: 60 },
                { label: '姓名', name: 'hzxm', align: 'center', width: 60 },
                { label: '处方性质', name: 'yzxzmc', align: 'left', width: 50 },
                { label: '病区', name: 'bqmc', align: 'center', width: 90 },
                { label: '项目代码', name: 'xmdm', align: 'center', width: 70 },
                { label: '项目名称', name: 'xmmc', align: 'center', width: 120 },
                { label: '单位', name: 'dw', align: 'center', width: 60 },
                 { label: '数量', name: 'sl', align: 'center', width: 50 },
                {
                    label: '单价', name: 'dj', align: 'center', width: 50, formatter: "number"
                    , formatoptions: { decimalPlaces: 2, defaultValue: '0.0000' }
                },
                {
                    label: '费用', name: 'je', align: 'center', width: 60, formatter: "number"
                    , formatoptions: { decimalPlaces: 2, defaultValue: '0.0000' }
                },
                { label: '剂量', name: 'ypjl', align: 'center', width: 60 },
                { label: '规格', name: 'ypgg', align: 'center', width: 60 },
                
            ],
            pager: "#gridPager",
            sortname: 'kssj',
            viewrecords: true,
        });
    }
</script>

