<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TCM_HIS_01SoapBinding" />
                <binding name="ReceiveWebServiceImplServiceSoapBinding" />
                <binding name="TCM_HIS_02SoapBinding" />
                <binding name="ServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://esb.sinosoft.com.cn:30002/services/TCM_HIS_01"
                binding="basicHttpBinding" bindingConfiguration="TCM_HIS_01SoapBinding"
                contract="TcmHis01ServiceReference._Proxy70" name="TCM_HIS_01" />
            <endpoint address="http://cas.sinosoft.com.cn:8282/tcmServicePro/webService/receiveWebService"
                binding="basicHttpBinding" bindingConfiguration="ReceiveWebServiceImplServiceSoapBinding"
                contract="TcmReceiveServiceReference.ReceiveWebServiceInterface"
                name="ReceiveWebServiceImplPort" />
            <endpoint address="http://esb.sinosoft.com.cn:30007/services/TCM_HIS_02"
                binding="basicHttpBinding" bindingConfiguration="TCM_HIS_02SoapBinding"
                contract="TcmHis02ServiceReference._Proxy70" name="TCM_HIS_02" />
            <endpoint address="http://120.79.183.228:91/wmsps/services/jfWebService"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoapBinding"
                contract="ServiceReferenceSqsq.IWebService" name="WebServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>