<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登录身份维持时间（单位：分）-->
  <add key="LoginStatusKeepMinute" value="30" />
  <!-- 多终端互踢 -->
  <add key="EnableMultipleLoginLimit" value="true" />
  <!-- 多终端互踢-同一账号，最大同时在线数 -->
  <add key="MultipleLoginLimit_Count" value="10" />
  
  <!--启用IP过滤（启用后 启用IP访问限制策略（仅对部分开放 或 部分限制访问）） -->
  <add key="Is_IPFilter" value="false" />
  
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 软件版本 -->
  <add key="Version" value="1.00.00.0" />

  <!-- Reids缓存的key前缀 Cache Basic -->
  <add key="Reids_Cache_Prefix" value="$C_Base$"/>
  <!-- 登录用户默认密码 -->
  <add key="LoginUser_Default_Password" value="123456"/>
  <!-- 应用Id -->
  <add key="AppId" value="BASE.BASE"/>

  <!-- 静态站点的Host -->
<add key="SiteStaticHost" value="http://61.172.179.30:17037/"/>
  <!--<add key="SiteStaticHost" value="localhost:9061"/>-->
  
  <!-- 日志服务的Url -->
  <add key="His.Log.URL" value="http://59.80.30.157:20106/"/>
  
  <add key="vs:EnableBrowserLink" value="false"/>

  <!-- 单点登录url -->
  <add key="SSOLoginHost" value="http://localhost:16314/Login/Index"/>
  <!-- 单点登录首页url -->
  <add key="SSOHomeHost" value="http://localhost:16314/Home/AuthorizedIndex"/>
  <!-- 单点登出url -->
  <add key="SSOOutLogin" value="http://localhost:16314/Login/OutLogin"/>
</appSettings>