
@{
    ViewBag.Title = "手术详细信息";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<!DOCTYPE html>


<form id="form1">
    <div style="padding-top: 20px; margin-right: 30px;">
        <table class="form">
            <tr>
                <th class="formTitle">科室编码：</th>
                <td class="formValue">
                    <input id="ksbm" name="ksbm" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">科室名称：</th>
                <td class="formValue">
                    <input id="ksmc" name="ksmc" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </div>
</form>

<script>
    var keyValue = $.request("keyValue");

    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/RecordManage/MrDept/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                success: function (data) {
                    $("#form1").formSerialize(data);                }
            });
        }
    });

    function AcceptClick(callBack) {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();

        $.submitForm({
            url: "/RecordManage/MrDept/SubmitDicDept?keyValue=" + keyValue,
            param: postData,
            success: function () {
                callBack();
                $.modalClose();
            }
        });
    }
</script>
