@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<table class="table table-hover table-condensed" style="margin:10px;">
    <thead>
        <tr>
            <th>名称</th>
            <th>编码</th>
            <th>值示例</th>
            <th style="width:300px;">说明</th>
            <th>是否必配</th>
            <th>未配时默认值</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>治疗师记账金额上限开关</td>
            <td>xt_UpperLimitReminder</td>
            <td>ON、OFF</td>
            <td>OFF表示隐藏，ON表示显示</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>住院号开关</td>
            <td>NonTreatItem_ShowZyh</td>
            <td>ON、OFF</td>
            <td>OFF表示隐藏，ON表示显示</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>门诊号自动生成开关</td>
            <td>xt_mzh</td>
            <td>ON、OFF</td>
            <td>OFF表示不自动生成，ON表示自动生成</td>
            <td>否</td>
            <td>ON</td>
        </tr>
        <tr>
            <td>医院年份开始时间</td>
            <td>Hosp_Year_Start</td>
            <td>2003、2016、2017</td>
            <td>系统内</td>
            <td>否</td>
            <td>当前年份-5</td>
        </tr>
        <tr>
            <td>门诊记账查询患者信息条件控制</td>
            <td>IsBlh</td>
            <td>ON、OFF</td>
            <td>ON 表示根据病历号查询，OFF表示根据门诊号查询</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>门诊记账是否自动给医生默认值</td>
            <td>IsDefaultDoc</td>
            <td>ON、OFF</td>
            <td>ON 表示是，OFF表示否</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>治疗师每天工作小时数</td>
            <td>zls_hour</td>
            <td>6、8、10</td>
            <td>治疗师模块</td>
            <td>否</td>
            <td>8</td>
        </tr>
        <tr>
            <td>治疗师默认排班天数</td>
            <td>zls_pbts</td>
            <td>18、20，28</td>
            <td>治疗师模块</td>
            <td>否</td>
            <td>22</td>
        </tr>
        <tr>
            <td>证件号，证件类型是否必填</td>
            <td>xt_zj</td>
            <td>ON、OFF</td>
            <td>门诊登记的免卡登记内，ON表示必填，OFF表示非必填</td>
            <td>否</td>
            <td>ON</td>
        </tr>
        <tr>
            <td>卡号自动生成开关</td>
            <td>xt_kh</td>
            <td>ON、OFF</td>
            <td>门诊登记的免卡登记内，ON表示自动生成，OFF表示不自动生成</td>
            <td>否</td>
            <td>ON</td>
        </tr>
        <tr>
            <td>住院号自动生成开关</td>
            <td>xt_zyh</td>
            <td>ON、OFF</td>
            <td>住院登记内，ON表示自动生成，OFF表示不自动生成</td>
            <td>否</td>
            <td>ON</td>
        </tr>
        <tr>
            <td>住院登记搜索字段开关</td>
            <td>register_search</td>
            <td>ON、OFF</td>
            <td>住院登记内，ON表示卡号搜索，OFF表示病历号搜索</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>是否允许单价修改</td>
            <td>sfxm_dj</td>
            <td>ON、OFF</td>
            <td>门诊记账，ON表示允许修改，OFF表示不允许</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>病历号是否自动生成</td>
            <td>xt_blh</td>
            <td>ON、OFF</td>
            <td>门诊记账的免卡登记内，ON表示自动生成，OFF表示不自动生成</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>病历号是否自动生成</td>
            <td>xt_blh</td>
            <td>ON、OFF</td>
            <td>门诊记账的免卡登记内，ON表示自动生成，OFF表示不自动生成</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>系统是否开启了收费确认功能</td>
            <td>xt_isopen_sfqr</td>
            <td>ON、OFF</td>
            <td>ON表示开启了收费确认功能，OFF表示未启用收费确认功能</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>出院结算时是否在Optima验证状态</td>
            <td>CYJS_Optima_ZT_Check</td>
            <td>ON、OFF</td>
            <td>ON验证，OFF不验证</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>门诊登记完成跳转页面配置</td>
            <td>TZPZ_OutpatientRegister</td>
            <td>门诊计划记账，门诊收费</td>
            <td>默认一级菜单门诊管理，当前值为二级菜单</td>
            <td>否</td>
            <td> </td>
        </tr>
        <tr>
            <td>记账执行默认提前日期范围</td>
            <td>AccountingExecution_DefaultPrevDate</td>
            <td>1、2、3、14</td>
            <td>单位：天；类型：int</td>
            <td>否</td>
            <td>3</td>
        </tr>
        <tr>
            <td>历史病历维护是否开启</td>
            <td>PatientMedicalRecord_able</td>
            <td>ON、OFF</td>
            <td>ON开启，OFF不开启</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>门诊收费2018项目收费配置</td>
            <td>ChargeItemConfig</td>
            <td>original、Unoriginal</td>
            <td>original表示常规版本，不含单次治疗量，Unoriginal表示治疗量版本</td>
            <td>否</td>
            <td>original</td>
        </tr>
        <tr>
            <td>门诊收费成功之后是否打开打印页面</td>
            <td>Outpatient_ChargeFee_AutoPrint</td>
            <td>ON、OFF</td>
            <td>ON开启，OFF不开启</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>门诊收费成功之后是否自动生成计划</td>
            <td>Outpatient_ChargeFee_AutoGenePlan</td>
            <td>ON、OFF</td>
            <td>ON开启，OFF不开启</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>门诊收费的处方收费成功之后是否同步收费状态至CIS</td>
            <td>Outpatient_ChargeFee_AutoSyncPrescriptionStatus</td>
            <td>ON、OFF</td>
            <td>ON开启，OFF不开启</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>药品检索，药品是否关联药房库存</td>
            <td>IS_MedicineSearchRelatedKC</td>
            <td>ON、OFF</td>
            <td>ON开启，OFF不开启</td>
            <td>否</td>
            <td>OFF</td>
        </tr>
        <tr>
            <td>入院登记是否直接至病区中</td>
            <td>InpatientRegistrationImmediatlyWard</td>
            <td>ON、OFF</td>
            <td>ON病区中，OFF新入院</td>
            <td>否</td>
            <td>ON</td>
        </tr>
    </tbody>
</table>