@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <iframe class="ui-layout-center" id="iframeExpenseManage" name="iframeExpenseManage"></iframe>
</div>

<script type="text/javascript">
    $(function () {
        $('#layout').layout();
        treeView();
    });
    function treeView() {
        $("#itemTree").treeview({
            url: "/SystemManage/Module/GetModuleTreeJsonByName?name=费用参数设置",
            onnodeclick: function (item) {
                if (item.value) { 
                    $("#iframeExpenseManage").attr("src", item.value);
                }
            }
        });
    }
</script>