
@{
    ViewBag.Title = "ChargeAddPay"; 
}

<div class="panel panel-default">
    <div class="panel-heading navb-bg">
        收费
    </div>
    <div style="padding: 2px;padding-right:20px;">
        <table class="form">
            <tr>
                <th class="formTitle">支付方式</th>
                <td class="formValue">
                    <select id="ddlzffs" name="zffs" class="form-control required"> 
                    </select>
                </td>
                <th class="formTitle">
                    应收款
                </th>
                <td class="formValue"> 
                    <input id="txtysk" name="txtysk" type="text" class="form-control formClearIgnore newtouch_Readonly" value="0.00" />
                </td>
                <th class="formTitle"><span class="required">*</span>实收款：</th>
                <td class="formValue">
                    <input id="txtmoney" name="txtmoney" type="text" class="form-control required" placeholder="请输入金额" />
                </td>
                <th class="formTitle">找零：</th>
                <td class="formValue">
                    <input id="txtzl" name="txtzl" type="text" class="form-control formClearIgnore newtouch_Readonly"  value="0.00" />
                </td> 
                <th class="formTitle">日期：</th>
                <td class="formValue">
                    <input id="txtzfrq" name="txtzfrq" type="text" class="form-control formClearIgnore required " />
                </td> 
            </tr>
        </table>
    </div>
</div> 

<script>
    $(function () {
        //加载支付方式
        $("#ddlzffs").newtouchBindSelect({ 
            id: "xjzffs", ////id: "xjzffsbh",
            text: "xjzffsmc",
            attdata: "xjzffsbh",
            datasource: function () {
                //遍历数据源
                var resultObjArr = new Array(); 
                $.each(top.clients.SysForCashPayList, function (idx, val) {
                    if (val.zhxz == 'a') {
                        resultObjArr.push(val);
                    }
                });
                return resultObjArr; 
            }
        });
        //支付日期 
        $("#txtzfrq").val($.getDate); 
    })

   
</script>

