@using Newtouch.Infrastructure;
@{
    ViewBag.Title = "读卡方式";
    Layout = "~/Views/Shared/_Form.cshtml";
    var medicalInsurance = SysConfigReader.String("Outpatient_MedicalInsurance");
}
@Html.Partial("_YibaoCommonView")
<div style="float:left;">
    @*<input type="text" id="txtInput" style="width:180px;height:20px;margin-left:100px;margin-top:8px;" placeholder="电子凭证/磁卡码" autocomplete="off" /><br />
        <input type="button" id="sk" name="sk" class="btn btn-primary" style="width:180px;height:40px;font-size:25px;margin-left:100px;margin-top:8px;" value="刷医保卡" onclick="skOnClick('2')" />
        <br />
        <input type="button" id="sck" name="sm" class="btn btn-primary" style="width:180px;height:40px;font-size:25px;margin-left:100px;margin-top:8px;" value="刷磁条卡" onclick="skOnClick('0')" />
        <br />
        <input type="button" id="sm" name="sm" class="btn btn-primary" style="width:180px;height:40px;font-size:25px;margin-left:100px;margin-top:8px;" value="扫电子医保码" onclick="skOnClick('3')" />*@

    <input type="button" id="sk" name="sk" class="btn btn-primary" style="width:180px;height:40px;font-size:25px;margin-left:100px;margin-top:20px;" value="刷医保卡" onclick="skOnClick()" />
    <br />
    <input type="button" id="sfz" name="sfz" class="btn btn-primary" style="width:180px;height:40px;font-size:25px;margin-left:100px;margin-top:20px;" value="刷身份证" onclick="sfzOnClick()" /><br />
    <input type="button" id="sl" name="sl" class="btn btn-primary" style="width:180px;height:40px;font-size:25px;margin-left:100px;margin-top:20px;" value="刷脸" onclick="slOnClick()" /><br />
    <input type="button" id="sm" name="sm" class="btn btn-primary" style="width:180px;height:40px;font-size:25px;margin-left:100px;margin-top:20px;" value="扫电子医保码" onclick="smOnClick()" /> 
    <input id="ckzddzsm" type="checkbox" /><label for="zddzsm">(刷脸/电子凭证一体机)扫码</label><br />
    <input type="button" id="ck" name="ck" class="btn btn-primary" style="width:180px;height:40px;font-size:25px;margin-left:100px;margin-top:20px;" value="刷医保磁卡" onclick="ckOnClick()" />
</div>

<script type="text/javascript">
    
    var mzh = $.request('mzh');
    var ryfs = $.request('ryfs');
    var ydsfz = $.request('ydsfz');
    var newzyh = $.request('newzyh');
    var medicalInsurance = '@medicalInsurance';
    var zffs;

    $(function () {
       // $("#txtInput").focus();
    });
    //function skOnClick(dkfs) {
    //    if(dkfs!="2")
    //    {
    //        if (!$('#txtInput').val()) {
    //            $.modalMsg('请刷凭证码', 'warning');
    //            $("#txtInput").focus();
    //            return;
    //        }
    //    }
    //    $.modalOpen({
    //        id: "ZFToYBForms",
    //        title: "自费转医保",
    //        url: "/OutpatientManage/OutpatCharge/ZFToYBForm?mzh=" + mzh + "&dkfs=" + dkfs + "&pzm=" + $("#txtInput").val(),
    //        width: "550px",
    //        height: "380px",
    //        btn: ['', '关闭'],
    //        btnclass: ['', 'btn btn-danger'],
    //        success: function (iframeId) {
    //            $.modalClose();
    //        }
    //    });
    //};

    //医保卡
    function skOnClick(patid) {
        debugger;
        zffs = "sk"
        $.modalOpen({
            id: "ZFToYBForm",
            title: "自费转医保",
            url: "/OutpatientManage/OutpatCharge/ZFToYBForm?mzh=" + mzh + "&ryfs=" + ryfs + "&ydsfz=" + ydsfz + "&newzyh=" + newzyh + "&zffs=" + zffs,
            width: "550px",
            height: "380px",
            btn: ['', '关闭'],
            btnclass: ['', 'btn btn-danger'],
            success: function (iframeId) {
                $.modalClose();
            }

        });
    };
    //刷脸
    function slOnClick(patid) {
        debugger;
        zffs = "sl"
        $.modalOpen({
            id: "ZFToYBForm",
            title: "自费转医保",
            url: "/OutpatientManage/OutpatCharge/ZFToYBForm?mzh=" + mzh + "&ryfs=" + ryfs + "&ydsfz=" + ydsfz + "&newzyh=" + newzyh + "&zffs=" + zffs,
            width: "550px",
            height: "380px",
            btn: ['', '关闭'],
            btnclass: ['', 'btn btn-danger'],
            success: function (iframeId) {
                $.modalClose();
            }

        });
    };
    //电子凭证
    function smOnClick(patid) {
        debugger;
        zffs = "sm";
        newzyh = "N";
        if ($('#ckzddzsm').is(':checked')) {
            newzyh = "Y";
        }
        $.modalOpen({
            id: "ZFToYBForm",
            title: "自费转医保",
            url: "/OutpatientManage/OutpatCharge/ZFToYBForm?mzh=" + mzh + "&ryfs=" + ryfs + "&ydsfz=" + ydsfz + "&newzyh=" + newzyh + "&zffs=" + zffs,
            width: "550px",
            height: "380px",
            btn: ['', '关闭'],
            btnclass: ['', 'btn btn-danger'],
            success: function (iframeId) {
                $.modalClose();
            }

        });
        //$.modalOpen({
        //    id: "sbkhInput",
        //    title: "卡号输入",
        //    url: "/OutpatientManage/OutpatientReg/OutPatientSbkhInput?t=" + Math.random() + "&medicalInsurance=" + medicalInsurance,
        //    width: "300px",
        //    height: "150px",
        //    callBack: function (iframeId) {
        //        top.frames[iframeId].PatSbkhData();
        //    }
        //});

        //openform();
    };

    //医保磁卡
    function ckOnClick(patid) {
        debugger;
        zffs = "ck";
        $.modalOpen({
            id: "sbkhInput",
            title: "卡号输入",
            url: "/OutpatientManage/OutpatientReg/OutPatientSbkhInput?t=" + Math.random() + "&medicalInsurance=" + medicalInsurance + "&topform=" + "1",
            width: "300px",
            height: "150px",
            callBack: function (iframeId) {
                top.frames[iframeId].PatSbkhData();
            }
        });
        //openform();
    };

    //身份证读卡
    function sfzOnClick(patid) {
        debugger;
        zffs = "sfz";
        $.modalOpen({
            id: "sfzhInput",
            title: "身份证号输入",
            url: "/OutpatientManage/OutpatientReg/OutPatientSfzhInput?t=" + Math.random() + "&medicalInsurance=" + medicalInsurance + "&topform=" + "1",
            width: "300px",
            height: "150px",
            callBack: function (iframeId) {
                top.frames[iframeId].PatSfzhData();
            }
        });
        //openform();
    };

    function openform(khxx) {
        debugger;
        $.modalOpen({
            id: "ZFToYBForm",
            title: "自费转医保",
            url: "/OutpatientManage/OutpatCharge/ZFToYBForm?mzh=" + mzh + "&ryfs=" + ryfs + "&ydsfz=" + ydsfz + "&newzyh=" + newzyh + "&zffs=" + zffs + "&patsfz=" + khxx.sfzh + "&patName=" + khxx.name,
            width: "550px",
            height: "380px",
            btn: ['', '关闭'],
            btnclass: ['', 'btn btn-danger'],
            success: function (iframeId) {
                $.modalClose();
            }
        });
    }
    function GetReadCardInfo(khxx) {
        debugger;
        openform(khxx);
    }
    function readCard(khxx) {
        debugger;
        switch (medicalInsurance) {
            case "shanghai":
                openform(khxx.sbkh);
                break;
            case "tongyong"://通用使用国家医保
                var khxx = { "sbkh": "", "sfzh": "", "ecToken": "" };
                GetReadCardInfo(khxx);
                break;
            default:
                $.modalAlert("医保所属地未设置，请设置后再进行刷卡", 'warning');
                return;
        }
    }

  
</script>