<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!-- 数据库 -->
  <add name="DefaultDbContext" connectionString="Server=.;Initial Catalog=Newtouch_MRMS;User ID=sa;Password=#" providerName="System.Data.SqlClient" />
  <add name="DefaultDbContextEMR" connectionString=".;Initial Catalog=Newtouch_EMR;User ID=sa;Password=#" providerName="System.Data.SqlClient" />

  
  <!--<add name="DefaultDbContext" connectionString="Server=59.80.30.160,56015;Initial Catalog=Newtouch_MRMS;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />
  <add name="DefaultDbContextEMR" connectionString="Server=59.80.30.160,56015;Initial Catalog=Newtouch_EMR;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />-->
  
  <!-- Redis -->
  <add name="RedisServer" connectionString="61.172.179.6:32079,connectTimeout=500,password=newtouch" />

</connectionStrings>