<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：系统软件参数配置 ================== -->
  <!-- 软件版本 -->
  <add key="Version" value="1.00.00.0" />

  <!-- ================== 2：开发系统相关配置 ================== -->
  <!-- 登录身份状态维持时间（单位：分）-->
  <add key="LoginStatusKeepMinute" value="30" />
  <!-- 多终端互踢 -->
  <add key="EnableMultipleLoginLimit" value="true" />
  <!-- 多终端互踢-同一账号，最大同时在线数 -->
  <add key="MultipleLoginLimit_Count" value="10" />
  <!-- Reids缓存的key前缀（为了多应用使用同一个数据库时，防止缓存错乱） -->
  <add key="Reids_Cache_Prefix" value="$CI$"/>
  <!-- 应用Id -->
  <add key="AppId" value="MR"/>
  <add key="AppName" value="新致病案系统"/>
  <!-- 登录时是否显示验证码 -->
  <add key="Is_CheckChkCode" value="false"/>
  
  <!-- 顶级组织机构Id -->
  <add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>
  <!-- 创建新用户 时 默认关联角色 -->
  <add key="CreateUser_Default_RoleCode" value="DefaultRole"/>
  <!-- 静态站点的Host -->
  <add key="SiteStaticHost" value="http://localhost:8014/"/>
  <!--<add key="SiteStaticHost" value="localhost:9061"/>-->
  <!-- 日志服务的Url -->
  <add key="His.Log.URL" value="http://59.80.30.160:56006/"/>
  <!-- 开关-是否加载左侧菜单树（默认加载） -->
  <add key="Is_LoadNavTree" value="true"/>
  <!-- 开关-是否开启菜单页面监控（左侧菜单树，点击，右边页面加载的时间） -->
  <add key="Is_NavPageLoadMoniter" value="true"/>

  <!-- 报表服务器 Host http://59.80.30.160:56014/-->
  <add key="ReportServer.HOST" value="http://59.80.30.160:56014/ReportServer/"/>
  <!--<add key="ReportServer.HOST" value="http://116.63.161.36:9001/ReportServer/"/>-->

  <!-- ================== 3：业务相关配置 ================== -->
  <add key="DcWriterFileRoter" value="D:\Newtouch\cloudhis\emr\Code\Newtouch.EMR\Newtouch.EMR.Web"/>
  <!--病案导出卫统四的地址-->
  <add key="MedicalRecordExport" value="D:\\"/>

  <!-- ================== 其他 ================== -->
  <add key="vs:EnableBrowserLink" value="false"/>

  <!-- 新报表地址 -->
  <add key="ReportUrl" value="http://localhost:8009/"/>
  <add key="ReportSystemCode" value="MR"/>
</appSettings>