<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登录身份维持时间（单位：分）-->
  <add key="LoginStatusKeepMinute" value="30" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.newtouch.cn" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />

  <!-- Reids缓存的key前缀 Cache Basic -->
  <add key="Reids_Cache_Prefix" value="$C_PDS$"/>
  <!-- 顶级组织机构Id -->
  <add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>
  <!-- 应用Id -->
  <add key="AppId" value="newtouch.his.pds.api.tests"/>

  <!-- 静态站点的Host -->
  <add key="SiteStaticHost" value="http://192.168.9.190:8014/"/>
  <!--<add key="SiteStaticHost" value="localhost:9061"/>-->
  <!--<add key="SiteStaticHost" value="localhost:20103"/>-->
  <!-- 结算系统API的Host -->
  <!--<add key="SiteSettAPIHost" value="http://59.80.30.157:20137/" />-->
  <!-- PDS API HOST -->
  <add key="SitePDSAPIHost" value="http://192.168.9.190:7004/"/>
  <!-- Base系统API的Host -->
  <!--<add key="SiteBaseAPIHost" value="http://59.80.30.157:20136/" />-->
  <add key="SiteBaseAPIHost" value="http://192.168.9.190:7001/"/>

  <!-- 日志服务的Url -->
  <add key="His.Log.URL" value="http://59.80.30.157:20106/"/>


  <add key="vs:EnableBrowserLink" value="false"/>
</appSettings>