
@using Newtouch.Infrastructure
@{
    ViewBag.Title = "发票获取与验收";
    Layout = "~/Views/Shared/_Index.cshtml";

}


<style>
    /*.inline {
        width: 80%;
        display: inline;
    }

    .PriceInline {
        width: 70%;
        display: inline;
    }

    #dv-detail table th {
        border: solid 1px #ddd;
        padding: 0;
        vertical-align: middle;
    }

    #dv-detail .ui-jqgrid-labels, #dv-detail .jqgrow .ui-row-ltr {
        height: 30px;
        vertical-align: middle;
    }


    #dv-detail table td {
        border: solid 1px #ddd;
        padding: 0;
        vertical-align: middle;
    }

    #dv-detail input[role=textbox] {
        padding: 2px 2px;
    }

    #gridList .ckbox label {
        margin-top: 24px;
    }*/
</style>
<form id="form1">
    <div class="panel panel-default" style="margin-bottom:10px;">
        <div class="panel-heading">采购信息</div>
        <table class="form">
            <tr>
                <th class="formTitle "><span class="required">*</span>供应商：</th>
                <td class="formValue">
                    <input type="text" id="yq" name="yq" class="form-control" placeholder="请选择供应商" autocomplete="off" style="width:60%" />
                    <input type="hidden" id="yqbm" />
                </td>

                <th class="formTitle">
                    <input type="button" id="btn_search" class="btn btn-md btn-primary" value="获取明细" />
                    <input type="button" id="btn_accept" class="btn btn-md btn-primary" value="明细验收" />
                </th>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="dv-detail">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</form>

<script type="text/javascript">

    $(function () {
        InitFloat();

        //gridList();
    });


    //初始化浮层
    function InitFloat() {
        //物资供应商
        $("#yq").newtouchBatchFloatingSelector({
            clickautotrigger: true,
            url: '/Storage/GetSupplierList',
            height: 300,
            width: 400,
            caption: "物资供应商",
            ajaxparameters: function () {
                return "key=" + $("#yq").val();
            },
            colModel: [
                { label: 'Id', name: 'Id', hidden: true },
                { label: '编码', name: 'py', widthratio: 45 },
                { label: '供应商', name: 'name', widthratio: 55 }
            ],
            itemdbclickhandler: function ($thistr) {
                $("#yqbm").val($thistr.attr('data-py'));
                $("#yq").val($thistr.attr('data-name'));
            }
        });
    }

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PurchaseManage/Purchase/GetBillGridJson",
            height: $(window).height() - 200,
            postData: { qybm: $("#yqbm").val(), fpmxbhcxtj: '1' },
            colModel: [
                { label: '发票编号', name: 'FPBH', width: 140, align: 'left' },
                { label: '发票明细编号', name: 'FPMXBH', width: 140, align: 'left' },
                { label: '发票代码', name: 'FPDM', width: 140, align: 'left' },
                { label: '发票号', name: 'FPH', width: 140, align: 'left' },
                { label: '发票日期', name: 'FPRQ', width: 80, align: 'left' },
                { label: '发票含税总金额', name: 'FPHSZJE', width: 80, align: 'left' },
                { label: '企业编码', name: 'QYBM', width: 140, align: 'left' },
                { label: '医院编码', name: 'YYBM', width: 80, align: 'left' },
                { label: '配送点编码', name: 'PSDBM', width: 80, align: 'left' },
                { label: '采购类型', name: 'CGLX', width: 80, align: 'left' },
                { label: '发票备注', name: 'FPBZ', width: 80, align: 'left' },
                { label: '是否无配送发票', name: 'SFWPSFP', width: 80, align: 'left' },
                { label: '无配送发票说明', name: 'WPSFPSM', width: 80, align: 'left' },
                { label: '是否冲红', name: 'SFCH', width: 80, align: 'left' },
                { label: '耗材统编代码', name: 'HCTBDM', width: 140, align: 'left' },
                { label: '耗材细分代码', name: 'HCXFDM', width: 140, align: 'left' },
                { label: '医院本地代码', name: 'YYBDDM', width: 80, align: 'left' },
                { label: '规格型号说明', name: 'GGHXSM', width: 80, align: 'left' },
                { label: '关联明细编号', name: 'GLMXBH', width: 120, align: 'left' },
                { label: '销售订单号', name: 'XSDDH', width: 80, align: 'left' },
                { label: '生产批号', name: 'SCPH', width: 80, align: 'left' },
                { label: '生产日期', name: 'SCRQ', width: 80, align: 'left' },
                { label: '有效日期', name: 'YXEQ', width: 80, align: 'left' },
                { label: '商品数量', name: 'SPSL', width: 80, align: 'left' },
                { label: '无税单价', name: 'WSDJ', width: 80, align: 'left' },
                { label: '含税单价', name: 'HSDJ', width: 80, align: 'left' },
                { label: '税率', name: 'SL', width: 80, align: 'left' },
                { label: '税额', name: 'SE', width: 80, align: 'left' },
                { label: '含税金额', name: 'HSJE', width: 80, align: 'left' },
                { label: '批发价', name: 'PFJ', width: 80, align: 'left' },
                { label: '零售价', name: 'LSJ', width: 80, align: 'left' },
                { label: '注册证号', name: 'ZCZH', width: 120, align: 'left' },
            ],

            multiselect: false,

            pager: "#gridPager",
            sortname: 'FPH',
            viewrecords: true,
            ondblClickRow: function (rowid, iRow, iCol, e) {
                //btn_selectrow(rowid);
            }
        });
        $("#btn_search").click(function () {
            $('#gridDJMXInfo').jqGrid("clearGridData");
            $gridList.jqGrid('setGridParam', {
                postData: { kssj: $("#kssj").val(), jssj: $("#jssj").val() },
            }).trigger('reloadGrid');
        });
    }

    //获取明细
    $('#btn_search').click(function () {
        if ($("#yq").val() == "" || $("#yq").val() == null) {
            $.modalAlert("请选择供应商", 'warning');
            return ;
        }
        gridList();
    });

    //明细验收
    $('#btn_accept').click(function () {
        var rowData = $("#gridList").jqGridRowValue();
        if (rowData == null) {
            $.modalAlert("请选择需要验收的单据", 'warning');
            return;
        }
        //var psmxbh = rowData.PSMXBH;
        //var hctbdm = rowData.HCTBDM;
        //var scph = rowData.SCPH;
        //var pssl = rowData.PSSL
        $.modalOpen({
            id: "Form",
            title: "配货单验收",
            url: "/PurchaseManage/Purchase/BillForm?FPID=" + rowData.FPBH + "&FPDM=" + rowData.FPDM + "&FPH=" + rowData.FPH + "&QYBM=" + rowData.QYBM + "&FPYSJG=" + 1 + "&FPHSZJE=" + rowData.FPHSZJE,
            width: "350px",
            height: "150px",
            callBack: function (iframeId) {
                top.frames[iframeId].SubmitForm();
                //$.modalClose("Form");
                //$('#btn_search').trigger('click');
            }
        });
    });
    

    ////明细验收
    //$('#btn_accept').click(function () {
    //    //var selRowIds = $("#gridList").jqGrid('getGridParam', 'selarrrow');
    //    var rowData = $("#gridList").jqGridRowValue();
    //    if (rowData == null ) {
    //        $.modalAlert("请选择需要验收的单据", 'warning');
    //        return;
    //    }
    //    var param = {
    //        FPID: rowData.FPBH,
    //        FPDM: rowData.FPDM,
    //        FPH: rowData.FPH,
    //        QYBM: rowData.QYBM,
    //        FPYSJG: rowData.FPYSJG,
    //        FPHSZJE: rowData.FPHSZJE
    //    }
    //    $.najax({
    //        type: "POST",
    //        url: "/Purchase/BillAccept",
    //        data: { main: param },
    //        dataType: "json",
    //        success: function (res) {
    //            if (res.state == "success") {
    //                $('#btn_search').trigger('click');
    //                $.modalAlert("单据验收成功！", 'success');
    //            } else {
    //                $.modalAlert("单据验收失败：" + res.message, 'warning');
    //            }
    //        }
    //    });
    //});

</script>


