
@{
    ViewBag.Title = "ChargePayDialog"; 
}


<style type="text/css">
    table {
        width: 95%;
        line-height: 35px;
        font-weight: bold;
        margin-top: 15px;
    }

        table th {
            text-align: right;
        }

        table td {
            text-align: left;
        }
</style>

<table>
    <tbody>
        <tr>
            <th>应收款：</th>
            <td></td>
        </tr>
        <tr>
            <th>实收款：</th>
            <td></td>
        </tr>
        <tr>
            <th>舍入差额：</th>
            <td></td>
        </tr>
        <tr>
            <th>找零：</th>
            <td style="color:red;"></td>
        </tr>
    </tbody>
</table>