<table class="form" id="oneIconDiv">
    <tr>
        <th class="formTitle"><span class="required">*</span>收费项目：</th>
        <td class="formValue">
            <input id="sfxmmc" type="text" autocomplete= "off" class="form-control form-an" />
            <input id="sfxmCode" type="text" style="display:none;" class="form-control" />
            <!-- 医嘱类型 1药品 2项目 -->
            <input id="yzlx" type="text" style="display:none;" class="form-control" />
            <input id="sfdlCode" type="text" style="display:none;" class="form-control" />
            <input id="sfdlmc" type="text" style="display:none;" class="form-control" />
            <input id="cfh" type="text" style="display:none;" class="form-control" />
            <a id="zje" style="display: none">0.00</a>
        </td>
        <th class="formTitle">单价：</th>
        <td class="formValue" id="input1"></td>
        <th class="formTitle"><span class="required">*</span>数量：</th>
        <td class="formValue">
            <input id="sl" type="text" class="form-control form-an " />
        </td>
        <th class="formTitle">单位：</th>
        <td class="formValue">
            <label id="dw"></label>
        </td>
    </tr>
    <tr id="PrescriptionInfo">
        <th class="formTitle">剂量：</th>
        <td class="formValue">
            <input id="jl" type="text" class="form-control form-an " />
        </td>
        <th class="formTitle">剂量单位：</th>
        <td class="formValue"><label id="jldw"></label></td>
        <th class="formTitle"></th>
        <td class="formValue" style="padding-left:10px;">
            <div class="ckbox">
                <input id="newPre" name="newPre" type="checkbox"><label for="newPre">新处方</label>
            </div>
        </td>
    </tr>
</table>

<script>
    $(function () {
        $('#PrescriptionInfo').hide();
    });
</script>