
@{
    ViewBag.Title = "库存盘点";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .dv-index {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -230px;
        margin-top: -50px;
    }

    .dv-index div {
        float: left;
        width: 200px;
        height: 50px;
        background-color: #00a0ea;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: white;
        margin-right: 30px;
        cursor: pointer;
        -webkit-box-shadow: #666 3px 4px 8px;
        -moz-box-shadow: #666 3px 4px 8px;
        box-shadow: #666 3px 4px 8px;
    }
</style>
<div class="dv-panel">
    <div class="dv-index">
        <div id="dv_index_startPd">开始盘点</div>
        <div id="dv_search">查询</div>
    </div>
</div>
<script>
    $(function() {
        $(window).resize(function () {//浏览器窗口调整大小时重新加载jqGrid的宽
            window.initLayout("MyTabGrid");
        });
        $("#dv_index_startPd").click(function () {
            $.loading("数据加载中");
            window.location.href = "InventoryAction";
        });
        $("#dv_search").click(function () {
            $.loading("数据加载中");
            window.location.href = "InventoryQuery";
        });
    });
</script>