USE [Newtouch_CIS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[usp_zy_OrderExecutionGetPatTree]
(
    @staffId VARCHAR(50),  
    @Vzxsj VARCHAR(50),  
    @orgId VARCHAR(50),  
    @wnes BIT
)
AS
BEGIN
    IF (@wnes = 0)
    BEGIN
        SELECT * INTO #tmpyzw
        FROM (
            SELECT DISTINCT 
                a.zyh, 
                a.hzxm, 
                a.wardcode, 
                cw.BedNo
            FROM zy_cqyz a
            LEFT JOIN NewtouchHIS_Base..V_S_xt_yzpc b 
                ON a.pcCode = b.yzpcCode 
                AND a.organizeid = b.organizeid 
                AND b.zt = '1'
            LEFT JOIN zy_cwsyjlk cw 
                ON a.OrganizeId = cw.OrganizeId 
                AND a.zyh = cw.zyh 
                AND cw.zt = '1'
            WHERE yzzt IN (1, 2)
                AND a.zt = '1'
                AND (CONVERT(DATE, a.tzsj) IS NULL OR CONVERT(DATE, a.tzsj) >= CONVERT(DATE, @Vzxsj))
                AND (CONVERT(DATE, a.zxsj) IS NULL OR CONVERT(DATE, a.zxsj) < CONVERT(DATE, @Vzxsj))
                AND (
                    (CASE 
                        WHEN a.zxzqdw = '1' AND ABS(DATEDIFF(DAY, a.zxsj, @Vzxsj) % a.zxzq) = 0 THEN '1'
                        ELSE '0'
                    END) = '1'
                    OR CONVERT(DATE, a.zxsj) IS NULL
                )
                AND a.OrganizeId = @orgId
                AND a.yzlx <> 3

            UNION ALL

            SELECT DISTINCT 
                a.zyh, 
                a.hzxm, 
                a.wardcode, 
                cw.BedNo
            FROM zy_lsyz a
            JOIN zy_cwsyjlk cw 
                ON a.OrganizeId = cw.OrganizeId 
                AND a.zyh = cw.zyh 
                AND cw.zt = '1'
            WHERE a.yzzt = 1
                AND a.zt = 1
                AND (CONVERT(DATE, a.zfsj) IS NULL OR CONVERT(DATE, a.zfsj) >= CONVERT(DATE, @Vzxsj))
                AND (CONVERT(DATE, a.zxsj) IS NULL OR CONVERT(DATE, a.zxsj) < CONVERT(DATE, @Vzxsj))
                AND a.organizeid = @orgId
                AND a.yzlx <> 3
        ) AS aaa;

        SELECT DISTINCT 
            b.bqCode,
            c.bqmc,
            d.zyh,
            d.hzxm,
            d.bedno,
            br.sex,
            CAST(DATEDIFF(YEAR, br.birth, GETDATE()) AS VARCHAR) AS nl, -- 年龄
            CAST(DATEDIFF(DAY, br.ryrq, GETDATE()) AS VARCHAR) AS inHosDays -- 住院天数
        FROM [NewtouchHIS_Base].[dbo].[V_C_Sys_UserStaff] a WITH (NOLOCK)
        JOIN [NewtouchHIS_Base].[dbo].[V_S_Sys_StaffWard] b WITH (NOLOCK)
            ON a.OrganizeId = b.organizeid AND a.staffid = b.staffid
        JOIN [NewtouchHIS_Base].[dbo].[V_S_xt_bq] c WITH (NOLOCK)
            ON b.OrganizeId = c.organizeid AND b.bqcode = c.bqcode
        JOIN #tmpyzw d WITH (NOLOCK)
            ON d.wardcode = c.bqcode
        LEFT JOIN zy_brxxk br WITH (NOLOCK)
            ON d.zyh = br.zyh AND br.organizeid = @orgId AND br.zt = '1'
        WHERE a.staffid = @staffId 
            AND a.zt = 1
            AND c.organizeid = @orgId
        GROUP BY 
            b.bqcode, c.bqmc, d.zyh, d.hzxm, d.bedno, br.sex, br.birth, br.ryrq;

        DROP TABLE #tmpyzw;
    END

    ELSE

    BEGIN
        SELECT * INTO #tmpyz
        FROM (
            SELECT DISTINCT 
                a.zyh, 
                a.hzxm, 
                a.wardcode, 
                cw.BedNo
            FROM zy_cqyz a
            LEFT JOIN NewtouchHIS_Base..V_S_xt_yzpc b 
                ON a.pcCode = b.yzpcCode 
                AND a.organizeid = b.organizeid 
                AND b.zt = '1'
            LEFT JOIN zy_cwsyjlk cw 
                ON a.OrganizeId = cw.OrganizeId 
                AND a.zyh = cw.zyh 
                AND cw.zt = '1'
            WHERE yzzt IN (1, 2)
                AND a.zt = '1'
                AND (CONVERT(DATE, a.tzsj) IS NULL OR CONVERT(DATE, a.tzsj) >= CONVERT(DATE, @Vzxsj))
                AND (CONVERT(DATE, a.zxsj) IS NULL OR CONVERT(DATE, a.zxsj) < CONVERT(DATE, @Vzxsj))
                AND (
                    (CASE 
                        WHEN a.zxzqdw = '1' AND ABS(DATEDIFF(DAY, a.zxsj, @Vzxsj) % a.zxzq) = 0 THEN '1'
                        ELSE '0'
                    END) = '1'
                    OR CONVERT(DATE, a.zxsj) IS NULL
                )
                AND a.OrganizeId = @orgId

            UNION ALL

            SELECT DISTINCT 
                a.zyh, 
                a.hzxm, 
                a.wardcode, 
                cw.BedNo
            FROM zy_lsyz a
            JOIN zy_cwsyjlk cw 
                ON a.OrganizeId = cw.OrganizeId 
                AND a.zyh = cw.zyh 
                AND cw.zt = '1'
            WHERE a.yzzt = 1
                AND a.zt = 1
                AND (CONVERT(DATE, a.zfsj) IS NULL OR CONVERT(DATE, a.zfsj) >= CONVERT(DATE, @Vzxsj))
                AND (CONVERT(DATE, a.zxsj) IS NULL OR CONVERT(DATE, a.zxsj) < CONVERT(DATE, @Vzxsj))
                AND a.organizeid = @orgId
        ) AS aaa;

        SELECT DISTINCT 
            b.bqCode,
            c.bqmc,
            d.zyh,
            d.hzxm,
            d.bedno,
            br.sex,
            CAST(DATEDIFF(YEAR, br.birth, GETDATE()) AS VARCHAR) AS nl, -- 年龄
            CAST(DATEDIFF(DAY, br.ryrq, GETDATE()) AS VARCHAR) AS inHosDays -- 住院天数
        FROM [NewtouchHIS_Base].[dbo].[V_C_Sys_UserStaff] a WITH (NOLOCK)
        JOIN [NewtouchHIS_Base].[dbo].[V_S_Sys_StaffWard] b WITH (NOLOCK)
            ON a.OrganizeId = b.organizeid AND a.staffid = b.staffid
        JOIN [NewtouchHIS_Base].[dbo].[V_S_xt_bq] c WITH (NOLOCK)
            ON b.OrganizeId = c.organizeid AND b.bqcode = c.bqcode
        JOIN #tmpyz d WITH (NOLOCK)
            ON d.wardcode = c.bqcode
        LEFT JOIN zy_brxxk br WITH (NOLOCK)
            ON d.zyh = br.zyh AND br.organizeid = @orgId AND br.zt = '1'
        WHERE a.staffid = @staffId 
            AND a.zt = 1
            AND c.organizeid = @orgId
        GROUP BY 
            b.bqcode, c.bqmc, d.zyh, d.hzxm, d.bedno, br.sex, br.birth, br.ryrq;

        DROP TABLE #tmpyz;
    END
END