USE [NewtouchHIS_Sett]
GO
/****** Object:  StoredProcedure [dbo].[usp_Inp_InventoryUpdate_purchase]    Script Date: 2025/4/18 8:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--3503 出入库明细
--exec  usp_Inp_InventoryUpdate_purchase '6d5752a7-234a-403e-aa1c-df8b45d3469f',''
ALTER proc [dbo].[usp_Inp_InventoryUpdate_purchase]
	@orgId varchar(50),
	@crkId varchar(50)
as
begin
select 
crkmx.crkmxid mlbm_id,
yp.gjybdm med_list_codg,--医疗目录编码  
yp.ypcode fixmedins_hilist_id,
 yp.ypmc fixmedins_hilist_name,
 '' dynt_no,
 crkdj.Pdh fixmedins_bchno,
 gys.gysmc spler_name,
 null spler_pmtno,
crkmx.ph manu_lotnum,
yp.ycmc prodentp_name,
crkmx.pc aprvno,
convert(varchar(50),substring(crkmx.pc,0,5)+'-'+substring(crkmx.pc,5,2)+'-'+substring(crkmx.pc,7,2))  manu_date,
convert(varchar(50),isnull(crkmx.Yxq, dateadd(year, 5, getdate())), 23) AS expy_end,
crkmx.jj finl_trns_pric,
convert(decimal(18,2),crkmx.Sl) purc_retn_cnt,
null purc_invo_codg,
crkmx.Fph purc_invo_no,
yp.isKss rx_flag,
convert(varchar(19),crkmx.CreateTime,121) purc_retn_stoin_time,
crkmx.CreatorCode purc_retn_opter_name,
null prod_geay_flag,
null memo,
yp.ypgg spec,
yp.zxdw min_pacunt
into #ypkc
 from [NewtouchHIS_PDS].[dbo].[xt_yp_crkdj] (nolock) crkdj 
inner join [NewtouchHIS_PDS].[dbo].xt_yp_crkmx (nolock) crkmx on crkdj.crkId=crkmx.crkId
inner join NewtouchHIS_Base..V_C_xt_yp yp on crkmx.ypdm=yp.ypcode
inner join NewtouchHIS_Base..[xt_ypgys] gys on crkdj.ckbm=gys.gyscode
left join Drjk_jxcsc_output jxcxc on jxcxc.mlbm_id=crkmx.crkmxid and crkdj.organizeid=jxcxc.organizeid and jxcxc.type='3503'
where yp.gjybdm is not null
   and  crkdj.organizeid=@orgId
   and crkdj.djlx='1'
   and crkdj.zt='1'
   and (jxcxc.mlbm_id is null or jxcxc.issuccess='False')
  -- and yp.ypCode in('00001918','00001897')
  -- and crkdj.CreateTime>=convert(datetime,(convert(varchar(50),GETDATE()-7,23)+' 00:00:00'))
   --and crkdj.CreateTime<=convert(datetime,(convert(varchar(50),GETDATE(),23)+' 23:59:59'))

   if(@crkId!=null or @crkId!='')
   begin
	select * from #ypkc where mlbm_id=@crkId
   end
   else
   begin
   select * from #ypkc 
   end
   drop table #ypkc
end
