USE [NewtouchHIS_Sett]
GO
/****** Object:  StoredProcedure [dbo].[usp_Inp_ybupload_basy_baseinfo]    Script Date: 2025/4/18 8:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*
atuhor:chl
createtime:2021-7-7
desc :医保上传 -病案首页-baseinfo
exec usp_Inp_ybupload_basy_baseinfo '6d5752a7-234a-403e-aa1c-df8b45d3469f','03314',''
*/
ALTER proc [dbo].[usp_Inp_ybupload_basy_baseinfo]
	@orgId varchar(50),
	@zyh varchar(20),
	@orgcode varchar(50)
as
begin
	select --'H15090201645'+y.mdtrt_id mdtrt_sn, --就医流水号 字符型 30 Y格式：定点医药机构编号+院内唯一流水号
	@orgcode + y.zyh mdtrt_sn, --就医流水号 字符型 30 Y格式：定点医药机构编号+住院号
y.mdtrt_id, -- 就诊 ID 字符型 30医保病人必填
y.psn_no , --人员编号 字符型 30医保病人必填
1 patn_ipt_cnt, -- 患者住院次数 字符型 5,0
y.zyh ipt_no, -- 住院号 字符型 30 
b.bah+replace(CONVERT(VARCHAR(8),GETDATE(),108),':','')  medcasno, -- 病案号 字符型 40 Y 
b.xm psn_name, -- 人员姓名 字符型 50 Y 
b.xb gend , --性别 字符型 6 Y 
convert(varchar(19),b.csrq,121) brdy, -- 出生日期 日期型
c.gj ntly, -- 国籍 字符型 6 Y
b.gj ntly_name, -- 国籍名称 字符型 70
b.XSECSTZ nwb_bir_wt, -- 新生儿出生体重 数值型 6,2
b.XSERYTZ nwb_adm_wt, -- 新生儿入院体重 数值型 6,2
(case when b.csd_sn<>'' then isnull(b.csd_SN,'')+isnull(b.csd_SI,'')+isnull(b.csd_QX,'')+isnull(b.csd_JD,'')+isnull(b.csd,'') end) birplc , --出生地 字符型 200
b.gg napl , --籍贯 字符型 100
b.mz naty_name, -- 民族名称 字符型 100
right(c.mz,2) naty, -- 民族 字符型 3 Y
b.sfzh certno , --证件号码 字符型 50
isnull(c.zy,'90') prfs , --职业 字符型 6 Y
c.HY mrg_stas, -- 婚姻状态 字符型 3 Y
b.XZZYB curr_addr_poscode, -- 现住址-邮政编码 字符型 6
(case when b.xzz_sn<>'' then isnull(b.XZZ_SN,'')+isnull(b.XZZ_SI,'')+isnull(b.XZZ_QX,'')+isnull(b.XZZ_JD,'') end) curr_addr, -- 现住址 字符型 200
y.tel psn_tel, -- 个人联系电话 字符型 70
b.hkdz_sn resd_addr_prov , --户口地址-省
b.hkdz_SI resd_addr_city, -- 户口地址-市（地区） 字符型 500
b.hkdz_QX resd_addr_coty, -- 户口地址-县（区） 字符型 500
b.hkdz_jd resd_addr_subd, -- 户口地址-乡（镇、街道办事处）字符型 500
'' resd_addr_vil, -- 户口地址-村（街、路、弄等）字符型 500
'' resd_addr_housnum, -- 户口地址-门牌号码 字符型 200
b.HKDYB resd_addr_poscode, -- 户口地址- 邮政编码 字符型 30
b.hkdz resd_addr , --户口地址 字符型 200
b.DWDH empr_tel , --工作单位联系电话 字符型 20
b.DWYB empr_poscode, -- 工作单位- 邮政编码 字符型 6
GZDWJDZ empr_addr, -- 工作单位及地址 字符型 200
LXRDH coner_tel, -- 联系人电话 字符型 50
LXRXM coner_name, -- 联系人姓名 字符型 50
LXRDZ coner_addr , --联系人地址 字符型 200
b.GX coner_rlts_code , --与联系人关系代码
c.RYTJ adm_way_name , --入院途径名称 字符型 300
b.RYTJ adm_way_code , --入院途径代码 字符型 3 Y
'西医' trt_type_name, -- 治疗类别名称 字符型 300
'10' trt_type, -- 治疗类别 字符型 3 Y
c.RYKB adm_caty, -- 入院科别 字符型 6 Y dept
b.RYBF adm_ward, -- 入院病房 字符型 50
convert(varchar(19), b.RYSJ,121) adm_date, -- 入院日期 日期型
convert(varchar(19), b.CYSJ,121) dscg_date, -- 出院日期 日期型
c.CYKB dscg_caty, -- 出院科别 字符型 6 Y dept
b.zkkb Refldept_caty_name, -- 转科科别名称 字符型 50
b.cybf dscg_ward, -- 出院病房 字符型 50
SJZYTS ipt_days, -- 住院天数 数值型 4,0
(case when b.YWGM=2 then 1 else 0 end) drug_dicm_flag, -- 药物过敏标志 字符型 30 Y
GMYW dicm_drug_name , --过敏药物名称 字符型 200
(case when SWHZSJ=2 then 1 else 0 end) die_autp_flag , --死亡患者尸检标志 字符型 30 Y
(case when b.XX in(1,2,3,4,5) then b.xx else 9 end) abo_code, -- ABO 血型代码 字符型 30 Y
c.xx abo_name, -- ABO 血型名称 字符型 30
b.rh rh_code, -- Rh 血型代码 字符型 30 Y
c.RH rh_name, -- RH 血型 字符型 30
0 die_flag, -- 死亡标志 字符型 3 Y
b.KZR deptdrt_name, -- 科主任姓名 字符型 50
b.ZRYS chfdr_name, -- 主任( 副主任)医师姓名字符型 50
b.ZZYS atddr_name, -- 主治医生姓名 字符型 50
y.chfpdr_name, -- 主诊医师姓名 字符型 50
b.ZYYS ipt_dr_name, -- 住院医师姓名 字符型 50
b.ZRHS resp_nurs_name, -- 责任护士姓名 字符型 50
b.JXYS train_dr_name, -- 进修医师姓名 字符型 50
b.SXYS intn_dr_name, -- 实习医师姓名 字符型 50
b.BMY codr_name, -- 编码员姓名 字符型 50
b.ZKYS qltctrl_dr_name, -- 质控医师姓名 字符型 50
b.ZKHS qltctrl_nurs_name, -- 质控护士姓名 字符型 50
c.BAZL medcas_qlt_name, -- 病案质量名称 字符型 100
b.bazl medcas_qlt_code, -- 病案质量代码 字符型 30
b.zkrq qltctrl_date, -- 质控日期 日期型
c.LYFS dscg_way_name , --离院方式名称 字符型 200
b.LYFS dscg_way, -- 离院方式 字符型 3 Y
YZZY_YLJG acp_medins_code, -- 拟接收医疗机构代码 字符型 50
YZZY_YLJG acp_medins_name, -- 拟接收医疗机构名称 字符型 500
b.SFZZYJH dscg_31days_rinp_flag, --出院 31 天内再住院计划标志字符型 3 Y
md dscg_31days_rinp_pup, --出院 31 天内再住院目的字符型 200
WBYY damg_intx_ext_rea, -- 损伤、中毒的外部原因 字符型 1000
H23 damg_intx_ext_rea_disecode, --损伤、中毒的外部原因疾病编码字符型 30
'' brn_damg_bfadm_coma_dura, --颅脑损伤患者入院前昏迷时长字符型 10格式：天数/小时数/分钟数例：1/13/2482
'' brn_damg_afadm_coma_dura, --颅脑损伤患者入院后昏迷时长字符型 10格式：天数/小时数/分钟数例：1/13/24
'' vent_used_dura, -- 呼吸机使用时长 字符型 10 格
null cnfm_date, -- 确诊日期 日期型
'' patn_dise_diag_crsp, --患者疾病诊断对照 字符型 20
'' patn_dise_diag_crsp_code, --住院患者疾病诊断对照代码字符型 3 Y
'' ipt_patn_diag_inscp, --住院患者诊断符合情况字符型 20
'' ipt_patn_diag_inscp_code, --住院患者诊断符合情况代码字符型 1 Y
''  dscg_trt_rslt, -- 出院治疗结果 字符型 4
'' dscg_trt_rslt_code, --出院治疗结果代码 字符型 30 Y
@orgcode medins_orgcode, --医疗机构组织机构代码字符型 50
b.NL age , --年龄 数值型 4,1
'' aise, -- 过敏源 字符型 30 Y
'' pote_intn_dr_name, -- 研究生实习医师姓名 字符型 50 Y
'' hbsag , --乙肝表面抗原（HBsAg） 字符型 30 Y
'' [hcv-ab] , --丙型肝炎抗体（HCV-Ab）字符型 30 Y
'' [hiv-ab], -- 艾滋病毒抗体（hiv-ab）字符型 30 Y
0 resc_cnt, -- 抢救次数 数值型 3,0
0 resc_succ_cnt, -- 抢救成功次数 数值型 3,0
'' hosp_dise_fsttime, --手术、治疗、检查、诊断为本院第一例字符型 30 Y
'按床日付费（含日间）' hif_pay_way_name, --医保基金付费方式名称字符型 20
'98' hif_pay_way_code, --医保基金付费方式代码字符型 2 Y
(case when d.insutype='310' then '职工基本医疗保险' when d.insutype='390' then '城乡居民医疗保险' else '其他' end ) med_fee_paymtd_name, --医疗费用支付方式名 称字符型 200104
(case when d.insutype='310' then '01' when d.insutype='390' then '90' else '99' end ) medfee_paymtd_code, --医疗费用支付方式代码字符型 3 Y
b.ZFJE selfpay_amt , --自付金额 数值型 16,2
b.ZFY medfee_sumamt , --医疗费总额 数值型 16,2 Y
YLFUF ordn_med_servfee, -- 一般医疗服务费 数值型 16,2
ZLCZF ordn_trt_oprt_fee,   --一般治疗操作费 数值型 16,2
HLF nurs_fee,   -- 护理费 数值型 16,2
QTFY com_med_serv_oth_fee,   --综合医疗服务类其他费用数值型 16,2
BLZDF palg_diag_fee,   -- 病理诊断费 数值型 16,2
SYSZDF lab_diag_fee ,   --实验室诊断费 数值型 16,2
YXXZDF rdhy_diag_fee,   -- 影像学诊断费 数值型 16,2
LCZDXMF clnc_dise_fee,   -- 临床诊断项目费 数值型 16,2
FSSZLXMF nsrgtrt_item_fee,   -- 非手术治疗项目费 数值型 16,2
WLZLF clnc_phys_trt_fee,   -- 临床物理治疗费 数值型 16,2
SSZLF rgtrt_trt_fee,   -- 手术治疗费 数值型 16,2
MAF anst_fee,   -- 麻醉费 数值型 16,2
SSF rgtrt_fee,   -- 手术费 数值型 16,2
KFF rhab_fee,   -- 康复费 数值型 16,2
ZYZLF tcm_trt_fee,   -- 中医治疗费 数值型 16,2
XYF wm_fee,   -- 西药费 数值型 16,2
KJYWF abtl_medn_fee,   -- 抗菌药物费用 数值型 16,2
ZCYF tcmpat_fee,   -- 中成药费 数值型 16,2
ZCYF1 tcmherb_fee,   -- 中药饮片费 数值型 16,2
XF blo_fee ,   --血费 数值型 16,2
BDBLZPF albu_fee,   -- 白蛋白类制品费 数值型 16,2
QDBLZPF glon_fee,   -- 球蛋白类制品费 数值型 16,2
NXYZLZPF clotfac_fee,   -- 凝血因子类制品费 数值型 16,2
XBYZLZPF cyki_fee,   -- 细胞因子类制品费 数值型 16,2
HCYYCLF exam_dspo_matl_fee,   --检查用一次性医用材料费数值型 16,2
YYCLF trt_dspo_matl_fee,   --治疗用一次性医用材料费数值型 16,2
YCXYYCLF oprn_dspo_matl_fee,   --手术用一次性医用材料费数值型 16,2
QTF oth_fee,   -- 其他费 数值型 16,2
'1' vali_flag,   -- 有效标志 字符型 3 Y Y
@orgcode as fixmedins_code  --定点医药机构编号 字符型 3
	--select mdtrt_id,*
from drjk_rybl_input y with(nolock) 
left join Newtouch_EMR.dbo.mr_basy  b with(nolock) on y.zyh=b.zyh and b.zt='1'
left join Newtouch_EMR.dbo.mr_basy_rel_code c with(nolock)  on b.id=c.syid and b.organizeid=c.organizeid 
left join drjk_zyjs_output d with(nolock) on b.ZYH=d.zyh and d.zt='1'
left join drjk_zyjs_input e with(nolock) on d.setl_id=e.setl_id and e.zt='1'
where y.zt='1'  and b.zt='1'
and e.mid_setl_flag=0
and b.OrganizeId=@orgId and b.ZYH=@zyh

end

--select zyh,clr_way, * from drjk_zyjs_output
--where zt='1'
--select mid_setl_flag,* from drjk_zyjs_input
--where zt='1' and mid_setl_flag=0

