USE [NewtouchHIS_Sett]
GO
/****** Object:  StoredProcedure [dbo].[usp_Inp_InventoryUpload_invinfo]    Script Date: 2025/4/18 8:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--3501 商品盘存上传  商品库存变更
--exec  usp_Inp_InventoryUpload_invinfo '6d5752a7-234a-403e-aa1c-df8b45d3469f',''
ALTER proc [dbo].[usp_Inp_InventoryUpload_invinfo]
	@orgId varchar(50), --组织机构
	@pdId varchar(50)  --盘点明细id
as
begin
select 
  pdmx.pdmxid mlbm_id,
  yp.gjybdm med_list_codg,--医疗目录编码  
  yp.ypcode fixmedins_hilist_id,
   yp.ypmc fixmedins_hilist_name,
   yp.isKss rx_flag,
   convert(varchar(19),pdxx.CreateTime,121) invdate,
   pdmx.sjsl inv_cnt,
   pdmx.Ph manu_lotnum,
   pdmx.pc  fixmedins_bchno,
  convert(varchar(50),substring(pdmx.pc,0,5)+'-'+substring(pdmx.pc,5,2)+'-'+substring(pdmx.pc,7,2))  manu_date,
  convert(varchar(50), isnull(pdmx.Yxq, dateadd(year, 5, getdate())), 23) AS expy_end,
   null memo,
   pdmx.zsm drugtracinfos
    into #ypkc
   from [NewtouchHIS_PDS].dbo.xt_yp_pdxx (NOLOCK) pdxx inner join [NewtouchHIS_PDS].dbo.xt_yp_pdxxmx (NOLOCK) pdmx
   on  pdxx.pdid=pdmx.pdid
   inner join NewtouchHIS_Base..V_C_xt_yp yp on pdmx.ypdm=yp.ypcode and pdxx.organizeid=yp.organizeid and yp.zt='1'
   left join Drjk_jxcsc_output jxcxc on jxcxc.mlbm_id=pdmx.pdmxid and pdxx.organizeid=jxcxc.organizeid
   where 1=1 and pdxx.organizeid=@orgId and pdxx.Jssj is not null 
   and yp.gjybdm is not null
  -- and pdmx.Llsl!=pdmx.Sjsl
   and pdxx.zt='1'
   and (jxcxc.mlbm_id is null or jxcxc.issuccess='False')
   --and pdxx.CreateTime>=convert(datetime,(convert(varchar(50),GETDATE()-7,23)+' 00:00:00'))
   --and pdxx.CreateTime<=convert(datetime,(convert(varchar(50),GETDATE(),23)+' 23:59:59'))
   and zsm is not null  --药品追溯码
  

   if(@pdId!=NULL OR @pdId!='')
   BEGIN
	 select * from #ypkc WHERE mlbm_id=@pdId  
   END
   ELSE
   BEGIN
    select * from #ypkc
   END
   drop table #ypkc
end
