USE [NewtouchHIS_Sett]
GO
/****** Object:  StoredProcedure [dbo].[zy_fymxscV2]    Script Date: 2025/4/17 3:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















/*
exec zy_fymxscV2 '6d5752a7-234a-403e-aa1c-df8b45d3469f ','03333','21','2024-11-18 14:43:31',''
*/


--医保数据传输页面调用
ALTER PROCEDURE [dbo].[zy_fymxscV2]     
@orgId varchar(50),  --组织结构  
@zyh varchar(20),--住院号  
@yllb varchar(20),--医疗类别 
@jssj datetime, --费用截止时间
@jfbbh varchar(max) --需上传的jfbbh
as   
declare @jfbbh1 varchar(max)
declare @jfbbh2 varchar(max)
if(isnull(@jfbbh,'')!='')
begin
set @jfbbh1=@jfbbh
set @jfbbh2='xx'
end
else
begin
set @jfbbh1=''
set @jfbbh2=''
end
 select * from (
select 'YP' + CONVERT(VARCHAR(20), ypjfb.jfbbh) feedetl_sn ,--费用明细流水号    
  case when isnull(cxzyjfbbh,0)=0  then '' else 'YP' +cast(cxzyjfbbh as varchar) end init_feedetl_sn,--原费用流水号    
  b.jylsh mdtrt_id,--就诊 ID    
  '' drord_no,--医嘱号    
  cd.grbh psn_no,--人员编号    
  case when rytj is null then '21' else rytj end  med_type,--医疗类别    
 --CONVERT(VARCHAR(20), CASE WHEN SUBSTRING(CONVERT(VARCHAR(15), ypjfb.tdrq, 120),
 --                                       0, 11) = SUBSTRING(CONVERT(VARCHAR(15), brxx.ryrq, 120),
 --                                                          0, 11)
 --                        THEN SUBSTRING(CONVERT(VARCHAR(15), ypjfb.tdrq, 120),
 --                                       0, 11) + ' 23:59:58'
 --                        ELSE SUBSTRING(CONVERT(VARCHAR(15), ypjfb.tdrq, 120),
 --                                       0, 11)
 --                             + SUBSTRING(CONVERT(VARCHAR(30), ypjfb.CreateTime, 120),
 --                                         11, 12)
            
 --       END,120)  fee_ocur_time, --费用发生时间 
 convert(varchar(20),ypjfb.tdrq,120)  fee_ocur_time, --费用发生时间 
  yp.gjybdm med_list_codg,--医疗目录编码    
  yp.ypCode medins_list_codg,--医药机构目录编码    
  --CONVERT(DECIMAL(14, 2), ypjfb.sl * ypjfb.dj)  det_item_fee_sumamt,--明细项目费用总额    
  --      ISNULL(ypjfb.sl, 0.00) cnt ,--数量    
  --ISNULL(ypjfb.dj, 0.00) pric,--单价    
  ROUND((CONVERT(DECIMAL(18, 6), ypjfb.sl) / NULLIF(CONVERT(DECIMAL(18, 6), yp.bzs), 0)) * (CONVERT(DECIMAL(18, 6), yp.bzs) * CONVERT(DECIMAL(18, 6), ypjfb.dj)),2) det_item_fee_sumamt,--明细项目费用总额
  ROUND(CONVERT(DECIMAL(18, 6), ypjfb.sl) / NULLIF(CONVERT(DECIMAL(18, 6), yp.bzs), 0), 4) cnt ,--数量      
  ROUND(CONVERT(DECIMAL(18, 6), yp.bzs) * CONVERT(DECIMAL(18, 6), ypjfb.dj), 4) pric, --单价  
  ISNULL(ks.ybksbm, '') bilg_dept_codg,--开单科室编码    
  ks.Name bilg_dept_name,--开单科室名称    
  isnull(staff.gjybdm,ypjfb.ys) bilg_dr_codg, --开单医生编码    
  staff.Name bilg_dr_name,--开单医师姓名    
  ISNULL(ks.ybksbm, '') acord_dept_codg,--受单科室编码    
  ks.Name acord_dept_name,--受单科室名称    
  isnull(staff.gjybdm,ypjfb.ys) orders_dr_code,--受单医生编码    
  staff.Name orders_dr_name,--受单医生姓名    
  case isnull(zzfbz,'0') when '1' then '2' else '1' end hosp_appr_flag,--医院审批标志    
  '' tcmdrug_used_way,--中药使用方式    
  '' etip_flag,--外检标志    
  '' etip_hosp_code,--外检医院编码    
  '' dscg_tkdrug_flag,--出院带药标志    
  '' matn_fee_flag,--生育费用标志    
  '' memo --备注  
from zy_ypjfb (NOLOCK) ypjfb
LEFT JOIN NewtouchHIS_Base..V_C_xt_yp (NOLOCK) yp ON yp.ypCode = ypjfb.yp    
										AND yp.zt = '1'    
										AND yp.OrganizeId = ypjfb.OrganizeId
  LEFT JOIN NewtouchHIS_Sett..zy_brjbxx brxx ON brxx.OrganizeId = ypjfb.OrganizeId    
                                                      AND brxx.zt = '1'    
                                                      AND brxx.zyh = ypjfb.zyh   
  LEFT join [cqyb_OutPut02] b on ypjfb.zyh=b.zymzh and ypjfb.OrganizeId=b.OrganizeId and b.zt='1'   
  LEFT JOIN NewtouchHIS_Sett..xt_brjbxx xtxx on xtxx.patid=brxx.patid AND xtxx.OrganizeId=brxx.OrganizeId and xtxx.zt='1'    
  LEFT JOIN NewtouchHIS_Base..Sys_Staff (NOLOCK) staff ON staff.OrganizeId = ypjfb.OrganizeId    
                                                              AND staff.gh = ypjfb.ys    
                                                              AND staff.zt = '1'    
  LEFT JOIN NewtouchHIS_Base..Sys_Department (NOLOCK) ks ON ks.OrganizeId = ypjfb.OrganizeId    
                                                              AND ks.Code = ypjfb.ks    
                                                              AND ks.zt = '1'    
left join Drjk_zyfymxsc_input (NOLOCK) fymx on SUBSTRING(fymx.feedetl_sn,3,50)=ypjfb.jfbbh and  replace(fymx.zyh,'_t','')=ypjfb.zyh and fymx.zt='1'  
		LEFT JOIN xt_card (NOLOCK) cd ON cd.OrganizeId = brxx.OrganizeId
                                                              AND cd.CardNo = brxx.kh
                                                              AND cd.zt = '1'
 where ypjfb.zyh =@zyh and ypjfb.OrganizeId =@orgId  and ypjfb.zt= '1' AND ypjfb.sl != 0   
 and yp.zfxz!='1' --1:自费 4:甲 5:已 6:丙  replace(fymx.zyh,'_t','')
 and (ypjfb.tdrq <  @jssj or @jssj='' )  and ISNULL(fymx.feedetl_sn,'0')='0' --未上传
  and (ypjfb.jfbbh in (select * from dbo.f_split(@jfbbh1,',')) or @jfbbh2='')  
  and NOT EXISTS ( SELECT 1 FROM (
                                SELECT  jsmx.ypjfbbh,a.OrganizeId,a.zyh --已冲销
                                FROM    zy_js a
                                        INNER JOIN zy_jsmx jsmx ON a.jsnm = jsmx.jsnm AND jsmx.OrganizeId = a.OrganizeId
                                WHERE  a.zyh=@zyh and NOT EXISTS ( SELECT 1
                                                     FROM   zy_js b
                                                     WHERE  a.jsnm = b.cxjsnm )
                                        AND jszt = '1' ) m WHERE (ypjfb.jfbbh=m.ypjfbbh or ypjfb.cxzyjfbbh=m.ypjfbbh) AND ypjfb.OrganizeId=m.OrganizeId
										AND ypjfb.zyh=m.zyh

										)


union all
 select  'XM' + CONVERT(VARCHAR(20), xmjfb.jfbbh) feedetl_sn ,--费用明细流水号    
  case when isnull(cxzyjfbbh,0)=0  then '' else 'XM' +cast(cxzyjfbbh as varchar) end init_feedetl_sn,--原费用流水号    
  b.jylsh mdtrt_id,--就诊 ID    
  '' drord_no,--医嘱号    
  cd.grbh psn_no,--人员编号    
  case when rytj is null then '21' else rytj end med_type,--医疗类别    
    --CONVERT(VARCHAR(20), CASE WHEN SUBSTRING(CONVERT(VARCHAR(15), xmjfb.tdrq, 120),
    --                                    0, 11) = SUBSTRING(CONVERT(VARCHAR(15), brxx.ryrq, 120),
    --                                                       0, 11)
    --                     THEN SUBSTRING(CONVERT(VARCHAR(15), xmjfb.tdrq, 120),
    --                                    0, 11) + ' 23:59:58'
    --                     ELSE SUBSTRING(CONVERT(VARCHAR(15), xmjfb.tdrq, 120),
    --                                    0, 11)
    --                          + SUBSTRING(CONVERT(VARCHAR(30), xmjfb.CreateTime, 120),
    --                                      11, 12)
    --    END,120) fee_ocur_time, --费用发生时间    
   convert(varchar(20),xmjfb.tdrq,120)  fee_ocur_time, --费用发生时间 
  sfxm.gjybdm med_list_codg,--医疗目录编码    
  sfxm.sfxmCode medins_list_codg,--医药机构目录编码    
  ROUND(CONVERT(DECIMAL(18, 6), xmjfb.sl) * CONVERT(DECIMAL(18, 6), xmjfb.dj), 2) det_item_fee_sumamt,--明细项目费用总额        
  ROUND(CONVERT(DECIMAL(18, 6), ISNULL(xmjfb.sl, 0.0000)), 4) cnt ,--数量 
  ROUND(CONVERT(DECIMAL(18, 6), ISNULL(xmjfb.dj, 0.0000)), 4) pric,--单价   
  ISNULL(ks.ybksbm, '') bilg_dept_codg,--开单科室编码    
  ks.Name bilg_dept_name,--开单科室名称    
  isnull(staff.gjybdm,xmjfb.ys) bilg_dr_codg, --开单医生编码    
  staff.Name bilg_dr_name,--开单医师姓名    
  ISNULL(ks.ybksbm, '') acord_dept_codg,--受单科室编码    
  ks.Name acord_dept_name,--受单科室名称    
  isnull(staff.gjybdm,xmjfb.ys) orders_dr_code,--受单医生编码    
  staff.Name orders_dr_name,--受单医生姓名   
  case isnull(zzfbz,'0') when '1' then '2' else '1' end hosp_appr_flag,--医院审批标志    
 -- cast('1' as varchar) hosp_appr_flag,--医院审批标志    
  '' tcmdrug_used_way,--中药使用方式    
  '' etip_flag,--外检标志    
  '' etip_hosp_code,--外检医院编码    
  '' dscg_tkdrug_flag,--出院带药标志    
  '' matn_fee_flag,--生育费用标志    
  '' memo --备注   
 from zy_xmjfb (NOLOCK) xmjfb
 LEFT JOIN NewtouchHIS_Base..V_S_xt_sfxm (NOLOCK) sfxm ON sfxm.sfxmCode = xmjfb.sfxm    
                                                      AND sfxm.zt = '1'    
                                                      AND sfxm.OrganizeId = xmjfb.OrganizeId
   LEFT JOIN NewtouchHIS_Sett..zy_brjbxx brxx ON brxx.OrganizeId = xmjfb.OrganizeId    
                                                      AND brxx.zt = '1'    
                                                      AND brxx.zyh = xmjfb.zyh   
    LEFT JOIN [cqyb_OutPut02] b on xmjfb.zyh=b.zymzh and xmjfb.OrganizeId=b.OrganizeId and b.zt='1'    
  LEFT JOIN NewtouchHIS_Sett..xt_brjbxx xtxx on xtxx.patid=brxx.patid AND xtxx.OrganizeId=brxx.OrganizeId and xtxx.zt='1'    
 LEFT JOIN NewtouchHIS_Base..Sys_Department (NOLOCK) ks ON ks.OrganizeId = xmjfb.OrganizeId    
                                                              AND ks.Code = xmjfb.ks    
                                                              AND ks.zt = '1' 
LEFT JOIN NewtouchHIS_Base..Sys_Staff (NOLOCK) staff ON staff.OrganizeId = xmjfb.OrganizeId    
AND staff.gh = xmjfb.ys    
AND staff.zt = '1'
		LEFT JOIN xt_card (NOLOCK) cd ON cd.OrganizeId = brxx.OrganizeId
                                                              AND cd.CardNo = brxx.kh
                                                              AND cd.zt = '1'
left join Drjk_zyfymxsc_input (NOLOCK) fymx on SUBSTRING(fymx.feedetl_sn,3,50)=xmjfb.jfbbh and  replace(fymx.zyh,'_t','')=xmjfb.zyh and fymx.zt='1'            
 where xmjfb.zyh =@zyh and xmjfb.OrganizeId =@orgId and xmjfb.zt= '1' AND xmjfb.sl != 0  
 and (xmjfb.tdrq < @jssj or @jssj='' ) and ISNULL(fymx.feedetl_sn,'0')='0'
 and sfxm.zfxz!=1   --1:自费 4:甲 5:已 6:丙
  and (xmjfb.jfbbh in (select * from dbo.f_split(@jfbbh1,',')) or @jfbbh2='')  
  and  NOT EXISTS ( SELECT 1 FROM (
                                SELECT  jsmx.xmjfbbh,a.OrganizeId,a.zyh --已冲销
                                FROM    zy_js a
                                        INNER JOIN zy_jsmx jsmx ON a.jsnm = jsmx.jsnm
                                WHERE  a.zyh=@zyh and NOT EXISTS ( SELECT 1
                                                     FROM   zy_js b
                                                     WHERE  a.jsnm = b.cxjsnm )
                                        AND jszt = '1')m WHERE (xmjfb.jfbbh=m.xmjfbbh or xmjfb.cxzyjfbbh=m.xmjfbbh) AND xmjfb.OrganizeId=m.OrganizeId AND xmjfb.zyh=m.zyh )
										) tab order by cnt desc















