@{
    Layout = null;
}

<a href="#" class="easyui-linkbutton l-btn l-btn-small l-btn-plain" title="浏览" data-options=" iconCls:'icon-copy',plain:true" onclick="openPreview();">浏览 </a>
<script type="text/javascript">

    function openPreview()
    {
        top.top.$.Newtouchtab.addTabWithOutMenu({ name: "病历浏览", enName: "", url: "/MedicalRecordManage/MedicalRecord/PreViewEdit?blid=" + $("#blid").val() + "&bllx=" + $("#bllx").val() });
    }
</script>
