
@{
    ViewBag.Title = "CancelSettlement";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div style="float:left;">
    <div class="rows" style="margin-bottom: 1%;" id="divPatHospitalizationSettBasicInfo">
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-heading navb-bg">
                住院病人信息
            </div>
            <table class="form" style="width:100%;">
                @*<tr>
                        <td class="formTitle">关键字：</td>
                        <td class="formValue">
                            <input type="text" id="txtINPUTCODE" class="form-control" placeholder="卡号 住院号 患者姓名" />
                        </td>
                    </tr>*@
                <tr>
                    <td class="formTitle">卡号：</td>
                    <td class="formValue">
                        <input class="form-control " type="text" id="kh" value="" />
                    </td>
                    <td class="formTitle">住院号：</td>
                    <td class="formValue">
                        <input class="form-control " type="text" id="zyh" value="" />
                    </td>

                    <td class="formTitle">姓名：</td>
                    <td class="formValue">
                        <input class="form-control " type="text" id="xm" value="" />
                    </td>
                </tr>
                <tr id="mark">
                    <td colspan="10">
                        <div style="background-color:#fcfcfc;color:#00a0ea; height:15px; text-align:center"><label id="moreBtn" class="fa fa-angle-double-down"></label></div>
                    </td>
                </tr>
                <tr class="moreInfo">
                    <td class="formTitle">病历号：</td>
                    <td class="formValue">
                        <input class="form-control newtouch_Readonly" type="text" id="blh" value="" />
                    </td>
                    <td class="formTitle">性别：</td>
                    <td class="formValue">
                        <input class="form-control newtouch_Readonly" readonly="readonly" type="text" id="xb" value="" />
                    </td>
                    <td class="formTitle">患者类型：</td>
                    <td class="formValue">
                        <input class="form-control newtouch_Readonly" type="text" id="brxzmc" value="" />
                    </td>
                    <td class="formTitle">医保证号：</td>
                    <td class="formValue">
                        <input class="form-control newtouch_Readonly" type="text" value="" id="pzh" />
                    </td>

                    <td class="formTitle">入院日期：</td>
                    <td class="formValue">
                        <input class="form-control newtouch_Readonly" type="text" value="" id="ryrq" />
                    </td>
                </tr>
                <tr class="moreInfo">
                    <td class="formTitle">出院日期：</td>
                    <td class="formValue">
                        <input id="Kssj" type="text" class="form-control input-wdatepicker newtouch_Readonly" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                </tr>
                <tr id="markdis">
                    <td colspan="10">
                        <div style="background-color:#fcfcfc; color:#00a0ea; height:15px; text-align:center"><i id="disBtn" class="fa fa-angle-double-up" style="color:rgb(0, 160, 233);cursor:pointer; "></i></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



<div class="rows" style="margin-bottom: 1%;" id="divPatHospitalizationBillFeeInfo">
    <div class="panel panel-default" style="margin-bottom:0;">
        <div class="panel-heading navb-bg">
            结算信息
        </div>
        <table class="form" style="width:96%;">
            <tr>
                <td class="formTitle">结算类型：</td>
                <td class="formValue">
                    <input type="hidden" id="hfJSNM" />
                    <input class="form-control" disabled readonly="readonly" type="text" id="txtBillType" value="" />
                </td>
                <td class="formTitle"></td>
                <td class="formValue"></td>
                <td class="formTitle"></td>
                <td class="formValue"></td>
            </tr>
            <tr>
                <td class="formTitle">结算金额：</td>
                <td class="formValue">
                    <input class="form-control" disabled readonly="readonly" type="text" value="" id="txtJSJE" />
                </td>
                <td class="formTitle">本次金额：</td>
                <td class="formValue">
                    <input class="form-control" disabled readonly="readonly" type="text" value="" id="txtBCJE" />
                </td>
                <td class="formTitle">已结金额：</td>
                <td class="formValue">
                    <input class="form-control" disabled readonly="readonly" type="text" value="" id="txtYJJE" />
                </td>
                <td class="formTitle"></td>
                <td class="formValue"></td>
            </tr>
            <tr>
                <td class="formTitle">记账支付：</td>
                <td class="formValue">
                    <input class="form-control" disabled readonly="readonly" type="text" value="" id="txtJZZF" />
                </td>
                <td class="formTitle">个人支付：</td>
                <td class="formValue">
                    <input class="form-control" disabled readonly="readonly" type="text" value="" id="txtGRZF" />
                </td>
                <td class="formTitle">账户余款：</td>
                <td class="formValue">
                    <input class="form-control" disabled readonly="readonly" type="text" value="" id="txtZHYK" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">取消原因：</td>
                <td class="formValue" colspan="5">
                    <input class="form-control" type="text" value="" id="txtCancelReason" />
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="toolbar" style="float:right;width:80%;margin:10px;text-align:right;">
    <a class="btn btn-primary btn-md" onclick="newtouch_globalevent_f4()">
        <i class="fa fa-close"> F4:清除</i>
    </a>
    <a class="btn btn-primary btn-md" onclick="newtouch_globalevent_f8()">
        <i class="fa fa-save"></i>F8:保存
    </a>
</div>

<script>
    $(function () {
        $(".moreInfo").hide();
        $("#markdis").hide();
        $("#moreBtn,#disBtn").click(function () {
            $(".moreInfo").toggle();//.show();
            $("#mark").toggle();//.hide();
            $("#markdis").toggle();

        });
    });
</script>

