
@{
    ViewBag.Title = "OutpatientIncome";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    .list tr td {
        border-color: rgb(164,218,234);
        border-style: solid;
        border-width: 1px;
        text-align: center;
    }

    .list tr {
        height: 33px;
    }

    .add-up {
        background-color: rgb(220,242,240);
    }

    .total {
        background-color: rgb(184,227,236);
    }
</style>
<form id="form1">
    <div class="panel panel-default" style="margin-top:5px;">
        <div class="panel-heading">
            筛选条件
        </div>
        <div style="padding: 2px;">
            <table class="form">
                <tr>
                    <td class="formTitle">开始时间</td>
                    <td class="formValue">
                        <input id="Kssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                    <td class="formTitle">结束时间</td>

                    <td class="formValue">
                        <input id="Kssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                    <td class="formTitle">患者姓名</td>
                    <td class="formValue">
                        <input type="text" id="txtINPUTCODE" class="form-control" placeholder="姓名" />
                    </td>
                    <td class="formTitle">医生</td>
                    <td class="formValue">
                        <select id="Cl" class="form-control">
                            <option value="-1">全部</option>
                            <option value="PT">GRS1</option>
                            <option value="OT">GRS2</option>
                            <option value="ST">GRS3</option>
                        </select>
                    </td>
                    <td colspan="2">
                        <div style="margin-left:80px">
                            <input type="button" id="btn_search" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div style="overflow-y:scroll; width:100%; ">
    <table class="list" style="width:100%;">
        <tr style="background-color:rgb(79,173,194);color:rgb(255,255,255);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234); text-align:center;  ">
            <td>账单日期</td>
            <td>病案号</td>
            <td>患者姓名</td>
            <td>国籍</td>
            <td>医生</td>
            <td>应收门诊费</td>
            <td>实收门诊费</td>
            <td>现金</td>
            <td>Visa</td>
            <td>银联</td>
            <td>公司支付</td>
            <td>抹零</td>
            <td>折扣</td>
            <td>保险应收</td>
            <td>收银员</td>
        </tr>
        <tr>
            <td>2017/3/1  11:04:54</td>
            <td>001623</td>
            <td>张三</td>
            <td>日本</td>
            <td>GRS1</td>
            <td>1600.00</td>
            <td>1600.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>1800</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>Jelly.zhao</td>
        </tr>
        <tr>
            <td>2017/3/1  11:57:54</td>
            <td>001992</td>
            <td>李四</td>
            <td>韩国</td>
            <td>GRS1</td>
            <td>1800.00</td>
            <td>1600.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>1800</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>Jelly.zhao</td>
        </tr>
        <tr>
            <td>2017/3/1  12:55:06</td>
            <td>002022</td>
            <td>王五</td>
            <td>韩国</td>
            <td>GRS1</td>
            <td>1600.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>160.00</td>
            <td>1440.00.00</td>
            <td>Alice</td>
        </tr>
        <tr>
            <td colspan="6"></td>
            <td>Visits</td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="4" rowspan="3" style="background-color:rgb(241,254,255);">Total：</td>
            <td class="add-up">GRS1</td>
            <td class="add-up">14778.00</td>
            <td class="add-up">33.00</td>
            <td colspan="8"></td>
        </tr>
        <tr>
            @*<td colspan="4"></td>*@
            <td class="add-up">GRS2</td>
            <td class="add-up">5721.9.00</td>
            <td class="add-up">54.00</td>
            <td colspan="8"></td>
        </tr>
        <tr>
            @*<td colspan="4"></td>*@
            <td></td>
            <td class="total">20499.9</td>
            <td class="total">87.00</td>
            <td colspan="8"></td>
        </tr>
    </table>
</div>
@Html.Partial("_BottomButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel
{
    ShowKeyList = new int[] { 9 },
    F9Text = "导出"
})

