@{
    ViewBag.Title = "门诊收费项目统计";

    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    .SearchTitle {
        background-color: #f6f6f6;
        height: 35px;
        font-size: 14px;
    }

        .SearchTitle td {
            text-align: center;
            padding: 2px 0 2px 0px;
        }

    .SettlementList {
        padding: 0;
        margin-top: 10px;
    }

        .SettlementList li {
            border: 1px solid #F6F6F6;
            list-style: none;
            margin-bottom: 5px;
        }

            .SettlementList li a {
                color: #0066cc;
                outline: none;
            }


            .SettlementList li h5 {
                padding: 2px;
                background-color: #F6F6F6;
                padding-left: 10px;
                padding-top: 6px;
                height: 24px;
                margin: 0;
            }

            .SettlementList li span {
                margin-left: 5px;
            }

            .SettlementList li table {
                width: 100%;
                height: 50px;
            }

                .SettlementList li table td {
                    text-align: center;
                }
</style>

<form name="form1">
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            项目统计检索
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form">
                <tr>
                    <th class="formTitle">门诊/住院号：</th>
                    <td class="formValue">
                        <input type="text" id="txtOutpatientNo" class="form-control" />
                    </td>
                    <th class="formTitle">患者：</th>
                    <td class="formValue">
                        <input type="text" id="txtpatient" class="form-control" placeholder="姓名 拼音 编号" />
                    </td>
                    <th class="formTitle">星期：</th>
                    <td class="formValue">
                        <select id="selWeek" class="form-control" style="width: 80%;">
                            <option value="" selected>=请选择=</option>
                            <option value="1">周一</option>
                            <option value="2">周二</option>
                            <option value="3">周三</option>
                            <option value="4">周四</option>
                            <option value="5">周五</option>
                            <option value="6">周六</option>
                            <option value="7">周日</option>
                        </select>
                    </td>
                    <th class="formTitle">记录日期：</th>
                    <td class="formValue" colspan="2">
                        <div style="display: inline-block; line-height: 15px; width: 100%;">
                            <input id="ksrq" type="text" class="form-control input-wdatepicker formAutoNextIgnore" style="width: 40%; float: left; margin-left: 3px;" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                            -
                            <input id="jsrq" type="text" class="form-control input-wdatepicker formAutoNextIgnore" style="width: 40%; display: inline-block;" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                        </div>
                    </td>
                    <th class="formTitle">治疗师：</th>
                    <td class="formValue">
                        <input type="text" id="txtpatient" class="form-control" placeholder="姓名/拼音/编号" />
                    </td>
                    <th class="formTitle"><input type="button" class="btn btn-primary btn-md" value="查询" onclick="Search()" /></th>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            项目明细
        </div>
        <div style="padding: 2px; overflow-y: auto;" id="dvGL">
            <table id="ItemsGrid"></table>
            <div id="PageItemsGrid"></div>
        </div>
    </div>
</form>
<script src="~/Content/js/ReportManagement/RehabiliationItemStatistic.js"></script>
<script>
    $(function () {
        $("#dvGL").height(document.documentElement.clientHeight - 140);
        Search();
    });

    //查询
    function Search() {
        FullItemsGrid();
    }
</script>
