@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div class="container" style="margin-top: 10px; margin-left: -4%; ">
        <ul class="nav nav-tabs" role="tablist" id="myTab" style="margin-left: 4%;">
            <li role="presentation"><a href="#basicInfo" role="tab" data-toggle="tab">基本信息</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" style="margin-top: 10px; margin-left: 48px; margin-right: 105px;" id="basicInfo">

                <table class="form">
                    <tr>
                        <th class="formTitle"><span class="required">*</span>名称：</th>
                        <td class="formValue"><input type="text" class="form-control required" id="dlmc" name="dlmc" placeholder="请输入名称" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle"><span class="required">*</span>编码：</th>
                        <td class="formValue"><input type="text" class="form-control required" id="dlCode" name="dlCode" placeholder="请输入编码" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle">颜色：</th>
                        <td class="formValue"><input type="text" class="form-control" id="Color" name="Color" placeholder="请选择颜色" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle">描述：</th>
                        <td class="formValue"><input type="text" class="form-control" id="Description" name="Description" placeholder="请输入描述" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle">选项：</th>
                        <td class="formValue" style="padding-top: 1px;">
                            <div class="ckbox">
                                <input id="zt" name="zt" type="checkbox" checked="checked"><label for="zt">有效</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.najax({
                url: "/SystemManage/InspectionCategory/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }
    });

    $('#dlCode').focus(function () {
        if (!!!keyValue && ($.trim($(this).val()) === '')) {
            $.najax({
                url: "/HOME/GetNewFieldUniqueValue?initFieldLength=8&fieldName=jyjc_dl.Code&r=" + Math.random(),
                dataType: "json",
                cache: false,
                success: function (data) {
                    $('#dlCode').val(data.data);
                }
            });
        }
    });

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SystemManage/InspectionCategory/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

</script>



