
@{
    ViewBag.Title = "项目录入";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div style="background-color: #fff;width:100%;">
    <table id="gridPatientList"></table>
    <div id="gridPatPager"></div>
</div>
<script>
    var zyh = $.request("zyh");
    $(function () {
        gridPatientList();
    });
    function gridPatientList() {
        $('#gridPatientList').dataGrid({
            url:"/DoctorManage/Orginal/gridPatientList",
            height: $(window).height() - 90,
            postData: { zyh: zyh},
            unwritten: false,
            pager: '#gridPatPager',
            rownumbers: true,
            colModel: [
                { label: 'yzId', name: 'yzId', key: true, hidden: true },
                { label: ' ', name: 'clbz', align: 'center', width: 30 },
                //{ label: '开始时间', name: 'kssj', align: 'center', width: 120, formatter: "date", formatoptions: { srcformat: 'Y-m-d h:m:s', newformat: 'Y-m-d h:m:s' } },
                { label: '开始时间', name: 'kssj', align: 'center', width: 120, formatter: function (val) { return $.getTime({ date: val }); }},
                { label: '录入者', name: 'lrz', align: 'center', width: 70 },
                { label: '医嘱', name: 'yznr', align: 'center', width: 240 },
                { label: '停止时间', name: 'tzsj', align: 'center', width: 120, formatter: "date", formatoptions: { srcformat: 'Y-m-d h:m:s', newformat: 'Y-m-d h:m:s' } },
                {
                    label: '状态', name: 'yzzt', align: 'center', width: 70, formatter: function (val) {
                        return $.enum.getDescByValue("EnumYzzt", val)
                    }
                }
            ],
            sortname: ' kssj asc',
            rowNum: '15',
            viewrecords: true
        });
    }
</script>