@{
    var jhjzDjEditable = (ViewBag.jhjz_dj_editable as bool?) ?? false;
}
<table class="form">
    <tr>
        <th class="formTitle"><span class="required">*</span>收费项目：</th>
        <td class="formValue">
            <input id="sfxmmc" type="text" class="form-control  form-an" />
            <input id="sfxmCode" type="text" style="display:none;" class="form-control" />
            <!-- 医嘱类型 1药品 2收费项目 -->
            <input id="yzlx" type="text" style="display:none;" class="form-control" />
            <input id="sfdlCode" type="text" style="display:none;" class="form-control" />
            <input id="sfdlmc" type="text" style="display:none;" class="form-control" />
        </td>
        <th class="formTitle"><span class="required">*</span>单次治疗量：</th>
        <td class="formValue">
            <input id="zll" type="text" class="form-control  form-an" value="" />
        </td>
        <th class="formTitle"><span class="required">*</span>单位：</th>
        <td class="formValue">
            <label id="dw"></label>
        </td>
        <th class="formTitle"><span class="required">*</span>执行次数：</th>
        <td class="formValue">
            <input id="sl" type="text" class="form-control  form-an" />
        </td>
    </tr>
    <tr>
        <th class="formTitle"><span class="required">*</span>单价(元)：</th>
        <td class="formValue">
            @if (jhjzDjEditable)
            {
                <input id="dj" name="dj" type="text" class="form-control" />
            }
            else
            {
                <label id="dj"></label>
            }
        </td>
        <th class="formTitle"><span class="required">*</span>收费日期：</th>
        <td class="formValue">
            <input id="jzsj" type="text" class="form-control input-wdatepicker form-an"
                   onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />
        </td>
        <th class="formTitle">备注：</th>
        <td class="formValue">
            <input id="bz" type="text" class="form-control form-an form-an-end" value="" />
        </td>
    </tr>
</table>