
@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
<table class="form" style="width:95%;margin-top:15px;">
    <tr>
        <th class="formTitle"><span style="color:red">*</span>治疗日期：</th>
        <td class="formValue">
            <input id="zxrq" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" type="text" class="form-control input-wdatepicker"
                   onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd',maxDate:'%y-%M-%d', minDate: '%y-%M-#{%d-@(((ViewBag.DefaultPrevDate as int?)??0).ToString())}' })" />
        </td>
    </tr>
</table>

<script type="text/javascript">
    function checkEditingRowData() {
        var zxrq = $('#zxrq').val();
        if (!zxrq) {
            $.modalAlert('执行日期不能为空', 'warning');
            return;
        }
        return { zxrq: zxrq }
    }
</script>

