@{
    ViewBag.Title = "StopPlan";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form id="form1">
    <div style="padding-top: 20px; margin-right: 55px;">
        <table class="form">
            <tr>
                <th class="formTitle"><span class="required">*</span>停止时间：</th>
                <td class="formValue">
                    <input class="form-control input-wdatepicker required" id="PreStopDate" name="PreStopDate"
                           value=@DateTime.Now.ToString("yyyy-MM-dd") type="text"
                           onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                </td>
            </tr>
        </table>
    </div>
</form>

<script>
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var date = $('#PreStopDate').val();
        if ($.getDate() > date) {
            $.modalAlert('停止日期不能在今日之前');
        }
        return date;
    }
</script>
