@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>


    .bootstrap-table {
        height: 60%; /* 或者是百分比，比如 height: 100%; */
        overflow-y: auto;
    }

    .fixed-table-body {
        height: 100%;
    }

    .bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
        border-bottom: none;
    }
</style>
<div class="widget-body">
    <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
        <ul class="steps">
            <li data-target="#step-1" class="active"><span class="step">1</span>选择菜单<span class="chevron"></span></li>
            <li data-target="#step-2"><span class="step">2</span>导入菜单确认<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
        <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
            <div class="btn-toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <i class="fa fa-filter"></i> 导入目标：
                    </div>
                    <div class="form-group">
                        <div class="ckbox">
                            <input type="checkbox" class="form-check" name="ck_showSync" id="ck_showSync">
                            <label for="ck_showSync">
                                显示已同步菜单
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <select id="sel_regapp" class="form-control" style="width:10%;">
                            <option value="">------请选择业务系统-----</option>
                        </select>
                    </div>
                    <button id="btn_search" type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>

                </form>
            </div>
            <table id="table"></table>
        </div>
        <div class="step-pane" id="step-2" style="margin: 10px; margin-bottom: 0px;">
            <div class="alert alert-danger">
                <i class="fa fa-warning alert-dismissible"></i>
                请选择导入菜单的父级，或填入父级菜单名称（不存在则新建），默认按照源菜单层级进行导入。
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group" style="margin:5px 5px;">
                    <div class="col-sm-4" id="dv_treeParent" style="overflow-y:auto;">
                        <input type="text" class="form-control" id="input-search" placeholder="查找父级菜单关键字" value="">
                        <div id="treeParent"></div>
                    </div>
                    <div class="col-sm-8" id="dv_selectmenu">
                        <table id="table_selected"></table>
                        <hr />
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <div class="form-group has-success">
                                    <label class="col-sm-2 control-label">待导入菜单数</label>
                                    <div class="col-sm-10"><span class="form-control" id="rowscount"></span></div>
                                </div>
                                <div class="form-group has-success">
                                    <label class="col-sm-2 control-label">请确认父级菜单</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control table-borderless" id="ParentMenuSelect" data-id="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="form-button" id="wizard-actions">
        <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
        <a id="btn_next" class="btn btn-default btn-next" style="margin-right: 10px;">下一步</a>
        <a id="btn_finish" class="btn btn-default" style="display: none;margin-right: 10px;" onclick="submitSyncMenu()">完成</a>
    </div>
</div>
<script>
    $(function () {
        tableInit($('#table'));
        selectedMenuTableInit($('#table_selected'), []);
        wizardInit();
        treeDataInit();
        pageDataInit();
    });

    function pageDataInit() {
        $("#btn_search").on('click', function () {
            tableRefresh($('#table'));
        });

        $("#sel_regapp").bindSelect({
            url: "/SysManage/Common/GetRegAppList",
            id: "AppId",
            text: "AppName",
            param: { withSystemMenu: true }
        });

        $("#ParentId").bindSelect({
            url: "/SysManage/SysModule/GetTreeSelectJson",
        });

        $('#input-search').on('keyup', search);
        $("#dv_treeParent").height($(window).height() - 150);
        $("#dv_selectmenu").height($(window).height() - 150);
    }
    var search = function (e) {
        var pattern = $('#input-search').val();
        var options = {
            //ignoreCase: $('#chk-ignore-case').is(':checked'),
            //exactMatch: $('#chk-exact-match').is(':checked'),
            //revealResults: $('#chk-reveal-results').is(':checked')
        };
        $('#treeParent').treeview('search', [pattern, options]);
    }

    function treeDataInit() {
        $.najax({
            url: "/SysManage/SysModule/GetBsTreeSelectJson",
            data: { withSystemMenu: true },
            dataType: "json",
            success: function (data) {
                $('#treeParent').treeview({
                    color: "#428bca",
                    expandIcon: 'fa fa-chevron-right',
                    collapseIcon: 'fa fa-chevron-down',
                    nodeIcon: 'fa fa-bookmark',
                    data: data,
                    onNodeSelected: function (event, node) {
                        $("#ParentMenuSelect").val(node.text).data("id", node.href);
                    },
                    onNodeUnselected: function (event, node) {
                        $("#ParentMenuSelect").val("").data("id", "");
                    }
                });
            }
        });
    }

    function wizardInit() {
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 1:
                        var selrow = $('#table').bootstrapTable("getSelections");
                        if (!selrow || selrow.length == 0) {
                            $.modalMsg("请选择菜单", "warning");
                            return false;
                        }
                        // 使用jQuery的$.each()和$.map()处理jsonArray
                        var sortedArray = $.map(selrow, function (item) {
                            return item;
                        });
                        sortedArray.sort(function (a, b) {
                            return a.CustomOrder.localeCompare(b.CustomOrder)
                        })
                        $('#table_selected').bootstrapTable('load', sortedArray);
                        $("#rowscount").html(selrow.length);
                        $finish.show();
                        $next.hide();
                        break;
                    default:
                        break;
                }
            } else {
                $finish.hide();
                $next.show();
            }
        });
    }
    //待选菜单表
    function tableInit($table) {
        $table.bootstrapTable({
            url: "/SysManage/SysModule/GetAppMenuTreeGridJson", //服务器返回数据的网址
            method: 'POST',                      //数据请求方式
            contentType: "application/x-www-form-urlencoded",
            height: $(window).height() - 150,
            queryParams: queryParams,
            classes: "table table-bordered table-striped table-hover",
            theadClasses: "table-light",//设置表头样式
            idField: 'Id',
            showColumns: false,
            toolbar: '.btn-toolbar',            //工具按钮用哪个容器 #toolbar
            toolbarAlign: 'left',
            columns: [
                {
                    field: 'ck',
                    checkbox: true,
                    formatter: function (cellvalue, row) {
                        if (row.IsSync) {
                            return { disabled: true };
                        }
                        return { disabled: false };
                    }
                },
                {
                    field: 'Id',
                    visible: false
                },
                {
                    field: 'Target',
                    visible: false
                }, {
                    field: 'Icon',
                    title: '图标',
                    halign: 'center',
                    align: 'center',   //水平内容对齐方式
                    width: '5',
                    widthUnit: '%',
                    formatter: function (value, row, index) {
                        if (value) {
                            return '<i class=\"' + value + '\"></i>';
                        }
                        else {
                            return "";
                        }
                    }

                }, {
                    field: 'Name',
                    title: '名称',
                    halign: 'center',
                    width: '30',
                    widthUnit: '%',
                },
                {
                    field: 'zt',
                    title: '状态',
                    halign: 'center',
                    //sortable: true,
                    halign: 'center',
                    align: 'center',   //水平内容对齐方式
                    width: '5',
                    widthUnit: '%',
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on icon-theme-success\"></i>" : "<i class=\"fa fa-toggle-off icon-theme-default\"></i>";
                    }
                },
                {
                    field: 'UrlAddress',
                    title: '路径',
                    halign: 'center',
                    width: '35',
                    widthUnit: '%',
                },
                {
                    field: 'Description',
                    title: '说明',
                    halign: 'center',
                    width: '15',
                    widthUnit: '%',
                },
                {
                    field: 'IsSync',
                    visible: false
                }, {
                    field: 'SyncStu',
                    title: '同步标志',
                    halign: 'center',
                    align: 'center',
                    formatter: function (cellvalue, row) {
                        if (row.IsSync) {
                            return '<i class="fa fa-check  icon-theme-success" aria-hidden="true" title="已同步" /></i>';
                        }
                        return '';
                    }
                },
                {
                    field: 'ParentId',
                    visible: false
                },
                {
                    field: 'OrganizeId',
                    visible: false
                },
                {
                    field: 'CustomOrder',
                    visible: false,
                    title: '排序字段'
                }
            ],
            treeShowField: 'Name',
            parentIdField: 'ParentId',
            uniqueId: 'Id',
            search: true,                       //是否显示表格搜索
            sortable: true,                     //是否启用排序
            sortOrder: "desc",                   //排序方式
            //sidePagination: 'client',           //分页方式：client客户端分页，server服务端分页（*）
            onLoadSuccess: function (data) {
                $table.treegrid({
                    initialState: "expanded",//展开
                    treeColumn: 1,//指明第几列数据改为树形
                    onChange: function () {
                        $table.bootstrapTable("resetView");
                    }
                });
            },
            onClickRow: function (row, $element, field) {
                bstableMutiSelected($table, "Id", [row.Id], $element);
            },
            formatLoadingMessage: function () {
                return "<span class='table-loading-text'>正在加载中，请稍候</span>";
            },
            formatNoMatches: function () {
                return "暂无数据";
            }

        });
        $table.bootstrapTable('hideLoading');

    }
    //已选菜单表
    function selectedMenuTableInit($tableselect, data) {
        $tableselect.bootstrapTable('destroy').bootstrapTable({
            data: data,
            height: '100%',
            classes: "table table-bordered table-striped table-hover",
            theadClasses: "table-light",//设置表头样式
            idField: 'Id',
            showColumns: false,
            columns: [
                {
                    field: 'Id',
                    visible: false
                }, {
                    field: 'Target',
                    visible: false
                }, {
                    field: 'Icon',
                    title: '图标',
                    halign: 'center',
                    align: 'center',   //水平内容对齐方式
                    width: '5',
                    widthUnit: '%',
                    formatter: function (value, row, index) {
                        if (value) {
                            return '<i class=\"' + value + '\"></i>';
                        }
                        else {
                            return "";
                        }
                    }

                },
                {
                    field: 'Name',
                    title: '名称',
                    halign: 'center',
                    width: '30',
                    widthUnit: '%',
                    sortable: true,
                },
                {
                    field: 'zt',
                    title: '状态',
                    halign: 'center',
                    //sortable: true,
                    halign: 'center',
                    align: 'center',   //水平内容对齐方式
                    width: '5',
                    widthUnit: '%',
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on icon-theme-success\"></i>" : "<i class=\"fa fa-toggle-off icon-theme-default\"></i>";
                    }
                },
                {
                    field: 'UrlAddress',
                    title: '路径',
                    halign: 'center',
                    width: '35',
                    widthUnit: '%',
                },
                {
                    field: 'px',
                    title: '排序',
                    halign: 'center',
                    align: 'center',   //水平内容对齐方式
                    width: '5',
                    widthUnit: '%',
                    //sortable: true,
                },
                {
                    field: 'Description',
                    title: '说明',
                    halign: 'center',
                    width: '15',
                    widthUnit: '%',
                },
                {
                    field: 'ParentId',
                    visible: false
                },
                {
                    field: 'OrganizeId',
                    visible: false
                }
            ],
            uniqueId: 'Id',
            formatLoadingMessage: function () {
                return "<span class='table-loading-text'>正在加载中，请稍候</span>";
            },
            formatNoMatches: function () {
                return "暂无数据";
            }

        });
        $tableselect.bootstrapTable('hideLoading');
    }

    function tableRefresh($table) {
        $table.bootstrapTable('refresh', { queryParams: queryParams });
    }
    //请求的参数
    function queryParams(params) {
        var data = {
            //每页多少条数据
            limit: params.limit,
            //请求第几页
            offset: params.offset,
            order: params.order,
            sort: params.sort,
            search: params.search,
            queryParams: {
                MenuAppId: $("#sel_regapp option:selected").val(),
                ShowSync: $("#ck_showSync").is(':checked')
            }
        };
        return data;
    }
    function submitSyncMenu() {
        var menuData = $('#table_selected').bootstrapTable("getData");
        var parentMenu = $("#ParentMenuSelect").val();
        var parentMenuId = $("#ParentMenuSelect").data("id")
        var appId = $("#sel_regapp option:selected").val();
        var postData = { list: menuData, parentMenu: parentMenu, parentMenuId: parentMenuId, fromAppId: appId };
        $.submitForm({
            url: "/SysManage/SysModule/SubmitMenuSync",
            param: postData,
            success: function () {
                $.currentWindow().tableRefresh($("#table_selected"));
            }
        });
    }
</script>