<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="listen_urls" value="http://127.0.0.1:33333/" />
    <add key="mdtrtarea_admvs" value="150902" /><!-- 就医地地区编码 -->
    <add key="recer_sys_code" value="MBS_LOCAL" /><!-- recer_sys_code 接收方系统代码 字符型 10  Y普通交易传 YBXT,与人相关的交易时离休人员业务传 LXXT,工伤人员业务传 GSXT： -->
    <add key="infver" value="V1.0" /> <!-- 接口版本号  字符型  6  Y例如：“V1.0” -->
    <add key="opter_type" value="1" /><!--  opter_type经办人类别  3  Y  Y1-经办人；2-自助终端；3-移动终端： -->
    <add key="fixmedins_code" value="H15090201645" /><!-- fixmedins_code定点医药机构编号字符型 30  Y ： 99999999404  77370296000-->
    <add key="fixmedins_name" value="乌兰察布德佑医院有限公司" /> <!--  fixmedins_name定点医药机构名称字符型 200  Y  -->
    <add key="dev_no" value="" /> <!--  dev_no  设备编号  字符型 100  -->
    <add key="dev_safe_info" value="" /> <!--  dev_safe_info  设备安全信息 字符型 2000   -->
    <add key="signtype" value="PRCSSC" /> <!--  9  signtype  签名类型  字符型 10  建议使用 SM2、SM3   -->
    <add key="setl_optins" value="150902" />
    <add key="orgId" value="6d5752a7-234a-403e-aa1c-df8b45d3469f" />
    <add key="DownloadFilePath" value="C:\YBDownload\" />
    <add key="czydm" value="HIS1" />
    <add key="czyxm" value="管理员" />
    <!--<add key="serv_code" value="HH00032"/> --><!--服务商代码--><!--
    <add key="serv_sign" value="D1359628E056650BAD"/>--><!--服务商识别码-->
    <add key="is_test" value="0" /><!-- 0 正式 1 测试 -->
    <!--<add key="qqurl" value="http://10.38.22.143:30555/uif-hsaf-med-api/api/medical/service"/>--> <!-- 新医保请求前置机地址测试-->
	<add key="qqurl" value="http://tyjk.nm.hsip.gov.cn:8090/uif-hsaf-med-api/api/medical/service" /><!-- --><!-- 新医保请求前置机地址生产-->
    
    <add key="EnableParam" value="12345678" /><!--dll启用参数值 -->
    <add key="ghzfzlf" value="3" /><!--五期医保挂号 ghf最低为3 设置默认值 -->
	
	  <!-- 刷脸电子凭证扫码接口前置地址-->
	 <!--<add key="NationEcTransUrl" value="http://10.38.22.126:3001/localcfc/api/hsecfc/localQrCodeQuery"/>--> <!-- 刷脸电子凭证扫码接口前置地址测试-->
	 <add key="NationEcTransUrl" value="http://10.38.22.15:8081/localcfc/api/hsecfc/localQrCodeQuery" /> <!-- 刷脸电子凭证扫码接口前置地址生产ip-->
	 <!--<add key="NationEcTransUrl" value="http://elv.nm.hsip.gov.cn:8081/localcfc/api/hsecfc/localQrCodeQuery"/>--> <!-- 刷脸电子凭证扫码接口前置地址生产域名-->
	 
	<add key="YLBZPT_IP" value="192.168.100.100" /><!--  YLBZPT_IP  医疗保障平台提供的服务端IP地址 字符型 100   -->
	<add key="YLBZPT_PORT" value="8080" /><!--  YLBZPT_PORT  医疗保障平台提供的服务端端口  数值  -->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
