
@{
    ViewBag.Title = "ConfirmationOfReturn";
    Layout = "~/Views/Shared/_Index.cshtml";
}


<form id="formTY">
    <div class="topPanel" style="border-bottom:1px solid rgb(221, 221, 221);margin-bottom: 1%;">
        <div class="search">
            <table>
                <tr>
                    <td>
                        <div class="input-group">
                            <input id="txt_keyword" type="text" class="form-control form-control-focus" placeholder="请输入卡号、姓名、发票号" style="width: 200px;">
                        </div>
                    </td>
                    <td style="padding-left:12px;">
                        <div class="btn-group" id="btnKeywordTypeGourp" style="margin-top:0;">
                            <button type="button" data-keywordtype="kh" class="btn active btn-default">&nbsp;卡&nbsp;号&nbsp;</button>
                            <button type="button" data-keywordtype="xm" class="btn btn-default">&nbsp;姓&nbsp;名&nbsp;</button>
                            <button type="button" data-keywordtype="fph" class="btn btn-default">发票号</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="gridPanel divBottom">
        <table id="gridTYCF"></table>
    </div>
    <div class="gridPanel divBottom">
        <table id="gridTYCFInfo"></table>
    </div>

    <div class="toolbar toolbarfloat">
        <a class="btn btn-primary" onclick="">审核通过</a>
        <a class="btn btn-primary" onclick="newtouch_globalevent_f10()"> 退出</a>
    </div>
</form>
<script>
    $(function () {
        gridTYCF([]);
        gridTYCFInfo([]);
    });
    function gridTYCF(mydata) {
        var $gridCF = $("#gridTYCF");
        $gridCF.dataNewGrid({
            height: 150,
            autowidth: false,
            width: $("#formTY").width() - 20,
            caption: "退药申请列表",
            colModel: [
                { label: '发票号', name: '', width: 100, align: 'left' },
                { label: '姓名', name: '', width: 100, align: 'left' },
                { label: '年龄', name: '', width: 100, align: 'left' },
                { label: '性别', name: '', width: 100, align: 'left' },
                { label: '卡号', name: '', width: 100, align: 'left' },
                { label: '处方号', name: '', width: 100, align: 'left' },
                { label: '病人类型', name: '', width: 100, align: 'left' },
                { label: '收费时间', name: '', width: 100, align: 'left' },
                { label: '金额', name: '', width: 100, align: 'left' }
            ]
        }, mydata);
    }


    function gridTYCFInfo(mydata) {
        var $gridCFInfo = $("#gridTYCFInfo");
        $gridCFInfo.dataNewGrid({
            height: 150,
            caption: "退药申请明细",
            multiselect: true,
            colModel: [
                { label: '药品代码', name: '', width: 100, align: 'left' },
                { label: '药品名称', name: '', width: 100, align: 'left' },
                { label: '规格', name: '', width: 100, align: 'left' },
                { label: '批号', name: '', width: 100, align: 'left' },
                { label: '批次', name: '', width: 100, align: 'left' },
                { label: '数量', name: '', width: 100, align: 'left' },
                { label: '单位', name: '', width: 100, align: 'left' },
                { label: '单价', name: '', width: 100, align: 'left' },
                { label: '金额', name: '', width: 100, align: 'left' },
                { label: '生产厂家', name: '', width: 100, align: 'left' },
                { label: '剂量', name: '', width: 100, align: 'left' },
                { label: '剂量单位', name: '', width: 100, align: 'left' },
                { label: '用法', name: '', width: 100, align: 'left' },
                { label: '频次', name: '', width: 100, align: 'left' },
                { label: '用量', name: '', width: 100, align: 'left' },
                { label: '用量单位', name: '', width: 100, align: 'left' },
                { label: '医生嘱托', name: '', width: 100, align: 'left' },
                { label: '药品分组', name: '', width: 100, align: 'left' }
            ]
        }, mydata);
    }
</script>


