@{
    ViewBag.Title = "快捷菜单表单页";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top: 20px; margin-right: 30px;">
        <table class="form">
            <tr>
                <th class="formTitle"><span class="required">*</span>名称：</th>
                <td class="formValue">
                    <input id="Name" name="Name" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">编码：</th>
                <td class="formValue">
                    <input id="Code" name="Code" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>地址：</th>
                <td class="formValue">
                    <input id="UrlAddress" name="UrlAddress" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>图片路径：</th>
                <td class="formValue">
                    <input id="ImgPath" name="ImgPath" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">排序：</th>
                <td class="formValue">
                    <input id="px" name="px" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">选项：</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="zt" name="zt" type="checkbox" class="" /><label for="zt">有效</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/SysShortcutMenu/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function initControl() {
        
    }

    function AcceptClick(callBack) {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();

        $.submitForm({
            url: "/SystemManage/SysShortcutMenu/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                callBack();
                $.modalClose();
            }
        });
    }
</script>
