
@{
	ViewBag.Title = "DzrForm";
	Layout = "~/Views/Shared/_Form.cshtml";
	var opr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
}

<form name="form1">
	<div class="panel panel-default">
		<table class="form">
			<tr>
				<th class="formTitle" id="thCZRQ">对账日期：</th>
				<td class="formValue" colspan="2">
					<input id="txtCreateTime" type="text" class="form-control input-wdatepicker formClearIgnore" style="width :20%;float:left;margin-left:2%;" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
					<input type="button" id="btn_search_csfy" class="btn btn-primary btn-md" style="margin-left:10px;width:50px;" onclick="clickcssj()" value="产生" />
					<input type="button" id="btn_search_dzz" class="btn btn-primary btn-md" style="margin-left:10px;width:50px;" onclick="dzqq()" value="对帐" />
				</td>
				<td class="formValue"><input type="hidden" id="daycollate" /></td>
			</tr>
		</table>
	</div>
	<div>
		<div class="panel panel-default" style="margin-left:10px; width:300px; float:left;">
			<div class="panel-heading navb-bg">
				本地数据
			</div>
			<table class="form">
				<tr>
					<th class="formTitle">当年帐户支付总额：</th>
					<td class="formValue"><input type="text" id="totalcuraccpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">历年帐户支付总额：</th>
					<td class="formValue"><input type="text" id="totalhisaccpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">现金自负总额：</th>
					<td class="formValue"><input type="text" id="totalcashpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">统筹支付总额：</th>
					<td class="formValue"><input type="text" id="totaltcpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">附加支付总额：</th>
					<td class="formValue"><input type="text" id="totaldffjpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">分类自负总额：</th>
					<td class="formValue"><input type="text" id="totalflzf" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">全自负费用总额：</th>
					<td class="formValue"><input type="text" id="totalfybjsfw" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">中心流水号数量：</th>
					<td class="formValue"><input type="number" id="daycount" /></td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default" style="margin-top:120px; width:30px; float:left;">
			<table class="form" style="width:30px;">
				<tr>
					<td>=</td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default" style="margin-left:5px; width:300px; float:left;">
			<div class="panel-heading navb-bg">
				门诊数据
			</div>
			<table class="form">
				<tr>
					<th class="formTitle">当年帐户支付总额：</th>
					<td class="formValue"><input type="text" id="mztotalcuraccpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">历年帐户支付总额：</th>
					<td class="formValue"><input type="text" id="mztotalhisaccpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">现金自负总额：</th>
					<td class="formValue"><input type="text" id="mztotalcashpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">统筹支付总额：</th>
					<td class="formValue"><input type="text" id="mztotaltcpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">附加支付总额：</th>
					<td class="formValue"><input type="text" id="mztotaldffjpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">分类自负总额：</th>
					<td class="formValue"><input type="text" id="mztotalflzf" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">全自负费用总额：</th>
					<td class="formValue"><input type="text" id="mztotalfybjsfw" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">中心流水号数量：</th>
					<td class="formValue"><input type="number" id="mzdaycount" /></td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default" style=" margin-top:120px; width:30px; float:left;">
			<table class="form" style="width:30px;">
				<tr>
					<td>+</td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default" style="margin-left:5px; width:300px; float:left;">
			<div class="panel-heading navb-bg">
				住院数据
			</div>
			<table class="form">
				<tr>
					<th class="formTitle">当年帐户支付总额：</th>
					<td class="formValue"><input type="text" id="zytotalcuraccpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">历年帐户支付总额：</th>
					<td class="formValue"><input type="text" id="zytotalhisaccpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">现金自负总额：</th>
					<td class="formValue"><input type="text" id="zytotalcashpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">统筹支付总额：</th>
					<td class="formValue"><input type="text" id="zytotaltcpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">附加支付总额：</th>
					<td class="formValue"><input type="text" id="zytotaldffjpay" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">分类自负总额：</th>
					<td class="formValue"><input type="text" id="zytotalflzf" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">全自负费用总额：</th>
					<td class="formValue"><input type="text" id="zytotalfybjsfw" onkeyup="checkMoney(this)" /></td>
				</tr>
				<tr>
					<th class="formTitle">中心流水号数量：</th>
					<td class="formValue"><input type="number" id="zydaycount" /></td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<div class="panel panel-default">
			<div class="panel-heading navb-bg">
				对账结果
			</div>
			<table class="form" >
				<tr>
					<th class="formTitle">对账结果：</th>
					<td class="formValue" ><input type="tel" id="dzjg"  style="width:800px; height:60px;" /></td>
				</tr>
			</table>
		</div>
	</div>
	
</form>

<script>

	function checkMoney(obj) {
		obj.value = obj.value.replace(/[^\d.]/g, "");  //清除“数字”和“.”以外的字符
		obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
		obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
		obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');//只能输入两个小数
		if (obj.value.indexOf(".") < 0 && obj.value != "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
			obj.value = parseFloat(obj.value);
		}
	}
	function clickcssj() {
		$.ajax({
			type: "POST",
			url: "/DaySettleManage/DaySettle/Newdzfysj",
			data: { rq: $("#txtCreateTime").val()},
			dataType: "json",
			async: false,
			success: function (data) {
				var refinfo = data;
				console.log(refinfo);
				if (refinfo.length > 0) {
					$("#daycollate").val(refinfo[0].daycollate);
					for (var i = 0; i < refinfo.length; i++) {
						if (refinfo[i].typetext == "all") {
							$("#daycount").val(refinfo[i].daycount);
							$("#totalcashpay").val(refinfo[i].totalcashpay);
							$("#totalcuraccpay").val(refinfo[i].totalcuraccpay);
							$("#totaldffjpay").val(refinfo[i].totaldffjpay);
							$("#totalflzf").val(refinfo[i].totalflzf);
							$("#totalfybjsfw").val(refinfo[i].totalfybjsfw);
							$("#totalhisaccpay").val(refinfo[i].totalhisaccpay);
							$("#totaltcpay").val(refinfo[i].totaltcpay);

						} else {
							$("#" + refinfo[i].typetext+"daycount").val(refinfo[i].daycount);
							$("#" + refinfo[i].typetext +"totalcashpay").val(refinfo[i].totalcashpay);
							$("#" + refinfo[i].typetext +"totalcuraccpay").val(refinfo[i].totalcuraccpay);
							$("#" + refinfo[i].typetext +"totaldffjpay").val(refinfo[i].totaldffjpay);
							$("#" + refinfo[i].typetext +"totalflzf").val(refinfo[i].totalflzf);
							$("#" + refinfo[i].typetext +"totalfybjsfw").val(refinfo[i].totalfybjsfw);
							$("#" + refinfo[i].typetext +"totalhisaccpay").val(refinfo[i].totalhisaccpay);
							$("#" + refinfo[i].typetext +"totaltcpay").val(refinfo[i].totaltcpay);
						}
					}
				} else {
					$.modalAlert($("#txtCreateTime").val()+"未产生任何结算费用！", 'warning');
				}
				
			}
		});
	}
	function dzqq() {
		$.loading(true, "对账请求开始 请稍等！！");

		var dzsjinput = {
			daycollate: $("#daycollate").val(), //对帐日 日期格式 8 非空
			daycount: $("#daycount").val(),//对帐日中心流水号数量 数字格式 B 非空
			totalcuraccpay: $("#totalcuraccpay").val(), //当年帐户支付总额 数字格式 A 非空
			totalhisaccpay: $("#totalhisaccpay").val(), //历年帐户支付总额 数字格式 A 非空
			totalcashpay: $("#totalcashpay").val(), //现金自负总额 数字格式 A 非空
			totaltcpay: $("#totaltcpay").val(), //统筹支付总额 数字格式 A 非空
			totaldffjpay: $("#totaldffjpay").val(), //附加支付总额 数字格式 A 非空
			totalflzf: $("#totalflzf").val(), //分类自负总额 数字格式 A 非空
			totalfybjsfw: $("#totalfybjsfw").val(), //非医保结算范围费用总额总额
			operatorId: '@(opr.rygh)',
			operatorName: '@(opr.UserName)',
			hisId: "0",
			insuplc_admdvs:"",
		};
		$.ajax({
			type: "POST",
			url: "http://127.0.0.1:33333/api/FifthPhaseYiBao/ybInterface_SL01",
			data: dzsjinput,
			dataType: "json",
			async: false,
			success: function (data) {
				var refinfo = data;
				console.log("对账返回：",refinfo);
				$("#dzjg").val(refinfo);

			},
			error: function (ex) {
				console.log("对账请求报错返回：", ex);
				$("#dzjg").val(ex);
			}
		});
		setTimeout(function () {
			$.loading(false);
		},3000);
	}

	function AcceptClick(callBack) {
		var dzsjinput = {
			daycollate: $("#daycollate").val(), //对帐日 日期格式 8 非空
			daycount: $("#daycount").val(),//对帐日中心流水号数量 数字格式 B 非空
			totalcuraccpay: $("#totalcuraccpay").val(), //当年帐户支付总额 数字格式 A 非空
			totalhisaccpay: $("#totalhisaccpay").val(), //历年帐户支付总额 数字格式 A 非空
			totalcashpay: $("#totalcashpay").val(), //现金自负总额 数字格式 A 非空
			totaltcpay: $("#totaltcpay").val(), //统筹支付总额 数字格式 A 非空
			totaldffjpay: $("#totaldffjpay").val(), //附加支付总额 数字格式 A 非空
			totalflzf: $("#totalflzf").val(), //分类自负总额 数字格式 A 非空
			totalfybjsfw: $("#totalfybjsfw").val(), //非医保结算范围费用总额总额
		};
		callBack(dzsjinput);
		$.modalClose();
	}
</script>