
@{
    ViewBag.Title = "DzrHistory";
    Layout = "~/Views/Shared/_Form.cshtml";
    var opr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
    var reportUrl = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportUrl");
}
<div class="rows">
    <div class="panel panel-default">
        <table class="form">
            <tr>
                <th class="formTitle" id="thCZRQ">对账日期：</th>
                <td class="formValue" colspan="2">
                    <input id="txtCreateTimestart" type="text" class="form-control input-wdatepicker formClearIgnore" style="width:20%; float:left;" value="@DateTime.Now.ToString("yyyy-MM-01")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                    <span style="margin-left:2%;float:left;">—</span>
                    <input id="txtCreateTimeEnd" type="text" class="form-control input-wdatepicker formClearIgnore" style="width :20%;float:left;margin-left:2%;" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                   

                    @*<input type="button" id="btn_search_dzz" class="btn btn-primary btn-md" style="margin-left:10px;width:50px;" value="对帐" />*@
                </td>
                <td class="formValue">
                    <select id="isdzcg" class="form-control">
                        <option value="" selected>全部</option>
                        <option value="0">不符</option>
                        <option value="1">符合</option>
                    </select>
                </td>
                <td class="formValue"> <input type="button" id="btn_search_tj" class="btn btn-primary btn-md" style="margin-left:10px;width:40px;" onclick="search()" value="查询" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>
<script>
    $(function () {
        var h = $(window).height() - 55;
        $('#layout iframe').css('height', h);
        search();
    });

    function search() {
        if ($('#txtCreateTimestart').val().length == 0) {
            $.modalAlert("缺少开始时间", "error");
            return;
        }
        if ($('#txtCreateTimeEnd').val().length == 0) {
            $.modalAlert("缺少结束时间", "error");
            return;
        }
        if ($('#txtCreateTimestart').val() > $('#txtCreateTimeEnd').val()) {
            $.modalAlert("开始时间不能大于结束时间", "error");
            return;
        }

        var url = getUrl();
        var orgId = '@opr.OrganizeId';
        url += "&orgId=" + orgId;
        url += "&kssj=" + $('#txtCreateTimestart').val();
        url += "&jssj=" + $('#txtCreateTimeEnd').val();
        url += "&isdzcg=" + $('#isdzcg').val();
        setTimeout("$.loading(true, '正在请求报表页面...');", 10);
        $("#iframerightiframerightiframerightttt").attr('src', url);
    }
     function getUrl() {
        var srcUrl = '@Html.Raw(reportUrl)';
         srcUrl += "?tempCode=1261";
        return srcUrl;
    }
    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });
    function AcceptClick(callBack) {
        $.modalClose();
    }
</script>
