
@{
    ViewBag.Title = "就诊信息维护";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<form name="form1">
    <div class="panel panel-default" style="margin-top: 2px;" id="dvSearch">
        <div class="panel-heading">
            就诊信息维护
        </div>
        <div style="padding-right:10px;">
            <table class="form">
                <tr>
                    <th class="formTitle">门诊/住院 号：</th>
                    <td class="formValue">
                        <input type="text" class="form-control" id="txtNo" name="txtNo" />
                    </td>
                    <th class="formTitle">记录日期：</th>
                    <td class="formValue">
                        <input id="ksrq" type="text" class="form-control input-wdatepicker formAutoNextIgnore" style="width: 80%; float: left; margin-right: 3px;" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                        <span>-</span>
                    </td>
                    <th class="formValue">
                        <input id="jsrq" type="text" class="form-control input-wdatepicker formAutoNextIgnore" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                    </th>
                    <th class="formTitle">治疗师：</th>
                    <td class="formValue">
                        <input type="text" id="txtpatient" class="form-control" placeholder="姓名/拼音/编号" />
                    </td>
                    <th class="formTitle"><input type="button" class="btn btn-primary btn-md" value="查询" onclick="Search()" /></th>
                    <td class="formValue"></td>
                </tr>
            </table>
            @Html.Partial("../Patient/ShowPatientInfo")
        </div>
    </div>
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            就诊信息
        </div>
        <div style="padding: 2px; overflow-y: auto;" id="dvVisitG">
            <table id="AccountingListGrid"></table>
            <div id="PageAccountingListGrid"></div>
        </div>
    </div>
    @Html.Partial("_BottomButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel()
{
    ShowKeyList = new int[] { 4, 6 },
    F6Text = "退费"
})
</form>
<script src="~/Content/js/VisitInfoManage/VisitInfoManage.js">
</script>

<script>
    $(function () {
        $("#dvVisitG").height(document.documentElement.clientHeight - $("#dvSearch").offset().top);
        //$("#dvVisitG").width(document.documentElement.clientWidth - 5);
    });

    function Search() {
        $.modalOpen({
            id: "Form",
            title: "凭证列表",
            url: "/ChargeItem/ShowChargeItem",
            width: "800px",
            height: "520px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
</script>