
@{

    Layout = null;
}
<div style="padding-left:10px;">
    <table id="gridFeeInfoList"></table>
</div>

<script>
    //$(function () {
       
    //})
    //function ajaxLoadDataResult2() {
    //    var zyh = $("#zyh").text();
    //    $.najax({
    //        type: "POST",
    //        url: "/PatientManage/PatientCenter/GetGoldCollectList",
    //        data: { zyh: zyh },
    //        dataType: "json",
    //        success: function (ajaxresp) { 
    //            if (ajaxresp.data.GroupFeeVOList && ajaxresp.data.GroupFeeVOList.length) {
    //                loadJfmxByZyh2(ajaxresp.data.GroupFeeVOList);
    //            }
    //            else {
                
                    
    //            }
    //        },
    //        errorCallback: function (data) {
    //            newtouch_globalevent_f4();
    //            $('#zyh').trigger('focus');
    //        }
    //    });
    //}
    //总金额合计
    //function loadJfmxByZyh2(data) {
    //    //$('#gridFeeList').jqGrid("clearGridData");   //早F4过了
    //    $("#gridFeeList").newtouchLocalDataGrid(null, data);
    //    //总金额
    //    var zje = 0;
    //    $.each(data, function () {
    //        if (this.je) {
    //            zje += this.je;
    //        }
    //    });
    //    if (zje) {
    //        jszje = zje.toFixed(2);;
    //        $("#yeCon2").text(zje.toFixed(2));
    //        $("#yeCon").text(zje.toFixed(2));
    //    }
    //}

    //$("#zyh").bind('DOMNodeInserted', function () {
    //    FeeListGrid($("#zyh").text());
    //    $("#gridFeeList").jqGrid('setGridParam', {
    //        postData: {
    //            zyh: $("#zyh").text(),
    //            //zyh: "01699",
    //        },
    //    }).trigger("reloadGrid");
    //})
    function FeeListGrid(zyh,group) {
        var gridFeeList = $("#gridFeeInfoList");
        var captionCon = "计费明细&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总金额：<label style='color:red;'>￥</label></span>&nbsp;<span id='sp_billje' class='moneybg' style='font-size:large;'>" + "0.00" + "</span>元";
        gridFeeList.dataGrid({
            postData: {
                zyh: zyh, group: group              
            },
            url: "/PatientManage/PatientCenter/GetFeeInfoGridList",
            autowidth: false,
            height: $(window).height() - 180,
            colModel: [                { label: 'dlCode', name: 'dlCode', hidden: true },                { label: '费用类别', name: 'dlmc', width: 200, align: 'left' },                {                    label: '金额', name: 'je', width: 900, align: 'left', formatter: "number"                    , formatoptions: { decimalPlaces: 2, defaultValue: '0.00' }                },            ],  
            viewrecords: false,
            ondblClickRow: function (rowIndex, s) {
                getItemsbySfdl(rowIndex);
            },
            gridComplete: function () {
                getHospFeeZje();
            },
            caption: captionCon

        });
    }

    function getItemsbySfdl(id) {
        
        var zyh = $("#zyh").text();
        //zyh = "01900";
        var rowData = $("#gridFeeInfoList").jqGrid('getRowData', id);
        if (!!rowData) {
            var sfdl = rowData.dlCode;
            var sfxm = rowData.dlmc;
            $.modalOpen({
                id: "SfdlfeeGroup",
                title: sfxm+"项目汇总",
                url: "/PatientManage/PatientCenter/HospFeeItemShow?dlCode=" + sfdl + "&zyh=" + zyh,
                width: "800px",
                height: "600px",
                btn: null,
                callBack: function (iframeId) {
                }
            });
        }
    }

    //总金额
    function getHospFeeZje() {
        var zje = 0;
        var ids = $("#gridFeeInfoList").getDataIDs();//返回数据表的ID数组["66","39"..] 
        for (var i = 0; i < ids.length; i++) {
            var rowData = $("#gridFeeInfoList").getRowData(ids[i]);
            if (!!rowData.je) {
                zje += parseFloat(rowData.je);
            }
            if (zje) {
                $("#sp_billje").text(parseFloat(zje).toFixed(2));
                $("#yeCon").text(parseFloat(zje).toFixed(2));
            }
        }
    }
</script>

