@{
    ViewBag.Title = "出入库单查询";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src='http://localhost:8000/CLodopfuncs.js?name=CLODOPA'></script>

<body>
    <div id="b_fyd" style="text-align:center">
        <style>
            #b_fyd {
                font-size: 14px;
            }

            .dv-title {
                position: relative;
                margin: 0 auto;
                padding: 20px 0 10px 0;
                width: 600px;
            }

            .span-dj-title {
                font-size: 24px;
                font-weight: 800;
            }

            .span-dj-no {
                position: absolute;
                float: right;
                right: 0;
                bottom: 0;
                margin-left: 5px;
            }

            .dv-patientInfo {
                margin: 0 auto;
                width: 600px;
                padding: 0 5px;
                border: 0;
            }

            ul {
                list-style: none;
                border: 0;
                padding: 0;
                margin: 0;
                width: 100%;
            }

                ul li {
                    float: left;
                    margin-right: 20px;
                    padding: 5px 0;
                }

            .dv-content {
                margin: 0 auto;
                width: 600px;
            }

                .dv-content table {
                    width: 100%;
                    border: 2px solid #000;
                }

            th {
                border: 1px solid #000;
                text-align: center;
                padding: 5px 0;
            }

            td {
                text-align: left;
                padding: 5px;
                font-size: 12px;
            }

            .td-lsj, .td-sl, .td-zje {
                text-align: right;
            }

            .td-hj {
                font-weight: 700;
                text-align: right;
                border: 1px solid #ccc;
            }

            .dv-end {
                margin: 0 auto;
                width: 600px;
                padding: 0 5px;
                border: 0;
            }
            .dv-end table{
                width:100%;
            }
        </style>
        <div class="dv-title">
            <span class="span-dj-title">发药清单</span>
            <span class="span-dj-no">
                <span style="font-weight:600;">No:</span>
                <span id="span_no">123123123123</span>
            </span>
        </div>
        <div class="dv-patientInfo clearfix">
            <ul>
                <li><span>姓名：</span><span>张三</span></li>
                <li><span>性别：</span><span>男</span></li>
                <li><span>年龄：</span><span>33</span></li>
                <li><span>科室：</span><span>康复科</span></li>
                <li><span>医保类别：</span><span>自费</span></li>
                <li><span>医保号：</span><span>无</span></li>
            </ul>
        </div>
        <div class="dv-content">
            <table>
                <tr>
                    <th style="width:110px;">处方号</th>
                    <th style="width:170px;">药品名称</th>
                    <th style="width:100px;">规格</th>
                    <th style="width:90px;">单价</th>
                    <th style="width:60px;">数量</th>
                    <th style="width:70px;">金额</th>
                </tr>
                <tr>
                    <td class="td-cfh">CF001231123</td>
                    <td class="td-mc">阿莫西林</td>
                    <td class="td-gg">2g*10片</td>
                    <td class="td-lsj">18.00元/盒</td>
                    <td class="td-sl">2</td>
                    <td class="td-zje">36.00</td>
                </tr>
                <tr>
                    <td class="td-cfh">CF001231123</td>
                    <td class="td-mc">阿莫西林</td>
                    <td class="td-gg">2g*10片</td>
                    <td class="td-lsj">18.00元/盒</td>
                    <td class="td-sl">2</td>
                    <td class="td-zje">36.00</td>
                </tr>
                <tr>
                    <td class="td-cfh">CF001231123</td>
                    <td class="td-mc">阿莫西林</td>
                    <td class="td-gg">2g*10片</td>
                    <td class="td-lsj">18.00元/盒</td>
                    <td class="td-sl">2</td>
                    <td class="td-zje">36.00</td>
                </tr>
                <tr>
                    <td class="td-cfh">CF001231123</td>
                    <td class="td-mc">阿莫西林</td>
                    <td class="td-gg">2g*10片</td>
                    <td class="td-lsj">18.00元/盒</td>
                    <td class="td-sl">2</td>
                    <td class="td-zje">36.00</td>
                </tr>
                <tr>
                    <td colspan="5" class="td-hj">合计：</td>
                    <td class="td-hj">144.00</td>
                </tr>
            </table>
        </div>
        <div class="dv-end clearfix">
            <table>
                <tr>
                    <td><span>配药员：</span><span>张爱玲</span></td>
                    <td><span>发药员：</span><span>李丽华</span></td>
                    <td><span>审核员：</span><span>吴昊</span></td>
                    <td><span>医师：</span><span>隋季</span></td>
                </tr>
                <tr>
                    <td colspan="3"><span style="margin-right:20px;">注：药品当面点清，一旦发出不得退药！</span></td>
                    <td>
                        <span>排药日期：</span>
                        <span>2018-12-20</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<input type="button" id="btn_print" value="打印" />
<script>
    $(function () {
        $("#btn_print").click(function () {
            print();
        });
    });
    function print() {
        var strHTML = $("#b_fyd").prop("outerHTML");
        LODOP.PRINT_INITA(1, 1, 770, 660, "");
        LODOP.ADD_PRINT_TEXT(10, 60, 300, 200, "");
        LODOP.ADD_PRINT_HTM(30, 5, "100%", "80%", strHTML);
        LODOP.PRINT();
    }
</script>