<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

	<add name="NewtouchDbContext" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=#" providerName="System.Data.SqlClient" />
	<add name="DefaultDbContext" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=#" providerName="System.Data.SqlClient" />
	<add name="DbHelperSQL.DefaultConn" connectionString="Server=.;Initial Catalog=Newtouch_MRQC;User ID=sa;Password=#" providerName="System.Data.SqlClient" />


	<!-- Redis -->
	<!--local-->
	<!--<add name="RedisServer" connectionString="127.0.0.1:6379,connectTimeout=500,password=newtouch" />-->
	<add name="RedisServer" connectionString="61.172.179.6:32079,connectTimeout=500,password=newtouch" />
	
</connectionStrings>