@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#yp" data-toggle="tab">基础药品</a></li>
    <li><a href="#sfdltab" data-toggle="tab">基础收费大类</a></li>
    <li><a href="#hc" data-toggle="tab">基础耗材</a></li>
    <li><a href="#sfxm" data-toggle="tab">基础收费项目</a></li>
    <li><a href="#yzpc" data-toggle="tab">医嘱频次</a></li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="yp">
        <div class="topPanel">
            @Html.Partial("_OrganizeIdDDLToolbarSearchView")
            <div class="toolbar">
                <div class="btn-group">
                    <a id="NF-add1" class="btn btn-primary" onclick="btn_add1()"><i class="fa fa-plus"></i>新建</a>
                </div>
                <div class="btn-group">
                    <a id="NF-edit1" class="btn btn-primary" onclick="btn_edit1()"><i class="fa fa-pencil-square-o"></i>修改</a>
                </div>
                <div class="btn-group">
                    <a id="NF-dirSync1" class="btn btn-primary" onclick="btn_dirSync1()"><i class="fa fa-plus"></i>医保目录同步</a>
                </div>
                @*<div class="btn-group">
            <a id="NF-edit" class="btn btn-primary" onclick="btn_xy()"><i class="fa fa-pencil-square-o"></i>限用</a>
        </div>*@
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td class="formTitle">中西药：</td>
                        <td class="input-group" id="zxy" style="margin-top:8px;">
                            <select id="zxyfl" name="zt" class="form-control"  style="width: 44px">
                                <option value="" selected="selected">全部</option>
                                <option value="01">西药</option>
                                <option value="03">中药</option>
                            </select>
                        </td>
                        <td class="formTitle">有效状态：</td>
                        <td class="input-group" id="zttd" style="margin-top:13px;">
                            <select id="zt" name="zt" class="form-control">
                                <option value="" selected="selected">全部</option>
                                <option value="0">无效</option>
                                <option value="1">有效</option>
                            </select>
                        </td>
                        <td></td>
                        <td class="formTitle" style="padding-left:20px;">药品分类：</td>
                        <td class="input-group">
                            <input type="text" id="ypflMc" name="ypflMc" class="form-control"/>
                            <input type="text" style="display:none;" id="ypflCode" name="ypflCode"
                                   class="form-control"/>
                        </td>
                        <td>
                            <div class="input-group" style="padding-left:30px;margin-bottom:5px;">
                                <input id="txt_keyword_yp1" type="text" class="form-control" placeholder="名称/编码/首拼/国药准字"
                                       style="width: 180px;">
                                <input id="txt_keyword_yp2" type="text" class="form-control" placeholder="规格"
                                       style="width: 180px;">
                                <input id="txt_keyword_yp3" type="text" class="form-control" placeholder="药厂名称"
                                       style="width: 180px;">
                                <span class="input-group-btn">
                                    <button id="btn_search1" type="button" class="btn btn-primary">
                                        <i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                @* <div class="btn-group"> *@
                @*     <a id="NF-AllSync" class="btn btn-primary" onclick="btn_allSync1()"><i class="fa fa-plus"></i>全部同步</a> *@
                @* </div> *@
                <div class="btn-group">
                    <a id="NF-Sync1" class="btn btn-primary" onclick="btn_Sync1()"><i class="fa fa-plus"></i>同步</a>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList1"></table>
            <div id="gridPager1"></div>
        </div>
    </div>
    @* 收费大类tab *@
    <div class="tab-pane fade" id="sfdltab">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a id="NF-add2" authorize="yes" class="btn btn-primary" onclick="btn_add2()"><i class="fa fa-plus"></i>新建</a>
                </div>
                <div class="btn-group">
                    <a id="NF-edit2" class="btn btn-primary" onclick="btn_edit2()"><i class="fa fa-pencil-square-o"></i>修改</a>
                </div>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword_sfdl1" type="text" class="form-control" placeholder="名称" style="width: 180px;">
                                <span class="input-group-btn">
                                    <button id="btn_search2" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                @* <div class="btn-group"> *@
                @*     <a id="NF-AllSync" class="btn btn-primary" onclick="btn_allSync2()"><i class="fa fa-plus"></i>全部同步</a> *@
                @* </div> *@
                <div class="btn-group">
                    <a id="NF-Sync2" class="btn btn-primary" onclick="btn_Sync2()"><i class="fa fa-plus"></i>同步</a>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList2"></table>
        </div>
    </div>
    @* 耗材tab *@
    <div class="tab-pane fade" id="hc">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a id="NF-add3" class="btn btn-primary" onclick="btn_add3()"><i class="fa fa-plus"></i>新建</a>
                </div>
                <div class="btn-group">
                    <a id="NF-edit3" class="btn btn-primary" onclick="btn_edit3()"><i class="fa fa-pencil-square-o"></i>修改</a>
                </div>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td class="formTitle">有效状态：</td>
                        <td class="input-group" id="hczttd" style="margin-top:13px;">
                            <select id="hczt" name="zt" class="form-control">
                                <option value="" selected="selected">全部</option>
                                <option value="0">无效</option>
                                <option value="1">有效</option>
                            </select>
                        </td>
                        <td></td>
                        <td>
                            <div class="input-group" style="padding-left:30px;margin-bottom:5px;">
                                <input id="txt_keyword_hc1" type="text" class="form-control" placeholder="名称/编码/首拼"
                                       style="width: 180px;">
                                <input id="txt_keyword_hc2" type="text" class="form-control" placeholder="厂商名称"
                                       style="width: 180px;">
                                <span class="input-group-btn">
                                    <button id="btn_search3" type="button" class="btn btn-primary">
                                        <i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="NF-Sync3" class="btn btn-primary" onclick="btn_Sync3()"><i class="fa fa-plus"></i>同步</a>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList3"></table>
            <div id="gridPager3"></div>
        </div>

    </div>
    @* 收费项目tab *@
    <div class="tab-pane fade" id="sfxm">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a id="NF-add4" authorize="yes" class="btn btn-primary" onclick="btn_add4()"><i class="fa fa-plus"></i>新建</a>
                </div>
                <div class="btn-group">
                    <a id="NF-edit4" class="btn btn-primary" onclick="btn_edit4()"><i class="fa fa-pencil-square-o"></i>修改</a>
                </div>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword_sfxm1" type="text" class="form-control" placeholder="名称/编码/首拼" style="width: 180px;">
                                <span class="input-group-btn">
                                    <button id="btn_search4" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <select id="sfdl" name="sfdl" class="form-control required" style="width:120px">
                    <option value="">==请选择==</option>
                </select>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="NF-Sync4" class="btn btn-primary" onclick="btn_Sync4()"><i class="fa fa-plus"></i>同步</a>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList4"></table>
            <div id="gridPager4"></div>
        </div>
    </div>
    @* 医嘱频次 *@
    <div class="tab-pane fade" id="yzpc">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a id="NF-add5" class="btn btn-primary" onclick="btn_add5()"><i class="fa fa-plus"></i>新建</a>
                </div>
                <div class="btn-group">
                    <a id="NF-edit5" class="btn btn-primary" onclick="btn_edit5()"><i class="fa fa-pencil-square-o"></i>修改</a>
                </div>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword_yzpc" type="text" class="form-control" placeholder="编码/名称" style="width: 180px;">
                                <span class="input-group-btn">
                                    <button id="btn_search5" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="NF-Sync5" class="btn btn-primary" onclick="btn_Sync5()"><i class="fa fa-plus"></i>同步</a>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList5"></table>
            <div id="gridPager5"></div>
        </div>
    </div>
    
</div>

<script>
    var valkeyword = "";
    $(function () {
        initControl1();
        initControl2();
        //initControl3();
        initControl4();
        gridList1();
        gridList2();
        gridList3();
        gridList4();
        gridList5();
    });
    //药品tab
    function gridList1() {
        var $gridList = $("#gridList1");
        $gridList.dataGrid({
            url: "/CommonLibrary/GetGridJson",
            height: $(window).height() - 130,
            postData: { keyword: $("#txt_keyword_yp1").val(),ypgg: $("#txt_keyword_yp2").val() ,ycmc: $("#txt_keyword_yp3").val(), organizeId: "*",zxyfl:$("#zxyfl").val(), zt: $("#zt").val(), ypflCode: $("#ypflMc").val() === "" ? "" : $("#ypflCode").val(),dlCode:''},
            colModel: [
                { label: "主键", name: "ypId", hidden: true, key: true },
                {
                    label: '同步', name: 'isSynch', width: 40, hidden: true, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue === '0') {
                            var $row = JSON.stringify(rowObject).replace(/\"/g, "'");
                            return '<a class="btn btn-default btn-xs" onclick="YibaoUpload(' + $row + ')"><span class="glyphicon glyphicon-refresh"></span></a>';
                        }
                        else if (cellvalue === '1') {
                            return '<a class="btn btn-default btn-xs disabled"><span class="glyphicon glyphicon-refresh"></span></a>';
                        }
                        else {
                            return '';
                        }
                    }
                },
                { label: "药品编码", name: "ypCode", width: 100, align: 'left' },
                { label: '药品名称', name: 'ypmc', width: 150, align: 'left' },
                { label: "医保代码", name: "ybdm", width: 100, align: 'left' },
                { label: "国家医保名称", name: "gjybmc", width: 100, align: 'left' },
                { label: "国家医保代码", name: "gjybdm", width: 100, align: 'left' },
                { label: "新农合医保代码", name: "xnhybdm", width: 100, align: 'left', hidden: true },
                { label: '药品规格', name: 'ypgg', width: 70, align: 'center' },
                { label: '国药准字', name: 'ypzsm', width: 70, align: 'center' },
                { label: '商品名', name: 'spm', width: 100, align: 'left', hidden: true },
                { label: '首拼', name: 'py', width: 100, align: 'left', hidden: true },
                {
                    label: "自负性质", name: "zfxz", width: 60, align: 'left', formatter: function (cellVallue) {
                        return cellVallue == 0 ? "可报" : (cellVallue == 1 ? "自费" : (cellVallue == 2 ? "分类自负" : (cellVallue == 3 ? "绝对自理" : (cellVallue == 4 ? "甲类" : (cellVallue == 5 ? "乙类" : (cellVallue == 6 ? "丙类" : ""))))));
                    }
                },
                {
                    label: "零售价", name: "lsj", width: 60, align: 'left', formatter: "number"
                    , formatoptions: { decimalPlaces: 4, defaultValue: '0.0000' }
                },
                { label: '包装单位', name: 'bzdw', width: 80, align: 'left' },
                { label: '门诊拆零数', name: 'mzcls', width: 70, align: 'left' },
                { label: '门诊拆零单位', name: 'mzcldw', width: 70, align: 'left' },
                { label: '住院拆零数', name: 'zycls', width: 70, align: 'left' },
                { label: '住院拆零单位', name: 'zycldw', width: 80, align: 'left' },
                { label: '定价单位', name: 'djdw', width: 50, align: 'left' },
                { label: '自负比例', name: 'zfbl', width: 50, align: 'left' },
                { label: '大类', name: 'sfdlMc', width: 50, align: 'left' },
                { label: '药厂名称', name: 'ycmc', width: 80, align: 'left' },
                { label: '药品包装代码', name: 'ypbzdm', width: 80, align: 'left' },
                {
                    label: '门诊住院标志', name: 'mzzybz', width: 80, align: 'left',
                    formatter: function (cellvalue) {
                        if (cellvalue == "0") {
                            return "通用";
                        } else if (cellvalue == "1") {
                            return "门诊";
                        } else if (cellvalue == "2") {
                            return "住院";
                        } else {
                            return "其他";
                        }
                    }
                },
                {
                    label: '医保限价', name: 'cxjje', width: 80, align: 'left',
                    formatter: function (cxjje) {
                        if (cxjje == 0 || cxjje == null) {
                            return "0.00";
                        } else {
                            return cxjje;
                        }
                    }
                },
                { label: "有效", name: "zt", width: 60, align: "center", formatter: function (cellvalue) { return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: '创建人', name: 'CreatorCode', width: 60, align: 'left' },
                { label: '创建时间', name: 'CreateTime', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '最后修改', name: 'LastModifierCode', width: 60, align: 'center' },
                { label: '最后修改时间', name: 'LastModifyTime', width: 80, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '排序', name: 'px', width: 40, align: 'left' }
            ],
            pager: "#gridPager1",
            sortname: 'CreateTime desc',
            viewrecords: true,
            multiselect: true, // 启用多选
        });
        $("#btn_search1").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword_yp1").val(),ypgg: $("#txt_keyword_yp2").val() ,ycmc: $("#txt_keyword_yp3").val(), organizeId: "*",zxyfl:$("#zxyfl").val(), zt: $("#zt").val(), ypflCode: $("#ypflMc").val() == "" ? "" : $("#ypflCode").val() },
                page: 1,
            }).trigger('reloadGrid');
        });
    }

    //回车事件
    $('#txt_keyword_yp1').keydownEnterEvent(function () {
        $('#btn_search1').trigger('click');
    });

    function initControl1() {
        //药品分类
        $('#ypflMc').newtouchFloatingSelector({
            width: 300,
            height: 300,
            caption: "药品分类",
            url: '/SysMedicineClassification/GetListSelectJson',
            clickautotrigger: true,
            ajaxparameters: function () {
                return "keyword=" + $.trim($('#ypflMc').val());
            },
            itemdbclickhandler: function ($thistr) {
                $('#ypflCode').val($thistr.attr('data-ypflCode'));
                $('#ypflMc').val($thistr.attr('data-ypflmc'));
            },
            colModel: [{ label: '编码', name: 'ypflCode', hidden: true },
            { label: '名称', name: 'ypflmc', widthratio: 50 },
            { label: '首拼', name: 'py', widthratio: 50 }
            ]
        });
    }

    function btn_add1() {
        $.modalOpen({
            id: "Form",
            title: "系统药品添加",
            url: "/CommonLibrary/SysCommonMedicineAdd?orgId=*" ,
            width: "1300px",
            height: "800px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit1() {
        let selectedIdList = $("#gridList1").jqGrid('getGridParam', 'selarrrow');
        if (!selectedIdList.length === 1 ) {
            $.modalAlert("请选中一条信息进行修改", 'warning');
            return;
        }
        $.modalOpen({
            id: "SysMedicineAdd",
            title: "修改系统药品",
            url: "/CommonLibrary/SysCommonMedicineAdd?keyValue=" + selectedIdList[0]+"&orgId=*",
            width: "1300px",
            height: "800px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_xy1() {
        debugger;
        var seleRowid = jQuery("#gridList1").jqGrid("getGridParam", "selrow");
        if (!(seleRowid)) {
            $.modalAlert("请选中一条信息", 'warning');
            return;
        }
        var xmdm = $("#gridList1").jqGridRowValue().ypCode;
        var xmmc = encodeURIComponent($("#gridList1").jqGridRowValue().ypmc);
        xmmc = xmmc.replace(/%/g, '%25');
        var title = "【" + $("#gridList").jqGridRowValue().ypmc + "】" + "的限用";
        $.modalOpen({
            id: "Form",
            title: title,
            url: "/SysChargeItem/YbbxblForm?xmdm=" + xmdm + "&xmmc=" + xmmc,
            width: "600px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();

            }
        });
    }
    function btn_Sync1() {
        @*let keyValue = $("#gridList").jqGridRowValue().ypId;*@
        let selectedIdList = $("#gridList1").jqGrid('getGridParam', 'selarrrow');
        if (selectedIdList.length <=  0) {
            $.modalAlert("请至少选中一条信息", 'warning');
            return;
        }
        $.najax({
            url: "/CommonLibrary/Sync",
            type: "POST",
            data: {Type:"yp",idList :selectedIdList,organizeId: $("#OrganizeId").val()},
            dataType: "json",
            async: false,
            success: function (data) {
                $.modalAlert(data.message, data.state);
                $('#btn_search1').trigger('click');
            }
        });
        
    }
    //医保目录药品下载
    function btn_dirSync1() {
        $.modalConfirm("确定要同步医保药品吗？", function (r) {
            if (r) {
                $.loading(true, "数据同步中...请勿操作");
                $.najax({
                    url: "/CommonLibrary/SyncYbyp",
                    type: "GET",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        $.modalAlert(data.message, data.state);
                        $('#btn_search1').trigger('click');
                        $.loading(false);
                    }
                });
            } else { 
                

            }
        });

    }

    function btn_allSync1() {
        $.modalConfirm("确定要同步所有药品吗？", function (r) {
            if (r) {
                $.loading(true, '数据同步中...');
                $.najax({
                    url: "/CommonLibrary/SyncAllDrug",
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $.modalAlert(data.message, data.state);
                        $('#btn_search1').trigger('click');
                        $.loading(false);
                    }
                });
            } else {
              
            }
        });


    }
    
    //药品同步医保
    function YibaoUpload(row) {
        $.najax({
            url: "/SysMedicine/YibaoUploadApi",
            type: "POST",
            data: { ypId: row.ypId, flag: row.zt },
            dataType: "json",
            async: false,
            success: function (data) {
                $.modalAlert(data.message, data.state);
                $('#btn_search1').trigger('click');
            }
        });
    }
    
//收费大类tab
    function gridList2() {
        var $gridList = $("#gridList2");
        $gridList.dataGrid({
            //treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "dlCode",
            postData: { keyword: $("#txt_keyword_sfdl1").val(), organizeId: "*" },
            url: "/ChargeCategory/GetTreeGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "dlId", hidden: true, key: true },
                { label: '名称', name: 'dlmc', width: 150, align: 'left' },
                { label: "编码", name: "dlCode", width: 100, align: 'left' },
                {
                    label: "门诊住院标志", name: "mzzybz", width: 100, align: "left",
                    formatter: function (cellvalue) {
                        if (cellvalue == "0") {
                            return "通用"
                        } else if (cellvalue == "1") {
                            return "门诊"
                        } else {
                            return "住院"
                        }
                    }
                },
                {
                    label: "大类类别", name: "dllb", width: 100, align: "left",
                    formatter: function (cellvalue) {
                        if (cellvalue == "1") {
                            return "药品"
                        }
                        else if (cellvalue == "2") {
                            return "治疗项目"
                        }
                        else if (cellvalue == "3") {
                            return "非治疗项目"
                        }
                        else {
                            return ""
                        }
                    }
                },
                { label: '所属分类', name: 'fjmc', width: 100, align: 'left' },
                {
                    label: '税率', name: 'sn', width: 40, align: 'left', formatter: function (cellvalue) {
                        if (cellvalue == null) {
                            return 0
                        }
                        else {
                            return cellvalue
                        }

                    }},
                { label: "有效", name: "zt", width: 80, align: "left", formatter: function (cellvalue) { return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: '创建人', name: 'CreatorCode', width: 100, align: 'left' },
                { label: '创建时间', name: 'CreateTime', width: 100, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '最后修改', name: 'LastModifierCode', width: 100, align: 'left' },
                { label: '最后修改时间', name: 'LastModifyTime', width: 100, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '排序', name: 'px', width: 85, align: 'left' }
            ],
            multiselect: true, // 启用多选框
        });
        $("#btn_search2").click(function () {
            $("#gridList2").jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword_sfdl1").val(), organizeId: "*" },
            }).trigger('reloadGrid');
        });
    }

    //回车事件
    $('#txt_keyword2').keydownEnterEvent(function () {
        $('#btn_search2').trigger('click');
    })

    function initControl2() {

    }
    function btn_add2() {
        $.modalOpen({
            id: "Form",
            title: "新增大类",
            url: "/CommonLibrary/SysCommonMedicineAdd?orgId=*",
            width: "550px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_edit2() {
        let selectedIdList = $("#gridList2").jqGrid('getGridParam', 'selarrrow');
        if (!(selectedIdList.length === 1 )) {
            $.modalAlert("请选中一条信息进行修改", 'warning');
            return;
        }
        var keyValue = selectedIdList;
        $.modalOpen({
            id: "Form",
            title: "修改大类",
            url: "/CommonLibrary/SysCommonChargeCategoryForm?keyValue=" + keyValue,
            width: "550px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_Sync2() {
        @*let keyValue = $("#gridList").jqGridRowValue().ypId;*@
        let selectedIdList = $("#gridList2").jqGrid('getGridParam', 'selarrrow');
        if (selectedIdList.length <  0) {
            $.modalAlert("请至少选中一条信息", 'warning');
            return;
        }
        $.najax({
            url: "/CommonLibrary/Sync",
            type: "POST",
            data: {Type:"sfdl",idList :selectedIdList,organizeId: $("#OrganizeId").val()},
            dataType: "json",
            async: false,
            success: function (data) {
                $.modalAlert(data.message, data.state);
                $('#btn_search2').trigger('click');
            }
        });

    }
    //耗材tab
    function gridList3() {
        var $gridList = $("#gridList3");
        $gridList.dataGrid({
            url: "/CommonLibrary/GetGridJson",
            height: $(window).height() - 130,
            postData: { keyword: $("#txt_keyword_hc1").val(),ypgg: $("#txt_keyword_hc2").val() ,ycmc: $("#txt_keyword_yp3").val(), organizeId: "*", zt: $("#zt").val(), ypflCode: $("#ypflMc").val() === "" ? "" : $("#ypflCode").val(),dlCode:'18'},
            colModel: [
                { label: "主键", name: "ypId", hidden: true, key: true },
                {
                    label: '同步', name: 'isSynch', width: 40, hidden: true, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue === '0') {
                            var $row = JSON.stringify(rowObject).replace(/\"/g, "'");
                            return '<a class="btn btn-default btn-xs" onclick="YibaoUpload(' + $row + ')"><span class="glyphicon glyphicon-refresh"></span></a>';
                        }
                        else if (cellvalue === '1') {
                            return '<a class="btn btn-default btn-xs disabled"><span class="glyphicon glyphicon-refresh"></span></a>';
                        }
                        else {
                            return '';
                        }
                    }
                },
                { label: "药品编码", name: "ypCode", width: 100, align: 'left' },
                { label: '药品名称', name: 'ypmc', width: 150, align: 'left' },
                { label: "医保代码", name: "ybdm", width: 100, align: 'left' },
                { label: "国家医保名称", name: "gjybmc", width: 100, align: 'left' },
                { label: "国家医保代码", name: "gjybdm", width: 100, align: 'left' },
                { label: "新农合医保代码", name: "xnhybdm", width: 100, align: 'left', hidden: true },
                { label: '药品规格', name: 'ypgg', width: 70, align: 'center' },
                { label: '国药准字', name: 'ypzsm', width: 70, align: 'center' },
                { label: '商品名', name: 'spm', width: 100, align: 'left', hidden: true },
                { label: '首拼', name: 'py', width: 100, align: 'left', hidden: true },
                {
                    label: "自负性质", name: "zfxz", width: 60, align: 'left', formatter: function (cellVallue) {
                        return cellVallue == 0 ? "可报" : (cellVallue == 1 ? "自费" : (cellVallue == 2 ? "分类自负" : (cellVallue == 3 ? "绝对自理" : (cellVallue == 4 ? "甲类" : (cellVallue == 5 ? "乙类" : (cellVallue == 6 ? "丙类" : ""))))));
                    }
                },
                {
                    label: "零售价", name: "lsj", width: 60, align: 'left', formatter: "number"
                    , formatoptions: { decimalPlaces: 4, defaultValue: '0.0000' }
                },
                { label: '包装单位', name: 'bzdw', width: 80, align: 'left' },
                { label: '门诊拆零数', name: 'mzcls', width: 70, align: 'left' },
                { label: '门诊拆零单位', name: 'mzcldw', width: 70, align: 'left' },
                { label: '住院拆零数', name: 'zycls', width: 70, align: 'left' },
                { label: '住院拆零单位', name: 'zycldw', width: 80, align: 'left' },
                { label: '定价单位', name: 'djdw', width: 50, align: 'left' },
                { label: '自负比例', name: 'zfbl', width: 50, align: 'left' },
                { label: '大类', name: 'sfdlMc', width: 50, align: 'left' },
                { label: '药厂名称', name: 'ycmc', width: 80, align: 'left' },
                { label: '药品包装代码', name: 'ypbzdm', width: 80, align: 'left' },
                {
                    label: '门诊住院标志', name: 'mzzybz', width: 80, align: 'left',
                    formatter: function (cellvalue) {
                        if (cellvalue == "0") {
                            return "通用";
                        } else if (cellvalue == "1") {
                            return "门诊";
                        } else if (cellvalue == "2") {
                            return "住院";
                        } else {
                            return "其他";
                        }
                    }
                },
                {
                    label: '医保限价', name: 'cxjje', width: 80, align: 'left',
                    formatter: function (cxjje) {
                        if (cxjje == 0 || cxjje == null) {
                            return "0.00";
                        } else {
                            return cxjje;
                        }
                    }
                },
                { label: "有效", name: "zt", width: 60, align: "center", formatter: function (cellvalue) { return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: '创建人', name: 'CreatorCode', width: 60, align: 'left' },
                { label: '创建时间', name: 'CreateTime', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '最后修改', name: 'LastModifierCode', width: 60, align: 'center' },
                { label: '最后修改时间', name: 'LastModifyTime', width: 80, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '排序', name: 'px', width: 40, align: 'left' }
            ],
            pager: "#gridPager3",
            sortname: 'CreateTime desc',
            viewrecords: true,
            multiselect: true, // 启用多选
        });
        $("#btn_search3").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword_hc1").val(),ypgg: $("#txt_keyword_hc2").val() ,ycmc: $("#txt_keyword_hc3").val(), organizeId: "*", zt: $("#zt").val(), ypflCode: $("#ypflMc").val() == "" ? "" : $("#ypflCode").val() },
                page: 1,
            }).trigger('reloadGrid');
        });
    }

    //回车事件
    $('#txt_keyword_hc1').keydownEnterEvent(function () {
        $('#btn_search3').trigger('click');
    });

    function btn_add3() {
        $.modalOpen({
            id: "Form",
            title: "系统药品添加",
            url: "/CommonLibrary/SysCommonStuffAdd?orgId=*" ,
            width: "1300px",
            height: "800px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit3() {
        let selectedIdList = $("#gridList3").jqGrid('getGridParam', 'selarrrow');
        if (!selectedIdList.length === 1 ) {
            $.modalAlert("请选中一条信息进行修改", 'warning');
            return;
        }
        $.modalOpen({
            id: "SysMedicineAdd",
            title: "修改系统药品",
            url: "/CommonLibrary/SysCommonStuffAdd?keyValue=" + selectedIdList[0]+"&orgId=*",
            width: "1300px",
            height: "800px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_Sync3() {
        @*let keyValue = $("#gridList").jqGridRowValue().ypId;*@
        let selectedIdList = $("#gridList3").jqGrid('getGridParam', 'selarrrow');
        if (selectedIdList.length <=  0) {
            $.modalAlert("请至少选中一条信息", 'warning');
            return;
        }
        $.najax({
            url: "/CommonLibrary/Sync",
            type: "POST",
            data: {Type:"hc",idList :selectedIdList,organizeId: $("#OrganizeId").val()},
            dataType: "json",
            async: false,
            success: function (data) {
                $.modalAlert(data.message, data.state);
                $('#btn_search3').trigger('click');
            }
        });

    }
    
    function gridList4() {
        var $gridList = $("#gridList4");
        $gridList.dataGrid({
            postData: { keyword: $("#txt_keyword_sfxm1").val(), organizeId: "*", sfdl: $("#sfdl").val() },
            url: "/SysChargeItem/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "sfxmId", hidden: true, key: true },
                { label: '名称', name: 'sfxmmc', width: 150, align: 'left' },
                { label: '规格', name: 'gg', width: 30, align: 'left' },
                { label: "编码", name: "sfxmCode", width: 75, align: 'left' },
                { label: "医保代码", name: "ybdm", width: 75, align: 'left' },
                { label: "国家医保代码", name: "gjybdm", width: 90, align: 'left' },
                { label: "新农合医保代码", name: "xnhybdm", width: 90, align: 'left', hidden: true },
                { label: "首拼", name: "py", hidden: true },
                { label: '国家医保名称', name: 'gjybmc', width: 150, align: 'left' },
                { label: '生产厂家', name: 'sccj', width: 150, align: 'left' },
                {
                    label: "自负性质", name: "zfxz", width: 60, align: 'left', formatter: function (cellVallue) {
                        return cellVallue == 0 ? "可报" : (cellVallue == 1 ? "自费" : (cellVallue == 2 ? "分类自负" : (cellVallue == 3 ? "绝对自理" : (cellVallue == 4 ? "甲类" : (cellVallue == 5 ? "乙类" : (cellVallue == 6 ? "丙类" : ""))))));
                    }
                },
                {
                    label: "单价", name: "dj", width: 60, align: 'left', formatter: "number"
                    , formatoptions: { decimalPlaces: 2, defaultValue: '0.00' }
                },
                { label: "收费大类", name: "sfdlmc", width: 100, align: 'left' },
                {
                    label: '超限价金额', name: 'cxjje', width: 80, align: 'left',
                    formatter: function (cxjje) {
                        if (cxjje == 0 || cxjje == null) {
                            return "0.00";
                        } else {
                            return cxjje;
                        }
                    }
                },
                { label: "有效", name: "zt", width: 80, align: "left", formatter: function (cellvalue) { return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: '创建人', name: 'CreatorCode', width: 100, align: 'left' },
                { label: '创建时间', name: 'CreateTime', width: 100, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '最后修改', name: 'LastModifierCode', width: 100, align: 'left' },
                { label: '最后修改时间', name: 'LastModifyTime', width: 100, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '排序', name: 'px', width: 40, align: 'left' },
                { label: "是否是物资同步数据", name: "iswzsame", hidden: true },
            ],
            pager: "#gridPager4",
            sortname: 'CreateTime desc',
            viewrecords: true,
            multiselect: true, // 启用多选
        });
        $("#btn_search4").click(function () {
            $("#gridList4").jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword_sfxm1").val(), organizeId: "*", sfdl: $("#sfdl").val() },
            }).trigger('reloadGrid');
        });
    }

    //回车事件
    $('#txt_keyword').keydownEnterEvent(function () {
        $('#btn_search4').trigger('click');
    })

    function initControl4() {
        //获取收费大类
        $("#sfdl").bindSelect({
            url: "/ChargeCategory/GetTreeSelectJson?organizeId=*" ,
        });
    }

    $("#sfdl").change(function () {
        $('#btn_search4').trigger('click');
    });

    function btn_add4() {
        $.modalOpen({
            id: "Form",
            title: "新增项目",
            url: "/CommonLibrary/ChargeItemForm?orgId=*",
            width: "1100px",
            height: "570px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_edit4() {
        var seleRowid = jQuery("#gridList4").jqGrid("getGridParam", "selrow");
        if (!(seleRowid)) {
            $.modalAlert("请选中一条信息", 'warning');
            return;
        }
        if ($("#gridList4").jqGridRowValue().iswzsame=="1") {
            $.modalAlert("该数据为物资系统同步过来的数据，如果要修改请到物资系统进行修改", 'warning');
            return;
        }
        var keyValue = $("#gridList4").jqGridRowValue().sfxmId;
        $.modalOpen({
            id: "Form",
            title: "修改项目",
            url: "/SysChargeItem/Form?keyValue=" + keyValue,
            width: "1100px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_Sync4() {
        @*let keyValue = $("#gridList").jqGridRowValue().ypId;*@
        let selectedIdList = $("#gridList4").jqGrid('getGridParam', 'selarrrow');
        if (selectedIdList.length <=  0) {
            $.modalAlert("请至少选中一条信息", 'warning');
            return;
        }
        $.najax({
            url: "/CommonLibrary/Sync",
            type: "POST",
            data: {Type:"sfxm",idList :selectedIdList,organizeId: $("#OrganizeId").val()},
            dataType: "json",
            async: false,
            success: function (data) {
                $.modalAlert(data.message, data.state);
                $('#btn_search4').trigger('click');
            }
        });

    }

    function gridList5() {
        var $gridList = $("#gridList5");
        $gridList.dataGrid({
            url: "/SysMedicalOrderFrequency/GetGridJson",
            postData: getSearchPostData(),
            height: 400,
            colModel: [
                { label: "主键", name: "yzpcId", width: 100, align: "left", hidden: true,key :true },
                { label: "编码", name: "yzpcCode", width: 100, align: "left" },
                { label: "频次名称", name: "yzpcmc", width: 100, align: "left" },
                { label: "名称说明", name: "yzpcmcsm", width: 100, align: "left" },
                { label: "执行次数", name: "zxcs", width: 100, align: "left" },
                { label: "执行周期", name: "zxzq", width: 100, align: "left" },
                { label: "执行周期时间单位", name: "zxzqdw", width: 100, align: "left" },
                { label: "周标志", name: "zbz", width: 100, align: "left" },
                { label: "执行时间", name: "zxsj", width: 100, align: "left" },
                { label: "有效", name: "zt", width: 60, align: "center", formatter: function (cellvalue) { return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: '创建人', name: 'CreatorCode', width: 60, align: 'left' },
                { label: '创建时间', name: 'CreateTime', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '最后修改', name: 'LastModifierCode', width: 60, align: 'left' },
                { label: '最后修改时间', name: 'LastModifyTime', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } }
            ],
            viewrecords: true,
            multiselect: true, // 启用多选
        });
        $("#btn_search5").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: getSearchPostData()
            }).trigger('reloadGrid');
        })
        $("#btn_search5").trigger('click');
    }

    //查询条件
    function getSearchPostData() {
        var keyword = $("#txt_keyword_yzpc").val();
        return { keyword: keyword, orgId:'*' };
    };

    //回车事件
    $('#txt_keyword_yzpc').keydownEnterEvent(function () {
        $('#btn_search5').trigger('click');
    })

    //新增
    function btn_add5() {
        $.modalOpen({
            id: "FormFIEdit",
            title: "医嘱频次维护",
            url: "/CommonLibrary/SysMedicalOrderFrequencyForm?orgId=*",
            width: "500px",
            height: "620px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    //修改
    function btn_edit5() {
        let selectedIdList = $("#gridList5").jqGrid('getGridParam', 'selarrrow');
        if (!(selectedIdList.length === 1 )) {
            $.modalAlert("请选中一条信息", 'warning');
            return;
        }
        var OrganizeId = '*';
        $.modalOpen({
            id: "FormFIEdit",
            title: "修改信息",
            url: "/CommonLibrary/SysMedicalOrderFrequencyForm?yzpcId=" + selectedIdList + "&orgId=" + OrganizeId,
            width: "500px",
            height: "620px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_Sync5() {
        @*let keyValue = $("#gridList").jqGridRowValue().ypId;*@
        let selectedIdList = $("#gridList5").jqGrid('getGridParam', 'selarrrow');
        if (selectedIdList.length <=  0) {
            $.modalAlert("请至少选中一条信息", 'warning');
            return;
        }
        $.najax({
            url: "/CommonLibrary/Sync",
            type: "POST",
            data: {Type:"yzpc",idList :selectedIdList,organizeId: $("#OrganizeId").val()},
            dataType: "json",
            async: false,
            success: function (data) {
                $.modalAlert(data.message, data.state);
                $('#btn_search5').trigger('click');
            }
        });

    }
    
    
</script>
