
@{
	Layout = null;
}
<style>
	#dv_zyinfo input {
		border-top: none;
		border-left: none;
		border-right: none;
		text-wrap: normal;
		border-bottom-color: #74e8b5;
	}

	.spanleft {
		float: left;
		padding-top: 5px;
	}

	.spanright {
		float: right;
		padding-top: 5px;
	}

	/*td span[role=combobox]
	{
		border:none;
	}*/
</style>
<div id="dv_zyinfo">
	<div>
        <table class="form">
            <tr>
                <th class="formTitle ">医院感染情况：</th>
                <td class="formValue">
                    <select id="YYGRQK" name="YYGRQK" class="form-control" data-enumtype="EnumHorN"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px;">1.有&nbsp;&nbsp;2.无</span>
                </td>
                <th class="formTitle " style="padding-right: 50px;padding-left: 25px;">医院感染是否与手术相关：</th>
                <td class="formValue">
                    <select id="YYGRSSXG" name="YYGRSSXG" class="form-control" data-enumtype="EnumYorN">
                        <option>-</option>
                    </select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px;">1.是&nbsp;&nbsp;2.否</span>
                </td>
                <th class="formTitle " style="padding-right:100px;padding-left: 50px;">医院感染是否与侵入性操作性相关：</th>
                <td class="formValue">
                    <select id="YYGRSFQRXG" name="YYGRSFQRXG" class="form-control" data-enumtype="EnumHorN">
                        <option>-</option>
                    </select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px;">1.有&nbsp;&nbsp;2.无</span>
                </td>
            </tr>
            <tr>
                <th class="formTitle">抗菌药物使用情况：</th>
                <td class="formValue">
                    <div style="width:100px; float:left;">
                        <select id="KJYWSYQK" name="KJYWSYQK" class="form-control" data-enumtype="EnumKJYWSYQK">
                            <option>-</option>
                        </select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px; width:400px">1.Ⅰ联&nbsp;&nbsp;2.Ⅱ联&nbsp;&nbsp;3.Ⅲ联&nbsp;&nbsp;4.Ⅳ联&nbsp;&nbsp;5.>Ⅵ联</span>
                </td>
                <th style="height:5px; line-height:25px; float:left;margin-left:100px;">
                </th>
                <td></td>
                <th class="formTitle">抗菌药物名称1</th>
                <td class="formValue"><input id="KJYWMC1" name="KJYWMC1" class="form-control" /></td>
                <th class="formTitle">抗菌药物名称2</th>
                <td class="formValue"><input id="KJYWMC2" name="KJYWMC2" class="form-control" /></td>
                <th class="formTitle">抗菌药物名称3</th>
                <td class="formValue"><input id="KJYWMC3" name="KJYWMC3" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">抗菌药物名称4</th>
                <td class="formValue"><input id="KJYWMC4" name="KJYWMC4" class="form-control" /></td>
                <th class="formTitle">抗菌药物名称5</th>
                <td class="formValue"><input id="KJYWMC5" name="KJYWMC5" class="form-control" /></td>
                <th class="formTitle">抗菌药物名称6</th>
                <td class="formValue"><input id="KJYWMC6" name="KJYWMC6" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle">是否发生压疮</th>
                <td class="formValue">
                    <select id="SFFSYC" name="SFFSYC" class="form-control" data-enumtype="EnumYorN"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px;">1.是&nbsp;&nbsp;2.否</span>
                </td>
                <th class="formTitle">是否住院期间发生</th>
                <td class="formValue">
                    <select id="SFZYQJFS" name="SFZYQJFS" class="form-control" data-enumtype="EnumYorN">
                        <option>-</option>
                    </select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px;">1.是&nbsp;&nbsp;2.否</span>
                </td>
                <th class="formTitle">压疮分期</th>
                <td class="formValue">
                    <div style="width:100px; float:left;">
                        <select id="YCFQ" name="YCFQ" class="form-control" data-enumtype="EnumYCFQ">
                            <option>-</option>
                        </select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px;">1.有&nbsp;&nbsp;2.无</span>
                </td>
            </tr>
            <tr>
                <th class="formTitle">输液反应</th>
                <td class="formValue">
                    <div style="width:100px; float:left;">
                        <select id="SYFY" name="SYFY" class="form-control" data-enumtype="EnumSYFY"></select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px; width:100px">0.未输&nbsp;&nbsp;1.无&nbsp;&nbsp;2.有</span>
                </td>
                <th class="formTitle">引发反应的药物</th>
                <td class="formValue"><input id="YFFYDYW" name="YFFYDYW" class="form-control" /></td>
                <th class="formTitle">临床表现</th>
                <td class="formValue"><input id="SYLCBX" name="SYLCBX" class="form-control" /></td>
            </tr>
            <tr>
                <th class="formTitle ">住院期间是否<br />发生跌倒或坠床：</th>
                <td class="formValue">
                    <select id="ZYSFDDHZC" name="ZYSFDDHZC" class="form-control" data-enumtype="EnumYorN"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px;">1.是&nbsp;&nbsp;2.否</span>
                </td>
                <th class="formTitle ">住院期间跌倒或坠床的伤害程度：</th>
                <td class="formValue">
                    <div style="width:100px; float:left;">
                        <select id="ZYDDHZCDCD" name="ZYDDHZCDCD" class="form-control" data-enumtype="EnumZYDD_SHCD">
                            <option>-</option>
                        </select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px; width:800px">1.一级&nbsp;&nbsp;2.二级&nbsp;&nbsp;3.三级&nbsp;&nbsp;4.未造成伤害</span>
                </td>
            </tr>
            <tr>
                <th class="formTitle " style="height:25px; line-height:25px; float:left;margin-left:5px;">跌倒或坠床的原因 ：</th>
                <td class="formValue">
                    <div style="width:120px; float:left;">
                        <select id="DDHZCDYY" name="DDHZCDYY" class="form-control" data-enumtype="EnumZYDD_YY">
                            <option>-</option>
                        </select>
                        <input style="height:0px;border-width:1px;" class="form-control" />
                    </div>
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:25px; width:800px">1.健康原因&nbsp;&nbsp;2.治疗、药物、麻醉原因&nbsp;&nbsp;3.环境因素&nbsp;&nbsp;4.其他原因</span>
                </td>
            </tr>
            <tr>
                <th class="formTitle">住院期间身体约束</th>
                <td class="formValue">
                    <select id="ZYQJSTYY" name="ZYQJSTYY" class="form-control" data-enumtype="EnumHorN"></select>
                    <input style="height:0px;border-width:1px;" class="form-control" />
                </td>
                <td class="formValue" style="white-space:normal; float:left;">
                    <span class="formValue" style="height:25px; line-height:25px; float:left;margin-left:5px;">1.有&nbsp;&nbsp;2.无</span>
                </td>
                <th class="formTitle">离院时透析尿素氮值</th>
                <td class="formValue">
                    <input id="LYTXNSDZ" name="LYTXNSDZ" class="form-control"  
                          onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                </td>
            </tr>
            @*<tr>
                <th class="formTitle">单位负责人</th>
                <td class="formValue"><input id="DWFZR" name="DWFZR" class="form-control" /></td>
                <th class="formTitle">统计负责人</th>
                <td class="formValue"><input id="TJFZR" name="TJFZR" class="form-control" /></td>
                <th class="formTitle">填表人</th>
                <td class="formValue"><input id="TBR" name="TBR" class="form-control" /></td>
                <th class="formTitle">联系电话</th>
                <td class="formValue"><input id="LXDH" name="LXDH" class="form-control" /></td>
            </tr>*@
            @*<tr>
                <th class="formTitle">手机</th>
                <td class="formValue"><input id="SJ" name="SJ" class="form-control" /></td>
                <th class="formTitle">报出日期</th>
                <td class="formValue">
                    <input id="BCRQ" name="BCRQ" type="text" class="form-control input-wdatepicker formClearIgnore" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                </td>
            </tr>*@
            @*<tr>
            <th class="formTitle">填表说明</th>
            <td class="formValue" colspan="5"><input id="TBSM" name="TBSM" attr-zddm="" attr-ICD10="" class="form-control" /></td>
        </tr>*@
        </table>
		<hr />
	</div>
</div>
<script>
    /*设置默认值 */
    $(function () {
        //输液反映
        $('#select2-SYFY-container').each(function () {
            var myvalue = '无';
            $(this).html(myvalue);
        });
        $('#select2-SYFY-container').attr('title', '无');
        $('#SYFY option').filter(function () { return $(this).text() == '无'; }).attr('selected', true);
    });
</script>
