
@{
    ViewBag.Title = "病案首页";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/validate/jquery.validate.min.js")"></script>
<div id="dv_main" style="height:100%;">
    <div id="dv_left" style="border:1px;height:100%;">
        @Html.Partial("MainEdit")
    </div>
</div>