
@{
    Layout = null;
}
<style>
    #dv_fee input {
        border-top: none;
        border-left: none;
        border-right: none;
        text-wrap: normal;
        border-bottom-color: #74e8b5;
    }
</style>
<div id="dv_fee">
    <table class="form">
        <tr>
            <th class="formTitle" style="font-weight:bold;">住院总费用（元）</th>
            <td class="formValue">
                <input id="ZFY" name="ZFY" class="form-control" style="font-weight:bold;" attr-desc="住院总费用" readonly/>
            </td>
            <td class="formValue" colspan="4">
                <span style="float:left;padding-right:10px;padding-top: 5px;">（其中：自付金额</span>
                <input id="ZFJE" name="ZFJE" class="form-control" style="width:90px;float:left;" attr-desc="自付金额" readonly />
                <span style="float:left;padding-right:10px;padding-top: 5px;">其他支付</span>
                <input id="QTFY" name="QTFY" class="form-control" style="width:90px;float:left;" attr-desc="其他支付" readonly />
                <span style="float:left;padding-right:10px;padding-top: 5px;">）</span>
            </td>
            @*按医院要求取消显示审核
            <th class="formTitle">是否审核</th>
            <td class="formValue">
                <select id="SWHZSJ" name="SWHZSJ" class="form-control" data-enumtype="EnumYorN"></select>
                <input style="height:0px;border-width:1px;" class="form-control" />
            </td>*@
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">1.综合医疗服务类</td>
            <th class="formTitle">(1)一般医疗服务费</th>
            <td class="formValue"><input id="YLFUF" name="YLFUF" class="form-control" attr-desc="一般医疗服务费" readonly/></td>
            <th class="formTitle">(2)一般治疗操作费</th>
            <td class="formValue"><input id="ZLCZF" name="ZLCZF" class="form-control" attr-desc="一般治疗操作费" readonly/></td>
            <th class="formTitle">(3)护理费</th>
            <td class="formValue"><input id="HLF" name="HLF" class="form-control" attr-desc="护理费" readonly/></td>
            <th class="formTitle">(4)其他费用</th>
            <td class="formValue"><input id="QTFY" name="QTFY" class="form-control" attr-desc="其他费用" readonly/></td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">2.诊断类</td>
            <th class="formTitle">(5)病理诊断费</th>
            <td class="formValue"><input id="BLZDF" name="BLZDF" class="form-control" attr-desc="病理诊断费" readonly/></td>
            <th class="formTitle">(6)实验室诊断费</th>
            <td class="formValue"><input id="SYSZDF" name="SYSZDF" class="form-control" attr-desc="实验室诊断费" readonly/></td>
            <th class="formTitle">(7)影像学诊断费</th>
            <td class="formValue"><input id="YXXZDF" name="YXXZDF" class="form-control" attr-desc="影像学诊断费" readonly/></td>
            <th class="formTitle">(8)临床诊断项目费</th>
            <td class="formValue"><input id="LCZDXMF" name="LCZDXMF" class="form-control" attr-desc="临床诊断项目费" readonly/></td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">3.治疗类</td>
            <th class="formTitle">(9)非手术治疗项目费</th>
            <td class="formValue"><input id="FSSZLXMF" name="FSSZLXMF" class="form-control" attr-desc="非手术治疗项目费" readonly/></td>
            <td class="formValue" colspan="3">
                <span style="float:left;padding-right:10px;padding-top: 5px;">（其中：临床物理治疗费</span>
                <input id="WLZLF" name="WLZLF" class="form-control" style="width:50%;float:left;" attr-desc="临床物理治疗费" readonly/>
                <span style="float:left;padding-right:10px;padding-top: 5px;">）</span>
            </td>
        </tr>
        <tr>
            <td class="formValue"></td>
            <th class="formTitle">(10)手术治疗费</th>
            <td class="formValue"><input id="SSZLF" name="SSZLF" class="form-control" attr-desc="手术治疗费" readonly/></td>
            <td class="formValue" colspan="4">
                <span style="float:left;padding-right:10px;padding-top: 5px;">（其中：麻醉费</span>
                <input id="MAF" name="MAF" class="form-control" style="width:30%;float:left;" attr-desc="麻醉费" readonly/>
                <span style="float:left;padding-right:10px;padding-top: 5px;">手术费</span>
                <input id="SSF" name="SSF" class="form-control" style="width:30%;float:left;" attr-desc="手术费" readonly/>
                <span style="float:left;padding-right:10px;padding-top: 5px;">）</span>
            </td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">4.康复类</td>
            <th class="formTitle">(11)康复费</th>
            <td class="formValue"><input id="KFF" name="KFF" class="form-control" attr-desc="康复费" readonly/></td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">5.中医类</td>
            <th class="formTitle">(12)中医治疗费</th>
            <td class="formValue"><input id="ZYZLF" name="ZYZLF" class="form-control" attr-desc="中医治疗费" readonly/></td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">6.西药类</td>
            <th class="formTitle">(13)西药费</th>
            <td class="formValue"><input id="XYF" name="XYF" class="form-control" attr-desc="西药费" readonly/></td>
            <td class="formValue" colspan="3">
                <span style="float:left;padding-right:10px;padding-top: 5px;">（其中：抗菌药物费用</span>
                <input id="KJYWF" name="KJYWF" class="form-control" style="width:50%;float:left;" attr-desc="抗菌药物费用" readonly/>
                <span style="float:left;padding-right:10px;padding-top: 5px;">）</span>
            </td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">7.中药类</td>
            <th class="formTitle">(14)中成药费</th>
            <td class="formValue"><input id="ZCYF" name="ZCYF" class="form-control" attr-desc="中成药费" readonly/></td>
            <th class="formTitle">(15)中草药费</th>
            <td class="formValue"><input id="ZCYF1" name="ZCYF1" class="form-control" attr-desc="中草药费" readonly/></td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">8.血液和血液制品类</td>
            <th class="formTitle">(16)血费</th>
            <td class="formValue"><input id="XF" name="XF" class="form-control" attr-desc="血费" readonly/></td>
            <th class="formTitle" colspan="2">(17)白蛋白类制品费</th>
            <td class="formValue"><input id="BDBLZPF" name="BDBLZPF" class="form-control" attr-desc="白蛋白类制品费" readonly/></td>
            <th class="formTitle" colspan="2">(18)球蛋白类制品费</th>
            <td class="formValue"><input id="QDBLZPF" name="QDBLZPF" class="form-control" attr-desc="球蛋白类制品费" readonly/></td>
        </tr>
        <tr>
            <td class="formValue"></td>
            <th class="formTitle">(19)凝血因子类制品费</th>
            <td class="formValue"><input id="NXYZLZPF" name="NXYZLZPF" class="form-control" attr-desc="凝血因子类制品费" readonly/></td>
            <th class="formTitle" colspan="2">(20)细胞因子类制品费</th>
            <td class="formValue"><input id="XBYZLZPF" name="XBYZLZPF" class="form-control" attr-desc="细胞因子类制品费" readonly/></td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">9.耗材类</td>
            <th class="formTitle">(21)检查用一次性医用材料费</th>
            <td class="formValue"><input id="HCYYCLF" name="HCYYCLF" class="form-control" attr-desc="检查用一次性医用材料费" readonly/></td>
            <th class="formTitle" colspan="2">(22)治疗用一次性医用材料费</th>
            <td class="formValue"><input id="YYCLF" name="YYCLF" class="form-control" attr-desc="治疗用一次性医用材料费" readonly/></td>
            <th class="formTitle" colspan="2">(23)手术用一次性医用材料费</th>
            <td class="formValue"><input id="YCXYYCLF" name="YCXYYCLF" class="form-control" attr-desc="手术用一次性医用材料费" readonly/></td>
        </tr>
        <tr>
            <td class="formValue" style="font-weight:bold;">10.其他类</td>
            <th class="formTitle">(24)其他费</th>
            <td class="formValue"><input id="QTF" name="QTF" class="form-control" attr-desc="其他费" readonly/></td>
        </tr>
    </table>
</div>
<script>

    function FyListGrid() {
        $.ajax({
            url: "/MRHomePage/MRHomePage/GetFormJsonFee?keyValue=" + keyValue,
            data: { zyh: zyh },
            loading: "正在同步数据...",
            type: "post",
            success: function (data) {
                SyncFee(data);
            }
        });
    }
    function SyncFee(data) {
        var jsonObj = JSON.parse(data);
        for (var item in jsonObj) {
            if ($("#dv_fee input[id=" + item + "]").length > 0 && !!jsonObj[item]) {
                $("#dv_fee input[id=" + item + "]").val(parseFloat(jsonObj[item]).toFixed(2));
            }
            else {
                $("#dv_fee input[id=" + item + "]").val("");
            }
        }
    }

</script>
