DECLARE @DatabaseName NVARCHAR(128);
DECLARE @SQL NVARCHAR(MAX);

-- 游标遍历所有非系统数据库
DECLARE db_cursor CURSOR FOR 
SELECT name
FROM sys.databases
WHERE name NOT IN ('master', 'tempdb', 'model', 'msdb') -- 排除系统数据库
    AND state_desc = 'ONLINE'; -- 排除离线数据库

OPEN db_cursor;
FETCH NEXT FROM db_cursor INTO @DatabaseName;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- 动态 SQL 脚本：创建日志表
    SET @SQL = '
    USE [' + @DatabaseName + '];

    -- 检查是否已经存在日志表，不存在则创建
    IF OBJECT_ID(''dbo.DDLChangeLog'', ''U'') IS NULL
    BEGIN
        CREATE TABLE dbo.DDLChangeLog (
            ID INT IDENTITY(1,1) PRIMARY KEY,
            EventType NVARCHAR(100),
            ObjectName NVARCHAR(256),
            ObjectType NVARCHAR(100),
            TSQLCommand NVARCHAR(MAX),
            LoginName NVARCHAR(256),
            ChangeDate DATETIME
        );
    END;
    ';

    -- 执行动态 SQL
    EXEC sp_executesql @SQL;

    FETCH NEXT FROM db_cursor INTO @DatabaseName;
END;

CLOSE db_cursor;
DEALLOCATE db_cursor;
