@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary" onclick="btn_add()"><i class="fa fa-plus"></i>新建</a>
        </div>
        <div class="btn-group">
            <a id="NF-edit" authorize="yes" class="btn btn-primary" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改</a>
        </div>
        <div class="btn-group">
            <a id="NF-related" class="btn btn-primary" onclick="btn_relatedYF()"><i class="fa fa-pencil-square-o"></i>关联用法</a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="名称/编码" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PharmacyDrugStorage/SysMedicineFormulation/GetGridJson",
            height: $(window).height() - 120,
            colModel: [
                { label: "主键", name: "jxId", hidden: true, key: true },
                { label: '名称', name: 'jxmc', width: 150, align: 'left' },
                { label: "编码", name: "jxCode", width: 100, align: 'left' },

                { label: '首拼', name: 'py', width: 100, align: 'left' },
           { label: '排序', name: 'px', width: 40, align: 'left' },
               { label: "有效", name: "zt", width: 60, align: "center", formatter: function (cellvalue) { return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: '创建时间', name: 'CreateTime', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '最后修改时间', name: 'LastModifyTime', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
            ],
            pager: "#gridPager",
            sortname: 'CreateTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), organizeId: $("#OrganizeId").val() },
            }).trigger('reloadGrid');
        });
    }

    //回车事件
    $('#txt_keyword').keydownEnterEvent(function () {
        $('#btn_search').trigger('click');
    })

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "添加剂型",
            url: "/PharmacyDrugStorage/SysMedicineFormulation/Form",
            width: "400px",
            height: "320px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().jxId;
        if (!!!keyValue) {
            $.modalAlert("请选中一条信息", 'warning');
            return;
        }
        $.modalOpen({
            id: "Form",
            title: "修改剂型",
            url: "/PharmacyDrugStorage/SysMedicineFormulation/Form?keyValue=" + keyValue,
            width: "400px",
            height: "320px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }


    function btn_relatedYF() {
        var keyValue = $("#gridList").jqGridRowValue().jxCode;
        $.modalOpen({
            id: "CorrelationUsage",
            title: "关联用法",
            url: "/PharmacyDrugStorage/SysMedicineFormulation/CorrelationUsage?keyValue=" + keyValue,
            width: "600px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
</script>