<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- ================== 1：系统软件参数配置 ================== -->
	<!-- 软件版本 -->
	<add key="Version" value="1.00.00.0" />

	<!-- ================== 2：开发系统相关配置 ================== -->
	<!-- Reids缓存的key前缀 -->
	<add key="Reids_Cache_Prefix" value="$C_Sett_A$"/>
	<!-- 顶级组织机构Id -->
	<add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>
	<!-- 日志服务的Url -->
	<add key="His.Log.URL" value="http://59.80.30.157:20106/"/>

	<!-- ================== 3：业务相关配置 ================== -->
	<!-- 本地文件默认网络访问路径Host -->
	<add key="LocalFileBaseNetUrl" value="http://localhost:19571/"/>
	<add key="RegLimit" value="0"/>

	<!-- ================== 其他 ================== -->
	<add key="vs:EnableBrowserLink" value="false"/>
	<add key="SiteCISAPIHost" value="http://localhost:7003/"/>
	<!-- PDS API HOST -->
	<add key="SitePDSAPIHost" value="http://localhost:7004/"/>
	<!-- 应用Id -->
	<add key="AppId" value="SettApi"/>
	<add key="AppName" value="新致医疗云HIS系统API"/>
</appSettings>