
@{
    ViewBag.Title = "AddArrange";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form id="form1">
    <div style="padding-right:30px">
        <table class="form">
            <tr>
                <td class="formTitle">工号</td>
                <td class="formValue">
                    <input type="text" id="xm" class="form-control" />
                </td>
                <td class="formTitle">姓名</td>
                <td class="formValue">
                    <input type="text" id="xm" class="form-control newtouch_Readonly" />
                </td>
            <tr>
                <td class="formTitle">
                    性别
                </td>
                <td class="formValue">
                    <div class="btn-group formValue" data-toggle="buttons">
                        <label class="btn btn-default" disabled>
                            <input type="radio" checked="checked" id="xb" value="1" name="xb" class="form-control" />男
                        </label>
                        <label class="btn btn-default" disabled>
                            <input type="radio" id="xb" value="0" name="xb" class="form-control" />女
                        </label>
                    </div>
                </td>
                <td class="formTitle">年份</td>
                <td class="formValue">
                    <select id="Cl" class="form-control">
                        <option value="-1">===请选择===</option>
                        <option value="PT">2015</option>
                        <option value="OT">2016</option>
                        <option value="ST" selected="selected">2017</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td class="formTitle">月份</td>
                <td class="formValue">
                    <select id="Cl" class="form-control">
                        <option value="-1">===请选择===</option>
                        <option value="PT">1</option>
                        <option value="OT">2</option>
                        <option value="ST">3</option>
                        <option value="ST" selected="selected">4</option>
                        <option value="ST">5</option>
                        <option value="ST">6</option>
                    </select>
                </td>
                <td class="formTitle">天数</td>
                <td class="formValue">
                    <input type="text" id="xm" class="form-control" />
                </td>
            </tr>

        </table>
    </div>

</form>

