
@{
    ViewBag.Title = "moreInfo";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    $(function () {
        gridList([]);
    });
    //绑定grid
    function gridList(mydata) {
        var $gridList = $("#gridList");
        $gridList.dataNewGrid({
            height: 130,
            shrinkToFit: true,
            unwritten: false,
            colModel: [
                 //{ label: "主键", name: "patid", hidden: true, key: true },
                { label: "主键", name: "patid", hidden: true },
                { label: '替代项目', name: 'dlmc', width: 100, align: 'left', editor: "text" },
                { label: '治疗项目', name: 'sfxmmc', width: 300, align: 'left', editor: "text" },
                { label: '数量', name: 'dw', width: 100, align: 'left', editor: "text" },
                { label: '单价', name: 'dj', width: 100, align: 'left', editor: "text" },
                { label: '金额', name: 'dj', width: 100, align: 'left', editor: "text" },
                { label: '时间', name: 'zfbl', width: 100, align: 'left', editor: "text" },
                { label: '治疗师', name: 'sl', width: 100, align: 'left', editor: "text" },
                { label: '开始时间', name: 'je', width: 100, align: 'left', editor: "text" }
            ]
        }, mydata);

        if (mydata.length > 0) {
            $('.ui-jqgrid-bdiv').find(".unwritten").remove();
        }
    }
</script>
<form id="form1" class="form">
    <div class="rows" style="margin-bottom: 1%; margin-top:5px;" id="HosBasicInfo">
        <div class="panel panel-default">
            <div class="panel-heading">
                病人信息
            </div>
            <table>
                <tr>
                    <td class="formTitle">
                        卡号:
                    </td>
                    <td class="formValue">
                        <input type="text" id="kh" class="form-control newtouch_Readonly" value="C1221" />
                    </td>
                    <td class="formTitle">
                        住院号:
                    </td>
                    <td class="formValue">
                        <input type="text" id="zyh" class="form-control newtouch_Readonly" value="164193" />
                    </td>
                    <td class="formTitle">
                        病人性质:
                    </td>
                    <td class="formValue">
                        <input type="text" id="brxzmc" class="form-control newtouch_Readonly" value="自费" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">
                        状态:
                    </td>
                    <td class="formValue">
                        <input type="text" id="zybz" class="form-control newtouch_Readonly" value="出院" />
                    </td>
                    <td class="formTitle">姓名:</td>
                    <td class="formValue">
                        <input type="text" id="xm" class="form-control newtouch_Readonly" value="张三" />
                    </td>
                    <td class="formTitle">性别:</td>
                    <td>
                        <div class="btn-group formValue" data-toggle="buttons">
                            <label class="btn btn-default" disabled>
                                <input type="radio" checked="checked" id="xb" value="1" name="xb" class="form-control" />男
                            </label>
                            <label class="btn btn-default" disabled>
                                <input type="radio" id="xb" value="0" name="xb" class="form-control" />女
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">出生日期:</td>
                    <td class="formValue">
                        <input class="form-control newtouch_Readonly" disabled readonly="readonly" type="text" value="1993-05-02" id="csny" />
                    </td>
                    <td class="formTitle">当前科室:</td>
                    <td class="formValue">
                        <input type="text" id="ksmc" class="form-control newtouch_Readonly" disabled="disabled" value="内一科" />
                    </td>
                    <td class="formTitle">床位号:</td>
                    <td class="formValue">
                        <input type="text" id="cw" class="form-control newtouch_Readonly" disabled="disabled" value="34" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="rows" id="BookKeep" style="margin-bottom: 10px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                治疗信息
            </div>
            <table>
                <tr>
                    <td class="formTitle">替代项目</td>
                    <td class="formValue"><input type="text" id="tdxm" class="form-control newtouch_Readonly" value="理疗" /></td>
                    <td class="formTitle">
                        治疗项目:
                    </td>
                    <td class="formValue">
                        <input type="text" id="sfxm" class="form-control newtouch_Readonly" value="运动" />
                    </td>
                    <td class="formTitle">
                        数量:
                    </td>
                    <td class="formValue">
                        <input type="text" id="sl" class="form-control newtouch_Readonly" value="1" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">
                        单价:(元/次)
                    </td>
                    <td class="formValue">
                        <input type="text" id="dj" class="form-control newtouch_Readonly" value="80" />
                    </td>
                    <td class="formTitle">
                        治疗师:
                    </td>
                    <td class="formValue">
                        <input type="text" id="doctor" class="form-control newtouch_Readonly" value="童咪咪" />
                    </td>
                    <td class="formTitle">
                        开始时间:
                    </td>
                    <td class="formValue">
                        <input id="jzrq" type="text" class="form-control input-wdatepicker newtouch_Readonly"
                               value="2017-03-17" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" style="width: 115%" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">
                        时间:(分)
                    </td>
                    <td class="formValue">
                        <input type="text" id="sl" class="form-control newtouch_Readonly" value="20m" />
                    </td>
                    <td class="formTitle"></td>
                    <td class="formValue"></td>
                </tr>
            </table>
        </div>
    </div>
</form>

