<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.Newtouch.cn" />
  <!-- 软件名称 -->
  <add key="SoftName" value="Newtouch开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="sendbug@Newtouch.cn" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />

  <add key="vs:EnableBrowserLink" value="false"/>
  <!-- ================== 4：打印参数 ================== -->
  <add key="CFPrint" value="false" />
  <!-- ================== 5：药房配置 ================== -->
  <add key="YFPZparm" value="mzyf,zyyf" />

  <!-- 关键部分Module Id配置 -->
  <!-- Reids缓存的key前缀 -->
  <add key="Reids_Cache_Prefix" value="$C_Sett_A$"/>
  <!-- 顶级组织机构Id -->
  <add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>

  <!-- 日志服务的Url -->
  <add key="His.Log.URL" value="http://localhost:20106/"/>

  <add key="AppID" value="20138" />
</appSettings>
