/*reset*/
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
img,
ins,
del,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.6 Arial, Tahoma, simsun;
  color: #333;
}

button,
input,
select,
textarea {
  margin: 0;
  outline: 0;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

li {
  list-style: none;
}

section,
article,
aside,
header,
footer,
nav,
dialog,
figure {
  display: block;
}

/*html5*/
pre {
  word-wrap: break-word;
  font-family: Arial;
  zoom: 1;
  white-space: pre-wrap;
}

/*public*/
a {
  text-decoration: none;
  color: #36c;
}

a:hover {
  text-decoration: underline;
  color: #ff7000;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

label input {
  vertical-align: -2px;
  *vertical-align: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.page_all {
  width: 980px;
  margin: 0 auto;
}

.gray3 {
  color: #333;
}

/*text*/
.gray6 {
  color: #666;
}

.gray7 {
  color: #7e7e7e;
}

.gray9 {
  color: #999;
}

.orange,
.sublink .orange {
  color: #ff7000;
}

.green {
  color: #65c202;
}

.sublink a {
  color: #3c5891;
}

.m5 {
  margin: 5px;
}

/*margin*/
.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.m10 {
  margin: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.lh24 {
  line-height: 24px;
}

#fontsizeli {
  position: absolute;
  z-index: 110039;
  left: 490px;
  width: 116px;
  top: 115px;
}

.combobox-item:hover {
  background-color: #ffe48d;
}

#rowspacingdown1 {
  position: absolute;
  z-index: 110039;
  left: 140px;
  width: 116px;
  top: 88px;
}

#rowspacingup1 {
  position: absolute;
  z-index: 110039;
  left: 140px;
  width: 116px;
  top: 65px;
}

#lineheight1 {
  position: absolute;
  z-index: 110039;
  left: 140px;
  width: 116px;
  top: 115px;
}

#fontf {
  position: absolute;
  z-index: 110039;
  left: 570px;
  width: 115px;
  top: 65px;
}

#fcolor {
  position: absolute;
  z-index: 110039;
  left: 490px;
  top: 88px;
}

#bcolor {
  position: absolute;
  z-index: 110039;
  left: 490px;
  top: 65px;
}

.tabs-header {
  background-color: #fff;
}

.tabs li.tabs-selected a.tabs-inner {
  border: 1px solid #7d6d6d;
}

.fontcolor {
  display: block;
  width: 12px;
  height: 12px;
  float: left;
  padding: 0;
  cursor: pointer;
  margin: 3px;
}

#table {
  position: absolute;
  z-index: 110039;
  left: 25px;
  width: 116px;
  top: 175px;
}

.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs,
.tabs-panels,
.tabs li a.tabs-inner,
.tabs-header-right {
  border-color: #f1f1f1;
}

.tabs li a.tabs-inner {
  background-color: #f1f1f1;
}

.tabs li a.tabs-inner {
  background: none;
  background-color: #f1f1f1;
}

.tabs {
  padding-left: 0;
  border-width: 0;
  margin-bottom: -1px;
}

.panel-body {
  overflow: hidden;
}

#zztj a {
  color: #fff;
}

.pad_right {
  padding-right: 2em;
}

#scroll_div {
  height: 26px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: 100px;
  top: 20px;
  color: #fff;
  font-size: 16px;
  width: 432px;
  margin-left: 10px;
}

#scroll_begin,
#scroll_end {
  display: inline;
}

#myWriterControl_Dialog {
  width: 200px;
  height: 200px;
  background: #00ffff;
  position: absolute;
  border: 1px solid;
}

.in_tab_box {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #ddd;
  background: #fff;
  padding: 5px;
  display: none;
  position: absolute;
}

.itb_con {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
}

.itb_picker_unlight {
  background: url(../images/veryhuo-unhighlighted.png) repeat;
}

.itb_picker_unlight,
.itb_picker_light {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
}

.itb_picker_light {
  background: url(../images/veryhuo-highlighted.png) repeat;
}

.itb_picker_status {
  text-align: center;
  color: #333;
  font: 10pt/1.7 arial;
}

/*other style*/
h1 {
  font: 26px/3 "microsoft yahei", "simhei";
  color: #000;
  text-indent: 2em;
  text-shadow: 1px 1px 2px #ccc;
}

h3 {
  margin-bottom: 10px;
}

.mask {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  opacity: 0.3;
}

#myWriterControl {
  height: calc(100% - 8px);
  margin-top: 8px;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.tabs-selected a span {
  color: #3f51b5;
  font-size: 14px;
}

#zclbgdkz {
  position: absolute;
  height: 100%;
  width: 245px;
  margin-left: 15px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #d5d5d5;
  font-family: "宋体";
}

.shouqi {
  position: absolute;
  left: 220px;
  top: 6px;
  z-index: 999;
  cursor: pointer;
  font-size: 16px;
  color: red;
  font-weight: 800;
}

#scroll_div {
  position: initial;
  display: inline-block;
  line-height: 60px;
  height: auto;
}

#NewComment_box {
  display: none;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 999999999;
  background: #fff;
  font-size: 16px;
  padding: 10px 15px;
  line-height: 24px;
}

#NewComment_box .cont {
  padding: 10px 15px;
}

#NewComment_box input.text {
  width: 350px;
  margin: 10px 0;
  font-size: 16px;
}

#NewComment_box input.sub,
input.quit {
  background-color: rgb(13, 200, 233);
  border: none;
  padding: 2px 10px;
  outline: none;
  cursor: pointer;
  margin: 15px 5px;
  font-size: 16px;
  color: #fff;
}

span#savePrompt {
  position: absolute;
  top: 152px;
  left: 20px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #97d2f1;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  transform: scale(0);
  transition: transform 0.3s;
}

/*有下拉框的*/
.panel.panel-htop .ribbon-group .ribbon-toolbar .clickMenu {
    background: transparent url(../img/arrow.png) no-repeat right center;
}
.panel.panel-htop .ribbon-group .ribbon-toolbar .clickMenu > span {
  padding-right: 5px;
}

/* 页面设置 */
.newBox {
  display: none;
  width: 500px;
  height: 500px;
  background: #fff;
  padding: 24px;
  box-sizing: border-box;
  color: #333;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.18);
  position: absolute;
  z-index: 9999999999;
  top: 55%;
  left: 35%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.boxClose {
  width: 21px;
  height: 21px;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.boxClose:hover {
  background: rgba(51, 51, 51, 0.1);
}

.boxClose::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background: #666;
  top: 3px;
  left: 10px;
  transform: rotate(45deg);
}

.boxClose::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background: #666;
  top: 3px;
  left: 10px;
  transform: rotate(-45deg);
}

.headerTitle {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.boxContent {
  font-size: 14px;
  line-height: 20px;
}

.setting-section {
  margin-top: 8px;
}

.setting-left {
  display: inline-block;
  width: 88px;
  height: 100%;
  vertical-align: middle;
}

.setting-name {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 36px;
}

.setting-right {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.radioBtn {
  position: relative;
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
}

.btnSelect {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #d4d4d4;
  box-sizing: border-box;
  vertical-align: top;
}

.setting-right > .radioBtn > span {
  display: inline-block;
  line-height: 36px;
  margin-left: 25px;
  cursor: default;
}

.selected {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  background: #0188fb;
  background-clip: content-box;
  display: none;
}

.setting-select {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.select-button {
  width: 182px;
  height: 30px;
}

.select-button > option {
  font-size: 13px;
}

.number-input {
  position: relative;
  height: 36px;
  display: inline-block;
}

.pad-input {
  border: 1px solid #d4d4d4;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  height: 36px;
}

.pad-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.pad-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* 有无看不出差别 */
}

.boxBottom {
  position: absolute;
  bottom: 24px;
  right: 24px;
  text-align: right;
}

.bottomBtn {
  width: 76px;
  height: 30px;
  vertical-align: top;
  line-height: 28px;
  margin-right: 14px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
}

.preview-container {
  position: absolute;
  top: 10px;
  left: 404px;
  width: 276px;
  height: 276px;
  background-image: url(../img/page-settings.png);
  background-repeat: no-repeat;
  background-size: 276px 276px;
}

.quxiao {
  border: 1px solid #ccc;
}

.quxiao:hover {
  background-color: #f2f2f2;
}

.queding {
  color: #fff;
  background-color: #388cf5;
}

.queding:hover {
  background-color: #45a5ff;
}

.height-top {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 17px;
  width: 12px;
  display: none;
}

.height-top:hover {
  background: #e1e2e3;
}

.width-top {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 17px;
  width: 12px;
  display: none;
}

.width-top:hover {
  background: #e1e2e3;
}

.carrow-top {
  position: absolute;
  top: 50%;
  left: 50%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #8c9093;
  transform: translate(-50%, -50%);
}

.height-bottom {
  position: absolute;
  right: 1px;
  bottom: 1px;
  height: 17px;
  width: 12px;
  background: #f5f5f5;
  display: none;
}

.width-bottom {
  position: absolute;
  right: 1px;
  bottom: 1px;
  height: 17px;
  width: 12px;
  background: #f5f5f5;
  display: none;
}

.carrow-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #8c9093;
  transform: translate(-50%, -50%);
}

.width-bottom:hover {
  background: #e1e2e3;
}

.height-bottom:hover {
  background: #e1e2e3;
}

.setting-right > .select-button {
  text-indent: 5px;
}

.setting-right > .select-button > option {
  font-size: 14px;
}

.error-text,
.text2 {
  pointer-events: none;
  position: absolute;
  top: 38px;
  left: 0;
  font-size: 12px;
  line-height: 17px;
  color: #ef4e2f;
  text-align: left;
  width: 148px;
  overflow: hidden;
  white-space: nowrap;
  display: none;
}
