<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登录身份维持时间（单位：分）-->
  <add key="LoginStatusKeepMinute" value="120" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- 页面domain（嵌套其他域页面，并执行js 要设置成同一域）-->
  <add key="Document_Domain" value="localhost"/>
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.newtouch.cn" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />

  <!-- Reids缓存的key前缀 Cache Basic -->
  <add key="Reids_Cache_Prefix" value="$C_PDS$"/>

  <!-- 顶级组织机构Id -->
  <add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>
  <!-- 应用Id -->
  <add key="AppId" value="newtouch.his.pds"/>

  <!--启用用户药房部门关联（用户登录后要操作的药房部门） -->
  <add key="Is_UserYfbmRelated" value="true" />

  <!-- 静态站点的Host -->
  <add key="SiteStaticHost" value="http://192.168.22.5:8014/"/>

  <!-- 结算系统API的Host -->
  <!--<add key="SiteSettAPIHost" value="http://localhost:7002/"/>-->
  <add key="SiteSettAPIHost" value="http://192.168.22.5:7002/"/>
  <!-- 医护协同系统API的Host -->
  <add key="SiteCisAPIHost" value="http://192.168.22.5:7003/"/>

  <!-- Base系统API的Host -->
  <add key="SiteBaseAPIHost" value="http://192.168.22.5:8001/"/>

  <!-- 日志服务的Url -->
  <add key="His.Log.URL" value="http://36.137.36.171:17008/"/>


  <add key="vs:EnableBrowserLink" value="false"/>

  <!-- 获取以pyCfBeforDaysAgo天前开始的排药处方 -->
  <add key="pyCfBeforDaysAgo" value="-7"/>

  <!-- 首页饼图统计dlCode -->
  <add key="sybttjdl" value="08,09,10"/>

  <!-- 报告服务器 -->
  <add key="ReportServer.HOST" value="http://61.172.179.30:17037/"/>

  <!-- 登录时是否显示验证码 -->
  <!--<add key="Is_CheckChkCode" value="false"/>-->

  <!-- 获取调价执行日期在tjypDaysAgo天内的调价药品 -->
  <add key="tjypDaysAgo" value="-31"/>
  <!--  ActiveReports 服务地址-->
  <add key="ReportUrl"  value="http://192.168.22.5:8010/"/>
  <add key="ReportSystemCode"  value="PDS"/>

  <add key="OrganizeCodeSd" value=""/>
  <add key="HospitalName" value=""/>
  <!--市药事系统注册用户的用户名-->
  <add key="PurchaseUser" value="mdwg001"/>
  <!--市药事系统注册用户的登录密码-->
  <add key="PurchasePwd" value="zs9g6fr25tqd"/>
  
  <!-- AlipayConstants配置 end -->
  <add key="Token_ApiManage" value="API.Manage"/>
  <add key="SiteTokenAPIHost" value="http://localhost:5043/"/>
  <add key="SiteConmonAPIHost" value="http://localhost:5212/"/>
  <add key="OuterMediaMeettingAPIHost" value="https://61.172.179.30:17015/"/>
</appSettings>