<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登录身份状态维持时间（单位：分）-->
  <add key="LoginStatusKeepMinute" value="30" />
  <!-- 多终端互踢 -->
  <add key="EnableMultipleLoginLimit" value="true" />
  <!-- 多终端互踢-同一账号，最大同时在线数 -->
  <add key="MultipleLoginLimit_Count" value="10" />

  <!--启用IP过滤（启用后 启用IP访问限制策略（仅对部分开放 或 部分限制访问）） -->
  <add key="Is_IPFilter" value="false" />

  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 软件版本 -->
  <add key="Version" value="1.00.00.00" />

  <!-- 关键部分Module Id配置 -->
  <!-- Reids缓存的key前缀 -->
  <add key="Reids_Cache_Prefix" value="$C_CIS$"/>
  <!-- 顶级组织机构Id -->
  <add key="Top_OrganizeId" value="d8ee85f8-d8d1-4b5c-bd9e-1761f44242d8"/>
  <!-- 应用Id -->
  <add key="AppId" value="CIS"/>
  <add key="AppName" value="新致医疗云医护协同工作站"/>
  
  <!-- 静态站点的Host -->
  <add key="SiteStaticHost" value="http://59.80.30.160:37007/"/>
  <!--<add key="SiteStaticHost" value="localhost:9061"/>-->
  <!-- 日志服务的Url -->
  <add key="His.Log.URL" value="http://59.80.30.157:20106/"/>
  
  <!-- 登录时是否显示验证码 -->
  <add key="Is_CheckChkCode" value="true"/>
  
  <!-- 报表服务器 Host -->
  <add key="ReportServer.HOST" value="http://59.80.30.160:37015/"/>
  
  <!-- 单点登录首页url -->
  <add key="SSOHomeHost" value="http://localhost:16314/Home/Index"/>
  <!-- 单点登出url -->
  <add key="SSOOutLogin" value="http://localhost:16314/Login/OutLogin"/>

  <!-- SettAPI接口地址 http://localhost:17361/ -->
  <add key="SiteSettAPIHost" value="http://59.80.30.160:37010/"/>
  <!--<add key="SiteSettAPIHost" value="http://localhost:20137/"/>-->
  <add key="SiteBaseAPIHost" value="http://59.80.30.160:3009/"/>
  <!--<add key="SiteYfykAPIHost" value="http://192.168.55.199:8080/"/>-->
  <add key="SiteYfykAPIHost" value="http://59.80.30.160:37006/"/>
  
  <!-- 页面domain（嵌套其他域页面，并执行js 要设置成同一域）-->
  <add key="Document_Domain" value="localhost"/>
  <!-- API地址-统一授权用户身份换取 -->
  <add key="UAUserInfoGetAPI" value="http://localhost:17361/api/UA/GetUserInfo"/>

  <!-- 门诊开立处方，待就诊患者查询API预热链接（结算系统API内网地址） -->
  <add key="UAOutPatientRegistrationQueryPreAPI" value="http://localhost:17361/api/UA/OutPatientRegistrationQueryPre"/>
  
  <add key="vs:EnableBrowserLink" value="false"/>
  <!--ESB调用-->
  <add key="yysz_esbBM" value="FEB01765-C6E1-4C25-B132-CAC528DB4373"/>
  <add key="yysz_hyfqURL" value="http://10.207.33.20:8080/Login.aspx"/>
  </appSettings>