@using Newtouch.Common.Operator;
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    span {
        color: red;
    }
</style>
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/SystemManage/SysChargeClassify/Form.js",false)" type="text/javascript"></script>
<form id="form1">
    <table class="form">
        <tr>
            <td class="formTitle">代码</td>
            <td class="formValue"><input type="text" class="form-control newtouch_Readonly" name="fl" id="fl" /></td>
            <td class="formTitle">分类<span>*</span></td>
            <td class="formValue"><input type="text" class="form-control" name="flmc" id="flmc" /></td>
        </tr>
        <tr>
            <td class="formTitle">拼音<span>*</span></td>
            <td class="formValue"><input type="text" class="form-control" name="py" id="py" /></td>
            <td class="formTitle">有效<span>*</span></td>
            <td class="formValue">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="1"> 是
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="0"> 否
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">建档人员</td>
            <td class="formValue">
                <input class="form-control newtouch_Readonly" id="CreatorCode" name="CreatorCode" value=@OperatorProvider.GetCurrent().UserCode type="text" />
            </td>
            <td class="formTitle">建档日期</td>
            <td class="formValue"><input class="form-control newtouch_Readonly" id="CreateTime" name="CreateTime" value=@DateTime.Now type="text" /></td>
        </tr>
    </table>
</form>
