
@{
    ViewBag.Title = "jcForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div class="container" style="margin-top: 10px; margin-left: -4%; ">
        <ul class="nav nav-tabs" role="tablist" id="myTab" style="margin-left: 4%;">
            <li role="presentation"><a href="#basicInfo" role="tab" data-toggle="tab">基本信息</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" style="margin-top: 10px; margin-left: 48px; margin-right: 105px;" id="basicInfo">

                <table class="form">
                    <tr>
                        <th class="formTitle"><span class="required">*</span>分类编码：</th>
                        <td class="formValue"><input type="text" class="form-control required" id="bwflCode" name="bwflCode" placeholder="请输入编码" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle"><span class="required">*</span>分类名称：</th>
                        <td class="formValue"><input type="text" class="form-control required" id="bwflmc" name="bwflmc" placeholder="请输入分类名称" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle"><span class="required">*</span>名称：</th>
                        <td class="formValue"><input type="text" class="form-control required" id="jcbw" name="jcbw" placeholder="请输入名称" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle"><span class="required">*</span>编码：</th>
                        <td class="formValue"><input type="text" class="form-control required" id="jcbwCode" name="jcbwCode" placeholder="请输入编码" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle"><span class="required">*</span>检查方法：</th>
                        <td class="formValue"><input type="text" class="form-control required" id="jcff" name="jcff" placeholder="请输入检查方法" /></td>
                    </tr>
                    <tr>
                        <th class="formTitle">选项：</th>
                        <td class="formValue" style="padding-top: 1px;">
                            <div class="ckbox">
                                <input id="zt" name="zt" type="checkbox" checked="checked"><label for="zt">有效</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>

<script>
    debugger;
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.najax({
                url: "/SystemManage/BodyParts/GetJcFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }
    });

    $('#jcbwCode').focus(function () {
        if (($.trim($(this).val()) === '')) {
            $.najax({
                url: "/HOME/GetNewFieldUniqueValue?initFieldLength=8&fieldName=pacs_jcbw.Code&r=" + Math.random(),
                dataType: "json",
                cache: false,
                success: function (data) {
                    $('#jcbwCode').val(data.data);
                }
            });
        }
    });

    $('#bwflCode').focus(function () {
        if (($.trim($(this).val()) === '')) {
            $.najax({
                url: "/HOME/GetNewFieldUniqueValue?initFieldLength=8&fieldName=pacs_jcbw.bwflCode&r=" + Math.random(),
                dataType: "json",
                cache: false,
                success: function (data) {
                    $('#bwflCode').val(data.data);
                }
            });
        }
    });

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SystemManage/BodyParts/jcbwSubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

</script>


