
@{
    ViewBag.Title = "SettlementDetail";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<form name="form1">
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            结算信息
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form">
                <tr>
                    <th class="formTitle">结算号：</th>
                    <td class="formValue">
                        <input type="text" class="form-control" id="txtjsh" name="txtjsh" />
                    </td>
                    <th class="formTitle">患者：</th>
                    <td class="formValue">
                        <input type="text" id="txtpatient" class="form-control" placeholder="姓名 拼音 编号" />
                    </td>
                    <th class="formTitle">记录日期：</th>
                    <td class="formValue">
                        <div style="display:inline;line-height:15px; width:100%;">
                            <input id="ksrq" type="text" class="form-control input-wdatepicker formAutoNextIgnore" style="width:42%; float: left; margin-left:3px;" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                            -
                            <input id="jsrq" type="text" class="form-control input-wdatepicker formAutoNextIgnore" style="width:42%; display: inline-block;" onkeydown="loadGrid()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                        </div>
                    </td>
                    <th class="formTitle">治疗师：</th>
                    <td class="formValue">
                        <input type="text" id="txtpatient" class="form-control" placeholder="姓名 拼音 编号" />
                    </td>
                    <th class="formTitle"><input type="button" class="btn btn-primary btn-md" value="查询" onclick="Search()" /></th>
                    <td class="formValue"></td>
                </tr>
            </table>
        </div>
    </div>
</form>
