<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!-- 数据库 -->
  <add name="DefaultDbContext" connectionString="Server=61.172.179.6,30557;Initial Catalog=Newtouch_OR;User ID=sa;Password=1qazxsw2#" providerName="System.Data.SqlClient" />

  <!-- Redis -->
	<add name="RedisServer" connectionString="61.172.179.6:32079,connectTimeout=500,password=newtouch" />

</connectionStrings>