
@{
    ViewBag.Title = "IncomeStatistics";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .list tr td {
        border-color: rgb(164,218,234);
        border-style: solid;
        border-width: 1px;
        text-align: center;
    }

    .add-up {
        background-color: rgb(220,242,240);
    }

    .total {
        background-color: rgb(184,227,236);
    }
</style>
<form style="background-color:white">
    @*<div class="panel panel-default" style="margin-top:5px;">
            <div class="panel-heading">
                筛选条件
            </div>
            <div style="padding: 2px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">是否过滤未出院病人</td>
                        <td class="formValue">
                            <input type="checkbox" />
                        </td>
                    </tr>
                    @*<tr>
                            <td class="formTitle">开始时间</td>
                            <td class="formValue">
                                <input id="Kssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                            </td>
                            <td class="formTitle">结束时间</td>
                            <td class="formValue">
                                <input id="Jssj" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                            </td>
                            <td class="formTitle">关键字</td>
                            <td class="formValue">
                                <input type="text" id="txtINPUTCODE" class="form-control" placeholder="患者姓名 治疗师姓名" />
                            </td>
                            <td class="formTitle">大类</td>
                            <td class="formValue">
                                <select id="Cl" class="form-control">
                                    <option value="-1">全部</option>
                                    <option value="PT">PT</option>
                                    <option value="OT">OT</option>
                                    <option value="ST">ST</option>
                                </select>
                            </td>
                            <td>
                                <input type="button" id="btn_search" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                            </td>
                        </tr>
                </table>
            </div>
        </div>*@
    <div style="overflow-y:scroll; width:100%; height:500px;">
        <table role="presentation" style="height:500px; width:3900px;" class="list">
            @*<tr><td colspan="35" style="background-color:rgb(235,247,252);color:rgb(42,135,198);border-bottom-color:rgb(149,211,244); font-size:x-large; padding-left:10px;border-bottom-style: solid;border-bottom-width: 3px;">收入统计</td></tr>>*@
            <tr style="height:10px">

                <td colspan="12" style="border:none"></td>
            </tr>
            <tr style="background-color:rgb(79,173,194);color:rgb(255,255,255);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234); text-align:center">
                <td rowspan="2" colspan="3" style="width:400px;">项目</td>
                @*<td colspan="2" rowspan="2"></td>*@
                <td colspan="8" style="border-bottom-color:rgb(164,218,234); border-bottom-style:solid;border-bottom-width: 1px; width:880px;">第一周</td>
                <td colspan="8" style="border-bottom-color:rgb(164,218,234); border-bottom-style:solid;border-bottom-width: 1px;width:880px;">第二周</td>
                <td colspan="8" style="border-bottom-color:rgb(164,218,234); border-bottom-style:solid;border-bottom-width: 1px;width:880px;">第三周</td>
                <td colspan="8" style="border-bottom-color:rgb(164,218,234); border-bottom-style:solid;border-bottom-width: 1px;width:880px;">第四周</td>
                @*<td></td>*@
            </tr>
            <tr role="row" style="background-color:#f6f7fb; height:33px; border-bottom:solid 1px;background-color:rgb(79,173,194);color:rgb(255,255,255);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234); text-align:center;">
                <td style="width:100px">收入</td>
                <td style="width:40px;">人次</td>
                <td style="width:40px;">人数</td>
                <td style="width:100px;">收费项目数</td>
                <td style="width:100px;">治疗师效率</td>
                <td style="width:78px;">新增病人</td>
                <td style="width:78px;">出院病人</td>
                <td style="width:120px">医院总病人数</td>
                <td style="width:100px">收入</td>
                <td style="width:40px;">人次</td>
                <td style="width:40px;">人数</td>
                <td style="width:100px;">收费项目数</td>
                <td style="width:100px;">治疗师效率</td>
                <td style="width:78px;">新增病人</td>
                <td style="width:78px;">出院病人</td>
                <td style="width:120px">医院总病人数</td>
                <td style="width:100px">收入</td>
                <td style="width:40px;">人次</td>
                <td style="width:40px;">人数</td>
                <td style="width:100px;">收费项目数</td>
                <td style="width:100px;">治疗师效率</td>
                <td style="width:78px;">新增病人</td>
                <td style="width:78px;">出院病人</td>
                <td style="width:120px">医院总病人数</td>
                <td style="width:100px">收入</td>
                <td style="width:40px;">人次</td>
                <td style="width:40px;">人数</td>
                <td style="width:100px;">收费项目数</td>
                <td style="width:100px;">治疗师效率</td>
                <td style="width:78px;">新增病人</td>
                <td style="width:78px;">出院病人</td>
                <td style="width:100px">医院总病人数</td>
            </tr>
            <tr>
                <td colspan="3" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">门诊Outpatient</td>
                <td>5945</td>
                <td>64</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>5945</td>
                <td>64</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>5945</td>
                <td>64</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>5945</td>
                <td>64</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td rowspan="9" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234); width:130px;">住院Inpatient</td>
                <td rowspan="2" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234); width:50px">PT</td>
                <td style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234); width:240px;">康复科室Rehab unit</td>
                <td>12391.6</td>
                <td>343</td>
                <td rowspan="3">48</td>
                <td rowspan="3">3.1</td>
                <td rowspan="3">140%</td>
                <td rowspan="3">14</td>
                <td rowspan="3">12</td>
                <td rowspan="10" class="total">223</td>
                <td>12391.6</td>
                <td>343</td>
                <td rowspan="3">48</td>
                <td rowspan="3">3.1</td>
                <td rowspan="3">140%</td>
                <td rowspan="3">14</td>
                <td rowspan="3">12</td>
                <td rowspan="10" class="total">223</td>
                <td>12391.6</td>
                <td>343</td>
                <td rowspan="3">48</td>
                <td rowspan="3">3.1</td>
                <td rowspan="3">140%</td>
                <td rowspan="3">14</td>
                <td rowspan="3">12</td>
                <td rowspan="10" class="total">223</td>
                <td>12391.6</td>
                <td>343</td>
                <td rowspan="3">48</td>
                <td rowspan="3">3.1</td>
                <td rowspan="3">140%</td>
                <td rowspan="3">14</td>
                <td rowspan="3">12</td>
                <td rowspan="10" class="total">223</td>
            </tr>
            <tr>
                <td style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">其他科室Non-rehab unit</td>
                <td>26017.6</td>
                <td>697</td>
                <td>26017.6</td>
                <td>697</td>
                <td>26017.6</td>
                <td>697</td>
                <td>26017.6</td>
                <td>697</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">PT小计 add-up</td>
                <td class="add-up">38409.2</td>
                <td class="add-up">1040</td>
                <td class="add-up">38409.2</td>
                <td class="add-up">1040</td>
                <td class="add-up">38409.2</td>
                <td class="add-up">1040</td>
                <td class="add-up">38409.2</td>
                <td class="add-up">1040</td>
            </tr>
            <tr>
                <td rowspan="2" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">OT</td>
                <td style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">康复科室Rehab unit</td>
                <td>4141.2</td>
                <td>117</td>
                <td rowspan="3">34</td>
                <td rowspan="3">2.33</td>
                <td rowspan="3">97%</td>
                <td rowspan="3">9</td>
                <td rowspan="3">3</td>
                <td>4141.2</td>
                <td>117</td>
                <td rowspan="3">34</td>
                <td rowspan="3">2.33</td>
                <td rowspan="3">97%</td>
                <td rowspan="3">9</td>
                <td rowspan="3">3</td>
                <td>4141.2</td>
                <td>117</td>
                <td rowspan="3">34</td>
                <td rowspan="3">2.33</td>
                <td rowspan="3">97%</td>
                <td rowspan="3">9</td>
                <td rowspan="3">3</td>
                <td>4141.2</td>
                <td>117</td>
                <td rowspan="3">34</td>
                <td rowspan="3">2.33</td>
                <td rowspan="3">97%</td>
                <td rowspan="3">9</td>
                <td rowspan="3">3</td>
            </tr>
            <tr>
                <td style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">其他科室Non-rehab unit</td>
                <td>17230</td>
                <td>437</td>
                <td>17230</td>
                <td>437</td>
                <td>17230</td>
                <td>437</td>
                <td>17230</td>
                <td>437</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">PT小计 add-up</td>
                <td class="add-up">38409.2</td>
                <td class="add-up">1040</td>
                <td class="add-up">38409.2</td>
                <td class="add-up">1040</td>
                <td class="add-up">38409.2</td>
                <td class="add-up">1040</td>
                <td class="add-up">38409.2</td>
                <td class="add-up">1040</td>
            </tr>
            <tr>
                <td rowspan="2" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">ST</td>
                <td style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">康复科室Rehab unit</td>
                <td>1685</td>
                <td>57</td>
                <td rowspan="3">4</td>
                <td rowspan="3">2.71</td>
                <td rowspan="3">34%</td>
                <td rowspan="3">2</td>
                <td rowspan="3">1</td>
                <td>1685</td>
                <td>57</td>
                <td rowspan="3">4</td>
                <td rowspan="3">2.71</td>
                <td rowspan="3">34%</td>
                <td rowspan="3">2</td>
                <td rowspan="3">1</td>
                <td>1685</td>
                <td>57</td>
                <td rowspan="3">4</td>
                <td rowspan="3">2.71</td>
                <td rowspan="3">34%</td>
                <td rowspan="3">2</td>
                <td rowspan="3">1</td>
                <td>1685</td>
                <td>57</td>
                <td rowspan="3">4</td>
                <td rowspan="3">2.71</td>
                <td rowspan="3">34%</td>
                <td rowspan="3">2</td>
                <td rowspan="3">1</td>
            </tr>
            <tr>
                <td style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">其他科室Non-rehab unit</td>
                <td>525</td>
                <td>19</td>
                <td>525</td>
                <td>19</td>
                <td>525</td>
                <td>19</td>
                <td>525</td>
                <td>19</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">PT小计 add-up</td>
                <td class="add-up">2210</td>
                <td class="add-up">76</td>
                <td class="add-up">2210</td>
                <td class="add-up">76</td>
                <td class="add-up">2210</td>
                <td class="add-up">76</td>
                <td class="add-up">2210</td>
                <td class="add-up">76</td>
            </tr>
            <tr>
                <td colspan="3" style="background-color:rgb(241,254,255);color:rgb(30,30,30);border-bottom-color:rgb(164,218,234);border-left-color:rgb(164,218,234);border-top-color:rgb(164,218,234);font-family:Microsoft YaHei UI;border-right-color:rgb(164,218,234);">住院汇总 Inpatient total</td>
                <td class="total">61990.4</td>
                <td class="total">1670</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="total">61990.4</td>
                <td class="total">1670</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="total">61990.4</td>
                <td class="total">1670</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="total">61990.4</td>
                <td class="total">1670</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>



        </table>
    </div>
</form>

