@{
    ViewBag.Title = "门诊收费项目统计明细";

    Layout = "~/Views/Shared/_Index.cshtml";
}

<form name="form1">
    <div class="panel panel-default">
        <div style="padding: 2px;">
            <table id="ItemDetailGrid"></table>
            <div id="PageDetailGrid"></div>
        </div>
    </div>
</form>
<script src="~/Content/js/ReportManagement/RehabiliationItemStatistic.js"></script>
<script>
    $(function () {
        $("#dvGL").height(document.documentElement.clientHeight - 60);
        FullItemDetailGrid();
    });
</script>