
@{
    Layout = null;
}
<style>
    #dv_prvew input {
        border: none;   
        background:none;
    }

    #tb_patbasic input {
        border-bottom: solid 1px #808080;
        width: 100%;
        float: left;
    }

    span + input {
        padding-left: 5px;
        float: left;
    }

    #dv_prvew label{
        width:15px;
        height:18px;
        border:solid 1px #ccc7c7;
        text-align:center;
    }

    .form .formTitleX {
        position: relative;
        left: 0px;
        white-space: nowrap;
        font-weight: normal;
        padding-left: 15px;
    }

    .formTitleA {
        width: 30px;
        text-align: left;
    }
    .formTitleB {
        width: 50px;
        text-align: right;
    }
    .formTitleC {
        width: 150px;
        text-align: left;
    }

</style>
<form id="frm_prvew">
    <div id="dv_prvew" class="panel">
        <div style="text-align:center;font-weight:bold;font-size:20px;padding-top:10px;">住 院 病 案 首 页</div>
        <div class="panel_body" style="padding:20px 5px 5px 5px;">
            <table class="form">
                <tr>
                    <th class="formTitle">医疗付款方式：</th>
                    <td class="formValue"><input id="p_YLFKFS" name="p_YLFKFS" value="医保" /></td>
                    <th class="formTitle"></th>
                    <td class="formValue"></td>
                    <th class="formTitle"></th>
                    <td class="formValue"></td>
                </tr>
                <tr>
                    <th class="formTitle">就诊号：</th>
                    <td class="formValue">
                        <input id="p_JZKH" name="p_JZKH" value="A1234555" />
                    </td>
                    <td class="formValue" colspan="2">
                        <span style="float:left;padding-left:20px;">第</span>
                        <input id="p_ZYCS" name="p_ZYCS" value="2" style="width:20px;float:left;text-align:center;" />
                        <span style="float:left;">次住院</span>
                    </td>
                    <th class="formTitle">病案号：</th>
                    <td class="formValue">
                        <input id="p_BAH" name="p_BAH" value="0000017362" />
                    </td>
                </tr>
            </table>
            <table id="tb_patbasic" class="form" style="border:solid;border-color:#9af1cb;border-width:1px;">
                <tr>
                    <th class="formTitleX formTitleA">姓名</th>
                    <td class="formValue"><input id="p_XM" name="p_XM" value="张三" /></td>
                    <th class="formTitleX formTitleA">性别</th>
                    <td class="formValue">
                        <label id="p_XB" name="p_XB">1</label>
                        @*<span id="p_XB" name="p_XB" />*@
                        <span>1.男 2.女</span>
                    </td>
                    <th class="formTitleX formTitleB">出生日期</th>
                    <td class="formValue" colspan="2">
                        <input id="p_CSRQ_Y" name="p_CSRQ_Y" value="1951" style="width:35px;" /><span style="float:left;">年</span>
                        <input id="p_CSRQ_M" name="p_CSRQ_M" value="2" style="width:30px;" /><span style="float:left;">月</span>
                        <input id="p_CSRQ_D" name="p_CSRQ_D" value="11" style="width:30px;" /><span style="float:left;">日</span>
                    </td>
                    <th class="formTitleX formTitleA">年龄</th>
                    <td class="formValue"><input id="p_NL" name="p_NL" value="68" /></td>
                </tr>
                <tr>

                    <th class="formTitleX formTitleA">国籍</th>
                    <td class="formValue"><input id="p_GJ" name="p_GJ" value="中国" /></td>
                    <th class="formTitleX formTitleA">籍贯</th>
                    <td class="formValue"><input id="p_GG" name="p_GG" value="-" /></td>
                    <th class="formTitleX formTitleC" colspan="2" style="text-align:right;">(年龄不足1周岁的)年龄</th>
                    <td class="formValue"><input id="p_BZYZSNL" name="p_BZYZSNL" value="-" /></td>
                    <th class="formTitleX formTitleA">民族</th>
                    <td class="formValue"><input id="p_MZ" name="p_MZ" value="汉族" /></td>
                </tr>
                <tr>
                    <th class="formTitleX formTitleA">职业</th>
                    <td class="formValue" colspan="2"><input id="p_ZY" name="p_ZY" value="退休人员" /></td>
                    <th class="formTitleX formTitleB" colspan="2">新生儿出生体重</th>
                    <td class="formValue">
                        <input id="p_XSECSTZ" name="p_XSECSTZ" value="-" />
                    </td>
                    <th class="formTitleX formTitleB" colspan="2">新生儿入院体重</th>
                    <td class="formValue"><input id="p_XSERYTZ" name="p_XSERYTZ" value="-" /></td>
                </tr>
                <tr>
                    <td class="formValue" colspan="5">
                        <span style="float:left;">出生地</span><input id="p_CSD" name="p_CSD" style="float:left;width:80%;" value="重庆市渝中区" />
                    </td>
                    @*<th class="formTitleX formTitleA">出生地</th>
                        <td class="formValue" colspan="4">
                            <input id="p_CSD_Sheng" name="p_CSD_Sheng" value="" style="width:50px;" /><span style="float:left;">省</span>
                            <input id="p_CSD_Sheng" name="p_CSD_Shi" value="" style="width:50px;" /><span style="float:left;">市</span>
                            <input id="p_CSD_Sheng" name="p_CSD_Qu" value="" style="width:50px;" /><span style="float:left;">区</span>
                            <input id="p_CSD" name="p_CSD" value="" />
                        </td>*@
                    <th class="formTitleX formTitleB">身份证号</th>
                    <td class="formValue" colspan="3"><input id="p_SFZH" name="p_SFZH" value="-" /></td>
                </tr>
                <tr>
                    <td class="formValue" colspan="5">
                        <span style="float:left;">现住址</span><input id="p_XZZ" name="p_XZZ" style="float:left;width:80%;" value="重庆市渝中区" />
                    </td>
                    <th class="formTitleX formTitleB">电话</th>
                    <td class="formValue"><input id="p_DH" name="p_DH" value="-" /></td>
                    <th class="formTitleX formTitleA">邮编</th>
                    <td class="formValue">
                        <input id="p_YB1" name="p_YB1" value="-" />
                    </td>
                </tr>
                <tr>
                    <td class="formValue" colspan="5"><span style="float:left;">户口地址</span><input id="p_HKDZ" name="p_HKDZ" style="float:left;width:80%;" value="重庆市渝中区" /></td>
                    <th class="formTitleX formTitleB">邮编</th>
                    <td class="formValue" colspan="2">
                        <input id="p_YB2" name="p_YB2" value="-" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="formValue" colspan="5">
                        <span style="float:left;">工作单位及地址</span>
                        <input id="p_GZDWDZ" name="p_GZDWDZ" style="float:left;width:68%;" value="重庆市渝中区" />
                    </td>
                    <th class="formTitleX formTitleB">单位电话</th>
                    <td class="formValue"><input id="p_DWDH" name="p_DWDH" value="-" /></td>
                    <th class="formTitleX formTitleA">邮编</th>
                    <td class="formValue">
                        <input id="p_YB3" name="p_YB3" value="-" />
                    </td>
                </tr>
                <tr>
                    <td class="formValue" colspan="3"><span style="float:left;">联系人姓名</span><input id="p_LXRXM" name="p_LXRXM" value="杜鹃" style="float:left;width:50%;" /></td>
                    <td class="formValue formTitleA"><span style="float:left;">关系</span><input id="p_GX" name="p_GX" value="子女" style="float:left;width:50%;" /></td>
                    <td class="formValue" colspan="3"><span style="float:left;">地址</span><input id="p_DZ" name="p_DZ" value="-" style="float:left;width:70%;" /></td>
                    <td class="formValue" colspan="2"><span style="float:left;">电话</span><input id="p_DH2" name="p_DH2" value="-" style="float:left;width:70%;" /></td>
                </tr>
                <tr>
                    <td class="formValue" colspan="9">
                        <span style="float:left;">入院途径</span><span style="padding-left:10px;"> </span>
                        <label id="p_RYTJ" name="p_RYTJ">2</label>
                        <span>1.急诊<span style="padding-left:10px;"> </span>2.门诊<span style="padding-left:10px;"> </span>3.其他医疗机构转入<span style="padding-left:10px;"> </span>9.其他</span>
                    </td>

                </tr>
                <tr>
                    <td class="formValue" colspan="4">
                        <span style="float:left;">入院时间</span><span style="padding-left:10px;"> </span>
                        <input id="p_RYSJ_Y" name="p_RYSJ_Y" value="2019" style="width:35px;" /><span style="float:left;">年</span>
                        <input id="p_RYSJ_M" name="p_RYSJ_M" value="6" style="width:20px;" /><span style="float:left;">月</span>
                        <input id="p_RYSJ_D" name="p_RYSJ_D" value="11" style="width:20px;" /><span style="float:left;">日</span>
                        <input id="p_RYSJ_H" name="p_RYSJ_H" value="14" style="width:20px;" /><span style="float:left;">时</span>
                    </td>
                    <td class="formValue" colspan="2">
                        <span style="float:left;">入院科别</span>
                        <input id="p_RYKB" name="p_RYKB" value="内一科病区" style="float:left;width:50%;" />
                    </td>
                    <td class="formValue">
                        <span style="float:left;">床号</span>
                        <input id="p_CH" name="p_CH" value="27" style="float:left;width:50%;" />
                    </td>
                    <td class="formValue" colspan="2">
                        <span style="float:left;">转科科别</span>
                        <input id="p_ZKKB" name="p_ZKKB" value="-" style="float:left;width:50%;" />
                    </td>
                </tr>
                <tr>
                    <td class="formValue" colspan="4">
                        <span style="float:left;">出院时间</span><span style="padding-left:10px;"> </span>
                        <input id="p_CYSJ_Y" name="p_CYSJ_Y" value="2019" style="width:35px;" /><span style="float:left;">年</span>
                        <input id="p_CYSJ_M" name="p_CYSJ_M" value="8" style="width:20px;" /><span style="float:left;">月</span>
                        <input id="p_CYSJ_D" name="p_CYSJ_D" value="21" style="width:20px;" /><span style="float:left;">日</span>
                        <input id="p_CYSJ_H" name="p_CYSJ_H" value="12" style="width:20px;" /><span style="float:left;">时</span>
                    </td>
                    <td class="formValue" colspan="2">
                        <span style="float:left;">出院科别</span>
                        <input id="p_CYKB" name="p_CYKB" value="内一科病区" style="float:left;width:50%;" />
                    </td>
                    <td class="formValue">
                        <span style="float:left;">床号</span>
                        <input id="p_CH" name="p_CYCH" value="27" style="float:left;width:50%;" />
                    </td>
                    <td class="formValue" colspan="2">
                        <span style="float:left;">实际住院</span>
                        <input id="p_SJZYTS" name="p_SJZYTS" value="42天" style="float:left;width:50%;" />
                    </td>
                </tr>
                <tr>
                    <td class="formValue" colspan="6">
                        <span style="float:left;">门（急）诊诊断</span>
                        <input id="p_MZZD" name="p_MZZD" value="偏瘫" style="float:left;width:70%;" />
                    </td>
                    <td class="formValue" colspan="3">
                        <span style="float:left;">疾病编码</span>
                        <input id="p_JBBM" name="p_JBBM" value="-" style="float:left;width:50%;" />
                    </td>
                </tr>
            </table>
            <table id="dv_diag"></table>
        </div>
    </div>
</form>
<script>
    $(function () {
        //$("#p_XB").text(2);
        $("#dv_prvew input[id*='p_']").attr('disabled', true);
    });
</script>