
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div id="TabMain">
    <div class="tabItemContainer">
        <li><a class="tabItemCurrent">选项卡1</a></li>
        <li><a>选项卡2</a></li>
        <li><a>选项卡3</a></li>
        <li><a>选项卡4</a></li>
        <li><a>选项卡5</a></li>
    </div>
    <div class="tabBodyContainer">
        <div class="tabBodyItem tabBodyCurrent">
            <p>我是Tab选项卡1的内容</p>
            <p>使用简单，引入css和Jq代码即可</p>
        </div>
        <div class="tabBodyItem">
            <p>我是Tab选项卡2的内容</p>
            <p></p>
        </div>
        <div class="tabBodyItem">
            <p>我是Tab选项卡3的内容</p>
            <p></p>
        </div>
        <div class="tabBodyItem">
            <p>我是Tab选项卡4的内容</p>
            <p></p>
        </div>
        <div class="tabBodyItem">
            <p>我是Tab选项卡5的内容</p>
            <p></p>
        </div>
    </div>
</div>