@using Newtouch.Common.Operator;
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    span {
        color: red;
    }
</style>
<script type="text/javascript" src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/SystemManage/SysCISpecialMark/Form.js",false)"></script>
<form id="form1">
    <table class="form">
        <tr>
            <td class="formTitle">收费项目</td>
            <td class="formValue"><input class="form-control" id="sfxmmc" name="sfxmmc" type="text" /></td>
            <td class="formTitle">病人性质<span>*</span></td>
            <td class="formValue"><input class="form-control" id="brxzmc" name="brxzmc" type="text" /></td>
        </tr>
        <tr>
            <td class="formTitle">有效<span>*</span></td>
            <td class="formValue">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="1" class="form-control"> 是
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="zt" id="zt" value="0" class="form-control"> 否
                    </label>
                </div>
            </td>
            <td class="formTitle"></td>
            <td class="formValue"></td>
        </tr>
        <tr>
            <td class="formTitle">建档人员</td>
            <td class="formValue">
                <input class="form-control newtouch_Readonly" id="CreatorCode" name="CreatorCode" value=@OperatorProvider.GetCurrent().UserCode type="text" readonly="readonly" />
            </td>
            <td class="formTitle">建档日期</td>
            <td class="formValue"><input class="form-control newtouch_Readonly" id="CreateTime" name="CreateTime" value=@DateTime.Now type="text" readonly="readonly" /></td>
        </tr>
    </table>
</form>
