@{
    ViewBag.Title = "患者登记";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    .formTitle span {
        color: red;
    }

    .tab-content #basicInfo table tr td {
        border: 0;
    }

    .th_Required {
        position: relative;
    }

        .th_Required span {
            position: absolute;
            top: 11px;
            margin-left: 2px;
            color: red;
        }

        .th_Required input {
            float: left;
            width: 90%;
        }

        .th_Required select {
            float: left;
            width: 90%;
        }
</style>
<script type="text/javascript" src="~/Content/js/PatientManage/AddPatient.js"></script>

<form id="form1">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation"><a href="#basicInfo" role="tab" data-toggle="tab">病人基本信息</a></li>
            <li role="presentation"><a href="#extentInfo" role="tab" data-toggle="tab">拓展信息</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="basicInfo">
                <input type="hidden" id="py" name="py" />
                <table class="form" style="width: 98%; border: 0">
                    <tr>
                        <td class="formTitle">门诊号：</td>
                        <td class="formValue th_Required">
                            <input type="text" id="txtmzh" class="form-control"><span>*</span>
                        </td>
                        <td class="formTitle">病历号：</td>
                        <td class="formValue th_Required">
                            <input type="text" id="blh" class="form-control"><span>*</span>
                        </td>
                        <td class="formTitle">病人姓名：</td>
                        <td class="formValue th_Required">
                            <input type="text" id="xm" name="xm" class="form-control"><span>*</span>
                        </td>
                        <td class="formTitle">病人性质：</td>
                        <td class="formValue th_Required">
                            <input type="text" id="brxz" name="brxz" class="form-control"><span>*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">证件类型：</td>
                        <td class="formValue">
                            <select id="zjlx" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="0" selected="selected">身份证</option>
                                <option value="1">护照</option>
                                <option value="2">军官证</option>
                            </select>
                        </td>
                        <td class="formTitle">证件号：</td>
                        <td class="formValue th_Required">
                            <input type="text" id="zjh" name="zjh" class="form-control"><span>*</span>
                        </td>
                        <td class="formTitle">出生年月：</td>
                        <td class="formValue">
                            <input id="csny" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({onpicked: function () {getAge($(this).val());return true;}})" />
                        </td>
                        <td class="formTitle">年龄：</td>
                        <td class="formValue th_Required">
                            <input type="text" id="nl" name="nl" class="form-control"><span>*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">性别：</td>
                        <td class="formValue th_Required">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" value="1" name="xb" class="form-control">
                                    男
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" value="0" name="xb" class="form-control">
                                    女
                                </label>
                            </div><span>*</span>
                        </td>
                        <td class="formTitle">地域：</td>
                        <td class="formValue">
                            <select class="form-control" id="dy">
                                <option value="">==请选择==</option>
                                <option value="0">本地</option>
                                <option value="1">外地</option>
                            </select>
                        </td>
                        <td class="formTitle">最佳联系方式：</td>
                        <td class="formValue">
                            <select id="zjlxfs" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="0">无</option>
                                <option value="1">电话</option>
                                <option value="2">手机</option>
                                <option value="3">微信</option>
                                <option value="4">邮箱</option>
                            </select>
                        </td>
                        <td class="formTitle">婚否：</td>
                        <td class="formValue th_Required">
                            <select id="hf" name="hf" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="0">未婚</option>
                                <option value="1">已婚</option>
                            </select>
                            <span>*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">电话：</td>
                        <td class="formValue">
                            <input type="text" id="dh" name="dh" class="form-control">
                        </td>
                        <td class="formTitle">微信：</td>
                        <td class="formValue">
                            <input type="text" id="wechat" class="form-control">
                        </td>
                        <td class="formTitle">邮箱：</td>
                        <td class="formValue">
                            <input type="text" id="email" name="email" class="form-control">
                        </td>
                        <td class="formTitle">手机：</td>
                        <td class="formValue">
                            <input type="text" id="phone" name="phone" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">出生地：</td>
                        <td class="formValue">
                            <input type="text" id="cs_sheng" class="form-control" style="width: 90px; float: left" />
                            <p style="float: right">省</p>
                        </td>
                        <td></td>
                        <td class="formValue">
                            <input type="text" id="cs_shi" class="form-control" style="width: 90px; float: left" />
                            <p style="float: right">市</p>
                        </td>
                        <td></td>
                        <td class="formValue">
                            <input type="text" id="cs_xian" class="form-control" style="width: 90px; float: left" />
                            <p style="float: right">县</p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="formTitle">现地址：</td>
                        <td class="formValue">
                            <input type="text" id="xian_sheng" class="form-control" style="width: 90px; float: left" />
                            <p style="float: right">省</p>
                        </td>
                        <td></td>
                        <td class="formValue">
                            <input type="text" id="xian_shi" class="form-control" style="width: 90px; float: left" />
                            <p style="float: right">市</p>
                        </td>
                        <td></td>
                        <td class="formValue">
                            <input type="text" id="xian_xian" class="form-control" style="width: 90px; float: left" />
                            <p style="float: right">县</p>
                        </td>
                        <td class="formTitle">地址：</td>
                        <td class="formValue">
                            <input type="text" id="xian_dz" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">户口地址：</td>
                        <td class="formValue">
                            <input type="text" id="hu_sheng" class="form-control" style="width: 90px; float: left" /><p style="float: right">省</p>
                        </td>
                        <td></td>
                        <td class="formValue">
                            <input type="text" id="hu_shi" class="form-control" style="width: 90px; float: left" /><p style="float: right">市</p>
                        </td>
                        <td></td>
                        <td class="formValue">
                            <input type="text" id="hu_xian" class="form-control" style="width: 90px; float: left" /><p style="float: right">县</p>
                        </td>
                        <td class="formTitle">地址：</td>
                        <td class="formValue">
                            <input type="text" id="hu_dz" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="extentInfo" role="tabpanel" class="tab-pane fade in">
                <table class="form" style="width: 98%; border: 0">
                    <tr>
                        <td class="formTitle">国籍：</td>
                        <td class="formValue">
                            <select id="gj2" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="CN">中国</option>
                                <option value="En">英国</option>
                            </select>
                        </td>
                        <td class="formTitle">学历：</td>
                        <td class="formValue">
                            <select id="xl" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="">小学</option>
                                <option value="">初中</option>
                                <option value="">高中</option>
                                <option value="">中专</option>
                                <option value="">大专</option>
                                <option value="">本科</option>
                                <option value="">硕士</option>
                                <option value="">博士</option>
                                <option value="">其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">职业：</td>
                        <td class="formValue">
                            <select id="zy" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="">工人</option>
                                <option value="">退休工人</option>
                                <option value="">干部</option>
                                <option value="">军人</option>
                                <option value="">教师</option>
                                <option value="">农民</option>
                            </select>
                        </td>
                        <td class="formTitle">民族：</td>
                        <td class="formValue">
                            <select id="mz2" class="form-control">
                                <option value="">==请选择==</option>
                                <option value="">汉族</option>
                                <option value="">回族</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">单位：</td>
                        <td class="formValue">
                            <input type="text" id="gzdw" class="form-control">
                        </td>
                        <td class="formTitle">地址：</td>
                        <td class="formValue">
                            <input type="text" id="gzdz" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">紧急联络人：</td>
                        <td class="formValue">
                            <input type="text" id="jjllr" class="form-control">
                        </td>
                        <td class="formTitle">紧急联络电话：</td>
                        <td class="formValue">
                            <input type="text" id="jjlldh" name="jjlldh" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">备注：</td>
                        <td colspan="3" class="formValue">
                            <input type="text" id="bz" class="form-control">
                        </td>
                    </tr>
                </table>
                <div class="panel panel-default" style="margin-bottom: 0; margin-top: 40px">
                    <div class="panel-heading">
                        凭证信息
                    </div>
                    <table class="form" style="width: 98%; border: 0">
                        <tr>
                            <td class="formTitle">单位代码：</td>
                            <td class="formValue">
                                <input type="text" id="dwdm" class="form-control" />
                            </td>
                            <td class="formTitle">区县代码：</td>
                            <td class="formValue">
                                <input type="text" id="qxdm" class="form-control" />
                            </td>
                            <td class="formTitle">单位名称：</td>
                            <td class="formValue">
                                <input type="text" id="dwmc" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">凭证号：</td>
                            <td class="formValue">
                                <input type="text" id="pzh" class="form-control" />
                            </td>
                            <td class="formTitle">医疗项目：</td>
                            <td class="formValue">
                                <input type="text" id="ylxm" class="form-control" />
                            </td>
                            <td class="formTitle">凭证诊断：</td>
                            <td class="formValue">
                                <input type="text" id="pzzd" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">开始日期：</td>
                            <td class="formValue">
                                <input id="pzksrq" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                            </td>
                            <td class="formTitle">终止日期：</td>
                            <td class="formValue">
                                <input id="pzzzrq" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
