
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    ul li {
        list-style: none;
    }

    dd {
        margin-left: 0px;
        line-height: 24px;
        font-family: 'Microsoft YaHei';
        color: cornflowerblue;
    }
</style>
<div style="width:100%;">
    <div style="width:21%;float:left;">
        <p align="left" style="font-family: 'Microsoft YaHei'; font-size: large; font-style: normal; color: #800000;">
            <ul style="margin-right: 10px;border:1px solid #333; padding-left: 0;">
                <li>
                    <dl class="layui-nav-child" id="filetree">
                        <dd style="margin-bottom:20px;"><a href="javascript:;">演示文档</a></dd>
                        <dd><a href="javascript:;" onclick="open1()">病案首页--病案首页 </a></dd>
                        <dd><a href="javascript:;" onclick="open2()">病案首页--广东省惠亚-病案首页西医</a></dd>
                        <dd><a href="javascript:;" onclick="open3()">病案首页--某医院病案首页</a></dd>
                        <dd><a href="javascript:;" onclick="open4()">病程记录--病程记录</a></dd>
                        <dd><a href="javascript:;" onclick="open5()">超声诊断书--常州市中医医院超声检查诊断书</a></dd>
                        <dd><a href="javascript:;" onclick="open6()">待产记录表--某医院待产记录</a></dd>
                        <dd><a href="javascript:;" onclick="open7()">多语言--藏文演示文档</a></dd>
                        <dd><a href="javascript:;" onclick="open8()">护理记录--常州市第一人民医院护理记录单</a></dd>
                        <dd><a href="javascript:;" onclick="open9()">护理记录--福建孟超肝胆医院护理记录</a></dd>
                        <dd><a href="javascript:;" onclick="open10()">护理记录--麻醉护理记录单</a></dd>
                        <dd><a href="javascript:;" onclick="open11()">检查报告--444 中华人民共和国传染病报告卡</a></dd>


                        <dd><a href="javascript:;" onclick="open15()">跨行业应用--税收优惠政策管理</a></dd>
                        <dd><a href="javascript:;" onclick="open16()">跨行业应用--限速器校验报告（委托检验）</a></dd>
                        <dd><a href="javascript:;" onclick="open17()">临时医嘱单--某医院临时医嘱单</a></dd>
                        <dd><a href="javascript:;" onclick="open18()">评估文书--天津人民医院病患者入院评估表</a></dd>
                        <dd><a href="javascript:;" onclick="open19()">入院记录--某医院入院记录（冠心病）</a></dd>


                        <dd><a href="javascript:;" onclick="open22()">手术安排表--某医院手术安排表</a></dd>
                        <dd><a href="javascript:;" onclick="open23()">化验申请单--某某医院临床检查化验申请单</a></dd>
                        <dd><a href="javascript:;" onclick="open24()">血糖录入单--福建孟超肝胆医院血糖录入</a></dd>
                        <dd><a href="javascript:;" onclick="open25()">血液记录单--某医院血液净化记录单</a></dd>
                        <dd><a href="javascript:;" onclick="open26()">医嘱单--南京机关医院医嘱单</a></dd>
                        <dd><a href="javascript:;" onclick="open27()">影像申请单--某医院影像申请单</a></dd>
                        <dd><a href="javascript:;" onclick="open28()">住院病历--佛山市南海区中医院住院病历</a></dd>
                        <dd><a href="javascript:;" onclick="open29()">住院病历--三门县人民医院住院病历</a></dd>
                        <dd><a href="javascript:;" onclick="open30()">住院病历--沈阳军区总医院急诊医学部急诊病历</a></dd>
                        <dd><a href="javascript:;" onclick="open31()">住院志--福建孟超肝胆医院住院志</a></dd>
                        <dd><a href="javascript:;" onclick="open32()">量表--南京都昌科技量表_帕金森病非运动症状评定量表</a></dd>
                    </dl>
                </li>
            </ul>

        </p>
    </div>
    <style>
        .edtBtn {
            border: none;
            background-color:#f1f4f6;
        }
    </style>
    <input class="edtBtn" type="button" value="打印预览" id="btnPrintPreview"
           style="background-image: url(/Content/img/tupian/-_html预览.ico);background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="PrintPreview();" />

    <input class="edtBtn" type="button" value="痕迹" id="btnUserLogin"
           style="background-image: url(/Content/img/tupian/-_留痕视图.ico);background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="UserLogin();" />

    <input class="edtBtn" type="button" value="新建" id="btnFileNew"
           style="background-image: url(/Content/img/tupian/-_新建.ico);background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="FileNew();" />
    <input class="edtBtn" type="button" value="打开" id="btnFileOpen"
           style="background-image: url(/Content/img/tupian/-_打开.ico);background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="FileOpen();" />
    <input class="edtBtn" type="button" value="保存" id="btnFileSave"
           style="background-image: url(/Content/img/tupian/-_保存.ico);background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="FileSave();" />
    <input class="edtBtn" type="button" value="复制" id="btnCopy"
           style="background-image: url(/Content/img/tupian/-_复制.ico);background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Copy();" />
    <input class="edtBtn" type="button" value="粘贴" id="btnPaste"
           style="background-image: url(/Content/img/tupian/-_黏贴.ico);background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Paste();" />
    <input class="edtBtn" type="button" value="剪切" id="btnCut"
           style="background-image: url('/Content/img/tupian/-_剪切 .ico');background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Cut();" />
    <input class="edtBtn" type="button" value="格式刷" id="btnFormatBrush"
           style="background-image: url(/Content/img/tupian/-_格式刷.ico );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="FormatBrush();" />
    <input class="edtBtn" type="button" value="删除" id="btnDelete"
           style="background-image: url('/Content/img/tupian/-_删除 .ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Delete();" />
    <input class="edtBtn" type="button" value="撤销" id="btnRedo"
           style="background-image: url('/Content/img/tupian/-_撤销.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Redo();" />
    <input class="edtBtn" type="button" value="恢复" id="btnUndo"
           style="background-image: url('/Content/img/tupian/-_重复.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Undo();" />
    <input class="edtBtn" type="button" value="字体" id="btnFont"
           style="background-image: url('/Content/img/tupian/-_字体.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Font();" />
    <input class="edtBtn" type="button" value="粗体" id="btnBold"
           style="background-image: url('/Content/img/tupian/-_加粗.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Bold();" />
    <input class="edtBtn" type="button" value="斜体" id="btnItalic"
           style="background-image: url('/Content/img/tupian/-_倾斜.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Italic();" />
    <input class="edtBtn" type="button" value="下划线" id="btnUnderline "
           style="background-image: url('/Content/img/tupian/-_下划线.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Underline();" />
    <input class="edtBtn" type="button" value="下划线样式" id="btnUnderlineStyle "
           style="background-image: url('/Content/img/tupian/-_样式.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="UnderlineStyle();" />
    <input class="edtBtn" type="button" value="颜色" id="btnColor "
           style="background-image: url('/Content/img/tupian/-_文本颜色.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Color();" />
    <input class="edtBtn" type="button" value="简体转繁体" id="btnSimplifiedToTraditional "
           style="background-image: url('/Content/img/tupian/-_简体转繁体.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="SimplifiedToTraditional();" />

    <input class="edtBtn" type="button" value="繁体转简体" id="btnTraditionalToSimplified "
           style="background-image: url('/Content/img/tupian/-_繁体转简体.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="TraditionalToSimplified();" />

    <input class="edtBtn" type="button" value="边框和底纹" id="btnSectionBorderBackgroundFormat "
           style="background-image: url('/Content/img/tupian/-_边框和底纹.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="SectionBorderBackgroundFormat();" />

    <input class="edtBtn" type="button" value="段落" id="btnParagraph  "
           style="background-image: url('/Content/img/tupian/-_段落.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Paragraph();" />

    <input class="edtBtn" type="button" value="标题层次" id="btnTitleLevel "
           style="background-image: url('/Content/img/tupian/-_标题层次.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="TitleLevel();" />

    <input class="edtBtn" type="button" value="插入输入域" id="btnInsertInputField "
           style="background-image: url('/Content/img/tupian/-_插入文本输入域.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertInputField();" />
    <input class="edtBtn" type="button" value="插入单选框" id="btnInsertRadioBox "
           style="background-image: url('/Content/img/tupian/-_插入单选框 .ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertRadioBox();" />
    <input class="edtBtn" type="button" value="插入复选框" id="btnInsertCheckBox "
           style="background-image: url('/Content/img/tupian/-_插入复选框.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertCheckBox();" />
    <input class="edtBtn" type="button" value="单复选分组" id="btnInsertCheckBoxes "
           style="background-image: url('/Content/img/tupian/-_插入单选复选分组.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertCheckBoxes();" />
    <input class="edtBtn" type="button" value="插入图片" id="btnInsertImage "
           style="background-image: url('/Content/img/tupian/-_插入图片.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertInsertImage();" />
    <input class="edtBtn" type="button" value="插入日期" id="btnInsertDateTimeString "
           style="background-image: url('/Content/img/tupian/-_插入日期.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertDateTimeString();" />
    <input class="edtBtn" type="button" value="插入日期输入域" id="btnInsertDateTimeField "
           style="background-image: url('/Content/img/tupian/-_插入日期.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertDateTimeField();" />
    <input class="edtBtn" type="button" value="插入一维码" id="btnInsertInsertBarcode "
           style="background-image: url('/Content/img/tupian/-_插入一维条码.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertBarcode();" />

    <input class="edtBtn" type="button" value="插入二维码" id="btnInsertInsertTDBarcode "
           style="background-image: url('/Content/img/tupian/-_插入二维条码.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertTDBarcode();" />

    <input class="edtBtn" type="button" value="插入医学表达式" id="btnInsertMedicalExpression "
           style="background-image: url('/Content/img/tupian/-_插入医学表达式.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertMedicalExpression();" />

    <input class="edtBtn" type="button" value="插入表格" id="btnTable_InsertTable "
           style="background-image: url('/Content/img/tupian/-_表格属性.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="Table_InsertTable();" />
    <input class="edtBtn" type="button" value="表格属性" id="TableProperties "
           style="background-image: url('/Content/img/tupian/-_表格属性.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="TableProperties();" />
    <input class="edtBtn"  type="button" value="表格行属性" id="TableRowProperties "
           style="background-image: url('/Content/img/tupian/-_表格行属性 .ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="TableRowProperties();" />
    <input class="edtBtn" type="button" value="插入批注" id="TableInsertComment "
           style="background-image: url('/Content/img/tupian/-_插入批注 .ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="InsertComment();" />
    <input class="edtBtn" type="button" value="表单视图" id="FormViewMode  "
           style="background-image: url('/Content/img/tupian/-_表单视图.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="FormViewMode();" />

    <input class="edtBtn" type="button" value="阅读视图" id="ReadViewMode   "
           style="background-image: url('/Content/img/tupian/-_阅读视图 .ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="ReadViewMode();" />
    <input class="edtBtn" type="button" value="清除全部痕迹" id="ClearAllUserTrace   "
           style="background-image: url('/Content/img/tupian/-_清除全部痕迹.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="ClearAllUserTrace();" />

    <input class="edtBtn" type="button" value="是否显示标尺" id="RuleVisible   "
           style="background-image: url('/Content/img/tupian/-_权限相关.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="RuleVisible();" />

    <input class="edtBtn" type="button" value="查找和替换" id="SearchReplace   "
           style="background-image: url('/Content/img/tupian/-_查看xml代码.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="SearchReplace();" />

    <input class="edtBtn" type="button" value="字数统计" id="WordCount   "
           style="background-image: url('/Content/img/tupian/-_字数统计.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="WordCount();" />

    <input class="edtBtn" type="button" value="关于" id="AboutControl   "
           style="background-image: url('/Content/img/tupian/-_关于.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="AboutControl();" />

    <input class="edtBtn" type="button" value="管理员模式" id="AdministratorViewMode   "
           style="background-image: url('/Content/img/tupian/-_管理员模式.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="AdministratorViewMode();" />

    <input class="edtBtn" type="button" value="放大" id="ZoomIn   "
           style="background-image: url('/Content/img/tupian/-_放大.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="ZoomIn();" />

    <input class="edtBtn" type="button" value="缩小" id="ZoomOut   "
           style="background-image: url('/Content/img/tupian/-_缩小.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="ZoomOut();" />
    <input class="edtBtn" type="button" value="命令行清单" id="WriterCommandList   "
           style="background-image: url('/Content/img/tupian/-_命令.ico' );background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" onclick="WriterCommandList();" />
    <hr />



    @*<p align="center" style="width:78%;float:left;">
        <object id="myWriter" name="myWriter"
                classid="clsid:00012345-6789-ABCD-EF01-2345678900ff"
                codebase="~/DCWriterWeb.cab#Version=1.2021.1.6"
                style="position:relative ; left:0;width: 100%; height: 900px;border:solid 1 black">
            <param name="CodeBaseForUpdateAssembly"
                   value="~/DCWriterWeb.cab#Version=1.2021.1.6" />
  
            <param name="BackColor" value="Gray" />
            <param name="BorderStyle" value="3DFixed" />
            <param name="InitalizeParameterValues" value="PatientName:张三" />
            <param name="Font" value="宋体,20" />
            <span style="border-width:1;border-style:solid;border-color:black;background-color:yellow">
                没能下载安装控件，请联系管理员来设置安全站点。
            </span>
        </object>
    </p>*@
    <div style="clear:both;"></div>

</div>

<script language="javascript" type="text/javascript">

         var curWwwPath=window.document.location.href;
         var pathName=window.document.location.pathname;
         var pos=curWwwPath.indexOf(pathName);
         var localhostPaht=curWwwPath.substring(0,pos);
         var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);



         function open1() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false, "住院证.xml");

         }
         function open2() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/病案首页--广东省惠亚-病案首页西医.xml");
         }
         function open3() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/病案首页--某医院病案首页.xml");
         }
         function open4() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/病程记录--病程记录.xml");
         }
         function open5() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/超声诊断书--常州市中医医院超声检查诊断书.xml");
         }
         function open6() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/待产记录表--某医院待产记录.xml");
         }
         function open7() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/多语言--藏文演示文档.xml");
         }
         function open8() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/护理记录--常州市第一人民医院护理记录单.xml");
         }
         function open9() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/护理记录--福建孟超肝胆医院护理记录.xml");
         }
         function open10() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/护理记录--麻醉护理记录单.xml");
         }
         function open11() {
             var myWriter = document.getElementById("myWriter");
             myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/检查报告--444 中华人民共和国传染病报告卡.xml");
         }


          function open15() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/跨行业应用--税收优惠政策管理.xml");
          }
          function open16() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/跨行业应用--限速器校验报告（委托检验）.xml");
          }
          function open17() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/临时医嘱单--某医院临时医嘱单.xml");
          }
          function open18() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/评估文书--天津人民医院病患者入院评估表.xml");
          }
          function open19() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/入院记录--某医院入院记录（冠心病）.xml");
          }
          function open20() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false,  "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/入院记录--天津人民医院病程记录.xml");
          }


          function open22() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/手术安排表--某医院手术安排表.xml");
          }
          function open23() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/化验申请单--某某医院临床检查化验申请单.xml");
          }
          function open24() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/血糖录入单--福建孟超肝胆医院血糖录入.xml");
          }
          function open25() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/血液记录单--某医院血液净化记录单.xml");
          }
          function open26() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/医嘱单--南京机关医院医嘱单.xml");
          }
          function open27() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/影像申请单--某医院影像申请单.xml");
          }
          function open28() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/住院病历--佛山市南海区中医院住院病历.xml");
          }
          function open29() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/住院病历--三门县人民医院住院病历.xml");
          }
          function open30() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/住院病历--沈阳军区总医院急诊医学部急诊病历.xml");
          }
          function open31() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/住院志--福建孟超肝胆医院住院志.xml");
          }
          function open32() {
              var myWriter = document.getElementById("myWriter");
              myWriter.ExecuteCommand("FileOpen", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile2/量表--南京都昌科技量表_帕金森病非运动症状评定量表.xml");
          }


         function FileNew() {
            var myWriter = document.getElementById("myWriter");
            if (myWriter != null) {//新建
                myWriter.ExecuteCommand("FileNew", true, null);
            }
    }
    function FileOpen() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//打开
            myWriter.ExecuteCommand("FileOpen", true, null);
        }
    }
    function FileSave() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//保存

            myWriter.ExecuteCommand("FileSave", true, null)
            //myWriter.ExecuteCommand("FileSave", true, null);
            var aa = myWriter.SaveDocumentToString("XML");
            alert(aa);
        }
    }
    function Copy() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//复制
            myWriter.ExecuteCommand("Copy", true, null);
        }
    }
    function Paste() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//粘贴
            myWriter.ExecuteCommand("Paste", true, null);
        }
    }
    function Cut() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//剪切
            myWriter.ExecuteCommand("Cut", true, null);
        }
    }
    function FormatBrush() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//格式刷
            myWriter.ExecuteCommand("FormatBrush", true, null);
        }
    }

    function Delete() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//删除
            myWriter.ExecuteCommand("Delete", false, null);
        }
    }
    function Redo() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//撤销
            myWriter.ExecuteCommand("Redo", false, null);
        }
    }
    function Undo() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//恢复
            myWriter.ExecuteCommand("Undo", false, null);
        }
    }
    function Font() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//字体
            myWriter.ExecuteCommand("Font", true, null);
        }
    }
    function Bold() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//加粗
            myWriter.ExecuteCommand("Bold", true, null);
        }
    }
    function Italic() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//倾斜
            myWriter.ExecuteCommand("Italic", true, null);
        }
    }
    function Underline() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//下划线
            myWriter.ExecuteCommand("Underline", true, null);
        }
    }
    function UnderlineStyle() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//下划线样式
            myWriter.ExecuteCommand("UnderlineStyle", true, null);
        }
    }
    function Color() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//颜色
            myWriter.ExecuteCommand("Color", true, null);
        }
    }
    function SimplifiedToTraditional() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//简体转繁体
            myWriter.ExecuteCommand("SimplifiedToTraditional", true, null);
        }
    }
    function TraditionalToSimplified() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//繁体转简体
            myWriter.ExecuteCommand("TraditionalToSimplified", true, null);
        }
    }
    function SectionBorderBackgroundFormat() {

        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//边框和底纹
            myWriter.ExecuteCommand("SectionBorderBackgroundFormat", true, null);
        }
    }
    function Paragraph() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//段落
            myWriter.ExecuteCommand("ParagraphFormat", true, null);
        }
    }
    function TitleLevel() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//标题层次
            myWriter.ExecuteCommand("TitleLevel", true, null);
        }
    }


    function InsertInputField() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入文本输入域
            myWriter.ExecuteCommand("InsertInputField", true, null);
        }
    }
    function InsertRadioBox() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入单选框
            myWriter.ExecuteCommand("InsertRadioBox", true, null);
        }
    }
    function InsertCheckBox() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入复选框
            myWriter.ExecuteCommand("InsertCheckBox", true, null);
        }
    }
    function InsertCheckBoxes() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入单选复选分组
            myWriter.ExecuteCommand("InsertCheckBoxes", true, null);
        }
    }
    function InsertInsertImage() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入图片
            myWriter.ExecuteCommand("InsertImage", true, null);
        }
    }
    function InsertDateTimeString() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入日期
            myWriter.ExecuteCommand("InsertDateTimeString", true, null);
        }
    }
    function InsertDateTimeField() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入日期输入域
            myWriter.ExecuteCommand("InsertDateTimeField", true, null);
        }
    }
    function InsertBarcode() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入二维码
            myWriter.ExecuteCommand("InsertBarcode", true, null);
        }
    }
    function InsertTDBarcode() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入条形码
            myWriter.ExecuteCommand("InsertTDBarcode", true, null);
        }
    }
    function InsertMedicalExpression() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入医学表达式
            myWriter.ExecuteCommand("InsertMedicalExpression", true, null);
        }
    }
    function Table_InsertTable() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入表格
            myWriter.ExecuteCommand("Table_InsertTable", true, null);
        }
    }
    function TableProperties() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//表格属性
            myWriter.ExecuteCommand("TableProperties", true, null);
        }
    }
    function TableRowProperties() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//表格行属性
            myWriter.ExecuteCommand("TableRowProperties", true, null);
        }
    }
    function InsertComment() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//插入批注
            myWriter.ExecuteCommand("InsertComment", true, null);
        }
    }
    function FormViewMode() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//表单视图
            myWriter.ExecuteCommand("FormViewMode", true, null);
        }
    }

    function ReadViewMode() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//阅读视图
            myWriter.ExecuteCommand("ReadViewMode", true, null);
        }
    }

    function ClearAllUserTrace() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//清除全部痕迹
            myWriter.ExecuteCommand("ClearAllUserTrace", true, null);
        }
    }

    function RuleVisible() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//是否显示标尺
            myWriter.ExecuteCommand("RuleVisible", true, null);
        }
    }


    function SearchReplace() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//查找和替换
            myWriter.ExecuteCommand("SearchReplace", true, null);
        }
    }

    function WordCount() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//字数统计
            myWriter.ExecuteCommand("WordCount", true, null);
        }
    }

    function FontName() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//字体名称
            myWriter.ExecuteCommand("FontName", true, null);
        }
    }


    function AboutControl() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//关于
            myWriter.ExecuteCommand("AboutControl", true, null);
        }
    }

    function AdministratorViewMode() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//管理员权限
            myWriter.ExecuteCommand("AdministratorViewMode", true, null);
        }
    }

    function ZoomIn() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//放大
            myWriter.ExecuteCommand("ZoomIn", true, null);
        }
    }


    function ZoomOut() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//缩小
            myWriter.ExecuteCommand("ZoomOut", true, null);
        }
    }


    function WriterCommandList() {
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {//命令清单
            myWriter.ExecuteCommand("WriterCommandList", true, null);
        }
    }




    function PrintPreview() {//打印预览
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {
            myWriter.ExecuteCommand("FilePrintPreview", true, null);
        }
    }
    function UserLogin() {//用户登录
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {
            myWriter.UserLoginByParameter("ID：12345", "姓名：张三", 2);
        }
    }
    function About() {//关于
        var myWriter = document.getElementById("myWriter");
        if (myWriter != null) {
            myWriter.ExecuteCommand("AboutControl", true, null);
        }
    }
</script>



<script language="javascript" type="text/javascript">

        var curWwwPath = window.document.location.href;
        var pathName = window.document.location.pathname;
        var pos = curWwwPath.indexOf(pathName);
        var localhostPaht = curWwwPath.substring(0, pos);
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);

    //var myWriter = document.getElementById("myWriter");
    // if (myWriter != null) {
    //     // 加载知识库
    //     myWriter.ExecuteCommand("LoadKBLibrary", false, "C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile/kblibrary.xml");
    //     myWriter.ExecuteCommand("RuleVisible",false,null);
    //     //加载文档SimplifiedToTraditional
    //     myWriter.LoadDocumentFromFile("C:/Users/DC/Desktop/DCSoftDemoCenter/08代码/NewDEMO/DCSoft.ActivexDemo/WEBCilentDEMO/DemoFile/demo.xml", "xml");
    // }




</script> 

