@model dynamic

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div class="panel panel-default" style="padding-right:10px;">
        <table class="form">
            <tr>
                <th class="formTitle"><span class="required">*</span>床号：</th>
                <td class="formValue">
                    <input id="txt_bedNo" name="txt_bedNo" type="text" class="form-control newtouch_Readonly required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle"><span class="required">*</span>床位类型：</th>
                <td class="formValue">
                    <select id="sel_type" name="sel_type" class="form-control required">
                        <option value="1">男</option>
                        <option value="2">女</option>
                        <option value="3">混</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">特殊标志：</th>
                <td class="formValue">
                    <select id="sel_tsbz" name="sel_tsbz" class="form-control required">
                        <option value="1">普通</option>
                        <option value="2">特需</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">科室：</th>
                <td class="formValue">
                    <select id="sel_dept" name="sel_dept" class="form-control required">
                        <option value="1">护理科</option>
                        <option value="2">康复科</option>
                        <option value="3">内科</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="height: 35px;">选项：</th>
                <td class="formValue" style="padding-top: 1px;">
                    <div class="ckbox">
                        <input id="zt" name="zt" type="checkbox" checked="checked"><label for="zt">有效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">备注：</th>
                <td class="formValue">
                    <textarea id="Description" name="Description" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>
<script lang="javascript">

</script>