@{
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="topPanel">
    <div>
        <table>
            <tr>
                <td>
                    <input type="button" value="新农合" />
                </td>
            </tr>
        </table>
    </div>
</div>
