@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<form id="form1">
    <div role="tabpanel" class="tab-pane fade in" style="padding-top: 20px;">
        <div id="appList"></div>
    </div>
</form>

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        $('#myTab a:first').tab('show');
        $("#appList").treeview({
            height: 400,
            slimscroll: false,
            showcheck: true,
            url: "/Application/GetApplicationList",
            param: { topOrg: keyValue }
        });
    });
    
</script>