
@{
    ViewBag.Title = "OutpatientReg";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style type="text/css">
    .ckmargin {
        margin-right:20px;
    }
    .toolbarmargin {
        float:right;
    }

</style>

<form name="form1">
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            挂号
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form">
                <tr>
                    <th class="formTitle">卡号</th>
                    <td class="formValue">
                        <input type="text" id="txtpatid" hidden />
                        <input type="text" class="form-control" id="txtkh" name="txtkh" />
                    </td>
                    <td class="formValue" colspan="2">
                        <input type="button" class="btn btn-default btn-md" value="刷卡" onclick="SK()" />&nbsp;
                        <input type="button" class="btn btn-default btn-md" value="免卡挂号 " onclick="FreeCardReg()" />
                    </td>
                    <th class="formTitle">发票号<span class="required">*</span></th>
                    <td class="formValue">
                        <span></span>
                        <input type="text" class="form-control formClearIgnore newtouch_Readonly" id="txtfph" name="txfph" />
                    </td>
                    <td class="formValue" colspan="2">
                        <input type="button" class="btn btn-default btn-md" value="选发票号" onclick="ShowInvoicePanel()" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">病历号</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="txtblh" name="txblh" />
                    </td>
                    <th class="formTitle">出生日期<span class="required">*</span></th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="txtcsny" name="txtcsny" />
                    </td>
                    <th class="formTitle">姓名<span class="required">*</span></th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="txtxm" name="txtxm" />
                    </td>
                    <th class="formTitle">性别<span class="required">*</span></th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="txtxb" name="txtxb" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">初复诊</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="txtcfz" name="txtcfz" />
                        <input type="text" id="txtfzbz" hidden />
                    </td>
                    <th class="formTitle">病人性质<span class="required">*</span></th>
                    <td class="formValue">
                        <input type="text" class="form-control" id="txtbrxzqc" name="txtbrxzqc" />
                        <input type="text" id="txtbrxz" name="txtbrxz" hidden />
                        <input type="text" id="txtbrxzbh" hidden />
                    </td>
                    <th class="formTitle">大病</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="txtdb" name="txtdb" />
                    </td>
                    <th class="formTitle">大病诊断</th>
                    <td class="formValue">
                        <input type="text" class="form-control newtouch_Readonly" id="txtdbzd" name="txtdbzd" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">门诊类型</th>
                    <td class="formValue">
                        <select id="sel_mzlx" class="form-control">
                            <option value="1">普通门诊</option>
                            <option value="2">急诊</option>
                            <option value="3">专家门诊</option>
                        </select>
                        <input type="text" id="txtghlxbh" hidden />
                        <input type="text" id="txtghlx" hidden />
                    </td>
                    <th class="formTitle">科室/医生<span class="required">*</span></th>
                    <td class="formValue">
                        <input type="text" class="form-control" id="txtksys" name="txtksys" required />
                        <input type="text" id="txtksbh" hidden />
                        <input type="text" id="txtks" hidden />
                        <input type="text" id="txtrybh" hidden />
                        <input type="text" id="txtys" hidden />
                    </td>
                    <th class="formTitle"></th>
                    <td class="formValue" colspan="3">
                        <div class="ckbox ckmargin">
                            <input id="chk_ckf" name="chk_ckf" type="checkbox" onclick="GHFees()" /><label for="chk_ckf">磁卡费</label>
                        </div>
                        <div class="ckbox ckmargin">
                            <input id="chk_gbf" name="chk_gbf" type="checkbox" onclick="GHFees()"/><label for="chk_gbf">工本费</label>
                        </div>
                        <div class="ckbox ckmargin">
                            <input id="chk_zzjm" name="chk_zzjm" type="checkbox" onclick="GHFees()"/><label for="chk_zzjm">转诊减免</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="MyTabGrid">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#registering" id="linkregistering" role="tab" data-toggle="tab">正在挂号</a></li>
            @*<li role="presentation"><a href="#notSettledReg" id="linknotSettledReg" role="tab" data-toggle="tab">未结算挂号</a></li>*@
            <li role="presentation"><a href="#closedReg" id="linkclosedReg" role="tab" data-toggle="tab">已结算挂号</a></li>
            <li role="presentation"><a href="#lastSettleInfo" id="linkLastSettledInfo" role="tab" data-toggle="tab">上一次结算挂号</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="registering">
                <div class="gridPanel">
                    <table id="registeringList" rel="MyTabGrid"></table>
                </div>
            </div>
            @*<div role="tabpanel" class="tab-pane fade" id="notSettledReg">
                <div class="gridPanel">
                    <table id="notSettledRegList" rel="MyTabGrid"></table>
                </div>
            </div>*@
            <div role="tabpanel" class="tab-pane fade" id="closedReg">
                <div class="gridPanel">
                    <table id="closedRegList" rel="MyTabGrid"></table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="lastSettleInfo">
                <div class="gridPanel">
                    <table id="lastSettleInfoList" rel="MyTabGrid"></table>
                </div>
            </div>
        </div> 
    </div>
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            应收
        </div>
        <div style="padding: 2px;padding-right:20px;">
            <table class="form">
                <tr>
                    <th class="formTitle">支付方式</th>
                    <td class="formValue">
                        <select id="ddlzffs" name="zffs" class="form-control required"></select>
                    </td>
                    <th class="formTitle">应收款</th>
                    <td class="formValue">
                        <input type="text" id="txtysk" name="txtysk" class="form-control required"/>
                    </td>
                    <th class="formTitle">实收款</th>
                    <td class="formValue">
                        <input type="text" id="txtssk" name="txtssk" class="form-control required" placeholder="可输入小数，不可为负数" />
                    </td>
                    <th class="formTitle">找零</th>
                    <td class="formValue">
                        <input type="text" id="txtzl" name="txtzl" class="form-control required"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td class="formValue" colspan="2">
                        <lable>前一张发票：</lable>
                        <lable id="lblqfph"></lable>
                        <lable>总金额</lable>
                        <lable id="lblzje"></lable>
                        <lable>元,应收</lable>
                        <lable id="lblys"></lable>
                        <lable>,找零</lable>
                        <lable id="lblzl"></lable>
                        <lable>元</lable>
                    </td>
                </tr>
            </table>
        </div>
     </div>
    <div class="toolbar toolbarmargin">
        @*<a class="btn btn-primary" onclick="Abandon()"><i class="fa fa-edit"></i>F11:作废</a>*@
        <a class="btn btn-primary" onclick="BackNum()"><i class="fa fa-trash-o"></i>F4:退号</a>
        <a class="btn btn-primary" onclick="Clear()"><i class="fa fa-close"></i>F5:清除</a>
        <a class="btn btn-primary" onclick="Save()"><i class="fa fa-save"></i>F8：保存</a>
        <a class="btn btn-primary" onclick=""><i class="fa fa-close"></i>F12:退出</a>
    </div>
</form>
<div class="gridPanel">
    <table id="InvoiceNoPanel"></table>
</div>

<script type="text/javascript" src="~/Content/js/BusinessManage/OutPatient/OutpatientReg.js"></script>
<script type="text/javascript" src="~/Content/js/BusinessManage/OutPatient/Registering.js"></script>
@*<script type="text/javascript" src="~/Content/js/BusinessManage/OutPatient/NotSettledReg.js"></script>*@
<script type="text/javascript" src="~/Content/js/BusinessManage/OutPatient/ClosedReg.js"></script>
<script type="text/javascript" src="~/Content/js/BusinessManage/OutPatient/LastSettleInfo.js"></script>
