@import url('rehabgridmenu.css');
@import url('RegularItemgridmenu.css');
@import url('tcmgridmenu.css');
@import url('wmgridmenu.css');
@import url('inspgridmenu.css');
@import url('examgridmenu.css');

input::-ms-clear{display:none;}

/*导航栏   start*/
#MyTabGrid > ul {
    width: 99%;
}

ul.nav.nav-tabs.navb-bg {
    background-color: #e9f6fe !important;
}

ul.nav > li {
    width: 11%;
    text-align: center;
}

.nav-tabs > li > a {
    border-radius: 0;
}

ul.nav > li:after {
    position: absolute;
    top: 0.8em;
    height: calc(100% - 1.5em);
    left: 0;
    content: '';
    width: 0;
    border-left: solid 1px #d2d6de;
}

.undeveloped {
    border: solid 1px #ff0000;
    width: 99%;
    height: 450px;
    margin-top: 1%;
    background-color: #ffffff;
}

/*导航栏   end*/
.ui-datepicker {
    display: none;
}
/*病历页    start*/
#linkbl .healthrecord {
    float: left;
    height: 100%;
    border: solid 1px rgba(128, 128, 128, 0.36);
    border-radius: 5px;
    margin-left: 3px;
    background-color: #ffffff;
}

/*table*/
#linkbl .form .formValue input.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px !important;
}

#tablexyzd .formTitle,#tablezyzd .formTitle {
    width: 27px;
    padding-right: 15px;
}

#tablexyzd .formValue,#tablezyzd .formTitle {
    position: relative;
}

.fa.fa-times {
    position: absolute;
    right: 5px;
    top: 13px;
}

/*导航栏   end*/



/*navButtonAdd样式*/
.ui-pg-table.ui-common-table.ui-pager-table.table .ui-pg-table.navtable.ui-common-table {
    float: right;
    margin-right: 379px;
    width: 185px;
}

/*隐藏分页控件*/
#gridkfcfPager_center,#gridcgxmcfPager_center,#gridxycfPager_center,#gridzycfPager_center {
    display: none; 
}

.ui-pg-table.ui-common-table.ui-pager-table.table .ui-pg-table.navtable.ui-common-table td.ui-pg-button .ui-pg-div {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
    padding: 4px 8px;
    line-height: 1.3333333;
    border-radius: 6px;
    font-size: xx-small;
}

/*模板树*/
#floatPreTemplateTree,#floadHistoryPresTree{
    position: absolute;
    top: 52.4%;
    left: 10%;  
    transform: translate(-50%, -50%);
    width:15.5%;
    height:476px; 
    border:solid 1px #ddd;
}
#floatInspectTemplateTree {
    position: absolute;
    top: 52.4%;
    left: 8%;
    transform: translate(-30%, -50%);
    width: 25.5%;
    /*height: 476px;*/
    margin-top: 25px;
    border: solid 1px #ddd;
}
#floatLeftMostPartDiv {
    position: absolute;
    top: 52.4%; 
    transform: translate(-50%, -50%);
    width:1.8%;
    height:476px; 
    border:solid 1px #ddd;
    left:1%;
}
    #floatLeftMostPartDiv div {
    /*height:33.33%;*/
    height:50%;
    background-color:#ddd;
    margin-bottom:5%;
    color: #fff;
    text-align:center;
    }
        #floatLeftMostPartDiv div span {
    color: #7d7c7c;
    text-align:center;
    position:relative;
    top:30%;
    font-size:small;
    }

#floatLeftMostPartDiv .activepart {
  background-color: #00a0ea !important; 
  opacity: 1;
  filter: alpha(opacity=100);
}
    #floatLeftMostPartDiv .activepart span {
    color: #fff;
    }
    #floatLeftMostPartDiv div:hover, #floatLeftMostPartDiv div:focus {
  background-color: #cdd2d4; 
  opacity: 1;
  filter: alpha(opacity=100);  
  cursor:pointer;
      
    }

/*医嘱报告框*/
#floadLisReportTree{
    position: absolute;
    top: 46.4%;
    right: 7.5%;  
    transform: translate(45%, -50%);
    width:10.5%;
    height:400px; 
    border:solid 1px #ddd;
}
#floatLisReportDiv {
    position: absolute;
    top: 32.4%; 
    /*transform: translate(-50%, -50%);*/
    width:1.8%;
    height:100px; 
    border:solid 1px #ddd;
    right:1%;
}
    #floatLisReportDiv div {
    /*height:33.33%;*/
    height:100%;
    background-color:#ddd;
    margin-bottom:5%;
    color: #fff;
    text-align:center;
    }
        #floatLisReportDiv div span {
    color: #7d7c7c;
    text-align:center;
    position:relative;
    top:20%;
    font-size:small;
    }

#floatLisReportDiv .activepart {
  background-color: #00a0ea !important; 
  opacity: 1;
  filter: alpha(opacity=100);
}
    #floatLisReportDiv .activepart span {
    color: #fff;
    }
    #floatLisReportDiv div:hover, #floatLisReportDiv div:focus {
  background-color: #cdd2d4; 
  opacity: 1;
  filter: alpha(opacity=100);  
  cursor:pointer;
      
    }
