    #linkjy .ui-jqgrid .ui-jqgrid-caption {
        text-align: center;
    }
    /*内容td分隔线*/
    #divGridjy .ui-jqgrid .ui-jqgrid-bdiv table.table-bordered td {
        border: solid 1px #ddd;
    }

    /*内容td分隔线防止移位*/
    #divGridjy .table > tbody > tr > td, #divGridjy .table > thead > tr > th {
        padding: 0px;
    }

    #divGridjy .ui-jqgrid-labels {
        height: 30px;
    }
