/*表头二级菜单*/
#linkxycf .ui-th-ltr, #linkxycf .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr{
    border: solid 1px #ddd;
}
/*内容td分隔线*/
#linkxycf .ui-jqgrid .ui-jqgrid-bdiv table.table-bordered td{
    border: solid 1px #ddd;
}
/*内容td分隔线防止移位*/
#linkxycf .table > tbody > tr > td, #linkxycf .table > tbody > tr > th, #linkxycf .table > tfoot > tr > td, #linkxycf .table > tfoot > tr > th, #linkxycf .table > thead > tr > td, #linkxycf .table > thead > tr > th{
    padding: 0px;
}
/*二级菜单高度*/
#linkxycf .ui-jqgrid-labels.jqg-second-row-header, #linkxycf .ui-jqgrid-labels.jqg-third-row-header{
    height: 30px;
}

/*td内的编辑框*/
#linkxycf #gridxycf td .form-control{
    border-radius: 0px;
    border: 0px !important;
}
